Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

internal/volumes_information.go: reuse constants from pkg/apis/velero/v1
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: none

Add `make lint` `.cache/` to `.gitignore`
  .gitignore
Labels: none

pkg/archive: Backup extractor avoids max path limits
  changelogs/unreleased/8449-kaovilai
  internal/delete/delete_item_action_handler.go
  pkg/archive/extractor.go
  pkg/archive/extractor_test.go
  pkg/archive/parser.go
  pkg/archive/parser_test.go
  pkg/restore/prioritize_group_version.go
  pkg/restore/restore.go
Labels: has-changelog, has-unit-tests

Makefile: new-changelog handles `()` in pr title.
  Makefile
Labels: none

internal/volumes_information.go: reuse constants from pkg/apis/velero/v1 (#8446)
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: none

Add `make lint` `.cache/` to `.gitignore` (#8448)
  .gitignore
Labels: none

Make single platform built image accessible.
  Makefile
Labels: none

internal/hook/wait_exec_hook_handler_test.go: Remove unused change struct
  internal/hook/wait_exec_hook_handler_test.go
Labels: none

Refactor the migration cases.
  pkg/cmd/cli/install/install.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/util/csi/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

build hybrid image
  Dockerfile-Windows
  Makefile
Labels: none

Allowing Object-Level Resource Status Restore
  changelogs/unreleased/8464-shubham-pampattiwar
  pkg/restore/restore.go
Labels: has-changelog

doc name update
  design/Implemented/supporting-volumeattributes-resource-policy.md
Labels: none

Add nil check for updating DataUpload VolumeInfo in finalizing phase.
  changelogs/unreleased/8465-blackpiglet
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-changelog, has-unit-tests

design for multi-arch build and windows build
  changelogs/unreleased/8459-Lyndon-Li
  design/multiple-arch-build-with-windows.md
Labels: Area/Design, has-changelog

Adding Support For VolumeAttributes in Resource Policy (#8383)
  changelogs/unreleased/8383-mayankagg9722
  design/Implemented/supporting-volumeattributes-resource-policy.md
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: has-changelog

Reduces go.mod minimum go to patch 1.22.0
  changelogs/unreleased/8399-kaovilai
  go.mod
Labels: Dependencies, has-changelog

Doc updated, added resourceModifier
  site/content/docs/v1.15/api-types/restore.md
Labels: Documentation

Updated yaml to remove Apiversion
  site/content/docs/v1.15/api-types/restore.md
Labels: Documentation

Updated name of configmap
  site/content/docs/v1.15/api-types/restore.md
Labels: Documentation

Added doc updation to main page
  site/content/docs/main/api-types/restore.md
Labels: Documentation

Added ResourceModifier to Velero Documentation (#8467)
  site/content/docs/main/api-types/restore.md
  site/content/docs/v1.15/api-types/restore.md
Labels: Documentation

design for multi-arch build and windows build - add local build to tar
  design/multiple-arch-build-with-windows.md
Labels: Area/Design

design for multi-arch build and windows build - remove input parameter for GCR
  design/multiple-arch-build-with-windows.md
Labels: Area/Design

Add nil check for updating DataUpload VolumeInfo in finalizing phase.
  changelogs/unreleased/8471-blackpiglet
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-changelog, has-unit-tests

ping kopia to 0.18.2
  changelogs/unreleased/8472-Lyndon-Li
  go.mod
  go.sum
  pkg/repository/mocks/RepositoryWriter.go
  pkg/repository/udmrepo/kopialib/backend/mocks/DirectRepositoryWriter.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/progress_test.go
  pkg/uploader/kopia/shim.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/provider/kopia.go
Labels: Dependencies, has-changelog, has-unit-tests

release-1.15: CSI: Make cleanup more verbose, and don't fail get on not exist
  pkg/util/csi/volume_snapshot.go
Labels: none

Make BackedUpItems thread safe
  changelogs/unreleased/8366-sseago
  pkg/backup/backed_up_items_map.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/backup/request_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
Labels: has-changelog, has-unit-tests

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

add diagnostic for data mover exposer
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/exposer/snapshot.go
  pkg/nodeagent/node_agent.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/kube/pod.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests

build hybrid image
  .github/workflows/e2e-test-kind.yaml
  Dockerfile-Windows
  Makefile
  changelogs/unreleased/8476-Lyndon-Li
  design/multiple-arch-build-with-windows.md
  hack/docker-push.sh
Labels: Area/Design, has-changelog

add diagnostic for data mover exposer
  changelogs/unreleased/8482-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

add diagnostic for data mover exposer
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
Labels: has-unit-tests

fix prepare timeout issue
  changelogs/unreleased/8486-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-changelog, has-unit-tests

Fix: AWS Go SDK URL Signed-off-by: Sylvain Chen <sylvain.chen1@gmail.com>
  site/content/docs/main/supported-providers.md
  site/content/docs/v0.10.0/support-matrix.md
  site/content/docs/v0.11.0/support-matrix.md
  site/content/docs/v0.9.0/support-matrix.md
  site/content/docs/v1.0.0/support-matrix.md
  site/content/docs/v1.1.0/support-matrix.md
  site/content/docs/v1.10/supported-providers.md
  site/content/docs/v1.11/supported-providers.md
  site/content/docs/v1.12/supported-providers.md
  site/content/docs/v1.13/supported-providers.md
  site/content/docs/v1.14/supported-providers.md
  site/content/docs/v1.15/supported-providers.md
  site/content/docs/v1.2.0/supported-providers.md
  site/content/docs/v1.3.0/supported-providers.md
  site/content/docs/v1.3.1/supported-providers.md
  site/content/docs/v1.3.2/supported-providers.md
  site/content/docs/v1.4/supported-providers.md
  site/content/docs/v1.7/supported-providers.md
  site/content/docs/v1.9/supported-providers.md
Labels: Documentation

Fix backup post hook issue
  .mockery.yaml
  changelogs/unreleased/8490-ywk253100
  internal/hook/handler.go
  internal/hook/handler_test.go
  internal/hook/hook.go
  internal/hook/hook_test.go
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/parser.go
  internal/hook/parser_test.go
  internal/hook/pod_backup_post_hook_handler.go
  internal/hook/pod_backup_post_hook_handler_test.go
  internal/hook/pod_backup_pre_hook_handler.go
  internal/hook/pod_backup_pre_hook_handler_test.go
  internal/hook/resource_hook_handler.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/podexec/mocks/pod_command_executor.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/mocks/backupper.go
Labels: has-changelog, has-unit-tests

issue 8433: add ask label to data mover pods
  changelogs/unreleased/8487-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
Labels: has-changelog

support specified buildx instance
  Makefile
Labels: none

Add SecurityContext to restore-helper
  changelogs/unreleased/8491-reasonerjt
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
Labels: has-changelog, has-unit-tests

check existence of the same label from node-agent
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-unit-tests

Add SecurityContext to restore-helper
  changelogs/unreleased/8495-reasonerjt
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
Labels: has-changelog, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
