Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

fix prepare timeout issue
  changelogs/unreleased/8496-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-changelog, has-unit-tests

move the accepted info from annotations to DU/DD CR
  changelogs/unreleased/8498-Lyndon-Li
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-changelog, has-unit-tests

check existence of the same label from node-agent
  changelogs/unreleased/8487-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-changelog, has-unit-tests

Issue 8433: add third party labels to data mover pods when the same labels exist in node-agent pods (#8487)
  changelogs/unreleased/8487-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-changelog, has-unit-tests

issue 8433: add ask label to data mover pods
  changelogs/unreleased/8487-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
Labels: has-changelog

check existence of the same label from node-agent
  changelogs/unreleased/8487-Lyndon-Li
  changelogs/unreleased/8501-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-changelog, has-unit-tests

Fix backup post hook issue
  changelogs/unreleased/8490-ywk253100
  internal/hook/handler.go
  internal/hook/handler_test.go
  internal/hook/hook.go
  internal/hook/hook_test.go
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/parser.go
  internal/hook/parser_test.go
  internal/hook/pod_backup_post_hook_handler.go
  internal/hook/pod_backup_post_hook_handler_test.go
  internal/hook/pod_backup_pre_hook_handler.go
  internal/hook/pod_backup_pre_hook_handler_test.go
  internal/hook/resource_hook_handler.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/mocks/backupper.go
  pkg/test/mock_pod_command_executor.go
Labels: has-changelog, has-unit-tests

add diagnostic for data mover exposer
  changelogs/unreleased/8482-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
Labels: has-changelog, has-unit-tests

Design to add label selector as a criteria for volume policy
  changelogs/unreleased/8503-shubham-pampattiwar
  design/volume-policy-label-selector-criteria.md
Labels: Area/Design, has-changelog

hybrid deploy
  pkg/install/daemonset.go
  pkg/install/deployment.go
  pkg/install/resources.go
  pkg/plugin/clientmgmt/process/registry.go
  pkg/plugin/clientmgmt/process/registry_test.go
Labels: has-unit-tests

hybrid deploy
  changelogs/unreleased/8504-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/install/daemonset_test.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/plugin/clientmgmt/process/registry_test.go
Labels: has-changelog, has-unit-tests

Set hinting region to use for GetBucketRegion() in pkg/repository/config/aws.go
  changelogs/unreleased/8505-kaovilai
  pkg/repository/config/aws.go
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-changelog, has-unit-tests

issue 8267: add informative logs when expose error
  changelogs/unreleased/8508-Lyndon-Li
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

Fix backup post hook issue
  changelogs/unreleased/8509-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
Labels: has-changelog

Fix backup post hook issue
  changelogs/unreleased/8509-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/test/mock_pod_command_executor.go
Labels: has-changelog, has-unit-tests

add diagnostic for data mover exposer
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/exposer/snapshot.go
  pkg/nodeagent/node_agent.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/kube/pod.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests

add diagnostic for data mover exposer
  changelogs/unreleased/8482-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

add diagnostic for data mover exposer
  changelogs/unreleased/8482-Lyndon-Li
  changelogs/unreleased/8511-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
Labels: has-changelog, has-unit-tests

Fix issue: backup schedule pause/unpause doesn't work
  changelogs/unreleased/8512-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

Bump `sigs.k8s.io/controller-runtime`.
  go.mod
  go.sum
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-unit-tests

initial design thoughts
  design/kopia-to-local-volume-provider.md
  pkg/repository/config/config.go
  pkg/repository/provider/unified_repo.go
Labels: Area/Design

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

The change will fix CVE-2024-45337
  go.mod
Labels: Dependencies

hybrid deploy
  changelogs/unreleased/8504-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/resources.go
  pkg/plugin/clientmgmt/process/registry_test.go
Labels: has-changelog, has-unit-tests

Fix backup post hook issue
  changelogs/unreleased/8517-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/test/mock_pod_command_executor.go
Labels: has-changelog, has-unit-tests

add use-node-agent-windows
  pkg/cmd/cli/install/install.go
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests

restict velero server in linux nodes
  pkg/install/deployment.go
  pkg/install/deployment_test.go
Labels: has-unit-tests

add use-node-agent-windows
  pkg/cmd/cli/install/install.go
  pkg/install/resources_test.go
Labels: has-unit-tests

Bump golang.org/x/crypto to v0.31.0 to fix CVEs.
  go.mod
  go.sum
Labels: Dependencies

fail fs-backup for windows nodes
  changelogs/unreleased/8518-Lyndon-Li
  pkg/cmd/server/server.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_test.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
Labels: has-changelog, has-unit-tests

hybrid deploy
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/podvolume/backupper_test.go
Labels: has-unit-tests

CVE-2024-45337:Copies all support builds
  go.mod
  go.sum
Labels: Dependencies

backup repo crd changes
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
Labels: none

fix gcr image missing problem
  hack/docker-push.sh
Labels: none

Bump the golang.org/x/crypto for Restic to fix CVE-2024-45337. Bump the golang.org/x/net for Velero and Restic to fix CVE-2024-45338.
  go.mod
  go.sum
  hack/fix_restic_cve.txt
Labels: Dependencies

Make change to support VKS environment.
  test/testdata/storage-class/vsphere-csi.yaml
  test/testdata/storage-class/vsphere.yaml
  test/types.go
  test/util/velero/install.go
Labels: none

E2E supports VKS data mover environment.
  test/Makefile
  test/e2e/README.md
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Modify other cases to support VKS environment.
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/common.go
Labels: has-e2e-2tests

Modify upgrade and migration cases.
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

1.15.1 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8399-kaovilai
  changelogs/unreleased/8402-Lyndon-Li
  changelogs/unreleased/8404-Lyndon-Li
  changelogs/unreleased/8465-blackpiglet
  changelogs/unreleased/8495-reasonerjt
  changelogs/unreleased/8496-Lyndon-Li
  changelogs/unreleased/8501-Lyndon-Li
  changelogs/unreleased/8505-kaovilai
  changelogs/unreleased/8511-Lyndon-Li
  changelogs/unreleased/8517-ywk253100
Labels: has-changelog
