Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

Add design for VolumeGroupSnapshot support
  changelogs/unreleased/8778-shubham-pampattiwar
  design/VGS-Backup-Sequence.png
  design/VGS-Restore-Sequence.png
  design/volume-group-snapshot.md
Labels: Area/Design, has-changelog

pass value
  pkg/util/kube/pvc_pv.go
Labels: none

function renamed as suggested
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests

Fix the JSON format error in the repository-maitenance.md
  site/content/docs/main/repository-maintenance.md
  site/content/docs/v1.15/repository-maintenance.md
Labels: Documentation

Issue #8772 ensure pv removed (#8777)
  changelogs/unreleased/8777-ix-rzi
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

issue 6880: set ParallelUploadAboveSize as MaxInt64
  changelogs/unreleased/6886-Lyndon-Li
Labels: has-changelog

Replace the base image with paketobuildpacks image
  changelogs/unreleased/6934-ywk253100
Labels: has-changelog

issue 6786:always delete VSC regardless of the deletion policy
  changelogs/unreleased/6873-Lyndon-Li
Labels: has-changelog

build velero-helper binary for datamover pod
  Dockerfile.ubi
Labels: none

skip subresource in resource discovery (#6688)
  changelogs/unreleased/6688-27149chen
Labels: has-changelog

Add BZ + Publish automation to repo (#82)
  .github/workflows/bz-pr-action.yml
  .github/workflows/pr-merge.yml
  .github/workflows/publish.yml
Labels: none

changelog
  changelogs/unreleased/6713-kaovilai
Labels: has-changelog

fix issue 6647
  changelogs/unreleased/6940-Lyndon-Li
Labels: has-changelog

issue 6734: spread backup pod evenly
  changelogs/unreleased/6935-Lyndon-Li
Labels: has-changelog

Add v1.12.1 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6713-kaovilai
  changelogs/unreleased/6873-Lyndon-Li
  changelogs/unreleased/6877-Lyndon-Li
  changelogs/unreleased/6886-Lyndon-Li
  changelogs/unreleased/6897-dzaninovic
  changelogs/unreleased/6934-ywk253100
  changelogs/unreleased/6935-Lyndon-Li
  changelogs/unreleased/6940-Lyndon-Li
  changelogs/unreleased/6943-sseago
  changelogs/unreleased/6948-sseago
  changelogs/unreleased/6970-0x113
Labels: has-changelog

restore: Use warning when Create IsAlreadyExist and Get error
  changelogs/unreleased/7004-kaovilai
Labels: has-changelog

Add doc links for new features to release note
  changelogs/CHANGELOG-1.12.md
Labels: has-changelog

Import auth provider plugins
  changelogs/unreleased/6970-0x113
Labels: has-changelog

udmrepo use region specified in BSL when s3URL is empty
  changelogs/unreleased/6991-Lyndon-Li
Labels: has-changelog

Change v1.12.1 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6986-blackpiglet
  changelogs/unreleased/6991-Lyndon-Li
Labels: has-changelog

add csi snapshot data movement doc
  changelogs/unreleased/6793-Lyndon-Li
Labels: has-changelog

kopia/repository/config/aws.go: Set session.Options profile from config
  changelogs/unreleased/6997-kaovilai
Labels: has-changelog

Modify changelogs for v1.12
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6688-27149chen
  changelogs/unreleased/6758-Lyndon-Li
  changelogs/unreleased/6761-ywk253100
  changelogs/unreleased/6762-blackpiglet
  changelogs/unreleased/6793-Lyndon-Li
Labels: has-changelog

Add support for block volumes (#6680) (#6897)
  changelogs/unreleased/6897-dzaninovic
Labels: has-changelog

Dockerfile.ubi/travis local files
  .travis.yml
  Dockerfile-velero-restore-helper.ubi
  Dockerfile.ubi
Labels: none

Create Makefile.prow
  Makefile.prow
Labels: none

issue: move plugin depdending podvolume functions to util pkg
  changelogs/unreleased/6877-Lyndon-Li
Labels: has-changelog

fix issue 6753
  changelogs/unreleased/6758-Lyndon-Li
Labels: has-changelog

remove dependabot config from fork
  .github/dependabot.yml
Labels: none

Fix #6752: add namespace exclude check.
  changelogs/unreleased/6762-blackpiglet
Labels: has-changelog

Make Windows build skip BlockMode code.
  changelogs/unreleased/6986-blackpiglet
Labels: has-changelog

Update restore controller logic for restore deletion (#6761)
  changelogs/unreleased/6761-ywk253100
Labels: has-changelog

Perf improvements for existing resource restore
  changelogs/unreleased/6948-sseago
Labels: has-changelog

set HOME in velero image for kopia, update controller-gen for CI (#280)
  Dockerfile.ubi
  Makefile.prow
Labels: none

issue #6807: Retry failed create when using generateName
  changelogs/unreleased/6943-sseago
Labels: has-changelog

ubi: BUILDPLATFORM to build stage to enable cross compile. (#336)
  Dockerfile-velero-restore-helper.ubi
  Dockerfile.ubi
Labels: none

updated controller-gen version
  Makefile.prow
Labels: none

OADP-4225: add tzdata to Dockerfile.ubi
  Dockerfile.ubi
Labels: none

Downstream only - fix lint error in downtream change (#343)
  pkg/repository/udmrepo/kopialib/backend/common_kopia_algorithms_test.go
Labels: has-unit-tests

fix: ARM images (#332)
  Dockerfile-velero-restore-helper.ubi
  Dockerfile.ubi
Labels: none
