Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

fs uploader and block uploader support Windows nodes
  changelogs/unreleased/8569-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

fix(pkg/repository/maintenance): don't panic when there's no container statuses
  changelogs/unreleased/8568-mcluseau
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-changelog, has-unit-tests

1.15.2 changelog
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8568-mcluseau
Labels: has-changelog

Merge restore helper image into Velero server image
  Dockerfile
  Makefile
  changelogs/unreleased/8574-ywk253100
  internal/velero/images.go
  internal/velero/images_test.go
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
  site/content/docs/main/file-system-backup.md
Labels: Documentation, has-changelog, has-unit-tests

Clear validation errors when schedule is valid
  changelogs/unreleased/8575-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

always use job's time
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager/manager.go
  pkg/repository/mocks/Manager.go
Labels: has-unit-tests

Clear validation errors when schedule is valid (#8575)
  changelogs/unreleased/8575-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

Don't include excluded items in ItemBlocks
  changelogs/unreleased/8572-sseago
  pkg/backup/backup.go
  pkg/backup/itemblock.go
Labels: has-changelog

repo maintenance job out of repo manager
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
  pkg/repository/mocks/Manager.go
Labels: has-unit-tests

recall repo maintenance history on restart
  changelogs/unreleased/8580-Lyndon-Li
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/repository/keys/keys.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-changelog, has-unit-tests

Configurable Kopia Maintenance Interval
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/repo_options.go
Labels: none

Don't include excluded items in ItemBlocks
  changelogs/unreleased/8572-sseago
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/backup/itemblock.go
Labels: has-changelog

recall repo maintenance history on restart
  go.mod
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/keys/keys.go
Labels: Dependencies, has-unit-tests

Don't include excluded items in ItemBlocks
  changelogs/unreleased/8585-kaovilai
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/backup/itemblock.go
Labels: has-changelog

1.15.2 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8585-kaovilai
Labels: has-changelog

Skip patching the PV in finalization for failed operation
  changelogs/unreleased/8591-reasonerjt
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/persistence/mocks/backup_store.go
Labels: has-changelog, has-unit-tests

golangci-lint: enable int-conversion and fiximports rule of perfsprint
  .golangci.yaml
  pkg/backup/actions/csi/pvc_action.go
  pkg/cmd/cli/backup/create_test.go
  pkg/label/label.go
Labels: has-unit-tests

add event burst
  changelogs/unreleased/8590-Lyndon-Li
  pkg/util/kube/event.go
  pkg/util/kube/event_test.go
Labels: has-changelog, has-unit-tests

Check the PVB status via podvolume Backupper rather than calling API server to avoid API server issue
  changelogs/unreleased/8596-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/backupper_test.go
Labels: has-changelog, has-unit-tests

data mover restore for Windows
  changelogs/unreleased/8594-Lyndon-Li
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/cmd/cli/datamover/restore.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/types.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-changelog, has-unit-tests

fix: dupword on tests
  .golangci.yaml
  internal/delete/delete_item_action_handler_test.go
  pkg/restore/restore_test.go
  pkg/util/csi/volume_snapshot_test.go
  test/util/velero/velero_utils.go
Labels: has-unit-tests

Update .golangci.yaml
  .golangci.yaml
Labels: none

Update .golangci.yaml
  .golangci.yaml
Labels: none

move maintenance to a separate folder
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests

1.15.2 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8596-ywk253100
Labels: has-changelog

Check the PVB status via podvolume Backupper rather than calling API server to avoid API server issue
  changelogs/unreleased/8603-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/backupper_test.go
Labels: has-changelog, has-unit-tests

data mover pod misc enhancement for windows
  changelogs/unreleased/8606-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
Labels: has-changelog

change udmrepo config file location to tmp
  changelogs/unreleased/8602-Lyndon-Li
  pkg/repository/udmrepo/repo_options.go
Labels: has-changelog

Fix namespace metadata not being restored with existing-resource-policy
  changelogs/unreleased/7519-namespace-metadata-restore.yaml
  pkg/restore/restore.go
Labels: has-changelog

update du/dd progress on completion
  changelogs/unreleased/8608-Lyndon-Li
  pkg/datapath/file_system.go
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/types.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: has-changelog, has-unit-tests

chore: enable revive default rules
  .golangci.yaml
Labels: none

distribute dd evenly across nodes
  changelogs/unreleased/8611-Lyndon-Li
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
Labels: has-changelog

Remove the PSA enforce labels from the created ns by default.
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
  test/e2e/upgrade/upgrade.go
  test/util/k8s/namespace.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
Labels: has-e2e-2tests

avoid to create new repo when BSL is readonly
  changelogs/unreleased/8615-Lyndon-Li
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-changelog, has-unit-tests

Configurable Kopia Maintenance Interval
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/repo_options.go
Labels: none

recall repo maintenance history on restart
  pkg/controller/backup_repository_controller.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests

Update pkg/restore/restore.go
  pkg/restore/restore.go
Labels: none

Update pkg/restore/restore.go
  pkg/restore/restore.go
Labels: none

get maintenance result only for failed jobs
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests

get maintenance result only for failed jobs
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
