Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

build(Makefile): add support for building container images for current-context cluster with ttl.sh registry and 24h TTL
  Makefile
Labels: none

fix: use Contains or ErrorContains with testify
  pkg/client/factory_test.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backuplocation/create_test.go
  pkg/cmd/cli/backuplocation/delete_test.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/cmd/cli/restore/create_test.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/repository/maintenance_test.go
Labels: has-unit-tests

buildx enabled checks buildx is installed and can list instances
  Makefile
Labels: none

fix: Clean up golangci-lint config
  .golangci.yaml
  Makefile
  changelogs/unreleased/7194-mateusoliveira43
  hack/lint.sh
  hack/verify-lint-config.sh
  site/content/docs/main/development.md
Labels: Documentation, has-changelog

fixup! fix: Clean up golangci-lint config
  .golangci.yaml
Labels: none

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fixup! fix: Clean up golangci-lint config
  .golangci.yaml
Labels: none

fixup! fix: Clean up golangci-lint config
  hack/update-1fmt.sh
Labels: none

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fix(pkg/repository/maintenance): don't panic when there's no container statuses
  changelogs/unreleased/8271-mcluseau
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-changelog, has-unit-tests

Bump the E2E migration and upgrade Velero and plugin versions for 1.15
  test/Makefile
  test/util/velero/velero_utils.go
Labels: none

update upgrade to 1.15 doc
  site/content/docs/main/upgrade-to-1.15.md
Labels: Documentation

fix doc index for 1.15
  site/data/docs/main-toc.yml
Labels: none

Pin the version of Golang and base image for v1.15.0
  Dockerfile
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
  pkg/uploader/kopia/block_restore_windows.go
Labels: Dependencies

fix windows cli compile problem
  pkg/uploader/kopia/block_restore_windows.go
Labels: none

fix a warning during make container
  Dockerfile
Labels: none

NS included via labelSelector act as IncludedNamespaces
  changelogs/unreleased/8342-kaovilai
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  site/content/docs/main/api-types/backup.md
Labels: Documentation, has-changelog, has-unit-tests

Fix the KIBISHII_DIRECTORY parameter not work for make test-e2e issue.
  test/Makefile
Labels: none

Make change to support VKS environment.
  test/testdata/storage-class/vsphere-csi.yaml
  test/testdata/storage-class/vsphere.yaml
  test/types.go
  test/util/velero/install.go
Labels: none

Refactor the code to get the plugin images for migration cases.
  test/e2e/migration/migration.go
  test/types.go
  test/util/providers/common.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Fix the KIBISHII_DIRECTORY parameter not working issue.
  test/Makefile
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

Add backup_active_total metric.
  changelogs/unreleased/5703-mrnold
  pkg/controller/backup_controller.go
  pkg/metrics/metrics.go
Labels: has-changelog

Use aggregated discovery API to discovery API groups and resources
  changelogs/unreleased/8353-ywk253100
  pkg/client/factory.go
  pkg/client/mocks/Factory.go
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/discovery/helper.go
  pkg/discovery/helper_test.go
  pkg/test/discovery_client.go
Labels: has-changelog, has-unit-tests

Include --annotations flag in backup and restore create commands
  changelogs/unreleased/8354-alromeros
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
Labels: has-changelog, has-unit-tests

incorporated PR comments
  pkg/controller/restore_controller.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/resource_deletionstatus_tracker.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-unit-tests

Copy "envFrom" from Velero server when creating maintenance jobs
  changelogs/unreleased/8343-evhan
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
  pkg/util/velero/velero.go
  pkg/util/velero/velero_test.go
Labels: has-changelog, has-unit-tests

Refactor the code to get the plugin images for migration cases.
  test/e2e/migration/migration.go
  test/types.go
  test/util/providers/common.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Copy "envFrom" from Velero node-agent when creating data mover pods
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
  pkg/exposer/image_test.go
Labels: has-unit-tests

initial design thoughts
  design/kopia-to-local-volume-provider.md
  pkg/repository/config/config.go
  pkg/repository/provider/unified_repo.go
Labels: Area/Design

Fix Restore objects status docs
  site/content/docs/main/restore-reference.md
  site/content/docs/v1.15/restore-reference.md
Labels: Documentation

Fix velero install example
  pkg/cmd/cli/install/install.go
  site/content/docs/main/velero-install.md
  site/content/docs/v1.0.0/azure-config.md
  site/content/docs/v1.1.0/azure-config.md
  site/content/docs/v1.10/velero-install.md
  site/content/docs/v1.11/velero-install.md
  site/content/docs/v1.12/velero-install.md
  site/content/docs/v1.13/velero-install.md
  site/content/docs/v1.14/velero-install.md
  site/content/docs/v1.15/velero-install.md
  site/content/docs/v1.2.0/velero-install.md
  site/content/docs/v1.3.0/velero-install.md
  site/content/docs/v1.3.1/velero-install.md
  site/content/docs/v1.3.2/velero-install.md
  site/content/docs/v1.4/velero-install.md
  site/content/docs/v1.5/velero-install.md
  site/content/docs/v1.6/velero-install.md
  site/content/docs/v1.7/velero-install.md
  site/content/docs/v1.8/velero-install.md
  site/content/docs/v1.9/velero-install.md
  site/content/posts/2020-05-27-CSI-integration.md
Labels: Documentation

resolved comments
  pkg/util/kube/resource_deletionstatus_tracker.go
  pkg/util/kube/utils.go
Labels: none

Add kaovilai maintainer details
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/assets/_scss/site/objects/_thumbnail-grid.scss
  site/content/contributors/07-tiger-kaovilai.md
  site/static/img/contributors/tiger-kaovilai.jpg
Labels: none

Skip e2e, crd, go linters on .md checks.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-linter-check.yml
Labels: none

Adding VolumeAttributes validations in resource policy
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_validator.go
Labels: none

adding tests
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: none

Add --item-block-worker-count flag to velero install and server
  changelogs/unreleased/8380-sseago
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/config/config.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: has-changelog

Typo: ebs.csi.aws.com instead of aws.ebs.csi.driver
  design/Implemented/handle-backup-of-volumes-by-resources-filters.md
  internal/resourcepolicies/resource_policies_test.go
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.11/resource-filtering.md
  site/content/docs/v1.12/resource-filtering.md
  site/content/docs/v1.13/resource-filtering.md
  site/content/docs/v1.14/resource-filtering.md
  site/content/docs/v1.15/resource-filtering.md
Labels: Documentation

adding tests
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: none

adding tests
  internal/resourcepolicies/resource_policies_test.go
Labels: none

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
