Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

Modify the StorageClass install and delete code.
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/testdata/storage-class/README.md
  test/testdata/storage-class/aws-legecy.yaml
  test/testdata/storage-class/aws.yaml
  test/testdata/storage-class/azure-legacy.yaml
  test/testdata/storage-class/azure.yaml
  test/testdata/storage-class/gcp-legacy.yaml
  test/testdata/storage-class/gcp.yaml
  test/testdata/storage-class/vanilla-zfs-csi.yaml
  test/testdata/storage-class/vanilla-zfs.yaml
  test/testdata/storage-class/vsphere-legacy.yaml
  test/testdata/storage-class/vsphere.yaml
  test/testdata/volume-snapshot-class/vanilla-zfs.yaml
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

isolate repo maintenane history
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
Labels: has-unit-tests

Modify the schedule cases.
  test/e2e/e2e_suite_test.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

add repo maintain result in history
  changelogs/unreleased/8532-Lyndon-Li
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
Labels: has-changelog, has-unit-tests

Refactor the migration cases.
  pkg/cmd/cli/install/install.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/util/csi/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

hide restic deprecation warning for install with crd-only
  changelogs/unreleased/8538-Lyndon-Li
  pkg/cmd/cli/install/install.go
Labels: has-changelog

hide restic deprecation warning for install with crd-only
  changelogs/CHANGELOG-1.15.md
  pkg/cmd/cli/install/install.go
Labels: has-changelog

fix gcr image missing problem
  hack/docker-push.sh
Labels: none

CVE-2024-45337:Copies all support builds
  go.mod
  go.sum
Labels: Dependencies

Fix issue: backup schedule pause/unpause doesn't work
  changelogs/unreleased/8512-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

The change will fix CVE-2024-45337
  go.mod
Labels: Dependencies

Fix backup post hook issue
  changelogs/unreleased/8509-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/test/mock_pod_command_executor.go
Labels: has-changelog, has-unit-tests

CVE-2024-45337 CVE-2024-45338
  go.mod
  go.sum
Labels: Dependencies

Modify the Init logic to fix the migration case error.
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

Pin the version of Golang and base image for v1.15.1
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: none

backup repo crd changes for repo maintenance history
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
Labels: none

add repo maintain result in history
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
Labels: has-unit-tests

Bug fix: increase the WaitGroup counter before start the goroutine
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-unit-tests

Bug fix: increase the WaitGroup counter before start the goroutine
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-unit-tests

Skip the deprecation message for the dry-run install CLI JSON output.
  test/util/velero/install.go
Labels: none

wait node-agent for Windows
  pkg/cmd/cli/install/install.go
Labels: none

issue 8044: generic restore - allow to ignore WaitForFirstConsumer
  changelogs/unreleased/8550-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/nodeagent/node_agent.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

Modify the Init logic to fix the migration case error.
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

Skip the deprecation message for the dry-run install CLI JSON output.
  test/util/velero/install.go
Labels: none

Bump Restic go.mod to fix CVEs.
  hack/fix_restic_cve.txt
Labels: none

fail fs-backup for windows nodes
  pkg/util/kube/node.go
Labels: none

data mover backup for Windows nodes
  changelogs/unreleased/8555-Lyndon-Li
  pkg/cmd/cli/datamover/backup.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
  pkg/exposer/image_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

Add CACert from BSL config for download requests.
  changelogs/unreleased/8557-kaovilai
  pkg/apis/velero/v1/download_request_types.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/download_request_controller.go
  pkg/plugin/velero/object_store.go
Labels: has-changelog

Add additional files from secret to velero pod without restart
  changelogs/unreleased/7943-kaovilai
  internal/credentials/file_store.go
  internal/credentials/file_store_test.go
Labels: has-changelog

issue 8044: generic restore - allow to ignore WaitForFirstConsumer
  changelogs/unreleased/8550-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/nodeagent/node_agent.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

data mover backup for Windows nodes
  changelogs/unreleased/8555-Lyndon-Li
  pkg/cmd/cli/datamover/backup.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
  pkg/exposer/image_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

fix nilpointer panic when decode addlitional item failed
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests

Refactor the E2E framework. Add migration framework.
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/resources-check/resources_check.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/framework/backup-restore.go
  test/e2e/framework/migration.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
Labels: has-e2e-2tests

add warning logs
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests

Use the SC mapping cm in all migration cases.
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

fix(pkg/repository/maintenance): don't panic when there's no container statuses
  changelogs/unreleased/8567-mcluseau
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-changelog, has-unit-tests

recall existing repo maintenance to history
  pkg/controller/backup_repository_controller.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-unit-tests

disable block volume data mover on windows
  pkg/controller/data_upload_controller.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests

fs uploader skip system folders on windows
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/snapshot.go
Labels: none
