Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

Bump golangci-lint from v1.57.2 to v1.64.5
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

issue 8733: add doc for restorePVC
  changelogs/unreleased/8737-Lyndon-Li
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/data-movement-restore-pvc-configuration.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

add doc for maintenance history
  changelogs/unreleased/8747-Lyndon-Li
  site/content/docs/main/repository-maintenance.md
Labels: Documentation, has-changelog

Bump golangci-lint from v1.57.2 to v1.64.5 (#8641)
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

chore: update Go to 1.23 and toolchain to 1.23.6
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
Labels: Dependencies

chore: update Go to 1.23 and toolchain to 1.23.6 (#8717)
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
Labels: Dependencies

fixing bad main merge for go1.23
  go.mod
Labels: Dependencies

CVE-2025-22869 + go1.23
  go.mod
  go.sum
Labels: Dependencies

fixing golang base version issue with dependencies
  go.mod
Labels: Dependencies

go-mod-upgrade: golang.org/x/oauth2@v0.27.0
  go.mod
  go.sum
Labels: Dependencies

go-mod-upgrade: golang.org/x/oauth2@v0.27.0 (#8752)
  go.mod
  go.sum
Labels: Dependencies

Renaming CredentialKeyResourceManagerEndpoint to follow standards
  pkg/util/azure/util.go
  pkg/util/azure/util_test.go
Labels: has-unit-tests

Move pvc annotation removal from CSI RIA to regular PVC RIA
  changelogs/unreleased/8755-sseago
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/actions/add_pv_from_pvc_action.go
  pkg/restore/actions/add_pv_from_pvc_action_test.go
  pkg/restore/actions/change_pvc_node_selector.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/pvc_action_test.go
  pkg/restore/actions/pvc_action.go
  pkg/restore/actions/pvc_action_test.go
Labels: has-changelog, has-unit-tests

CVE-2025-22869+CVE-2025-22868
  Dockerfile
  Tiltfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
Labels: Dependencies

CVE-2025-22869+CVE-2025-22868
  Dockerfile
  Tiltfile
  changelogs/unreleased/8757-kaovilai
  go.mod
  go.sum
  hack/build-image/Dockerfile
Labels: Dependencies, has-changelog

bump linter to v1.64.6
  .github/workflows/pr-linter-check.yml
  hack/build-image/Dockerfile
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
Labels: has-e2e-2tests

Add docs for volume policy with labels as a criteria
  changelogs/unreleased/8759-shubham-pampattiwar
  site/content/docs/main/resource-filtering.md
Labels: Documentation, has-changelog

config from main
  .golangci.yaml
Labels: none

G115: integer overflow conversion int -> int32 (gosec) + false positive comment
  pkg/plugin/framework/common/server_errors.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/uploader/kopia/progress.go
Labels: none

lint run --fix
  internal/delete/delete_item_action_handler_test.go
  internal/resourcepolicies/volume_resources_test.go
  pkg/backup/actions/csi/pvc_action.go
  pkg/cmd/cli/backup/create_test.go
  pkg/controller/backup_sync_controller_test.go
  pkg/label/label.go
  pkg/plugin/framework/common/server_errors.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/restore/restore_test.go
  pkg/util/csi/volume_snapshot_test.go
  test/util/velero/velero_utils.go
Labels: has-unit-tests

unnecessary type arguments
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests

Error return value of X is not checked (errcheck)
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: none

//nolint:gosec // test code
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: none

Unused function
  pkg/controller/data_download_controller_test.go
Labels: has-unit-tests

tautological condition: non-nil != nil
  pkg/cmd/util/output/restore_describer.go
Labels: none

lint run --fix
  internal/resourcepolicies/resource_policies.go
  pkg/repository/udmrepo/repo.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: none

bump linter to v1.64.6
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  test/util/k8s/common.go
Labels: none

issue 8754: add third party annotation support
  changelogs/unreleased/8770-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-changelog, has-unit-tests

fix: log doesn't show pv name
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/volumehelper/volume_policy_helper.go
Labels: none

fix: add changelog
  changelogs/unreleased/8720-hu-keyu
Labels: has-changelog

issue 8649: host_pods should not be mandatory to node-agent
  changelogs/unreleased/8774-mpryc
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
Labels: has-changelog, has-unit-tests

update changelog fileName
  changelogs/unreleased/8771-hu-keyu
Labels: has-changelog

fix: add changelog
  changelogs/unreleased/8720-hu-keyu
Labels: has-changelog

fix: log doesn't show pv name
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/volumehelper/volume_policy_helper.go
Labels: none

Fix incorrect indent in doc
  site/content/docs/main/resource-filtering.md
Labels: Documentation

issue 8649: host_pods should not be mandatory to node-agent
  changelogs/unreleased/8774-mpryc
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
Labels: has-changelog, has-unit-tests

updated changelog Signed-off-by: Roger Zimmermann <roger.zimmermann@inventx.ch>
  changelogs/unreleased/8777-ix-rzi
Labels: has-changelog

ensure delete pv unit test
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests

ensure pv has been deleted
  pkg/util/kube/pvc_pv.go
Labels: none

comment, errors
  pkg/util/kube/pvc_pv.go
Labels: none
