Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

Design to add label selector as a criteria for volume policy
  changelogs/unreleased/8503-shubham-pampattiwar
  design/volume-policy-label-selector-criteria.md
Labels: Area/Design, has-changelog

Add labels as a criteria for volume policy
  changelogs/unreleased/8713-shubham-pampattiwar
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  internal/volumehelper/volume_policy_helper.go
  pkg/backup/item_backupper.go
  pkg/podvolume/backupper.go
Labels: has-changelog

Address https://github.com/vmware-tanzu/velero/pull/8581#pullrequestreview-2622445640
  pkg/repository/udmrepo/kopialib/lib_repo.go
Labels: none

lint
  pkg/repository/provider/unified_repo.go
Labels: none

Address https://github.com/vmware-tanzu/velero/pull/8581#pullrequestreview-2622443771
  pkg/repository/provider/unified_repo.go
Labels: none

Configurable Kopia Maintenance Interval
  changelogs/unreleased/8581-kaovilai
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/repo_options.go
  site/content/docs/main/repository-maintenance.md
Labels: Documentation, has-changelog

doc updates
  site/content/docs/main/backup-repository-configuration.md
  site/content/docs/main/repository-maintenance.md
Labels: Documentation

Pass all backupRepoConfig keys to storageVariables, and thus RepoOptions.
  pkg/repository/provider/unified_repo.go
Labels: none

add to unmarshal test
  pkg/controller/backup_repository_controller_test.go
Labels: has-unit-tests

empty string case
  pkg/repository/udmrepo/kopialib/lib_repo.go
Labels: none

log only if not equal
  pkg/repository/udmrepo/kopialib/lib_repo.go
Labels: none

doc update, move under kopia repo header
  site/content/docs/main/backup-repository-configuration.md
Labels: Documentation

Ignore debug.test* from vscode debug
  .gitignore
Labels: none

issue 8706: for immediate volumes, get node from volumeattachment
  changelogs/unreleased/8715-Lyndon-Li
  pkg/util/kube/pvc_pv_test.go
Labels: has-changelog, has-unit-tests

Modify VS and VSC restore actions.
  design/clean_artifacts_in_csi_flow.md
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action_test.go
  internal/volume/volumes_information.go
  pkg/backup/actions/csi/volumesnapshot_action.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/restore/actions/csi/volumesnapshot_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/restore/actions/csi/volumesnapshotcontent_action.go
  pkg/restore/actions/csi/volumesnapshotcontent_action_test.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: Area/Design, has-unit-tests

1. Add Velero namespace to the exclusion list of backup tasks by default; 2. After self-protection feature， we will change it.
  pkg/controller/backup_controller.go
Labels: none

Bump golangci-lint from v1.57.2 to v1.64.5
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/delete/actions/csi/volumesnapshot_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

chore: update Go to 1.23 and toolchain to 1.23.6
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
Labels: Dependencies

add more maintenance interval unit tests
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
Labels: has-unit-tests

Add labels as a criteria for volume policy
  changelogs/unreleased/8713-shubham-pampattiwar
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  internal/volumehelper/volume_policy_helper.go
  pkg/backup/item_backupper.go
  pkg/podvolume/backupper.go
Labels: has-changelog

inherit k8s default volumeSnapshotClass
  pkg/apis/velero/v1/labels_annotations.go
  pkg/util/csi/volume_snapshot.go
Labels: none

Copy SecurityContext from Containers[0] if present for PVR
  changelogs/unreleased/8712-sseago
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
Labels: has-changelog, has-unit-tests

add changelog
  changelogs/unreleased/8719-hu-keyu
Labels: has-changelog

Modify VS and VSC restore actions.
  design/clean_artifacts_in_csi_flow.md
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action_test.go
  internal/volume/volumes_information.go
  pkg/backup/actions/csi/pvc_action_test.go
  pkg/backup/actions/csi/volumesnapshot_action.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/pvc_action_test.go
  pkg/restore/actions/csi/volumesnapshot_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/restore/actions/csi/volumesnapshotcontent_action.go
  pkg/restore/actions/csi/volumesnapshotcontent_action_test.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/util.go
  site/content/docs/main/csi.md
Labels: Area/Design, Documentation, has-unit-tests

add changelog
  pkg/util/csi/volume_snapshot.go
Labels: none

add changelog
  pkg/util/csi/volume_snapshot.go
Labels: none

minor updates
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_filter_data.go
  internal/resourcepolicies/volume_filter_data_test.go
  internal/resourcepolicies/volume_resources.go
  internal/volumehelper/volume_policy_helper.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/item_backupper.go
  pkg/podvolume/backupper.go
Labels: none

Bump golangci-lint from v1.57.2 to v1.64.5
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

Add labels as a criteria for volume policy (#8713)
  changelogs/unreleased/8713-shubham-pampattiwar
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_filter_data.go
  internal/resourcepolicies/volume_filter_data_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  internal/volumehelper/volume_policy_helper.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/item_backupper.go
  pkg/podvolume/backupper.go
Labels: has-changelog

bump up kopia to 0.19.0
  go.mod
  go.sum
Labels: Dependencies

Return directly if no pod volme backup are tracked
  changelogs/unreleased/8728-ywk253100
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
Labels: has-changelog, has-unit-tests

issue 8475: refactor build-from-source doc
  changelogs/unreleased/8729-Lyndon-Li
  site/content/docs/main/build-from-source.md
Labels: Documentation, has-changelog

Fix typo "Defaults is"
  site/content/docs/main/backup-hooks.md
Labels: Documentation

issue-8426: add doc for Windows support
  site/content/docs/main/backup-restore-windows.md
Labels: Documentation

issue-8426: add doc for Windows support
  changelogs/unreleased/8736-Lyndon-Li
  site/content/docs/main/backup-restore-windows.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

add doc change for issue8294
  site/content/docs/main/csi.md
Labels: Documentation

inherit k8s default volumeSnapshotClass
  changelogs/unreleased/8719-hu-keyu
  pkg/apis/velero/v1/labels_annotations.go
  pkg/util/csi/volume_snapshot.go
Labels: has-changelog

issue 8733: add doc for restorePVC
  changelogs/unreleased/8737-Lyndon-Li
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/data-movement-restore-pvc-configuration.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

Added support for AzureStackHub and Azure private cloud identification
  Dockerfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
  pkg/util/azure/testdata/azurestackcloud.json
  pkg/util/azure/util.go
  pkg/util/azure/util_test.go
Labels: Dependencies, has-unit-tests

Added changelog
  changelogs/unreleased/8738-schaafito
Labels: has-changelog
