Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

DS Owners
  DOWNSTREAM_OWNERS
Labels: none

run oadp-operator e2e test from the velero repo (#353)
  Makefile.prow
Labels: none

fix: CI (#316)
  Makefile.prow
Labels: none

Downstream only: Rework of Makefile and incusion of lint
  Makefile.prow
Labels: none

OADP-4640: Downstream only to allow override kopia default algorithms (#334) (#338)
  pkg/repository/udmrepo/kopialib/backend/common.go
  pkg/repository/udmrepo/kopialib/backend/common_kopia_algorithms_test.go
Labels: has-unit-tests

use ubi9-latest to build
  Dockerfile.ubi
Labels: none

issue8720: log doesn't show pv name (#8771)
  changelogs/unreleased/8771-hu-keyu
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/volumehelper/volume_policy_helper.go
Labels: has-changelog

Make daemonset running error describe pod status
  pkg/nodeagent/node_agent.go
  pkg/util/kube/pod.go
Labels: none

adding the pvc to ad items
  pkg/restore/actions/csi/pvc_action.go
Labels: none

return the patch pvc object not the original item.
  pkg/restore/actions/csi/pvc_action.go
Labels: none

Make daemonset running error describe pod status
  changelogs/unreleased/8793-kaovilai
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/restorer_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: has-changelog, has-unit-tests

updating code structure based on gofmt and lint ci jobs
  pkg/util/azure/util.go
  pkg/util/azure/util_test.go
Labels: has-unit-tests

Bump kind cli to v0.27.0
  .github/workflows/e2e-test-kind.yaml
Labels: none

Add design for VolumeGroupSnapshot support
  changelogs/unreleased/8778-shubham-pampattiwar
  design/volume-group-snapshot.md
Labels: Area/Design, has-changelog

Bump kind cli to v0.27.0 (#8699)
  .github/workflows/e2e-test-kind.yaml
Labels: none

Modify how the restore workflow using the resource name.
  changelogs/unreleased/8797-blackpiglet
  pkg/restore/restore.go
Labels: has-changelog

Enable containerdv2 images
  .github/workflows/e2e-test-kind.yaml
Labels: none

Document schedule skipImmediately
  design/Implemented/schedule-skip-immediately-config_design.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.15/api-types/schedule.md
Labels: Documentation

Use additinal plugin and register this plugin 1st
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/pvc_vs_dv_action.go
  pkg/restore/restore.go
Labels: none

use v1
  pkg/cmd/server/plugin/plugin.go
Labels: none

retrurn vsc
  pkg/restore/actions/csi/volumesnapshot_action.go
Labels: none

Document schedule skipImmediately (#8802)
  design/Implemented/schedule-skip-immediately-config_design.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.15/api-types/schedule.md
Labels: Documentation

issue 8803: use deterministic name to create backupRepository
  changelogs/unreleased/8808-Lyndon-Li
  pkg/repository/backup_repo_op.go
  pkg/repository/ensurer.go
  pkg/repository/ensurer_test.go
Labels: has-changelog, has-unit-tests

add third party annotation support for maintenance job
  changelogs/unreleased/8812-Lyndon-Li
  pkg/repository/maintenance/maintenance.go
  pkg/util/velero/velero.go
Labels: has-changelog

Refactor internal/volume package to pkg/volume as some of the structs are exposed via packages within pkg
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  pkg/cmd/util/output/restore_describer.go
  pkg/cmd/util/output/restore_describer_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/persistence/mocks/backup_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/podvolume/mocks/restorer.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_test.go
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/volume/native_snapshot.go
  pkg/volume/snapshotlocation.go
  pkg/volume/utils.go
  pkg/volume/utils_test.go
  pkg/volume/volumes_information.go
  pkg/volume/volumes_information_test.go
  test/util/providers/common.go
Labels: has-unit-tests

Add changelog
  changelogs/unreleased/8817-dippydocus
Labels: has-changelog

Bump the golang.org/x/net to v0.36.0 to fix Restic CVE.
  hack/fix_restic_cve.txt
Labels: none

update readme and implemented design for 1.16
  README.md
  design/Implemented/backup-performance-improvements.md
  design/Implemented/multiple-arch-build-with-windows.md
  design/Implemented/resource-status-restore.md
  design/Implemented/retry-patching-configuration_design.md
  design/Implemented/volume-policy-label-selector-criteria.md
Labels: none

add doc for upgrade to 1.16
  site/content/docs/main/upgrade-to-1.16.md
Labels: Documentation

Fix the non data mover migration failure.
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

Update the VGS B/R workflows
  design/volume-group-snapshot.md
Labels: Area/Design

update itemblock case 3
  design/volume-group-snapshot.md
Labels: Area/Design

remove vgsc open question
  design/volume-group-snapshot.md
Labels: Area/Design

Add design for VolumeGroupSnapshot support
  changelogs/unreleased/8778-shubham-pampattiwar
  design/volume-group-snapshot.md
Labels: Area/Design, has-changelog

delegate cleanup to VGS BIA
  design/volume-group-snapshot.md
Labels: Area/Design

fix typo
  design/volume-group-snapshot.md
Labels: Area/Design

Bump the migration and upgrade E2E test source version.
  test/Makefile
  test/util/velero/velero_utils.go
Labels: none

Update pkg/restore/restore.go
  pkg/restore/restore.go
Labels: none

Update pkg/restore/restore.go
  pkg/restore/restore.go
Labels: none

Fix namespace metadata not being restored with existing-resource-policy
  changelogs/unreleased/7519-namespace-metadata-restore.yaml
  pkg/restore/restore.go
Labels: has-changelog
