Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

Align the E2E upgrade test's CLI and image version.
  test/util/velero/velero_utils.go
Labels: none

Implement review comments from @reasonerjt
  changelogs/unreleased/7519-namespace-metadata-restore.yaml
  pkg/restore/restore.go
Labels: has-changelog

Update the nightly trivy scan targets.
  .github/workflows/nightly-trivy-scan.yml
Labels: none

pin velero image
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  hack/build-image/Dockerfile
Labels: none

update development doc
  site/content/docs/main/development.md
Labels: Documentation

E2E support sets the --item-block-worker-count.
  test/Makefile
  test/e2e/e2e_suite_test.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Implement review comments from @reasonerjt
  changelogs/unreleased/7519-namespace-metadata-restore.yaml
  pkg/restore/restore.go
Labels: has-changelog

hore: bump golangci-lint to v2
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  pkg/controller/data_download_controller_test.go
Labels: has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
