Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

Always create DataUpload configmap in restore namespace
  changelogs/unreleased/8621-sseago
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-changelog

Always create DataUpload configmap in restore namespace
  changelogs/unreleased/8622-sseago
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-changelog

add maintenance wait backoff log
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/test/test_logger.go
Labels: has-unit-tests

[release-1.15.2 CP] Issue #8466: Make velero play nice with minio
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
Labels: has-unit-tests

repo maintenance for windows
  changelogs/unreleased/8626-Lyndon-Li
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/util/velero/velero.go
  pkg/util/velero/velero_test.go
Labels: has-changelog, has-unit-tests

chore: enable context-as-argument from revive
  .golangci.yaml
  pkg/client/retry.go
  pkg/cmd/cli/backup/delete.go
  pkg/cmd/cli/serverstatus/server_status.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/gc_controller.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datamover/backup_micro_service.go
  pkg/datamover/restore_micro_service.go
  pkg/datapath/manager.go
  pkg/datapath/manager_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/restorer.go
  pkg/repository/ensurer.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/restore/actions/dataupload_retrieve_action.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/util/kibishii/kibishii_utils.go
Labels: has-e2e-2tests, has-unit-tests

Add profiler address parameter on node-agent
  changelogs/unreleased/8618-RobKenis
  pkg/cmd/cli/nodeagent/server.go
Labels: has-changelog

Handle update conflict when restoring the status
  changelogs/unreleased/8630-ywk253100
  pkg/restore/restore.go
Labels: has-changelog

Issue #8466: do not add empty s3 backup folder shown on minio, if bucket is versioned.
  pkg/persistence/object_store.go
Labels: none

Issue #8466: do not add empty s3 backup folder shown on minio, if bucket is versioned. Signed-off-by: Christian Jürges <christian.juerges@tamedia.ch>
  pkg/persistence/object_store.go
Labels: none

windows support smoking test
  pkg/install/daemonset.go
Labels: none

chore: enable var-declaration from revive
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  internal/volume/volumes_information.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/backup.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/const.go
  pkg/cmd/test/const.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/restore_controller.go
  pkg/datapath/micro_service_watcher.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/restore/pv_restorer.go
  pkg/util/kube/event.go
  pkg/util/kube/pvc_pv.go
  pkg/util/third_party.go
Labels: has-unit-tests

Clean up leaked CSI snapshot for incomplete backup
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  changelogs/unreleased/8637-raesonerjt
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/util/csi/volume_snapshot.go
Labels: has-changelog, has-unit-tests

Bump golangci-lint from v1.57.2 to v1.63.4
  .github/workflows/pr-codespell.yml
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/delete/actions/csi/volumesnapshot_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

chore: enable early-return and superfluous-else from revive
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  internal/volume/volumes_information.go
  pkg/backup/item_backupper.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/restore_controller.go
  pkg/controller/server_status_request_controller_test.go
  pkg/restore/actions/service_account_action.go
  pkg/uploader/kopia/block_restore.go
  pkg/util/logging/error_location_hook.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/e2e_suite_test.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/util/csi/common.go
  test/util/velero/install.go
Labels: has-e2e-2tests, has-unit-tests

chore: enable var-declaration from revive (#8636)
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  internal/volume/volumes_information.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/backup.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/const.go
  pkg/cmd/test/const.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/restore_controller.go
  pkg/datapath/micro_service_watcher.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/restore/pv_restorer.go
  pkg/util/kube/event.go
  pkg/util/kube/pvc_pv.go
  pkg/util/third_party.go
Labels: has-unit-tests

bump up kopia
  go.mod
  go.sum
Labels: Dependencies

feat(csi): allow setting annotation on StorageClass to determine VolumeSnapshotClass
  pkg/apis/velero/v1/labels_annotations.go
  pkg/backup/actions/csi/pvc_action.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

chore: add changelog
  changelogs/unreleased/8646-cfi2017
Labels: has-changelog

chore: update documentation
  site/content/docs/main/csi.md
Labels: Documentation

Bump the KinD version to v0.26.0 to support containerd v2.
  .github/workflows/e2e-test-kind.yaml
Labels: none

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

e2e: Ignore containerdv2 KinD cluster
  .github/workflows/e2e-test-kind.yaml
Labels: none

fix(tests): use storageClass attribute
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

fix(tests): add storageClass selector test
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

NS included via labelSelector act as IncludedNamespaces
  changelogs/unreleased/8342-kaovilai
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_types.go
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  site/content/docs/main/api-types/backup.md
Labels: Documentation, has-changelog, has-unit-tests

fix(tests): update new test name
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

Add Design for Allowing Instance-Level Resource Status Restore
  changelogs/unreleased/8403-shubham-pampattiwar
  design/resource-status-restore.md
Labels: Area/Design, has-changelog

Design to add label selector as a criteria for volume policy
  changelogs/unreleased/8503-shubham-pampattiwar
  design/volume-policy-label-selector-criteria.md
Labels: Area/Design, has-changelog

Configurable Kopia Maintenance Interval
  changelogs/unreleased/8581-kaovilai
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/repo_options.go
  site/content/docs/main/repository-maintenance.md
Labels: Documentation, has-changelog

Implement parallel ItemBlock processing via backup_controller goroutines
  changelogs/unreleased/8659-sseago
  design/backup-performance-improvements.md
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_block_worker_pool.go
  pkg/backup/itemblock.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/podvolume/snapshot_tracker.go
Labels: Area/Design, has-changelog, has-unit-tests

refactor pod volume context
  pkg/backup/backup.go
  pkg/restore/restore.go
Labels: none

validate `--from-schedule` flag
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
Labels: has-unit-tests

Configurable Kopia Maintenance Interval
  changelogs/unreleased/8581-kaovilai
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/repo_options.go
  site/content/docs/main/repository-maintenance.md
Labels: Documentation, has-changelog

Pass all backupRepoConfig keys to storageVariables, and thus RepoOptions.
  pkg/repository/provider/unified_repo.go
Labels: none

add changelog
  changelogs/unreleased/8665-aj-2000
Labels: has-changelog

rename cancel function
  pkg/backup/backup.go
  pkg/restore/restore.go
Labels: none

refactor code
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
Labels: has-unit-tests

chore: enable increment-decrement from revive
  .golangci.yaml
  pkg/util/csi/volume_snapshot.go
Labels: none

chore: enable unnecessary-stmt from revive
  .golangci.yaml
  internal/resourcemodifiers/strategic_merge_patch.go
  pkg/plugin/framework/common/client_errors.go
Labels: none

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
