Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

added changelog
  changelogs/unreleased/8382-mayankagg9722
Labels: has-changelog

adding tests
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: none

Adding VolumeAttributes validations in resource policy
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_validator.go
Labels: none

adding tests
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: none

adding tests
  internal/resourcepolicies/resource_policies_test.go
Labels: none

added changelog
  changelogs/unreleased/8382-mayankagg9722
Labels: has-changelog

changelog
  changelogs/unreleased/8383-mayankagg9722
Labels: has-changelog

golangci-lint: enable int-conversion and fiximports rule of perfsprint
  .golangci.yaml
  pkg/backup/actions/csi/pvc_action.go
  pkg/cmd/cli/backup/create_test.go
  pkg/label/label.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
Labels: has-e2e-2tests, has-unit-tests

Remove crd-verify-kind action because the e2e-test-kind already cover it.
  .github/workflows/crds-verify-kind.yaml
Labels: none

issue 8394: move closeDataPath outside callbacks
  changelogs/unreleased/8395-Lyndon-Li
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

issue 8391: check ErrCancelled from suffix
  changelogs/unreleased/8396-Lyndon-Li
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
Labels: has-changelog, has-unit-tests

auto-bump-golang
  .github/workflows/auto_bump_golang.yml
Labels: none

Dynamic Kind Versions for e2e
  .github/workflows/e2e-test-kind.yaml
Labels: none

Remove 1.23, 1.24 from matrix
  .github/workflows/e2e-test-kind.yaml
Labels: none

E2E supports VKS data mover environment.
  test/Makefile
  test/e2e/README.md
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Modify other cases to support VKS environment.
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/common.go
Labels: has-e2e-2tests

design spec
  design/Implemented/supporting-volumeattributes-resource-policy.md 
Labels: none

issue 8394: move closeDataPath outside callbacks
  changelogs/unreleased/8402-Lyndon-Li
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

Add go buildinfo to velero to assist with #8397
  changelogs/unreleased/8398-kaovilai
  go.mod
  pkg/buildinfo/buildinfo.go
  pkg/cmd/cli/version/version.go
  pkg/cmd/cli/version/version_test.go
  pkg/cmd/server/server.go
Labels: Dependencies, has-changelog, has-unit-tests

issue 8391: check ErrCancelled from suffix
  changelogs/unreleased/8404-Lyndon-Li
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
Labels: has-changelog, has-unit-tests

lint fixes
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_validator.go
Labels: none

Modify upgrade and migration cases.
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

Remove Ming Qiu from maintainers
  MAINTAINERS.md
  site/content/contributors/02-ming-qiu.md
  site/static/img/contributors/ming-qiu.png
Labels: none

Add reference to netlify in the website
  site/layouts/_default/footer.html
Labels: none

Remove the Emeritus contributors from velero team section
  site/content/contributors/00-dave-smith-uchida.md
  site/content/contributors/05-abigil-mccarthy.md
  site/content/contributors/05-orlin-vasilev.md
  site/static/img/contributors/abigail-mccarthy.png
  site/static/img/contributors/ashish-amarnath.png
  site/static/img/contributors/dave.png
  site/static/img/contributors/eleanor-millman.jpg
  site/static/img/contributors/michael-michael.png
  site/static/img/contributors/nolan-brubaker.png
  site/static/img/contributors/orlin-vasilev.png
  site/static/img/contributors/tim-hinderliter.png
  site/static/img/contributors/tom-spoonemore.png
Labels: none

Added tracking for deleted namespace status check in restore flow (#8233)
  changelogs/unreleased/8233-sangitaray2021
  pkg/controller/restore_controller.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/resource_deletionstatus_tracker.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-changelog, has-unit-tests

Publish boringcrypto image
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Dockerfile
  Makefile
  changelogs/unreleased/8412-kaovilai
  hack/build.sh
  hack/docker-push.sh
  pkg/cmd/cli/version/fips.go
  pkg/cmd/cli/version/version.go
Labels: has-changelog

Modify the StorageClass install and delete code.
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/testdata/storage-class/README.md
  test/testdata/storage-class/aws-legecy.yaml
  test/testdata/storage-class/aws.yaml
  test/testdata/storage-class/azure-legacy.yaml
  test/testdata/storage-class/azure.yaml
  test/testdata/storage-class/gcp-legacy.yaml
  test/testdata/storage-class/gcp.yaml
  test/testdata/storage-class/vanilla-zfs-csi.yaml
  test/testdata/storage-class/vanilla-zfs.yaml
  test/testdata/storage-class/vsphere-legacy.yaml
  test/testdata/storage-class/vsphere.yaml
  test/testdata/volume-snapshot-class/vanilla-zfs.yaml
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

build hybrid image
  Makefile
Labels: none

Revert "Save vvelero image tarball only for velero namespace in docker registry (#5581)"
  Makefile
Labels: none

Revert "Rename secret for Google cloud storage"
  .github/workflows/e2e-test-kind.yaml
  Makefile
Labels: none

Revert "Upload Velero build package saved from build image to Google cloud storage"
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Makefile
  hack/ci/build_util.sh
Labels: none

Add Design for Allowing Instance-Level Resource Status Restore
  changelogs/unreleased/8403-shubham-pampattiwar
  design/resource-status-restore.md
Labels: Area/Design, has-changelog

Add Backup warning for inclusion of NS managed by ArgoCD
  changelogs/unreleased/8257-shubham-pampattiwar
  pkg/backup/backup.go
Labels: has-changelog

Cache module dependencies between container builds
  Dockerfile
Labels: none

doc update
  design/Implemented/supporting-volumeattributes-resource-policy.md 
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: none

doc update
  design/Implemented/supporting-volumeattributes-resource-policy.md 
Labels: none

Modify the schedule cases.
  test/e2e/e2e_suite_test.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: has-e2e-2tests

add huaweicloud as provider
  site/content/docs/main/supported-providers.md
  site/content/docs/v1.15/supported-providers.md
Labels: Documentation

Update internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator.go
Labels: none
