Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

Expose VSC SourceVolumeMode
  changelogs/unreleased/8261-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-changelog, has-unit-tests

fix(pkg/repository/maintenance): don't panic when there's no container statuses
  changelogs/unreleased/8271-mcluseau
  pkg/repository/maintenance.go
Labels: has-changelog

Bump up version of client-go and controller-runtime
  changelogs/unreleased/8275-ywk253100
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  go.mod
  go.sum
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/controller/schedule_controller.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

Expose VSC SourceVolumeMode
  changelogs/unreleased/8280-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-changelog, has-unit-tests

Use '"' rather than '`' in the log to avoid unexpected new line
  pkg/backup/item_collector.go
  pkg/util/csi/volume_snapshot.go
Labels: none

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fix: Clean up golangci-lint config
  .golangci.yaml
  Makefile
  changelogs/unreleased/7194-mateusoliveira43
  hack/lint.sh
  hack/verify-lint-config.sh
  site/content/docs/main/development.md
Labels: Documentation, has-changelog

fixup! fix: Clean up golangci-lint config
  .golangci.yaml
Labels: none

1.15 readme and implemented designs
  README.md
  design/Implemented/backup-pvc-config.md
  design/Implemented/backup-repo-config.md
  design/Implemented/repo_maintenance_job_config.md
  design/Implemented/vgdp-micro-service/vgdp-micro-service.md
  design/Implemented/vgdp-micro-service/vgdp-ms-1.png
  design/Implemented/vgdp-micro-service/vgdp-ms-2.png
  design/Implemented/vgdp-micro-service/vgdp-ms-3.png
  design/Implemented/volume-snapshot-data-movement/backup-sequence.png
  design/Implemented/volume-snapshot-data-movement/backup-workflow.png
  design/Implemented/volume-snapshot-data-movement/cancel-sequence.png
  design/Implemented/volume-snapshot-data-movement/expose-objects.png
  design/Implemented/volume-snapshot-data-movement/restore-sequence.png
  design/Implemented/volume-snapshot-data-movement/restore-workflow.png
  design/Implemented/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: none

only set spec.volumes readonly if PVC is readonly for datamover
  changelogs/unreleased/8284-sseago
  pkg/exposer/csi_snapshot.go
Labels: has-changelog

Add disabled PV re-provisioning by StorageClasses option on restore
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/restore_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/builder/restore_builder.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
  pkg/cmd/util/output/restore_describer.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests

Add PR changelog
  changelogs/unreleased/8287-clcondorcet
Labels: has-changelog

add no-relabeling option to backupPVC configmap
  changelogs/unreleased/8288-sseago
  pkg/exposer/csi_snapshot.go
  pkg/nodeagent/node_agent.go
  site/content/docs/main/data-movement-backup-pvc-configuration.md
Labels: Documentation, has-changelog

Set hinting region to use for GetBucketRegion() in pkg/repository/config/aws.go
  changelogs/unreleased/8297-kaovilai
  pkg/repository/config/aws.go
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-changelog, has-unit-tests

Revert "Expose VSC SourceVolumeMode"
  changelogs/unreleased/8261-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-changelog, has-unit-tests

Revert "Expose VSC SourceVolumeMode"
  changelogs/unreleased/8280-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-changelog, has-unit-tests

Add generated CRD changes.
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
Labels: none

Sketch idea for elapsed data upload time.
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/controller/data_upload_controller.go
Labels: none

Track skipped bytes for throughput display.
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/shared/data_move_operation_progress.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/controller/data_upload_controller.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/types.go
Labels: none

Add DataDownload CRDs and missing SkippedBytes copies.
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/datapath/file_system.go
  pkg/uploader/types.go
Labels: none

Fix the context choosing error after migration case.
  test/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
Labels: has-e2e-2tests

Add Backup warning for inclusion of NS managed by ArgoCD
  changelogs/unreleased/8257-shubham-pampattiwar
  pkg/backup/backup.go
Labels: has-changelog

fixed error message typo for item block action
  pkg/plugin/framework/itemblockaction/v1/item_block_action_server.go
Labels: none

Fix Github action issue
  .github/workflows/push.yml
Labels: none

update
  .github/workflows/push.yml
Labels: none

Fix the issue in pushing image Github action
  .github/workflows/push.yml
Labels: none

bump up kopia for 1.15
  go.mod
  go.sum
Labels: Dependencies

Fix the issue in pushing image Github action
  .github/workflows/push.yml
Labels: none

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fixup! fix: Clean up golangci-lint config
  .golangci.yaml
Labels: none

fixup! fix: Clean up golangci-lint config
  site/content/docs/main/development.md
Labels: Documentation

fix: Clean up golangci-lint config
  .golangci.yaml
  Makefile
  changelogs/unreleased/7194-mateusoliveira43
  hack/lint.sh
  hack/verify-lint-config.sh
  site/content/docs/main/development.md
Labels: Documentation, has-changelog

fixup! fix: Clean up golangci-lint config
  hack/update-1fmt.sh
Labels: none

fixup! fix: Clean up golangci-lint config
  .golangci.yaml
Labels: none

golangci-lint: enable and fix thelper linter
  .golangci.yaml
  internal/restartabletest/restartable_delegate.go
  internal/velero/images_test.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_repository_controller_test.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/restore/restore_test.go
  pkg/test/comparisons.go
  pkg/test/fake_controller_runtime_client.go
  pkg/test/tar_writer.go
Labels: has-unit-tests

Make change to support VKS environment.
  test/testdata/storage-class/vsphere-csi.yaml
  test/testdata/storage-class/vsphere.yaml
  test/types.go
  test/util/velero/install.go
Labels: none

Fix the KIBISHII_DIRECTORY parameter not work for make test-e2e issue.
  test/Makefile
Labels: none

Remove mutiple single quotes from Velero backup.status.validationErrors field
  changelogs/unreleased/8304-shubham-pampattiwar
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-changelog, has-unit-tests

allow inactive docker to build image
  Makefile
Labels: none

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go
