Repository vmware-tanzu/velero, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Design, Area/Plugins, Dependencies, Documentation, has-changelog, has-e2e-2tests, has-unit-tests

.github/labeler.yml:

# This file is used by Auto Label PRs action.
# Works with https://github.com/actions/labeler/
# Below this line, the keys are labels to be applied, and the values are the file globs to match against.
# Anything in the `design` directory gets the `Design` label.
Area/Design:
  - changed-files:
      - any-glob-to-any-file: design/*
# Anything that has plugin infra will be labeled.
# Individual plugins don't necessarily live here, though
Area/Plugins:
  - changed-files:
      - any-glob-to-any-file: pkg/plugins/**/*
Dependencies:
  - changed-files:
      - any-glob-to-any-file: go.mod
Documentation:
  - changed-files:
      - any-glob-to-any-file: site/content/docs/**/*
# Anything in the site directory gets the website label *EXCEPT* docs
Website:
  - all:
      - changed-files:
          - any-glob-to-any-file: site/**/*
          - all-globs-to-all-files: '!site/content/docs/**/*'
has-changelog:
  - changed-files:
      - any-glob-to-any-file: changelogs/**
has-e2e-2tests:
  - changed-files:
      - any-glob-to-any-file: test/e2e/**/*
has-unit-tests:
  - changed-files:
      - any-glob-to-any-file: pkg/**/*_test.go

fix(csi): fix tests
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

chore: enable context-as-argument from revive
  .golangci.yaml
  pkg/client/retry.go
  pkg/controller/backup_repository_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/datapath/manager.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/uploader/provider/kopia.go
  test/util/kibishii/kibishii_utils.go
Labels: has-unit-tests

chore: enable early-return and superfluous-else from revive
  .golangci.yaml
  internal/volume/volumes_information.go
  pkg/backup/item_backupper.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/restore_controller.go
  pkg/controller/server_status_request_controller_test.go
  pkg/restore/actions/service_account_action.go
  pkg/uploader/kopia/block_restore.go
  pkg/util/logging/error_location_hook.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/e2e_suite_test.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/util/csi/common.go
  test/util/velero/install.go
Labels: has-e2e-2tests, has-unit-tests

test commit
  pkg/controller/backup_controller.go
Labels: none

Fix WaitGroup panic issue
  changelogs/unreleased/8679-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
Labels: has-changelog, has-unit-tests

Implement parallel ItemBlock processing via backup_controller goroutines
  changelogs/unreleased/8659-sseago
  design/backup-performance-improvements.md
  pkg/backup/backed_up_items_map.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_block_worker_pool.go
  pkg/backup/item_collector.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/podvolume/snapshot_tracker.go
Labels: Area/Design, has-changelog, has-unit-tests

Allowing Object-Level Resource Status Restore
  changelogs/unreleased/8464-shubham-pampattiwar
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-changelog, has-unit-tests

chore: enable increment-decrement from revive
  .golangci.yaml
  pkg/util/csi/volume_snapshot.go
Labels: none

Fix #8493
  pkg/restore/actions/csi/pvc_action_test.go
Labels: has-unit-tests

addressing comments
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/pvc_action_test.go
Labels: has-unit-tests

Fix WaitGroup panic issue
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  changelogs/unreleased/8680-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
Labels: has-changelog, has-unit-tests

update
  pkg/restore/actions/csi/pvc_action_test.go
Labels: has-unit-tests

adding changelog
  changelogs/unreleased/8675-mayankagg9722
Labels: has-changelog

Don't run maintenance on the ReadOnly BackupRepositories.
  changelogs/unreleased/8681-blackpiglet
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
Labels: has-changelog, has-unit-tests

Add the design of cleaning artifacts generated during CSI B/R
  design/clean_artifacts_in_csi_flow.md
Labels: Area/Design

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

Add docs for object level status restore
  changelogs/unreleased/8693-shubham-pampattiwar
  site/content/docs/main/restore-reference.md
Labels: Documentation, has-changelog

Run backup post hooks inside ItemBlock synchronously
  changelogs/unreleased/8694-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-changelog, has-unit-tests

Modify VS and VSC restore actions.
  internal/volume/volumes_information.go
  pkg/backup/actions/csi/volumesnapshot_action.go
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/controller/restore_finalizer_controller.go
  pkg/restore/actions/csi/volumesnapshot_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/restore/actions/csi/volumesnapshotcontent_action.go
  pkg/restore/actions/csi/volumesnapshotcontent_action_test.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests

Delete VolumeSnapshotContent from the backup sync process.
  pkg/controller/backup_sync_controller.go
Labels: none

Delete VSC after backup completes.
  changelogs/unreleased/8684-blackpiglet
  pkg/backup/actions/csi/volumesnapshot_action.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-changelog, has-unit-tests

Modify CSI related DeleteItemActions.
  internal/delete/actions/csi/volumesnapshot_action.go
  internal/delete/actions/csi/volumesnapshot_action_test.go
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action_test.go
  pkg/cmd/server/plugin/plugin.go
Labels: none

Modify golangci configuration to make it work.
  .golangci.yaml
  changelogs/unreleased/8695-blackpiglet
Labels: has-changelog

Bump golangci-lint from v1.57.2 to v1.63.4
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/delete/actions/csi/volumesnapshot_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: has-e2e-2tests, has-unit-tests

Design to add label selector as a criteria for volume policy
  changelogs/unreleased/8503-shubham-pampattiwar
  design/volume-policy-label-selector-criteria.md
Labels: Area/Design, has-changelog

Bump crash-diagnostics from v0.3.10 to v0.4.0
  go.mod
  go.sum
  pkg/cmd/cli/debug/debug.go
Labels: Dependencies

Upgrade go.mod k8s.io/ go.mod to v0.31.3 and set klog.SetLogger() for client-go (#8450)
  changelogs/unreleased/8450-kaovilai
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  internal/hook/wait_exec_hook_handler.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-changelog, has-unit-tests

Bump kind cli to v0.27.0
  .github/workflows/e2e-test-kind.yaml
Labels: none

e2e: skip more containerdv2 kind images
  .github/workflows/e2e-test-kind.yaml
Labels: none

skipClusterLogsExport: true
  .github/workflows/e2e-test-kind.yaml
Labels: none

Bump crash-diagnostics from v0.3.10 to v0.4.0
  go.mod
  go.sum
  pkg/cmd/cli/debug/debug.go
Labels: Dependencies

Update Makefile to support pushing images to an insecure registry
  Makefile
  changelogs/unreleased/8703-ywk253100
Labels: has-changelog

Modify golangci configuration to make it work.
  .golangci.yaml
  changelogs/unreleased/8695-blackpiglet
Labels: has-changelog

Delete VolumeSnapshotContent from the backup sync process.
  pkg/controller/backup_sync_controller.go
Labels: none

Modify CSI related DeleteItemActions.
  internal/delete/actions/csi/volumesnapshot_action.go
  internal/delete/actions/csi/volumesnapshot_action_test.go
  internal/delete/actions/csi/volumesnapshotcontent_action.go
  internal/delete/actions/csi/volumesnapshotcontent_action_test.go
  pkg/cmd/server/plugin/plugin.go
Labels: none

Delete VSC after backup completes.
  changelogs/unreleased/8684-blackpiglet
  pkg/backup/actions/csi/volumesnapshot_action.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-changelog, has-unit-tests

chore: enable early-return and superfluous-else from revive
  .golangci.yaml
  internal/volume/volumes_information.go
  pkg/backup/item_backupper.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/restore_controller.go
  pkg/controller/server_status_request_controller_test.go
  pkg/restore/actions/service_account_action.go
  pkg/uploader/kopia/block_restore.go
  pkg/util/logging/error_location_hook.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/e2e_suite_test.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/util/csi/common.go
  test/util/velero/install.go
Labels: has-e2e-2tests, has-unit-tests

issue 8706: for immediate volumes, get node from volumeattachment
  pkg/util/kube/pvc_pv.go
Labels: none

Makefile: build-image-hugo: add `--load` for docker-container driver
  Makefile
Labels: none

Copy SecurityContext from Containers[0] if present for PVR
  changelogs/unreleased/8712-sseago
  pkg/restore/actions/pod_volume_restore_action.go
Labels: has-changelog
