Repository vmware-tanzu/velero, pull requests merged in 2018-12, with the labels that each got.

#1106 add back missing link ref
  docs/api-types/backupstoragelocation.md
Labels: Bug, Documentation

#1107 fix indendation of BSL config in docs
  docs/api-types/backupstoragelocation.md
Labels: Bug, Documentation

#234 Add pprof support to ark server
  changelogs/unreleased/234-ncdc
  pkg/cmd/server/server.go
Labels: Enhancement/Dev, P2 - Long-term important

#1120 Fix output of Schedule Delete
  changelogs/unreleased/1120-jwhitcraft
  pkg/cmd/cli/schedule/delete.go
Labels: Bug

#988 Improve directions when location CRDs not deployed
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: Enhancement/User, Size/S
