Repository vmware-tanzu/velero, pull requests merged in 2018-08, with the labels that each got.

#717 Extend doc about synchronization (gh-pages)
  .gitignore
  master/about.md
Labels: Documentation

#718 Extend doc about synchronization
  docs/about.md
Labels: Documentation

#719 Document CRD not found errors
  docs/faq.md
  pkg/cmd/server/server.go
Labels: Documentation

#725 Document CRD prerequisites errors
  master/faq.md
  v0.9.0/faq.md
Labels: Documentation

#723 Document supported object and volume providers
  docs/support-matrix.md
Labels: Documentation

#773 manual fix for broken links on index page
  v0.8.1/README.md
Labels: Documentation

#783 Add DigitalOcean to S3-compatible backup providers
  docs/support-matrix.md
Labels: Documentation

#781 Fix map merging logic
  pkg/restore/merge_service_account.go
  pkg/util/collections/map_utils.go
  pkg/util/collections/map_utils_test.go
Labels: Bug

#774 add an ark bug command
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/cli-reference/ark.md
  docs/cli-reference/ark_bug.md
  docs/issue-template-gen/main.go
  docs/troubleshooting.md
  hack/update-generated-issue-template.sh
  hack/verify-generated-issue-template.sh
  pkg/cmd/ark/ark.go
  pkg/cmd/cli/bug/bug.go
Labels: Enhancement/User

#812 Fix map merging logic
  pkg/restore/merge_service_account.go
  pkg/util/collections/map_utils.go
  pkg/util/collections/map_utils_test.go
Labels: Bug
