Repository vmware-tanzu/velero, pull requests merged in 2018-06, with the labels that each got.

#520 BackupItemActionPlugin: handle nil updatedItem
  pkg/backup/mocks/item_action.go
  pkg/plugin/backup_item_action.go
  pkg/plugin/backup_item_action_test.go
Labels: Bug

#533 ark restic init-repository: use key data if provided
  pkg/cmd/cli/restic/init_repository.go
  pkg/cmd/cli/restic/init_repository_test.go
  pkg/restore/restore_test.go
  pkg/util/filesystem/file_system.go
  pkg/util/test/fake_file_system.go
Labels: Bug

#537 Dockerfile: move restic fetch before ark add so it can be cached
  Dockerfile-ark.alpine
Labels: Tech debt

#534 replace complete-restore.sh with go code
  Dockerfile-ark.alpine
  Makefile
  pkg/controller/pod_volume_restore_controller.go
  restic/complete-restore.sh
Labels: Tech debt

#544 fix typo and whitespace chars in docs
  docs/faq.md
  docs/ibm-config.md
Labels: Documentation

#403 Merge serviceaccounts on restore
  pkg/client/dynamic.go
  pkg/kuberesource/kuberesource.go
  pkg/restore/merge_service_account.go
  pkg/restore/merge_service_account_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/collections/map_utils.go
  pkg/util/collections/map_utils_test.go
  pkg/util/test/fake_dynamic.go
Labels: Bug, P1 - Important

#580 Add omitempty tags to optional API fields
  pkg/apis/ark/v1/backup.go
  pkg/apis/ark/v1/restore.go
Labels: Enhancement/User

#613 Skip reclaim policy Delete PVs without snapshots
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: Bug

#619 Stop restoring mirror pods
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: Bug, Enhancement/User

#620 Ignore more files
  .gitignore
Labels: Enhancement/Dev

#624 Fix k8s slack link in main navigation
  _config.yml
Labels: Documentation

#625 add FAQ about using a bucket per cluster
  docs/faq.md
Labels: Documentation

#626 Don't restore backups or restores
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: Bug, P0 - Hair on fire

#621 update restic doc
  docs/restic.md
  examples/aws/00-ark-config.yaml
  examples/azure/10-ark-config.yaml
  examples/gcp/00-ark-config.yaml
  examples/ibm/00-ark-config.yaml
  examples/minio/10-ark-config.yaml
Labels: Documentation
