Repository vmware-tanzu/velero, pull requests merged in 2018-04, with the labels that each got.

#412 use cobra's arg-count validation & call Complete() before Validate()
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/delete.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/client/config/set.go
  pkg/cmd/cli/plugin/add.go
  pkg/cmd/cli/plugin/remove.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/delete.go
  pkg/cmd/cli/restore/logs.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/cli/schedule/delete.go
  pkg/cmd/server/plugin/plugin.go
Labels: tech debt

#409 get backup name from restore spec when handling restore DownloadRequests
  pkg/cloudprovider/backup_service.go
  pkg/cloudprovider/backup_service_test.go
  pkg/cmd/server/server.go
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
  pkg/util/test/backup_service.go
Labels: bug

#405 Compare for duplicates before logging object exists errors
  Gopkg.lock
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  vendor/k8s.io/apimachinery/pkg/api/equality/semantic.go
Labels: enhancement

#415 add nodeSelector so that ark server doesn't end up on a windows node …
  examples/azure/00-ark-deployment.yaml
Labels: cloudprovider/azure

#419 fix/s3-perms
  docs/aws-config.md
Labels: bug, cloudprovider/aws, documentation

#402 Documentation on using ark with kube2iam
  docs/aws-config.md
  docs/gcp-config.md
  docs/ibm-config.md
  examples/aws/10-deployment-kube2iam.yaml
  examples/aws/10-deployment.yaml
  examples/gcp/10-deployment.yaml
  examples/ibm/10-deployment.yaml
Labels: cloudprovider/aws, documentation

#427 Add examples/common/10-deployment.yaml back
  README.md
  docs/namespace.md
  examples/common/README.md
  examples/minio/20-ark-deployment.yaml
Labels: bug, documentation

#429 GCP: create/use IAM role with minimal set of permissions
  docs/gcp-config.md
Labels: cloudprovider/gcp, documentation

#438 AWS: add missing link ref
  docs/aws-config.md
Labels: bug, cloudprovider/aws, documentation

#442 Remove guidance to run Ark in a separate namespace
  docs/namespace.md
Labels: documentation

#446 add backwards-compatibility for azure snapshot ID
  pkg/cloudprovider/azure/block_store.go
  pkg/cloudprovider/azure/block_store_test.go
Labels: cloudprovider/azure

#449 azure: pass full snapshot name when restoring disk
  pkg/cloudprovider/azure/block_store.go
Labels: cloudprovider/azure

#460 add installation troubleshooting doc with common issues
  docs/debugging-install.md
  docs/troubleshooting.md
Labels: documentation
