Repository vmware-tanzu/velero, pull requests merged in 2018-03, with the labels that each got.

#345 extract GCP project ID from creds file, remove from config
  docs/config-definition.md
  docs/gcp-config.md
  examples/gcp/00-ark-config.yaml
  pkg/cloudprovider/gcp/block_store.go
Labels: enhancement

#348 Use correct namespace for ark server deployment
  README.md
Labels: documentation

#344 Remove Azure location requirement
  docs/azure-config.md
  docs/config-definition.md
  examples/azure/10-ark-config.yaml
  pkg/cloudprovider/azure/block_store.go
Labels: enhancement, p1 - Important

#343 add an AddFunc to handle finalizers in GC for initial lists/resyncs
  pkg/controller/gc_controller.go
  pkg/controller/gc_controller_test.go
Labels: bug, p1 - Important

#356 Azure: store snapshot URI to support cross-resource group restores
  pkg/cloudprovider/azure/block_store.go
  pkg/cloudprovider/azure/block_store_test.go
Labels: bug, cloudprovider/azure

#371 gh-pages: Master/latest updates
  README.md
  _includes/header.html
  _includes/version-warning.html
  _layouts/redirect.html
Labels: documentation

#374 Add events to nonRestorableResources and cohabitatingResources
  docs/debugging-restores.md
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: enhancement

#378 Azure: fix bug preventing snapshot deletion
  pkg/cloudprovider/azure/block_store.go
Labels: bug, cloudprovider/azure

#359 Azure: reduce client polling interval from default 60s to 5s
  pkg/cloudprovider/azure/block_store.go
Labels: cloudprovider/azure, enhancement

#392 Add limitranges to defaultResourcePriorities
  pkg/cmd/server/server.go
Labels: enhancement
