Repository vmware-tanzu/velero, pull requests merged in 2018-05, with the labels that each got.

#472 when syncing backups, set their namespace to current cluster's Ark ns
  pkg/cmd/server/server.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: bug

#476 Dep cleanup
  Gopkg.lock
  Gopkg.toml
  pkg/cloudprovider/gcp/block_store.go
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/uuid.go
Labels: tech debt

#479 add image-tagging policy doc
  docs/image-tagging.md
Labels: documentation

#480 Azure: fix issues with setup instructions on macOS
  docs/azure-config.md
Labels: bug, cloudprovider/azure, documentation

#482 add replicasets and daemonsets to cohabitating resources
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: enhancement, p1 - Important

#485 use new cohabitatingResources map for each backup
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: bug, p1 - Important

#486 Filter on resources that support get & delete
  pkg/discovery/helper.go
  pkg/discovery/helper_test.go
Labels: bug

#483 shutdown gracefully on SIGINT/SIGTERM
  pkg/cmd/server/server.go
  pkg/controller/backup_controller_test.go
  pkg/plugin/manager.go
Labels: enhancement, p1 - Important

#484 Consolidate commonly used GroupResource objects
  pkg/backup/backup_pv_action.go
  pkg/backup/backup_pv_action_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_hook_handler.go
  pkg/backup/pod_action.go
  pkg/backup/pod_action_test.go
  pkg/backup/resource_backupper.go
  pkg/backup/resource_backupper_test.go
  pkg/backup/service_account_action.go
  pkg/backup/service_account_action_test.go
  pkg/kuberesource/kuberesource.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/groupresource.go
Labels: tech debt

#490 Use JSON merge patches everywhere
  Gopkg.lock
  pkg/cmd/cli/plugin/add.go
  pkg/cmd/cli/plugin/remove.go
  pkg/controller/backup_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/schedule_controller.go
  vendor/k8s.io/apimachinery/pkg/util/mergepatch/errors.go
  vendor/k8s.io/apimachinery/pkg/util/mergepatch/util.go
  vendor/k8s.io/apimachinery/pkg/util/strategicpatch/errors.go
  vendor/k8s.io/apimachinery/pkg/util/strategicpatch/meta.go
  vendor/k8s.io/apimachinery/pkg/util/strategicpatch/patch.go
  vendor/k8s.io/apimachinery/pkg/util/strategicpatch/types.go
  vendor/k8s.io/apimachinery/third_party/forked/golang/json/fields.go
  vendor/k8s.io/kube-openapi/LICENSE
  vendor/k8s.io/kube-openapi/pkg/util/proto/doc.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/document.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/openapi.go
Labels: bug

#437 Add library code to install required server components
  Gopkg.lock
  pkg/install/config.go
  pkg/install/crd.go
  pkg/install/deployment.go
  pkg/install/resources.go
  vendor/k8s.io/apiextensions-apiserver/LICENSE
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/helpers.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/register.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types_jsonschema.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/defaults.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/generated.pb.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/marshal.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/register.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.defaults.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/zz_generated.deepcopy.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/scheme/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/scheme/register.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/generated_expansion.go
Labels: Enhancement, P1 - Important

#506 Add functional options for the Ark config install library
  pkg/install/config.go
  pkg/install/deployment.go
Labels: Enhancement

#455 AWS: remove region requirement from config for backupStorageProvider
  docs/aws-config.md
  docs/config-definition.md
  pkg/cloudprovider/aws/object_store.go
  pkg/cmd/server/server.go
Labels: Cloud/AWS, Enhancement

#514 Run post-hooks even if backup actions fail
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
Labels: Bug, P1 - Important

#517 Correct default restorePriorities docs
  docs/config-definition.md
Labels: Documentation

#518 Fix selector syntax in backup example
  README.md
Labels: Bug, Documentation
