Repository vmware-tanzu/velero, pull requests merged in 2019-08, with the labels that each got.

#1727 fix bugs preventing pod volume backups from syncing properly
  pkg/controller/backup_sync_controller.go
Labels: P1 - Important

#1739 bug fix: upload pod volume backups from *all* pods to obj storage
  pkg/backup/item_backupper.go
Labels: Bug, P1 - Important

#1753 Add SEO functionality to the site
  site/Gemfile
  site/_config.yml
  site/_includes/head-docs.html
  site/_includes/head.html
  site/blog.html
  site/community.md
  site/docs/index.md
  site/index.html
  site/resources.md
  site/survey.md
Labels: Website

#1705 draft design doc for cloning PVs while remapping namespaces
  design/pv-cloning.md
Labels: Design

#1760 create pod volume backups in backup's namespace during sync
  pkg/controller/backup_sync_controller.go
Labels: Bug

#1748 Use custom namespace when creating Velero clients
  changelogs/unreleased/1748-nrb
  pkg/client/client.go
  pkg/client/factory.go
  pkg/client/factory_test.go
  pkg/cmd/cli/restic/server.go
  pkg/cmd/server/server.go
  pkg/cmd/velero/velero.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  site/_data/master-toc.yml
  site/docs/master/upgrade-to-1.0.md
  site/docs/master/upgrade-to-1.1.md
Labels: Bug, P1 - Important

#1765 restic backup and restore progress proposal
  design/restic-backup-and-restore-progress.md
Labels: Design

#1759 Feature flag design
  design/feature-flags.md
Labels: Design
