Repository vmware-tanzu/velero, pull requests merged in 2019-10, with the labels that each got.

#1895 Add option for Azure cross subscription backups
  changelogs/unreleased/1895-boxcee
  pkg/cloudprovider/azure/object_store.go
  pkg/cloudprovider/azure/volume_snapshotter.go
  pkg/cloudprovider/azure/volume_snapshotter_test.go
  site/docs/master/api-types/backupstoragelocation.md
  site/docs/master/api-types/volumesnapshotlocation.md
  site/docs/master/azure-config.md
  site/docs/master/locations.md
Labels: Cloud/Azure

#1810 Add support for GKE Workload Identity
  Gopkg.lock
  pkg/cloudprovider/gcp/object_store.go
  pkg/cloudprovider/gcp/volume_snapshotter.go
  pkg/cmd/cli/install/install.go
  pkg/install/deployment.go
  pkg/install/resources.go
  pkg/install/resources_test.go
  site/docs/master/api-types/backupstoragelocation.md
  site/docs/master/gcp-config.md
  vendor/google.golang.org/api/iamcredentials/v1/iamcredentials-gen.go
Labels: Cloud/GCP

#1900 vSphere Tutorials Take #2
  site/_posts/2019-10-08-Velero-v1-1-on-vSphere.md
  site/_posts/2019-10-10-Velero-v1-1-Stateful-Backup-vSphere.md
  site/img/contributors/cormac-pic.png
  site/img/posts/cassandra.gif
  site/img/posts/vsphere-logo.jpg
  site/img/vsphere-tutorial-icons/Minio.png
  site/img/vsphere-tutorial-icons/minio-nginx-backup.png
  site/img/vsphere-tutorial-icons/nginx-restore-new-ip.png
  site/img/vsphere-tutorial-icons/nginx.png
Labels: Website

#1938 Azure china/germany support
  changelogs/unreleased/1938-andyzhangx
  pkg/cloudprovider/azure/common.go
  pkg/cloudprovider/azure/object_store.go
  pkg/cloudprovider/azure/volume_snapshotter.go
  site/docs/master/azure-config.md
Labels: Cloud/Azure

#1969 Add blog and date to the post urls
  site/Gemfile.lock
  site/_config.yml
  site/_layouts/redirect.html
  site/_posts/2019-04-09-Velero-is-an-Open-Source-Tool-to-Back-up-and-Migrate-Kubernetes-Clusters.md
  site/_posts/2019-05-20-velero-1.0-has-arrived.md
  site/_posts/2019-08-22-announcing-velero-1.1.md
  site/_posts/2019-10-01-announcing-gh-move.md
  site/_posts/2019-10-08-Velero-v1-1-on-vSphere.md
  site/_posts/2019-10-10-Velero-v1-1-Stateful-Backup-vSphere.md
Labels: Website
