Repository vmware-tanzu/velero, pull requests merged in 2019-09, with the labels that each got.

#1829 hpe velero plugin support
  site/docs/master/support-matrix.md
  site/docs/v1.1.0/support-matrix.md
Labels: Documentation

#1800 Add script for pushing container images via Travis
  .travis.yml
  Makefile
  hack/gcr-push.sh
  heptio-images-fac92d2303ac.json.enc
Labels: CI/CD

#1875 proposal for generating Velero CRDs with structural schema
  design/generating-velero-crds-with-structural-schema.md
Labels: Design
