Repository vmware-tanzu/velero, pull requests merged in 2019-02, with the labels that each got.

#1171 use restic stats instead of check to check repo existence
  pkg/controller/restic_repository_controller.go
  pkg/restic/command_factory.go
  pkg/restic/command_factory_test.go
  pkg/restic/repository_manager.go
Labels: Bug, Performance

#1200 Fix restoring GCP regional disks
  changelogs/unreleased/1200-nrb
  docs/gcp-config.md
  pkg/cloudprovider/gcp/block_store.go
Labels: Bug

#1146 replace ark's map_utils.go with structured types and apimachinery's unstructured helpers
  pkg/backup/pod_action.go
  pkg/cloudprovider/aws/block_store.go
  pkg/cloudprovider/aws/block_store_test.go
  pkg/cloudprovider/azure/block_store.go
  pkg/cloudprovider/azure/block_store_test.go
  pkg/cloudprovider/gcp/block_store.go
  pkg/cloudprovider/gcp/block_store_test.go
  pkg/controller/restore_controller_test.go
  pkg/controller/schedule_controller_test.go
  pkg/podexec/pod_command_executor.go
  pkg/podexec/pod_command_executor_test.go
  pkg/restore/job_action.go
  pkg/restore/job_action_test.go
  pkg/restore/merge_service_account.go
  pkg/restore/merge_service_account_test.go
  pkg/restore/pod_action.go
  pkg/restore/pod_action_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
  pkg/util/collections/map_utils.go
  pkg/util/collections/map_utils_test.go
Labels: Tech debt
