Repository vmware-tanzu/velero, pull requests merged in 2020-08, with the labels that each got.

#2786 update CI badge on README
  README.md
Labels: changelog-not-required

#2791 Reverting change on 1.4 docs and re-applying to main docs
  site/docs/main/build-from-source.md
  site/docs/v1.4/build-from-source.md
Labels: Documentation

#2796 Always use groupResource.String() when logging (fixes #2795)
  changelogs/unreleased/2796-bgagnon
  pkg/backup/item_backupper.go
Labels: Bug

#2771 Add resource filtering page
  site/_data/main-toc.yml
  site/_data/v1-4-toc.yml
  site/docs/main/resource-filtering.md
  site/docs/v1.4/resource-filtering.md
Labels: changelog-not-required

#2799 Update minio.md
  site/docs/main/contributions/minio.md
Labels: Documentation, changelog-not-required

#2772 update docs to include cpu/memory defaults for restic
  site/docs/main/customize-installation.md
  site/docs/main/restic.md
  site/docs/v1.4/customize-installation.md
  site/docs/v1.4/restic.md
Labels: Documentation, changelog-not-required

#2793 🐛 Make init and exec restore hooks omitempty in restore hookSpec
  changelogs/unreleased/2793-ashish-amarnath
  config/crd/bases/velero.io_restores.yaml
  config/crd/crds/crds.go
  pkg/apis/velero/v1/restore.go
Labels: Restore Hooks

#2787 ✨ Implement restore hooks injecting init containers into pod spec
  changelogs/unreleased/2787-ashish-amarnath
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  pkg/backup/backup.go
  pkg/builder/container_builder.go
  pkg/builder/pod_builder.go
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/init_restorehook_pod_action.go
  pkg/restore/init_restorehook_pod_action_test.go
Labels: Restore Hooks

#2805 🏃‍♂️ Setup crd validation github action on k8s versions
  .github/workflows/crds-verify-k8s-1-16-9.yaml
  .github/workflows/crds-verify-k8s-1-17-0.yaml
  .github/workflows/crds-verify-k8s-1-18-4.yaml
  changelogs/unreleased/2805-ashish-amarnath
Labels: CI/CD

#2807 Use pull_request_target event to auto-assign reviewers
  .github/workflows/auto_assign_prs.yml
Labels: CI/CD, changelog-not-required

#2813 Add an auto-rebase workflow
  .github/workflows/rebase.yml
Labels: changelog-not-required

#2713 Add design doc for DeletionAction plugins
  design/delete-item-action.md
  design/deletion-plugins.md
Labels: Design

#2806 add note about windows support
  site/docs/main/basic-install.md
  site/docs/v1.4/basic-install.md
Labels: Documentation, changelog-not-required

#2736 Improve and clarify cmd help documentation, flags, and examples
  go.sum
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/delete.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/get.go
  pkg/cmd/cli/completion/completion.go
  pkg/cmd/cli/delete_options.go
  pkg/cmd/cli/plugin/add.go
  pkg/cmd/cli/plugin/get.go
  pkg/cmd/cli/restic/repo/get.go
  pkg/cmd/cli/restic/server.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/delete.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/restore/get.go
  pkg/cmd/cli/restore/logs.go
  pkg/cmd/cli/schedule/delete.go
  pkg/cmd/cli/schedule/describe.go
  pkg/cmd/cli/schedule/get.go
  pkg/cmd/cli/snapshotlocation/create.go
  pkg/cmd/cli/version/version.go
  pkg/cmd/server/server.go
Labels: Area/CLI, changelog-not-required

#2699 Create restore-hooks_product-requirements.md
  restore-hooks_product-requirements.md
Labels: Product Requirements, Restore Hooks, changelog-not-required

#2816 Checkout code on builder image workflow
  .github/workflows/push-builder.yml
Labels: Bug, CI/CD, changelog-not-required

#2832 docs: add metadata to resource-filtering.md
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.4/resource-filtering.md
Labels: Documentation

#2828 📖 update default-volumes-to-restic exclusion list
  site/content/docs/main/restic.md
Labels: Documentation, changelog-not-required

#2817 doc: fix feature flag EnableCSI on velero backup describe command only
  site/content/docs/main/csi.md
  site/content/docs/v1.4/csi.md
Labels: Documentation

#2827 update image link in readme
  README.md
Labels: Documentation, Easy Pickings, changelog-not-required

#2797 Create Velero security policy
  securitypolicy.md
Labels: Documentation, On Hold, Security

#2808 Implement DeleteItemAction plugin support
  changelogs/unreleased/2808-nrb
  pkg/plugin/clientmgmt/manager.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/plugin/clientmgmt/restartable_delete_item_action.go
  pkg/plugin/clientmgmt/restartable_delete_item_action_test.go
  pkg/plugin/framework/delete_item_action.go
  pkg/plugin/framework/delete_item_action_client.go
  pkg/plugin/framework/delete_item_action_server.go
  pkg/plugin/framework/examples_test.go
  pkg/plugin/framework/plugin_kinds.go
  pkg/plugin/framework/server.go
  pkg/plugin/generated/BackupItemAction.pb.go
  pkg/plugin/generated/DeleteItemAction.pb.go
  pkg/plugin/generated/ObjectStore.pb.go
  pkg/plugin/generated/PluginLister.pb.go
  pkg/plugin/generated/RestoreItemAction.pb.go
  pkg/plugin/generated/Shared.pb.go
  pkg/plugin/generated/VolumeSnapshotter.pb.go
  pkg/plugin/mocks/manager.go
  pkg/plugin/proto/DeleteItemAction.proto
  pkg/plugin/velero/delete_item_action.go
  pkg/plugin/velero/mocks/DeleteItemAction.go
Labels: Enhancement/Dev, P1 - Important, Plugins

#2843 Update the number of reviewers for PRs/add Bridget
  .github/auto_assign.yml
Labels: CI/CD, changelog-not-required

#2842 🏃‍♂️ remove go mod download from Dockerfile for build speedup
  Dockerfile
Labels: changelog-not-required

#2839 add index files to api types folder
  site/content/docs/main/_index.md
  site/content/docs/main/api-types/_index.md
  site/content/docs/v1.3.2/_index.md
  site/content/docs/v1.3.2/api-types/_index.md
  site/content/docs/v1.4/_index.md
  site/content/docs/v1.4/api-types/_index.md
Labels: Website

#2815 Invoke DeleteItemActions on backup deletion
  changelogs/unreleased/2815-nrb
  internal/delete/delete_item_action_handler.go
  internal/delete/delete_item_action_handler_test.go
  pkg/archive/filesystem.go
  pkg/archive/filesystem_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/plugin/clientmgmt/client_builder.go
  pkg/plugin/clientmgmt/client_builder_test.go
  pkg/plugin/framework/delete_item_action_server.go
  pkg/plugin/framework/server.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/tar_writer.go
  pkg/util/collections/includes_excludes.go
  site/content/docs/main/custom-plugins.md
Labels: Enhancement/User, P1 - Important

#2848 Better BSL cli variable names, for consistency
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/get.go
Labels: changelog-not-required

#2861 update docs to match style guide
  site/content/docs/main/api-types/_index.md
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/basic-install.md
  site/content/docs/main/build-from-source.md
  site/content/docs/main/contributions/ibm-config.md
  site/content/docs/main/contributions/minio.md
  site/content/docs/main/contributions/oracle-config.md
  site/content/docs/main/csi.md
  site/content/docs/main/custom-plugins.md
  site/content/docs/main/debugging-install.md
  site/content/docs/main/debugging-restores.md
  site/content/docs/main/hooks.md
  site/content/docs/main/how-velero-works.md
  site/content/docs/main/image-tagging.md
  site/content/docs/main/locations.md
  site/content/docs/main/migration-case.md
  site/content/docs/main/on-premises.md
  site/content/docs/main/output-file-format.md
  site/content/docs/main/restic.md
  site/content/docs/main/self-signed-certificates.md
  site/content/docs/main/start-contributing.md
  site/content/docs/main/supported-providers.md
  site/content/docs/main/troubleshooting.md
  site/content/docs/main/website-guidelines.md
  site/content/docs/main/zenhub.md
Labels: Documentation

#2837 Update release checklist to include more info around blog posts and r…
  site/content/docs/main/release-instructions.md
Labels: Documentation

#2854 📖 update documentation to push container images using docker buildx
  site/content/docs/main/build-from-source.md
  site/content/docs/v1.5-pre/build-from-source.md
Labels: Documentation

#2865 add new table shortcode
  site/content/docs/main/api-types/backupstoragelocation.md
  site/content/docs/main/api-types/volumesnapshotlocation.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/style-guide.md
  site/content/docs/main/supported-providers.md
  site/content/docs/main/website-guidelines.md
  site/content/docs/v1.4/api-types/backupstoragelocation.md
  site/content/docs/v1.4/api-types/volumesnapshotlocation.md
  site/content/docs/v1.4/customize-installation.md
  site/content/docs/v1.4/supported-providers.md
  site/layouts/shortcodes/table.html
Labels: Documentation

#2866 add hugo default TOC
  site/content/docs/main/_index.md
  site/content/docs/main/basic-install.md
  site/content/docs/main/contributions/minio.md
  site/content/docs/main/csi.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/debugging-restores.md
  site/content/docs/main/examples.md
  site/content/docs/main/locations.md
  site/content/docs/main/namespace.md
  site/content/docs/main/restore-reference.md
  site/content/docs/main/start-contributing.md
  site/content/docs/main/troubleshooting.md
  site/content/docs/v1.4/_index.md
  site/content/docs/v1.4/basic-install.md
  site/content/docs/v1.4/contributions/minio.md
  site/content/docs/v1.4/csi.md
  site/content/docs/v1.4/customize-installation.md
  site/content/docs/v1.4/debugging-restores.md
  site/content/docs/v1.4/examples.md
  site/content/docs/v1.4/locations.md
  site/content/docs/v1.4/namespace.md
  site/content/docs/v1.4/restore-reference.md
  site/content/docs/v1.4/start-contributing.md
  site/content/docs/v1.4/troubleshooting.md
  site/layouts/docs/docs.html
Labels: Documentation, changelog-not-required

#2879 Rename security policy file to show up accurately in the GitHub UI
  SECURITY.md
Labels: changelog-not-required
