Repository vmware-tanzu/velero, pull requests merged in 2020-04, with the labels that each got.

#2401 Update prerequisites for CSI driver name for cross cluster restore
  site/docs/master/csi.md
  site/docs/v1.3.0/csi.md
  site/docs/v1.3.1/csi.md
  site/docs/v1.3.2/csi.md
Labels: CSI, Documentation

#2390 bug fix: save PVBs even if no snapshot was taken
  changelogs/unreleased/2390-skriss
  pkg/restic/backupper.go
  pkg/restore/restore.go
Labels: Bug

#2406 update 3rd party controllers for v1.3.2 restic docs
  site/docs/v1.3.2/restic.md
Labels: Documentation

#2202 Initial redesign of CLI commands
  design/CLI/PoC/base/CRDs.yaml
  design/CLI/PoC/base/backupstoragelocations.yaml
  design/CLI/PoC/base/deployment.yaml
  design/CLI/PoC/base/kustomization.yaml
  design/CLI/PoC/base/minio.yaml
  design/CLI/PoC/base/podvolumes.yaml
  design/CLI/PoC/base/resticrepository.yaml
  design/CLI/PoC/base/volumesnapshotlocations.yaml
  design/CLI/PoC/overlays/plugins/aws-plugin.yaml
  design/CLI/PoC/overlays/plugins/azure-plugin.yaml
  design/CLI/PoC/overlays/plugins/cloud
  design/CLI/PoC/overlays/plugins/kustomization.yaml
  design/CLI/PoC/overlays/plugins/restic.yaml
  design/cli-install-changes.md
Labels: Design

#2431 Annotate backups with kubernetes version information
  changelogs/unreleased/2346-brito-rafa
  pkg/apis/velero/v1/labels_annotations.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: Bug

#2436 Add documentation for file format versioning
  site/docs/master/output-file-format.md
Labels: Documentation

#2439 change dynamic client's List return type to UnstructuredList
  pkg/backup/resource_backupper.go
  pkg/client/dynamic.go
  pkg/test/fake_dynamic.go
Labels: Tech debt

#2323 Upload CSI snapshot information to object storage
  changelogs/unreleased/2323-nrb
  go.mod
  go.sum
  pkg/apis/velero/v1/constants.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
Labels: CSI

#2456 Add Stephanie Bauman as new PM to the main page
  site/_contributors/05-michael-michael.md
  site/_contributors/05-stephanie-bauman.md
  site/img/contributors/stephanie-bauman.png
Labels: Website

#2470 Add documentation for --cacert feature
  site/_data/master-toc.yml
  site/docs/master/api-types/backupstoragelocation.md
  site/docs/master/customize-installation.md
  site/docs/master/self-signed-certificates.md
Labels: Documentation

#2469 Update csi docs with implementation choices and known issues
  site/docs/master/csi.md
  site/docs/v1.3.2/csi.md
Labels: Documentation
