Repository vmware-tanzu/velero, pull requests merged in 2020-09, with the labels that each got.

#2882 fix EnableAPIGroupersions output log format
  changelogs/unreleased/2882-jenting
  pkg/discovery/helper.go
Labels: Easy Pickings

#2875 Fix git commands and add dry run mode as default to the tag-release.sh script.
  hack/release-tools/tag-release.sh
  site/content/docs/main/release-instructions.md
Labels: P1 - Important, changelog-not-required, release-blocker

#2838 Migrate ServerStatusRequest controller and resource to kubebuilder
  changelogs/unreleased/2838-carlisia
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/crds/crds.go
  config/rbac/role.yaml
  config/samples/velero_v1_serverstatusrequest.yaml
  go.mod
  go.sum
  internal/velero/serverstatusrequest.go
  internal/velero/serverstatusrequest_test.go
  pkg/apis/velero/v1/server_status_request_types.go
  pkg/builder/server_status_request_builder.go
  pkg/cmd/cli/plugin/get.go
  pkg/cmd/cli/serverstatus/server_status.go
  pkg/cmd/cli/version/version.go
  pkg/cmd/cli/version/version_test.go
  pkg/cmd/server/server.go
  pkg/controller/server_status_request_controller.go
  pkg/controller/server_status_request_controller_test.go
  pkg/serverstatusrequest/process.go
Labels: P1 - Important, release-blocker

#2855 📖 update restore api types with init container restorehooks
  site/content/docs/main/api-types/restore.md
  site/content/docs/v1.5-pre/api-types/restore.md
Labels: Documentation, P2 - Long-term important, release-blocker

#2870 Refactor BSL related code
  go.mod
  go.sum
  internal/storage/storagelocation.go
  internal/storage/storagelocation_test.go
  internal/velero/storagelocation_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backupstoragelocation_controller.go
  pkg/controller/backupstoragelocation_controller_test.go
Labels: P1 - Important, changelog-not-required, release-blocker

#2895 Fix for docs redirects
  site/config.yaml
  site/layouts/_default/baseof.html
  site/layouts/docs/docs.html
  site/layouts/index.redirects
  site/layouts/partials/head-docs.html
Labels: P1 - Important, Website

#2804 Restore hooks exec
  changelogs/unreleased/2804-areed
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/builder/object_meta.go
  pkg/builder/pod_builder.go
  pkg/cmd/server/server.go
  pkg/restore/restore.go
Labels: P1 - Important, Restore Hooks, release-blocker

#2862 📖 add restore hooks doc
  site/content/docs/main/backup-hooks.md
  site/content/docs/main/how-velero-works.md
  site/content/docs/main/restore-hooks.md
  site/content/docs/v1.5-pre/backup-hooks.md
  site/content/docs/v1.5-pre/how-velero-works.md
  site/content/docs/v1.5-pre/restore-hooks.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-5-pre-toc.yml
Labels: Documentation, P2 - Long-term important, release-blocker

#2915 Update links to point to main branch
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS.md
  ROADMAP.md
  SUPPORT.md
  site/layouts/partials/contributors.html
Labels: Documentation, changelog-not-required

#2896 Restore exec hooks doc
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/restore-hooks.md
  site/content/docs/v1.5.0-rc.1/api-types/restore.md
  site/content/docs/v1.5.0-rc.1/restore-hooks.md
Labels: Documentation, P2 - Long-term important, Restore Hooks

#2926 🐛 fix 1.5 upgrade insturctions
  site/content/docs/v1.5.0-rc.1/upgrade-to-1.5.md
Labels: Documentation

#2917 📖 Fixing typos and markdown formatting
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.4/csi.md
  site/content/docs/v1.4/resource-filtering.md
  site/content/docs/v1.5.0-rc.1/resource-filtering.md
Labels: Documentation, Easy Pickings

#2929 Remove "exec restore hooks coming soon" line
  site/content/docs/main/restore-hooks.md
  site/content/docs/v1.5.0-rc.1/restore-hooks.md
Labels: Documentation, changelog-not-required

#2930 Update upgrading instructions to right version
  site/content/docs/main/upgrade-to-1.5.md
  site/content/docs/v1.5.0-rc.1/upgrade-to-1.5.md
Labels: Documentation

#2932 Documentation for maintainers
  site/content/docs/main/code-standards.md
  site/content/docs/main/maintainers.md
  site/content/docs/v1.5.0-rc.1/code-standards.md
  site/content/docs/v1.5.0-rc.1/maintainers.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-5-0-rc-1-toc.yml
Labels: Documentation

#2933 Fix url
  site/content/docs/main/maintainers.md
  site/content/docs/v1.5.0-rc.1/maintainers.md
Labels: Documentation

#2931 Spruce up release instructions and release scripts
  Makefile
  hack/release-tools/brew-update.sh
  hack/release-tools/changelog.sh
  hack/release-tools/chk_version.go
  hack/release-tools/gen-docs.sh
  hack/release-tools/goreleaser.sh
  hack/release-tools/tag-release.sh
  site/content/docs/main/release-instructions.md
  site/content/docs/v1.5.0-rc.1/release-instructions.md
Labels: Documentation

#2940 v1.5 blog post
  netlify.toml
  site/content/_index.md
  site/content/posts/2020-09-16-Velero-1.5-For-And-By-Community.md
  site/static/img/posts/post-1.5.jpg
Labels: Website

#2947 Fix 'subcommand required' error w/ cobra upgrade
  changelogs/unreleased/2947-nrb
  go.mod
  go.sum
Labels: Bug

#2962 Add Velero Office Hours info to the community page
  site/content/community/_index.md
Labels: changelog-not-required

#2953 Don't attempt to publish docker images on forks
  .github/workflows/push-builder.yml
  .github/workflows/push.yml
Labels: CI/CD, changelog-not-required

#2954 Improve release docs following v1.5.1 release
  Makefile
  site/content/docs/main/release-instructions.md
  site/content/docs/v1.5/release-instructions.md
Labels: Documentation, changelog-not-required

#2950 Allow remote for release process to be configured
  hack/release-tools/tag-release.sh
  site/content/docs/main/release-instructions.md
Labels: changelog-not-required
