Repository vmware-tanzu/velero, pull requests merged in 2020-06, with the labels that each got.

#2594 Add emoji support for the website
  site/Gemfile
  site/Gemfile.lock
  site/_config.yml
Labels: Website

#2608 docs: move vSphere plugin into velero-supported section
  site/_plugin-list/01-vsphere.md
  site/docs/master/supported-providers.md
  site/docs/v1.4/supported-providers.md
Labels: Documentation, Website

#2610 Log when a hook timeout duration can't be parsed
  changelogs/unreleased/2610-nrb
  pkg/backup/item_hook_handler.go
  pkg/backup/item_hook_handler_test.go
Labels: Bug, Enhancement/User

#2629 Update basic-install.md: Add windows cli installation option via chocolatey
  changelogs/unreleased/2629-adamrushuk
  site/docs/master/basic-install.md
  site/docs/v1.4/basic-install.md
Labels: Documentation

#2639 🏃‍♂️ remove stray html tags
  site/resources.md
Labels: changelog-not-required

#2641 🏃‍♂️ pass git state to build from makefile
  Makefile
  hack/build.sh
Labels: changelog-not-required

#2640 🏃‍♂️ allow ignoring missing changelog
  .github/workflows/pr-changelog-check.yml
  site/docs/master/code-standards.md
Labels: changelog-not-required

#2642 remove skriss as maintainer, add nrb as tech lead
  MAINTAINERS.md
  site/_contributors/01-nolan-brubaker.md
  site/_contributors/01-steve-kriss.md
  site/img/contributors/steve-kriss.png
Labels: Website, changelog-not-required

#2635 add a supported provider: Storj object storage
  changelogs/unreleased/2635-jessicagreben
  site/_plugin-list/05-storj.md
  site/docs/master/supported-providers.md
  site/docs/v1.4/supported-providers.md
Labels: Website

#2638 Update basic-install and release-instructions documentation
  changelogs/unreleased/2638-adamrushuk
  site/docs/master/basic-install.md
  site/docs/master/release-instructions.md
  site/docs/v1.4/basic-install.md
Labels: Documentation

#2655 Add header info + fix broken tags
  site/docs/master/code-standards.md
  site/docs/v1.2.0/code-standards.md
  site/docs/v1.3.0/code-standards.md
  site/docs/v1.4/code-standards.md
Labels: Documentation, changelog-not-required

#2636 📖 Move CSI plugin out of prototype
  changelogs/unreleased/2636-ashish-amarnath
  site/_includes/plugins.html
  site/_plugin-list/10-container-storage-interface.md
  site/docs/master/supported-providers.md
  site/docs/v1.4/supported-providers.md
Labels: Documentation, Easy Pickings, Website

#2659 Add RBAC page to table of contents
  site/_data/master-toc.yml
  site/_data/v1-4-toc.yml
Labels: Documentation, changelog-not-required
