Repository vmware-tanzu/velero, pull requests merged in 2020-01, with the labels that each got.

#2183 Add M2 as a team member on the site
  site/_contributors/05-michael-michael.md
  site/_contributors/05-tom-spoonemore.md
  site/img/contributors/michael-michael.png
Labels: Website

#2199 Restrict file permissions for config file/dir
  pkg/client/config.go
Labels: Security

#2222 Fix website image sizes
  site/img/contributors/ashish-amarnath.png
  site/img/contributors/carlisia-campos.png
  site/img/contributors/cormac-pic.png
  site/img/posts/sailboat.jpg
Labels: Website

#2197 Fix restore issues for CRD v1 on Kubernetes v1.16 clusters
  changelogs/unreleased/2197-nrb
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/crd_v1_preserve_unknown_fields_action.go
  pkg/restore/restore.go
Labels: Backport candidate

#1937 Wait for CRDs to be ready before restoring CRs
  changelogs/unreleased/1937-nrb
  pkg/builder/customresourcedefinition_builder.go
  pkg/cmd/server/server.go
  pkg/install/install.go
  pkg/kuberesource/kuberesource.go
  pkg/restore/restore.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: Backport candidate
