Repository vmware-tanzu/velero, pull requests merged in 2020-12, with the labels that each got.

#3101 Organize design docs
  design/Implemented/backup-resource-list.md
  design/Implemented/backup-resources-order.md
  design/Implemented/csi-snapshots.md
  design/Implemented/custom-ca-support.md
  design/Implemented/delete-item-action.md
  design/Implemented/deletion-plugins.md
  design/Implemented/feature-flags.md
  design/Implemented/generating-velero-crds-with-structural-schema.md
  design/Implemented/move-gh-org.md
  design/Implemented/move-plugin-repos.md
  design/Implemented/plugin-backup-and-restore-progress-design.md
  design/Implemented/pv-cloning.md
  design/Implemented/restic-backup-and-restore-progress.md
  design/Implemented/restore-hooks.md
Labels: changelog-not-required

#3102 Expand maintainer documentation
  site/content/docs/main/maintainers.md
  site/content/docs/v1.5/maintainers.md
Labels: Documentation

#3084 🐛 BSLs with validation disabled should be validated at least once
  changelogs/unreleased/3084-ashish-amarnath
  internal/storage/storagelocation.go
  internal/storage/storagelocation_test.go
  pkg/controller/backup_storage_location_controller_test.go
Labels: Bug

#3119 Add Tilt configs
  .gitignore
  Tiltfile
  go.sum
  hack/build.sh
  site/content/docs/main/tilt.md
  site/content/docs/v1.5/tilt.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-5-toc.yml
  tilt-resources/examples/cloud
  tilt-resources/examples/deployment.yaml
  tilt-resources/examples/restic.yaml
  tilt-resources/examples/tilt-settings.json
  tilt-resources/kustomization.yaml
Labels: Documentation, Enhancement/Dev

#3050 Draft design doc for restoring API group version by priority level
  design/restore-with-EnableAPIGroupVersions-feature.md
Labels: Design

#3166 Change distro
  Tiltfile
Labels: changelog-not-required

#3163 Use new repository-local board & github secret
  .github/workflows/opened-issues-triage.yml
Labels: changelog-not-required

#3162 Add milestoned issues to their respective board
  .github/workflows/milestoned-issues.yml
Labels: changelog-not-required

#3170 Revert workflow access token changes
  .github/workflows/milestoned-issues.yml
  .github/workflows/opened-issues-triage.yml
Labels: changelog-not-required

#3111 ✨ Add more E2E tests and improvement
  Makefile
  hack/test.sh
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/aws_test.go
  test/e2e/azure_test.go
  test/e2e/backup_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/kibishii_tests.go
  test/e2e/kibishii_utils.go
  test/e2e/kind_test.go
  test/e2e/velero_utils.go
Labels: changelog-not-required

#3114 doc: Use inline markdown links in tables
  site/content/docs/main/api-types/backupstoragelocation.md
  site/content/docs/main/api-types/volumesnapshotlocation.md
  site/content/docs/v1.5/api-types/backupstoragelocation.md
  site/content/docs/v1.5/api-types/volumesnapshotlocation.md
  site/layouts/shortcodes/table.html
Labels: Documentation, changelog-not-required

#3174 Ignore config/crd/crds/crds.go file in codespell
  .github/workflows/pr-codespell.yml
Labels: CI/CD, changelog-not-required

#3115 Tencent S3 Compatible Support Docs
  site/content/docs/main/contributions/img-for-tencent/15ccaacf00640a04ae29ceed4c86195b.png
  site/content/docs/main/contributions/img-for-tencent/1d53b0115644d43657c2a5ece805c9b4.png
  site/content/docs/main/contributions/img-for-tencent/69194157ccd5e377d1e7d914fd8c0336.png
  site/content/docs/main/contributions/img-for-tencent/9015313121ed7987558c88081b052574.png
  site/content/docs/main/contributions/img-for-tencent/ceaca9ce6bc92bdce987c63d2fe71561.png
  site/content/docs/main/contributions/img-for-tencent/e8c2ab4e5e31d1370c62fad25059a8a8.png
  site/content/docs/main/contributions/img-for-tencent/e932223585c0b19891cc085ad7f438e1.png
  site/content/docs/main/contributions/img-for-tencent/eb2bbabae48b188748f5278bedf177f1.png
  site/content/docs/main/contributions/img-for-tencent/effe8a0a7ce3aa8e422db00bfdddc375.png
  site/content/docs/main/contributions/img-for-tencent/f0fff5228527edc72d6e71a50d5dc966.png
  site/content/docs/main/contributions/tencent-config.md
  site/content/docs/main/supported-providers.md
  site/content/docs/v1.5/contributions/img-for-tencent/15ccaacf00640a04ae29ceed4c86195b.png
  site/content/docs/v1.5/contributions/img-for-tencent/1d53b0115644d43657c2a5ece805c9b4.png
  site/content/docs/v1.5/contributions/img-for-tencent/69194157ccd5e377d1e7d914fd8c0336.png
  site/content/docs/v1.5/contributions/img-for-tencent/9015313121ed7987558c88081b052574.png
  site/content/docs/v1.5/contributions/img-for-tencent/ceaca9ce6bc92bdce987c63d2fe71561.png
  site/content/docs/v1.5/contributions/img-for-tencent/e8c2ab4e5e31d1370c62fad25059a8a8.png
  site/content/docs/v1.5/contributions/img-for-tencent/e932223585c0b19891cc085ad7f438e1.png
  site/content/docs/v1.5/contributions/img-for-tencent/eb2bbabae48b188748f5278bedf177f1.png
  site/content/docs/v1.5/contributions/img-for-tencent/effe8a0a7ce3aa8e422db00bfdddc375.png
  site/content/docs/v1.5/contributions/img-for-tencent/f0fff5228527edc72d6e71a50d5dc966.png
  site/content/docs/v1.5/contributions/tencent-config.md
  site/content/docs/v1.5/supported-providers.md
Labels: Documentation

#3185 Fix path to crds.go file in codespell config
  .github/workflows/pr-codespell.yml
Labels: CI/CD, changelog-not-required

#3188 Nominate JenTing Hsiao for core maintainer
  .github/auto_assign.yml
  MAINTAINERS.md
  site/content/contributors/02-jentinghsiao.md
  site/static/img/contributors/jenting.png
Labels: Website

#3172 Improvements to BSL logic
  changelogs/unreleased/3172-carlisia
  internal/storage/storagelocation.go
  internal/storage/storagelocation_test.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/get.go
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_storage_location_controller_test.go
  pkg/controller/restore_controller.go
  pkg/install/resources.go
  site/content/docs/main/locations.md
  site/content/docs/main/upgrade-to-1.6.md
Labels: Area/CLI

#3183 Better name format for init containers
  pkg/builder/container_builder.go
  pkg/builder/container_builder_test.go
Labels: Bug, changelog-not-required

#3186 Minor refactor plus better documentation for plugin naming
  pkg/plugin/clientmgmt/manager.go
  pkg/plugin/clientmgmt/manager_test.go
  site/content/docs/main/custom-plugins.md
  site/content/docs/v1.5/custom-plugins.md
Labels: Documentation
