Repository vmware-tanzu/velero, pull requests merged in 2020-11, with the labels that each got.

#3030 📖 Clarify restore hook init container priority
  site/content/docs/main/restore-hooks.md
  site/content/docs/v1.5/restore-hooks.md
Labels: Documentation

#3047 🏃‍♂ Improve log message clarity
  pkg/controller/backup_controller.go
  pkg/controller/backup_storage_location_controller.go
Labels: changelog-not-required

#3056 Add custom 404 page to website
  site/layouts/404.html
  site/layouts/_default/baseof.html
Labels: Website

#3068 Automate adding opened issues to the triage board
  .github/workflows/opened-issues-triage.yml
Labels: changelog-not-required

#3071 📖 use correct link to the minio.md
  examples/README.md
Labels: Documentation

#3077 Add Dave Smith-Uchida
  .github/auto_assign.yml
  MAINTAINERS.md
  site/content/contributors/02-dave-smith-uchida.md
  site/static/img/contributors/dave.png
Labels: Website, changelog-not-required

#3085 🏃‍♂️ update setup-kind github actions CI
  .github/workflows/crds-verify-k8s-1-16-9.yaml
  .github/workflows/crds-verify-k8s-1-17-0.yaml
  .github/workflows/crds-verify-k8s-1-18-4.yaml
  changelogs/unreleased/3085-ashish-amarnath
Labels: P0 - Hair on fire

#3074 Add instructions to clone repo for examples
  changelogs/unreleased/3074-MadhavJivrajani
  site/content/docs/main/examples.md
  site/content/docs/v1.5/examples.md
Labels: Documentation

#3091 🏃‍♂️ Turn down logging verbosity
  pkg/controller/backup_storage_location_controller.go
Labels: Easy Pickings, changelog-not-required

#2867 Design doc for RestoreItemAction wait for AdditionalItems to be ready
  design/wait-for-additional-items.md
Labels: Design

#3016 Design doc for Velero Restore progress reporting
  design/restore-progress.md
Labels: Design

#3076 Update to latest covenant coc
  CODE_OF_CONDUCT.md
Labels: Documentation

#3100 📖 Add docs to troubleshoot cloud-credentials
  site/content/docs/main/troubleshooting.md
  site/content/docs/v1.5/troubleshooting.md
Labels: Documentation

#3089 Fix project automation
  .github/workflows/opened-issues-triage.yml
Labels: changelog-not-required

#3109 🏃‍♂️ Reducing verbosity of another log message
  pkg/controller/backup_storage_location_controller.go
Labels: changelog-not-required

#3110 Upgrade to Docker provided buildx action for CI
  .github/workflows/push.yml
Labels: changelog-not-required

#3121 Fix broken docker login action
  .github/workflows/push.yml
Labels: CI/CD, P1 - Important, changelog-not-required
