Repository vmware-tanzu/velero, pull requests merged in 2020-10, with the labels that each got.

#2985 Stephanie Bauman is leaving the velero project
  MAINTAINERS.md
  site/content/contributors/05-stephanie-bauman.md
  site/static/img/contributors/stephanie-bauman.png
Labels: changelog-not-required

#2949 restore proper lowercase/plural CRD resource
  changelogs/unreleased/2949-sseago
  pkg/backup/remap_crd_version_action.go
  pkg/kuberesource/kuberesource.go
Labels: Bug

#2986 Update ROADMAP.md
  ROADMAP.md
Labels: changelog-not-required

#2944 Allow Timezone change in the container
  Dockerfile
  changelogs/unreleased/2944-mickkael
Labels: changelog-not-required

#2996 Fix version cmd getting nil pointer
  pkg/client/factory.go
Labels: Area/CLI, Bug, changelog-not-required

#2992 Fix BSL controller to avoid invoking init() on all BSLs regardless of…
  changelogs/unreleased/2992-betta1
  pkg/controller/backup_storage_location_controller.go
Labels: P1 - Important, Plugins

#2976 📖 document restic limitation of backing only pod volumes
  site/content/docs/main/restic.md
  site/content/docs/v1.4/restic.md
  site/content/docs/v1.5/restic.md
Labels: Documentation

#2969 Include --validate=false in upgrade instructions
  site/content/docs/main/upgrade-to-1.5.md
  site/content/docs/v1.4/upgrade-to-1.4.md
  site/content/docs/v1.5/upgrade-to-1.5.md
Labels: Documentation, changelog-not-required

#3006 Auto assign reviewers when PR is ready for review
  .github/workflows/auto_assign_prs.yml
Labels: changelog-not-required

#2952 Add initial instructions for releasing plugins
  site/content/docs/main/plugin-release-instructions.md
  site/content/docs/main/release-instructions.md
Labels: Documentation

#3007 Ensure PVs and PVCs remain bound when doing a restore
  changelogs/unreleased/3007-nrb
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: P1 - Important, Volumes

#3023 v1.5.2 changelogs and cherry-picks
  changelogs/CHANGELOG-1.5.md
  pkg/backup/remap_crd_version_action.go
  pkg/client/factory.go
  pkg/controller/backupstoragelocation_controller.go
  pkg/install/resources.go
  pkg/install/resources_test.go
  pkg/kuberesource/kuberesource.go
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: Backports, P1 - Important, changelog-not-required

#3025 v1.4.3 cherry-picks and changelogs
  changelogs/CHANGELOG-1.4.md
  pkg/backup/remap_crd_version_action.go
  pkg/kuberesource/kuberesource.go
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: P1 - Important, changelog-not-required

#3034 fix minio code samples
  site/content/docs/main/contributions/minio.md
  site/content/docs/v1.5/contributions/minio.md
Labels: changelog-not-required

#3031 📖 fix image links in how-velero-works page
  site/content/docs/main/how-velero-works.md
  site/content/docs/v1.2.0/how-velero-works.md
  site/content/docs/v1.3.0/how-velero-works.md
  site/content/docs/v1.3.1/how-velero-works.md
  site/content/docs/v1.3.2/how-velero-works.md
  site/content/docs/v1.4/how-velero-works.md
  site/content/docs/v1.5/how-velero-works.md
Labels: Documentation, Website
