Repository vmware-tanzu/velero, pull requests merged in 2021-08, with the labels that each got.

#3993 Restic Backup: Add check if Pod is successful or failed for emptyDir.…
  changelogs/unreleased/3993-mahaupt
  pkg/restic/backupper.go
Labels: has-changelog

#4002 pkg/install: fix dropped error
  pkg/install/install.go
Labels: kind/changelog-not-required

#4015 Use appropriate CRD API during readiness check
  changelogs/unreleased/4015-zubron
  pkg/backup/backup_test.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/builder/customresourcedefinition_builder.go
  pkg/builder/customresourcedefinition_v1beta1_builder.go
  pkg/cmd/cli/install/install.go
  pkg/install/install.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
  test/e2e/velero_utils.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#4012 Add Kubernetes v1.22 CI test
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#4018 Cherry-pick and update changelog for v1.6.3
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  changelogs/CHANGELOG-1.6.md
  pkg/backup/backup_test.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/builder/customresourcedefinition_builder.go
  pkg/builder/customresourcedefinition_v1beta1_builder.go
  pkg/cmd/cli/install/install.go
  pkg/install/install.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog, has-e2e-2tests

#4028 Skip restore of APIServices managed by Kubernetes
  changelogs/unreleased/4028-zubron
  go.mod
  go.sum
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/apiservice_action.go
  pkg/restore/apiservice_action_test.go
  pkg/restore/restore_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#4005 Fix the random failure of E2E test cases
  test/e2e/common.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/multiple_namespaces_test.go
  test/e2e/namespace.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#4034 Changed format of download request name to use a random UUID rather than
  pkg/cmd/util/downloadrequest/downloadrequest.go
Labels: kind/changelog-not-required

#4024 Update ibm-config.md
  site/content/docs/main/contributions/ibm-config.md
Labels: kind/changelog-not-required, Documentation

#4007 Wait the namespace deletion completed before removing the CRDs
  changelogs/unreleased/4007-ywk253100
  pkg/cmd/cli/uninstall/uninstall.go
  test/e2e/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#3823 Allow backup list requests to be chunked
  changelogs/unreleased/3823-dharmab
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/cmd/server/server.go
  site/content/docs/main/backup-reference.md
Labels: Documentation, has-changelog

#3811 Add documentation for TLS error 116
  site/content/docs/main/self-signed-certificates.md
  site/content/docs/v1.4/self-signed-certificates.md
  site/content/docs/v1.5/self-signed-certificates.md
  site/content/docs/v1.6/self-signed-certificates.md
Labels: Documentation

#4016 internal/delete: fix dropped error
  internal/delete/delete_item_action_handler.go
Labels: kind/changelog-not-required

#4055 Change the base image to distroless
  Dockerfile
  changelogs/unreleased/4055-ywk253100
Labels: has-changelog

#4063 Fix log print error using a wrong var name
  internal/storage/storagelocation.go
Labels: kind/changelog-not-required

#4064 fixes for CVE-2021-3121 and CVE-2021-3580
  changelogs/unreleased/4064-kahirokunn
  site/content/docs/main/contributions/minio.md
  test/e2e/velero_utils.go
Labels: Documentation, has-changelog, has-e2e-2tests

#4022 Implement `velero debug`
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .gitignore
  changelogs/unreleased/4022-reasonerjt
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v1beta1/bases/velero.io_restores.yaml
  config/crd/v1beta1/crds/crds.go
  go.mod
  go.sum
  pkg/cmd/cli/debug/cshd-scripts/velero.cshd
  pkg/cmd/cli/debug/debug.go
  pkg/cmd/velero/velero.go
  pkg/test/api_server.go
  pkg/util/kube/utils_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#4056 Several fixes to improve the stability of E2E testing
  pkg/install/install.go
  test/e2e/Makefile
  test/e2e/backup_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/install.go
  test/e2e/kibishii_tests.go
  test/e2e/multiple_namespaces_test.go
Labels: kind/changelog-not-required, has-e2e-2tests
