Repository vmware-tanzu/velero, pull requests merged in 2021-04, with the labels that each got.

#3651 Add cherry-pick commits and changelog for v1.5.4
  .github/workflows/crds-verify-k8s-1-16-9.yaml
  .github/workflows/crds-verify-k8s-1-17-0.yaml
  .github/workflows/crds-verify-k8s-1-18-4.yaml
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/pr-ci-check.yml
  Makefile
  changelogs/CHANGELOG-1.5.md
  pkg/cmd/server/server.go
  pkg/restic/common.go
  pkg/restic/common_test.go
  pkg/restic/restorer.go
  pkg/restore/restic_restore_action.go
  pkg/restore/restic_restore_action_test.go
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#3676 Add blog post for Velero 1.6
  site/content/posts/2021-04-13-Velero-1.6-Bring-All-Your-Credentials.md
  site/static/img/posts/post-1.6.jpg
Labels: Website, kind/changelog-not-required

#3567 Correctly render links with fragments on docs pages
  site/layouts/_default/_markup/render-link.html
Labels: Website, kind/changelog-not-required

#3593 Added Eleanor to Team Bios and to Maintainers page, removed Tim
  MAINTAINERS.md
  site/content/contributors/04-eleanor-millman.md
  site/content/contributors/04-tim-hinderliter.md
  site/static/img/contributors/eleanor-millman.jpg
Labels: Website, kind/changelog-not-required

#3680 Fix incorrect links in BSL docs
  site/content/docs/main/locations.md
  site/content/docs/v1.6/locations.md
Labels: Documentation, kind/changelog-not-required

#3700 Add logo assets
  assets/README.md
  assets/one-line/199150-vmw-os-lgo-velero-final_gry.eps
  assets/one-line/199150-vmw-os-lgo-velero-final_gry.jpg
  assets/one-line/199150-vmw-os-lgo-velero-final_gry.png
  assets/one-line/199150-vmw-os-lgo-velero-final_gry.svg
  assets/one-line/199150-vmw-os-lgo-velero-final_wht.eps
  assets/one-line/199150-vmw-os-lgo-velero-final_wht.png
  assets/one-line/199150-vmw-os-lgo-velero-final_wht.svg
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-gry.eps
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-gry.jpg
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-gry.png
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-gry.svg
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-wht.eps
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-wht.png
  assets/stacked/199150-vmw-os-lgo-velero-final_stacked-wht.svg
Labels: Website, kind/changelog-not-required

#3666 Add Abbie to PR review requests
  .github/auto-assignees.yaml
  .github/auto_assign.yml
  .github/workflows/auto_assign_prs.yml
  .github/workflows/auto_request_review.yml
Labels: kind/changelog-not-required

#3591 Improve plugin release instructions
  site/content/docs/main/plugin-release-instructions.md
  site/content/docs/main/release-instructions.md
  site/content/docs/v1.6/plugin-release-instructions.md
  site/content/docs/v1.6/release-instructions.md
Labels: Area/Documentation, Documentation

#3598 Added release criteria to release-instructions
  site/content/docs/main/release-instructions.md
Labels: Documentation, kind/changelog-not-required

#3551 Define a Velero release schedule
  site/content/docs/main/release-schedule.md
Labels: Documentation, kind/changelog-not-required

#3712 Fix misspelled file name
  .github/auto-assignees.yml
  .github/workflows/auto_assign_prs.yml
  .github/workflows/auto_request_review.yml
Labels: Bug, kind/changelog-not-required

#3711 🐛 Fix plugin name derivation from image name
  changelogs/unreleased/3711-ashish-amarnath
  pkg/builder/container_builder.go
  pkg/builder/container_builder_test.go
Labels: has-changelog, has-unit-tests

#3722 Fix typo in restic documentation
  site/content/docs/main/restic.md
Labels: Documentation, kind/changelog-not-required

#3728 Fix typo in the restic document
  site/content/docs/main/restic.md
Labels: Documentation, kind/changelog-not-required

#3725 Add cpanato as Emeritus Maintainers
  MAINTAINERS.md
Labels: kind/changelog-not-required

#3726 A small refactor of the e2e tests
  go.mod
  go.sum
  pkg/cmd/cli/install/install.go
  pkg/install/resources.go
  test/e2e/backup_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/velero_utils.go
Labels: Dependencies, has-e2e-2tests, kind/changelog-not-required

#3744 fix on-premise `--plugins` flag documentation
  site/content/docs/main/on-premises.md
  site/content/docs/v1.4/on-premises.md
  site/content/docs/v1.5/on-premises.md
  site/content/docs/v1.6/on-premises.md
Labels: Documentation, kind/changelog-not-required

#3747 Propose Scott Seago as a maintainer
  .github/auto-assignees.yml
  MAINTAINERS.md
Labels: kind/changelog-not-required

#3607 Docs: include OpenStack plugin in community supported providers
  site/content/docs/main/supported-providers.md
  site/content/docs/v1.4/supported-providers.md
  site/content/docs/v1.5/supported-providers.md
  site/content/docs/v1.6/supported-providers.md
  site/content/plugins/list/10-openstack.md
Labels: Documentation, Website, kind/changelog-not-required

#3413 Changes to secrets design
  design/secrets.md
Labels: Area/Design, kind/changelog-not-required

#3416 Design doc for upload progress monitoring
  design/UploadFSM.graffle
  design/UploadFSM.png
  design/upload-progress.md
Labels: Area/Design, P1 - Important, kind/changelog-not-required
