Repository vmware-tanzu/velero, pull requests merged in 2021-09, with the labels that each got.

#4082 Enhance e2e test
  test/e2e/install.go
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4085 remove IsUnstructuredCRDReady
  pkg/restore/restore.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: kind/changelog-not-required, has-unit-tests

#4076 Skip restic backup/restore of DownwardAPI volumes
  changelogs/unreleased/4076-zubron
  pkg/restic/common.go
  pkg/restic/common_test.go
Labels: has-unit-tests, has-changelog

#4102 pass velero cli executable to crashd
  pkg/cmd/cli/debug/cshd-scripts/velero.cshd
  pkg/cmd/cli/debug/debug.go
Labels: kind/changelog-not-required

#4026 Distinguish between different unnamed node ports when preserving
  changelogs/unreleased/4026-sseago
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
Labels: has-unit-tests, has-changelog

#4101 Empty the "ClusterIPs" along with "ClusterIP" when "ClusterIP" isn't "None"
  changelogs/unreleased/4101-ywk253100
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
Labels: release-blocker, has-unit-tests, has-changelog

#4057 Validate namespace in velero backup create command
  changelogs/unreleased/4057-codegold79
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
Labels: release-blocker, has-unit-tests, has-changelog

#4100 Add `velero debug` to documentation
  site/content/docs/main/troubleshooting.md
Labels: kind/changelog-not-required, Documentation

#4058 Add upgrade test into E2E tests
  Makefile
  changelogs/unreleased/4058-danfengliu
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/install.go
  test/e2e/kibishii_utils.go
  test/e2e/upgrade_test.go
  test/e2e/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4142 Fix the link and content for upgrade instruction
  site/content/docs/v1.7/upgrade-to-1.7.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-7-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#4140 Use velero debug command to dump the logs when case failed
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_utils.go
  test/e2e/multiple_namespaces_test.go
  test/e2e/upgrade_test.go
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4160 Recovery the workround for aws pending issue
  test/e2e/kibishii_utils.go
  test/e2e/upgrade_test.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4161 run backup/restore describe in debug subcommand
  pkg/cmd/cli/debug/cshd-scripts/velero.cshd
Labels: kind/changelog-not-required

#4141 Fix plugins incompatible issue in upgrade test
  changelogs/unreleased/4141-danfengliu
  test/e2e/Makefile
  test/e2e/backup_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/install.go
  test/e2e/multiple_namespaces_test.go
  test/e2e/upgrade_test.go
  test/e2e/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4180 Pin the base image for v1.7
  Dockerfile
Labels: kind/changelog-not-required

#4182 Specify the "--snapshot-volumes=false" option explicitly when running backup with Restic
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4186 [cherry-pick]Specify the "--snapshot-volumes=false" option explicitly when running backup with Restic
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required

#4185 Refine tag-release.sh
  changelogs/unreleased/4185-reasonerjt
  hack/release-tools/tag-release.sh
Labels: release-blocker, has-changelog

#4041 #4040 - documentation - adding more troubleshooting information durin…
  site/content/docs/main/restic.md
  site/content/docs/v1.6/restic.md
Labels: Documentation

#3466 Initial draft of an object graph manifest
  design/graph-manifest.md
Labels: Area/Design, kind/changelog-not-required
