Repository vmware-tanzu/velero, pull requests merged in 2021-06, with the labels that each got.

#3834 Remove Nolan Brubaker from active contributors
  MAINTAINERS.md
  site/content/contributors/01-dave-smith-uchida.md
  site/content/contributors/01-nolan-brubaker.md
Labels: Website, kind/changelog-not-required

#3830 Remove the [insert current year] in the code standards doc
  site/content/docs/main/code-standards.md
  site/content/docs/v1.4/code-standards.md
  site/content/docs/v1.5/code-standards.md
  site/content/docs/v1.6/code-standards.md
Labels: Documentation, kind/changelog-not-required

#3805 Added BackupPhaseUploading and BackupPhaseUploadingPartialFailure backup
  changelogs/unreleased/3805-dsmithuchida
  pkg/apis/velero/v1/backup.go
Labels: has-changelog

#3814 Update MinIO docs for correct AWS plugin version
  site/content/docs/main/contributions/minio.md
  site/content/docs/v1.4/contributions/minio.md
  site/content/docs/v1.5/contributions/minio.md
  site/content/docs/v1.6/contributions/minio.md
Labels: Documentation, kind/changelog-not-required

#3809 Update Enable API Group Versions Feature docs
  site/content/docs/main/enable-api-group-versions-feature.md
  site/content/docs/v1.6/enable-api-group-versions-feature.md
Labels: Documentation, kind/changelog-not-required

#3601 Add document describing manual test cases
  site/content/docs/main/maintainers.md
  site/content/docs/main/manual-testing.md
  site/content/docs/v1.6/maintainers.md
  site/content/docs/v1.6/manual-testing.md
Labels: Documentation, kind/changelog-not-required, release-blocker

#3464 Updated design to take into account protocol buffer limitations.
  design/wait-for-additional-items.md
Labels: Area/Design

#3241 Delete residual file caused by network interruption and so on. Fixes …
  pkg/controller/backup_deletion_controller.go
  pkg/controller/restore_controller.go
Labels: kind/changelog-not-required

#3842 Remove ashish-amarnath as maintainer
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/content/contributors/02-ashish-amarnath.md
Labels: Website

#3764 Consolidate api clients for e2e tests
  go.mod
  go.sum
  pkg/client/factory.go
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/util/kube/utils.go
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/backup_test.go
  test/e2e/client.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/velero_utils.go
Labels: Dependencies, E2E Tests, has-e2e-2tests, kind/changelog-not-required

#3866 skip backuping projected volume when using restic
  changelogs/unreleased/3866-alaypatel07
  pkg/restic/common.go
  pkg/restic/common_test.go
  site/content/posts/2019-10-10-Velero-v1-1-Stateful-Backup-vSphere.md
  test/e2e/kibishii_tests.go
Labels: Website, has-changelog, has-e2e-2tests, has-unit-tests

#3564 API groups e2e tests remove controllers
  go.mod
  go.sum
  test/e2e/README.md
  test/e2e/enable_api_group_versions_test.go
  test/e2e/testdata/enable_api_group_versions/README.md
  test/e2e/testdata/enable_api_group_versions/case-a-source.yaml
  test/e2e/testdata/enable_api_group_versions/case-a-target.yaml
  test/e2e/testdata/enable_api_group_versions/case-b-source-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-b-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-c-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-d-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/cert-manager.yaml
  test/e2e/testdata/enable_api_group_versions/music_v1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v1alpha1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2beta1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2beta2_rockband.yaml
Labels: Dependencies, has-e2e-2tests, kind/changelog-not-required

#3877 Skip volume restores from projected sources
  changelogs/unreleased/3877-zubron
  pkg/restic/common.go
  pkg/restic/common_test.go
  pkg/restore/restore.go
Labels: P1 - Important, has-changelog, has-unit-tests, release-blocker

#3641 Add Labels field to BackupSpec
  changelogs/unreleased/3641-arush-sal
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/crds/crds.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/builder/backup_builder.go
  site/content/docs/main/api-types/schedule.md
Labels: Documentation, has-changelog

#3845 regression introduced in 1.6 restore progress: fix CR restore
  changelogs/unreleased/3845-sseago
  pkg/restore/restore.go
  test/e2e/enable_api_group_versions_test.go
Labels: P1 - Important, has-changelog, has-e2e-2tests, release-blocker

#3883 Fix the link of release information
  site/content/_index.md
Labels: Website, kind/changelog-not-required

#3886 Fix:rss link blindly appends /blog/index.html
  site/config.yaml
Labels: Website

#3889 Add cherry-pick commits and changelog for v1.6.1
  changelogs/CHANGELOG-1.6.md
  go.mod
  go.sum
  pkg/builder/container_builder.go
  pkg/builder/container_builder_test.go
  pkg/client/factory.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/install/resources.go
  pkg/restic/common.go
  pkg/restic/common_test.go
  pkg/restore/restore.go
  pkg/util/kube/utils.go
  site/content/posts/2019-10-10-Velero-v1-1-Stateful-Backup-vSphere.md
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/backup_test.go
  test/e2e/client.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/testdata/enable_api_group_versions/README.md
  test/e2e/testdata/enable_api_group_versions/case-a-source.yaml
  test/e2e/testdata/enable_api_group_versions/case-a-target.yaml
  test/e2e/testdata/enable_api_group_versions/case-b-source-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-b-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-c-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/case-d-target-manually-added-mutations.yaml
  test/e2e/testdata/enable_api_group_versions/cert-manager.yaml
  test/e2e/testdata/enable_api_group_versions/music_v1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v1alpha1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2beta1_rockband.yaml
  test/e2e/testdata/enable_api_group_versions/music_v2beta2_rockband.yaml
  test/e2e/velero_utils.go
Labels: Backports, Dependencies, Website, has-changelog, has-e2e-2tests, has-unit-tests, kind/changelog-not-required

#3893 Update upgrade instructions to reference v1.6.1
  site/content/docs/main/upgrade-to-1.6.md
  site/content/docs/v1.6/upgrade-to-1.6.md
Labels: Area/Documentation, Documentation, kind/changelog-not-required

#3913 So Long, and Thanks for All the Fish
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/content/contributors/02-carlisia-thompson.md
  site/static/img/contributors/carlisia-thompson.png
Labels: Website, kind/changelog-not-required
