Repository vmware-tanzu/velero, pull requests merged in 2021-03, with the labels that each got.

#3498 Update in-code documentation to show resources can be specified with group name
  pkg/plugin/velero/shared.go
Labels: kind/changelog-not-required

#3004 Convert DownloadRequest resource/controller to kubebuilder
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/crds/crds.go
  config/rbac/role.yaml
  internal/util/managercontroller/managercontroller.go
  pkg/apis/velero/v1/backupstoragelocation_types.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/apis/velero/v1/server_status_request_types.go
  pkg/builder/download_request_builder.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/restore/logs.go
  pkg/cmd/server/server.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/downloadrequest/downloadrequest_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
  pkg/controller/server_status_request_controller.go
Labels: P3 - Wouldn't it be nice if..., has-unit-tests, kind/changelog-not-required, release-blocker

#3399 Support cli uninstall
  changelogs/unreleased/3399-vadasambar
  pkg/client/dynamic.go
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/cmd/velero/velero.go
  pkg/install/install.go
  pkg/test/fake_dynamic.go
  pkg/util/kube/utils.go
  test/e2e/backup_test.go
  test/e2e/common.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/velero_utils.go
Labels: has-changelog, has-e2e-2tests, release-blocker

#3125 Restore progress reporting
  changelogs/unreleased/3125-pranavgaikwad
  config/crd/bases/velero.io_restores.yaml
  config/crd/crds/crds.go
  pkg/apis/velero/v1/restore.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/restore_describer.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: P2 - Long-term important, has-changelog, has-unit-tests, release-blocker

#3442 Pass configured BSL credential to plugin via config
  changelogs/unreleased/3442-zubron
  internal/credentials/file_store.go
  internal/credentials/file_store_test.go
  pkg/builder/backup_storage_location_builder.go
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/in_memory_object_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/restic/common.go
  pkg/restic/common_test.go
  pkg/restic/repository_manager.go
  pkg/test/fake_credential_file_store.go
  pkg/test/fake_file_system.go
  pkg/util/filesystem/file_system.go
Labels: P1 - Important, has-changelog, has-unit-tests, release-blocker

#3525 Fix broken build
  pkg/cmd/util/output/restore_describer.go
Labels: P1 - Important, kind/changelog-not-required, release-blocker

#3543 Assign a smaller number of reviewers to PRs
  .github/auto_assign.yml
Labels: kind/changelog-not-required

#3537 WIP - Proposed 1.7.0 roadmap
  ROADMAP.md
Labels: kind/changelog-not-required

#3527 Prefer conditional waiting over magic sleep
  test/e2e/common.go
  test/e2e/kibishii_tests.go
Labels: P1 - Important, has-e2e-2tests, release-blocker

#3559 Add E2E test for multiple credentials
  go.mod
  go.sum
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/backup_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/velero_utils.go
Labels: Dependencies, P1 - Important, has-e2e-2tests, kind/changelog-not-required, release-blocker

#3561 Partially revert adding credentials to VSL
  changelogs/3409-nrb
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/crds/crds.go
  pkg/apis/velero/v1/volume_snapshot_location.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/cmd/cli/snapshotlocation/create.go
  pkg/cmd/cli/snapshotlocation/set.go
Labels: P1 - Important, has-changelog, kind/changelog-not-required, release-blocker

#3528 Upgrade restic from v0.9.6 to v0.12.0
  Makefile
  Tiltfile
  changelogs/unreleased/3528-ashish-amarnath
  hack/download-restic.sh
Labels: P1 - Important, has-changelog, release-blocker

#3585 Updated Azure plugin in e2e tests to 1.1.2 (latest)
  test/e2e/velero_utils.go
Labels: E2E Tests, has-e2e-2tests, release-blocker

#3582 Install plugins for additional BSL in E2E test
  test/e2e/backup_test.go
  test/e2e/velero_utils.go
Labels: has-e2e-2tests, kind/changelog-not-required, release-blocker

#3583 Restore progress reporting bug fix
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#3568 Update upgrade docs
  site/content/docs/main/upgrade-to-1.5.md
  site/content/docs/main/upgrade-to-1.6.md
  site/content/docs/v1.4/upgrade-to-1.4.md
  site/content/docs/v1.5/upgrade-to-1.5.md
  site/data/docs/main-toc.yml
Labels: Area/Documentation, Documentation, Website, release-blocker

#3584 Improve GH Action PR assign + labeling
  .github/workflows/auto_assign_prs.yml
  .github/workflows/auto_label_prs.yml
Labels: kind/changelog-not-required

#3590 Upgrade e2e tests to new plugin versions (v1.2)
  site/content/docs/main/release-instructions.md
  test/e2e/velero_utils.go
Labels: Documentation, has-e2e-2tests, kind/changelog-not-required, release-blocker

#3592 Added volume snapshot test for backup/restore.
  go.mod
  go.sum
  test/e2e/backup_test.go
  test/e2e/common.go
  test/e2e/e2e_suite_test.go
  test/e2e/enable_api_group_versions_test.go
  test/e2e/kibishii_tests.go
  test/e2e/velero_utils.go
Labels: Dependencies, E2E Tests, has-e2e-2tests, kind/changelog-not-required, release-blocker

#3629 Runs vSphere tests with snapshots
  test/e2e/kibishii_tests.go
  test/e2e/velero_utils.go
Labels: has-e2e-2tests, kind/changelog-not-required, release-blocker

#3618 Make uninstall more robust and informative
  pkg/cmd/cli/uninstall/uninstall.go
  test/e2e/velero_utils.go
Labels: has-e2e-2tests, kind/changelog-not-required, release-blocker

#3634 Allow Dockerfiles to be configurable
  Makefile
Labels: Enhancement/Dev, kind/changelog-not-required, release-blocker

#3652 Revert printer columns
  changelogs/unreleased/2881-zubron
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_resticrepositories.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/crds/crds.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/backupstoragelocation_types.go
  pkg/apis/velero/v1/delete_backup_request.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/apis/velero/v1/pod_volume_backup.go
  pkg/apis/velero/v1/pod_volume_restore.go
  pkg/apis/velero/v1/restic_repository.go
  pkg/apis/velero/v1/restore.go
  pkg/apis/velero/v1/schedule.go
  pkg/apis/velero/v1/server_status_request_types.go
  pkg/apis/velero/v1/volume_snapshot_location.go
Labels: has-changelog, release-blocker
