Repository vmware-tanzu/velero, pull requests merged in 2021-12, with the labels that each got.

#4397 Add restoreactionitem plugin to handle admission webhook configurations
  changelogs/unreleased/4397-reasonerjt
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/admissionwebhook_config_action.go
  pkg/restore/admissionwebhook_config_action_test.go
  pkg/restore/job_action.go
  pkg/restore/merge_service_account.go
Labels: has-unit-tests, has-changelog

#4378 update documentation
  .github/pull_request_template.md
  site/content/docs/main/basic-install.md
  site/content/docs/main/contributions/minio.md
  site/content/docs/main/supported-providers.md
  site/content/docs/v1.6/basic-install.md
  site/content/docs/v1.6/contributions/minio.md
  site/content/docs/v1.6/supported-providers.md
  site/content/docs/v1.7/basic-install.md
  site/content/docs/v1.7/contributions/minio.md
  site/content/docs/v1.7/supported-providers.md
Labels: Documentation

#4417 Added ItemSnapshotter to the plugin server framework.
  pkg/plugin/framework/server.go
Labels: kind/changelog-not-required

#4404 Add resource filtering test cases
  changelogs/unreleased/4404-mqiu
  test/e2e/backup/backup.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/e2e_suite_test.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/k8s/client.go
  test/e2e/util/k8s/configmap.go
  test/e2e/util/k8s/deployment.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/k8s/secret.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/install.go
Labels: has-changelog, has-e2e-2tests

#4221 feat: improve documentation for reverse selector
  site/content/docs/main/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#4431 Bump up Go to 1.17
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/unreleased/4431-reasonerjt
  go.mod
  hack/build-image/Dockerfile
  pkg/apis/velero/v1/zz_generated.deepcopy.go
Labels: Dependencies, has-changelog

#4416 Added UploadProgressFeature flag to enable UploadProgressMonitoring
  changelogs/unreleased/4416-dsmithuchida
  pkg/apis/velero/v1/constants.go
Labels: has-changelog

#4437 Limit backup namespaces on test resource filtering cases
  changelogs/unreleased/4437-mqiu
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/test/test.go
Labels: has-changelog, has-e2e-2tests

#4438 Fix e2e test failures for the inappropriate optimaze of velero install
  changelogs/unreleased/4438-mqiu
  test/e2e/test/test.go
Labels: has-changelog, has-e2e-2tests

#4410 Consolidated code for resolving actions and plugins into ActionResolver
  changelogs/unreleased/4410-dsu
  internal/delete/delete_item_action_handler.go
  pkg/backup/backup.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/plugin/framework/action_resolver.go
  pkg/plugin/framework/action_resolver_test.go
  pkg/plugin/velero/shared.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/fake_mapper.go
Labels: has-unit-tests, has-changelog

#4446 fix: remove --crds-version in velero install command
  changelogs/unreleased/4446-jxun
  pkg/cmd/cli/install/install.go
  pkg/install/resources.go
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/install.go
Labels: Area/CLI, has-changelog, has-e2e-2tests

#4429 Adds <backup-name>-itemsnapshots.gz file to backup (when provided).
  changelogs/unreleased/4429-dsmithuchida
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/persistence/mocks/backup_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
  pkg/persistence/object_store_test.go
  pkg/volume/item_snapshot.go
Labels: has-unit-tests, has-changelog

#4377 Remove backups and restic repos associated with deleted BSL(s)
  changelogs/unreleased/4377-codegold79
  pkg/cmd/cli/backuplocation/delete.go
Labels: has-changelog

#4423 Migrate backup sync controller from code-generator to kubebuilder
  changelogs/unreleased/4423-jxun
  pkg/cmd/server/server.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: kind/tech-debt, has-unit-tests, has-changelog

#4440 Upgrade e2e test vsphere plugin
  changelogs/unreleased/4440-mqiu
  test/e2e/util/k8s/configmap.go
  test/e2e/util/k8s/secret.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4375 Fix statefulsets volumeClaimTemplates storageClassName after use Changing PV/PVC Storage Classes
  changelogs/unreleased/4375-Box-Cube
  pkg/builder/statefulset_builder.go
  pkg/builder/storage_class_builder.go
  pkg/restore/change_storageclass_action.go
  pkg/restore/change_storageclass_action_test.go
Labels: has-unit-tests, has-changelog

#4443 Update code standards to direct folks to create changelogs on release…
  site/content/docs/main/code-standards.md
Labels: Documentation

#4442 Add defaultVolumesToRestic to schedule api docs
  site/content/docs/main/api-types/schedule.md
Labels: kind/changelog-not-required, Documentation

#4457 Revert "Migrate backup sync controller from code-generator to kubebui…
  changelogs/unreleased/4457-jxun
  pkg/cmd/server/server.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#4465 Return the error when getting backup store in backup deletion controller
  changelogs/unreleased/4465-reasonerjt
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/suite_test.go
Labels: has-unit-tests, has-changelog

#4462 Ignore the provided port is already allocated error when restoring the LoadBalancer service
  changelogs/unreleased/4462-ywk253100
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#4391 Keep the annotation "pv.kubernetes.io/provisioned-by" when restoring PVs
  changelogs/unreleased/4391-ywk253100
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#4455 Add rbac and annotation test cases
  changelogs/unreleased/4455-mqiu
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/resources-check/resources_check.go
  test/e2e/e2e_suite_test.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/test/test.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/k8s/rbac.go
  test/e2e/util/k8s/serviceaccount.go
Labels: has-changelog, has-e2e-2tests

#4398 Parse resource from backup tarball directly rather than resolving it via discovery service to avoid #4009
  changelogs/unreleased/4398-ywk253100
  internal/delete/delete_item_action_handler.go
Labels: has-changelog

#4401 Add backup deletion e2e test
  changelogs/unreleased/4401-danfengliu
  go.mod
  go.sum
  test/e2e/backups/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/util/providers/aws_utils.go
  test/e2e/util/providers/azure_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/providers/gcloud_utils.go
  test/e2e/util/velero/velero_utils.go
Labels: Dependencies, has-changelog, has-e2e-2tests
