Repository vmware-tanzu/velero, pull requests merged in 2021-11, with the labels that each got.

#4313 Correct the environment variable for azure credential file
  tilt-resources/examples/deployment.yaml
  tilt-resources/examples/restic.yaml
Labels: kind/changelog-not-required

#4274 Fix CVE-2020-29652 and CVE-2020-26160
  .github/workflows/e2e-test-kind.yaml
  Makefile
  changelogs/unreleased/4274-ywk253100
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v1beta1/bases/velero.io_restores.yaml
  config/crd/v1beta1/crds/crds.go
  go.mod
  go.sum
  hack/test.sh
  pkg/controller/backup_sync_controller.go
  pkg/plugin/clientmgmt/logrus_adapter.go
  pkg/test/fake_namespace.go
Labels: Dependencies, has-changelog

#4126 Verify group before treating resource as cohabitating
  changelogs/unreleased/4126-sseago
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  pkg/builder/testcr_builder.go
  pkg/test/api_server.go
  pkg/test/resources.go
Labels: has-unit-tests, has-changelog

#4250 Namespace validation now allows asterisks used in namespace includes/excludes
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
Labels: kind/changelog-not-required, has-unit-tests

#4316 Namespace wildcard and empty string usage in Velero backup command regression cherry pick
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
Labels: kind/changelog-not-required, has-unit-tests

#4306 fix buggy pager func
  changelogs/unreleased/4306-alaypatel07
  pkg/backup/item_collector.go
Labels: has-changelog

#4315 [cherry-pick]Fix CVE-2020-29652 and CVE-2020-26160
  .github/workflows/e2e-test-kind.yaml
  Makefile
  changelogs/unreleased/4315-ywk253100
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v1beta1/bases/velero.io_restores.yaml
  config/crd/v1beta1/crds/crds.go
  go.mod
  go.sum
  hack/test.sh
  pkg/controller/backup_sync_controller.go
  pkg/plugin/clientmgmt/logrus_adapter.go
  pkg/test/fake_namespace.go
Labels: Dependencies, has-changelog

#4322 Only set BSL credential field if provided
  changelogs/unreleased/4322-zubron
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/create_test.go
Labels: has-unit-tests, has-changelog

#4162 Check the failed phases either when uploading the snapshot in E2E testing
  test/e2e/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#3708 PV remapClaimRefNS was being skipped when there was no snapshot
  changelogs/unreleased/3708-sseago
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#4343 Return the error if velero failed to detect S3 region for restic repo
  changelogs/unreleased/4343-reasonerjt
  pkg/restic/config.go
  pkg/restic/config_test.go
Labels: has-unit-tests, has-changelog

#4336 Ignore the `provided port is already allocated` error when restoring the `NodePort` service
  changelogs/unreleased/4336-ywk253100
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#4346 Use factory.Namespace() to replace hardcoded velero namespace
  changelogs/unreleased/4346-half-life666
  pkg/restore/prioritize_group_version.go
Labels: has-changelog

#4350 Read Availability zone from nodeAffinity requirements
  changelogs/unreleased/4350-reasonerjt
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
  pkg/builder/node_selector_builder.go
  pkg/builder/persistent_volume_builder.go
Labels: has-unit-tests, has-changelog

#4297 Design doc for delete associated backup and restic repos when BSL is deleted
  design/2082-bsl-delete-associated-resources_design.md
  design/Implemented/restore-with-EnableAPIGroupVersions-feature.md
Labels: Area/Design, kind/changelog-not-required

#4077 ItemSnapshotter Plugin APIs
  changelogs/unreleased/4077-dsmithuchida
  pkg/plugin/clientmgmt/client_builder.go
  pkg/plugin/clientmgmt/client_builder_test.go
  pkg/plugin/clientmgmt/manager.go
  pkg/plugin/clientmgmt/restartable_item_snapshotter.go
  pkg/plugin/clientmgmt/restartable_item_snapshotter_test.go
  pkg/plugin/framework/item_snapshotter.go
  pkg/plugin/framework/item_snapshotter_client.go
  pkg/plugin/framework/item_snapshotter_server.go
  pkg/plugin/framework/plugin_kinds.go
  pkg/plugin/framework/plugin_types_test.go
  pkg/plugin/framework/util.go
  pkg/plugin/generated/BackupItemAction.pb.go
  pkg/plugin/generated/ItemSnapshotter.pb.go
  pkg/plugin/generated/ObjectStore.pb.go
  pkg/plugin/generated/PluginLister.pb.go
  pkg/plugin/generated/RestoreItemAction.pb.go
  pkg/plugin/generated/Shared.pb.go
  pkg/plugin/generated/VolumeSnapshotter.pb.go
  pkg/plugin/mocks/manager.go
  pkg/plugin/proto/ItemSnapshotter.proto
  pkg/plugin/velero/item_snapshotter/v1/item_snapshotter.go
  pkg/plugin/velero/item_snapshotter/v1/mocks/item_snapshotter.go
  site/content/docs/main/custom-plugins.md
Labels: has-unit-tests, Documentation, has-changelog

#4358 [cherry-pick]fix buggy pager func
  changelogs/unreleased/4358-alaypatel07
  pkg/backup/item_collector.go
Labels: has-changelog

#4353 fix: modify generated from schedule's backup name timestamp to UTC ti…
  changelogs/unreleased/4353-jxun
  pkg/cmd/cli/backup/create.go
Labels: has-changelog

#4341 Fix: add init log option for velero controller-runtime manager.
  changelogs/unreleased/4341-jxun
  go.mod
  go.sum
  pkg/cmd/server/server.go
Labels: Dependencies, has-changelog

#4372 Fix snapshot e2e test issue of jsonpath
  changelogs/unreleased/4372-danfengliu
  test/e2e/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4376 Add the key for GKE zone for AZ collection
  changelogs/unreleased/4376-reasonerjt
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
Labels: has-unit-tests, has-changelog

#4385 Add change log for 1.7.1
  changelogs/CHANGELOG-1.7.md
  changelogs/unreleased/4058-danfengliu
  changelogs/unreleased/4141-danfengliu
  changelogs/unreleased/4315-ywk253100
  changelogs/unreleased/4358-alaypatel07
Labels: kind/changelog-not-required, has-changelog

#4384 Update issue template to reference velero debug
  .github/ISSUE_TEMPLATE/bug_report.md
  pkg/cmd/cli/bug/bug.go
Labels: kind/changelog-not-required

#4382 feat: migrate velero controller from kubebuilder v2 to v3
  .github/workflows/crds-verify-kind.yaml
  PROJECT
  changelogs/unreleased/4382-jxun
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_resticrepositories.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v1beta1/bases/velero.io_backups.yaml
  config/crd/v1beta1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1beta1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1beta1/bases/velero.io_downloadrequests.yaml
  config/crd/v1beta1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1beta1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1beta1/bases/velero.io_resticrepositories.yaml
  config/crd/v1beta1/bases/velero.io_restores.yaml
  config/crd/v1beta1/bases/velero.io_schedules.yaml
  config/crd/v1beta1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1beta1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1beta1/crds/crds.go
  config/crd/v1beta1/crds/doc.go
  hack/build-image/Dockerfile
  hack/crd-gen/v1beta1/main.go
  hack/update-generated-crd-code.sh
  hack/verify-generated-crd-code.sh
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/listers/velero/v1/backup.go
  pkg/generated/listers/velero/v1/backupstoragelocation.go
  pkg/generated/listers/velero/v1/deletebackuprequest.go
  pkg/generated/listers/velero/v1/downloadrequest.go
  pkg/generated/listers/velero/v1/podvolumebackup.go
  pkg/generated/listers/velero/v1/podvolumerestore.go
  pkg/generated/listers/velero/v1/resticrepository.go
  pkg/generated/listers/velero/v1/restore.go
  pkg/generated/listers/velero/v1/schedule.go
  pkg/generated/listers/velero/v1/serverstatusrequest.go
  pkg/generated/listers/velero/v1/volumesnapshotlocation.go
  pkg/install/resources.go
Labels: has-changelog

#4409 Build for `darwin-arm64`
  .goreleaser.yml
  Makefile
  changelogs/unreleased/4409-epk
Labels: has-changelog
