Repository vmware-tanzu/velero, pull requests merged in 2022-01, with the labels that each got.

#4480 Fix e2e 2500 namespaces scale test timeout problem
  changelogs/unreleased/4480-mqiu
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/util/k8s/namespace.go
Labels: has-changelog, has-e2e-2tests

#4502 Add Velero-Kubernetes version matrix
  README.md
  site/content/docs/main/basic-install.md
  site/content/docs/main/contributions/tencent-config.md
  site/content/docs/main/restic.md
  site/content/docs/main/tilt.md
  site/content/docs/main/upgrade-to-1.7.md
  site/content/docs/v1.4/basic-install.md
  site/content/docs/v1.4/upgrade-to-1.4.md
  site/content/docs/v1.5/basic-install.md
  site/content/docs/v1.5/contributions/tencent-config.md
  site/content/docs/v1.5/restic.md
  site/content/docs/v1.5/tilt.md
  site/content/docs/v1.5/upgrade-to-1.5.md
  site/content/docs/v1.6/basic-install.md
  site/content/docs/v1.6/upgrade-to-1.6.md
  site/content/docs/v1.7/basic-install.md
  site/content/docs/v1.7/upgrade-to-1.7.md
Labels: kind/changelog-not-required, Documentation

#4489 Update CSI docs
  site/content/docs/main/csi.md
Labels: kind/changelog-not-required, Documentation

#4507 Bump up velero version in upgrade test
  test/e2e/e2e_suite_test.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4514 Check the existence of the expected service when ignoring the NodePort already allocated error
  pkg/builder/service_builder.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/resources.go
Labels: kind/changelog-not-required, has-unit-tests

#4510 Fix E2E upgrade parameter issue caused by previous PR
  test/e2e/Makefile
  test/e2e/upgrade/upgrade.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4513 Check whether the volume is provisioned by CSI driver or not by the annotation as well
  Tiltfile
  changelogs/unreleased/4513-ywk253100
  pkg/cmd/cli/restic/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-unit-tests, has-changelog

#4519 Support running e2e testing on k8s 1.23.0
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#4521 E2E test on ssr object with controller namespace mix-ups
  changelogs/unreleased/4521-mqiu
  test/e2e/e2e_suite_test.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/util/k8s/client.go
Labels: has-changelog, has-e2e-2tests

#4530 Update changelog for v1.8.0
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/3708-sseago
  changelogs/unreleased/4058-danfengliu
  changelogs/unreleased/4077-dsmithuchida
  changelogs/unreleased/4126-sseago
  changelogs/unreleased/4141-danfengliu
  changelogs/unreleased/4185-reasonerjt
  changelogs/unreleased/4274-ywk253100
  changelogs/unreleased/4281-ywk253100
  changelogs/unreleased/4306-alaypatel07
  changelogs/unreleased/4322-zubron
  changelogs/unreleased/4336-ywk253100
  changelogs/unreleased/4341-jxun
  changelogs/unreleased/4343-reasonerjt
  changelogs/unreleased/4346-half-life666
  changelogs/unreleased/4350-reasonerjt
  changelogs/unreleased/4353-jxun
  changelogs/unreleased/4372-danfengliu
  changelogs/unreleased/4375-Box-Cube
  changelogs/unreleased/4376-reasonerjt
  changelogs/unreleased/4377-codegold79
  changelogs/unreleased/4382-jxun
  changelogs/unreleased/4386-mqiu
  changelogs/unreleased/4391-ywk253100
  changelogs/unreleased/4397-reasonerjt
  changelogs/unreleased/4398-ywk253100
  changelogs/unreleased/4401-danfengliu
  changelogs/unreleased/4404-mqiu
  changelogs/unreleased/4409-epk
  changelogs/unreleased/4410-dsu
  changelogs/unreleased/4416-dsmithuchida
  changelogs/unreleased/4423-jxun
  changelogs/unreleased/4429-dsmithuchida
  changelogs/unreleased/4431-reasonerjt
  changelogs/unreleased/4437-mqiu
  changelogs/unreleased/4438-mqiu
  changelogs/unreleased/4440-mqiu
  changelogs/unreleased/4446-jxun
  changelogs/unreleased/4455-mqiu
  changelogs/unreleased/4457-jxun
  changelogs/unreleased/4462-ywk253100
  changelogs/unreleased/4465-reasonerjt
  changelogs/unreleased/4480-mqiu
  changelogs/unreleased/4491-ywk253100
  changelogs/unreleased/4513-ywk253100
  changelogs/unreleased/4521-mqiu
Labels: kind/changelog-not-required, has-changelog

#4535 Pin the base image and golang img for v1.8.0 release
  Dockerfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#4083 #4067 Initial design of the new plugins - pre-post backup and restore
  design/new-prepost-backuprestore-plugin-hooks.md
Labels: Area/Design, kind/changelog-not-required

#4545 Add E2E test of backups sync from BSL
  changelogs/unreleased/4545-mqiu
  test/e2e/backups/sync_backups.go
  test/e2e/e2e_suite_test.go
  test/e2e/util/velero/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4555 Upload debug tarball in PR CI E2E pipeline
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#4573 Add continue-on-error in ci e2e test
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#4577 Change dsu-igeek affiliation to Kasten, requires governance vote
  MAINTAINERS.md
Labels: kind/changelog-not-required

#4568 [Cherrypick-1.8] Remove reference of restic_restore_action.go from the doc
  site/content/docs/main/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#4566 Remove reference of restic_restore_action.go from the doc
  site/content/docs/main/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#4578 Nominate Xun Jiang and Ming Qiu to become maintainers
  .github/auto-assignees.yml
  MAINTAINERS.md
Labels: kind/changelog-not-required

#3855 Add plugin versioning design doc
  design/plugin-versioning.md
Labels: Area/Design, kind/changelog-not-required

#4591 E2E SSR test add retry mechanism and logs
  changelogs/unreleased/4591-mqiu
  test/e2e/privilegesmgmt/ssr.go
Labels: has-changelog, has-e2e-2tests

#4550 Use OrderedResources in schedules
  changelogs/unreleased/4550-dbrekau
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/schedule/create.go
Labels: has-unit-tests, has-changelog

#4594 E2E SSR test add retry mechanism and logs
  changelogs/unreleased/4594-mqiu
  test/e2e/privilegesmgmt/ssr.go
Labels: has-changelog, has-e2e-2tests

#4595 Add 1.8 plugins map in e2e test
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4596 [cherry-pick 1.8] Add 1.8 plugins map in e2e test
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4598 Fix E2E gcp plugin tag name
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests, backlog

#4599 Change 1.8 plugins version to release version
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4600 [cherry pick 1.8] Change 1.8 plugins version to release version
  test/e2e/util/velero/velero_utils.go
Labels: has-e2e-2tests

#4604 [Cherry pick to 1.8] Undeprecate the volumesnapshot plugin in the doc
  site/content/docs/main/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#4602 Clean up the change log for v1.8
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/4517-reasonerjt
  changelogs/unreleased/4594-mqiu
Labels: kind/changelog-not-required, has-changelog
