Repository vmware-tanzu/velero, pull requests merged in 2022-05, with the labels that each got.

#4613 Add design for enabling support for `ExistingResourcePolicy` to restore API
  design/existing-resource-policy_design.md
Labels: Area/Design, kind/changelog-not-required

#4655 Convert Pod Volume Restore resource/controller to the Kubebuilder framework
  Tiltfile
  changelogs/unreleased/4655-ywk253100
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/crds/crds.go
  config/rbac/role.yaml
  pkg/apis/velero/v1/pod_volume_restore_type.go
  pkg/cmd/cli/restic/server.go
  pkg/cmd/cli/restic/server_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-unit-tests, has-changelog

#4887 Delete orphan CSI snapshots in backup sync controller
  Makefile
  changelogs/unreleased/4887-reasonerjt
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/util/csi/reset.go
Labels: has-unit-tests, has-changelog

#4889 Make waiting VolumeSnapshot to ready process parallel.
  changelogs/unreleased/4889-jxun
  go.mod
  go.sum
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
Labels: Dependencies, has-changelog

#4858 Remove VolumeSnapshot created during backup
  changelogs/unreleased/4858-jxun
  pkg/controller/backup_controller.go
Labels: has-changelog

#4870 Bump up the version of library go-plugin
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#4886 Add info about enviroment variables in pre/post hooks
  site/content/docs/main/backup-hooks.md
Labels: kind/changelog-not-required, Documentation

#4893 Make in-progress PVB/PVR as failed when restic controller restarts to avoid hanging backup/restore
  changelogs/unreleased/4893-ywk253100
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-unit-tests, has-changelog

#4836 Add snapshot checkpoint for E2E test
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/test/test.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/csi/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/persistentvolumes.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/providers/azure_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4890 continue rather than return for non-matching restore action label
  changelogs/unreleased/4890-sseago
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#4859 Convert Restic Repository resource/controller to the Kubebuilder framework
  changelogs/unreleased/4859-qiuming-best
  config/crd/v1/bases/velero.io_resticrepositories.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  config/rbac/role.yaml
  pkg/apis/velero/v1/restic_repository_types.go
  pkg/apis/velero/v1/schedule_types.go
  pkg/cmd/server/server.go
  pkg/controller/restic_repository_controller.go
  pkg/controller/restic_repository_controller_test.go
  pkg/restic/mocks/repository_manager.go
Labels: has-unit-tests, has-changelog

#4898 Bump up the version of distroless to base-debian11
  Dockerfile
  changelogs/unreleased/4898-ywk253100
Labels: has-changelog

#4628 Add `existingResourcePolicy` to Restore API
  changelogs/unreleased/4628-shubham-pampattiwar
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/restore.go
  pkg/builder/restore_builder.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/util/output/restore_describer.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  site/content/docs/main/api-types/restore.md
Labels: has-unit-tests, Documentation, has-changelog

#4897 Make garbage collection for expired backups configurable
  changelogs/unreleased/4897-ywk253100
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/controller/gc_controller.go
  pkg/controller/gc_controller_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
Labels: has-unit-tests, has-changelog

#4894 Refactor BSL controller with periodical enqueue source
  changelogs/unreleased/4894-jxun
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_storage_location_controller_test.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: has-unit-tests, has-changelog

#4650 Add multiple label selector support to Velero Backup and Restore APIs
  changelogs/unreleased/4650-shubham-pampattiwar
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/restore.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  pkg/builder/backup_builder.go
  pkg/builder/restore_builder.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
Labels: has-unit-tests, Documentation, has-changelog

#4872 cleanup restic helper folder when done
  changelogs/unreleased/4872-big-appled
  cmd/velero-restic-restore-helper/velero-restic-restore-helper.go
Labels: has-changelog

#4888 Remove jenting from maintainers
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/content/contributors/02-jentinghsiao.md
  site/static/img/contributors/jenting.png
Labels: Website, kind/changelog-not-required

#4896 Add setting TTL in backup E2E test
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/csi/common.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4881 Add aws limitation for migration and add limitation section
  site/content/docs/main/migration-case.md
Labels: kind/changelog-not-required, Documentation

#4884 Update resource filtering page
  site/content/docs/main/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#4920 Enhance the map flag to support parsing input value contains entry delimiters
  changelogs/unreleased/4920-ywk253100
  pkg/cmd/cli/restore/create.go
  pkg/cmd/server/server.go
  pkg/cmd/util/flag/map.go
  pkg/cmd/util/flag/map_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#4918 Add resource limits testing information
  site/content/docs/main/customize-installation.md
Labels: kind/changelog-not-required, Documentation

#4903 Add supported versions statment to support process page
  site/content/docs/main/support-process.md
Labels: kind/changelog-not-required, Documentation

#4921 Adds information about resticRepoPrefix
  site/content/docs/main/restic.md
Labels: kind/changelog-not-required, Documentation

#4882 Update headers in supported providers page
  site/content/docs/main/supported-providers.md
Labels: kind/changelog-not-required, Documentation

#4913 Add schedule ordered resources E2E test
  changelogs/unreleased/4913-qiuming-best
  test/e2e/e2e_suite_test.go
  test/e2e/orderedresources/ordered_resources.go
  test/e2e/util/velero/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#4919 Update cluster migration scenario with more details
  site/content/docs/main/migration-case.md
Labels: kind/changelog-not-required, Documentation

#4906 Update compatibility matrix for 1.9
  README.md
Labels: kind/changelog-not-required

#4925 Update docs for flag to skip TLS validation
  site/content/docs/main/self-signed-certificates.md
Labels: kind/changelog-not-required, Documentation

#4914 Make velero completion zsh command output can be used by `source` com…
  changelogs/unreleased/4914-jxun
  pkg/cmd/cli/completion/completion.go
Labels: has-changelog

#4927 Propose Shubham Pampattiwar as a maintainer
  .github/auto-assignees.yml
  MAINTAINERS.md
Labels: kind/changelog-not-required

#4785 Add ability to restore status on selected resources
  changelogs/unreleased/4785-RafaeLeal
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/restore.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/client/dynamic.go
  pkg/cmd/cli/restore/create.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/fake_dynamic.go
  site/content/docs/main/api-types/restore.md
Labels: has-unit-tests, Documentation, has-changelog

#4911 Add note about restoring when resource scaled to 0
  site/content/docs/main/restic.md
Labels: kind/changelog-not-required, Documentation

#4934 Add details about using multiple volume snapshot locations and restic
  site/content/docs/main/customize-installation.md
  site/content/docs/main/locations.md
Labels: kind/changelog-not-required, Documentation

#4936 Bump up kind version to support Kubernetes 1.24
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#4932 Update the doc of CSI support
  site/content/docs/main/csi.md
  site/data/docs/main-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#4928 Add more details about restore workflow
  site/content/docs/main/how-velero-works.md
  site/content/docs/main/resource-filtering.md
  site/content/docs/main/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#4940 Add site bio/img for maintainer/contributor shubham-pampattiwar
  site/content/contributors/02-shubham-pampattiwar.md
  site/static/img/contributors/shubham-pampattiwar.png
Labels: Website, kind/changelog-not-required
