Repository vmware-tanzu/velero, pull requests merged in 2022-07, with the labels that each got.

#5065 Propose Yonghui as a maintainer
  .github/auto-assignees.yml
  MAINTAINERS.md
Labels: kind/changelog-not-required

#5053 Move 'velero.io/exclude-from-backup' label string to const
  changelogs/unreleased/5053-niulechuan
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required, has-changelog

#5051 Fix typo in doc (https://velero.io/docs/main/restore-reference/ "Restore order" section)
  changelogs/unreleased/5051-niulechuan
  site/content/docs/main/restore-reference.md
  site/content/docs/v1.9/restore-reference.md
Labels: Documentation, has-changelog

#5101 Fix bsl validation bug
  changelogs/unreleased/5101-ywk253100
  pkg/controller/backup_storage_location_controller.go
  pkg/util/kube/predicate.go
  pkg/util/kube/predicate_test.go
Labels: has-unit-tests, has-changelog

#5110 Dump stack trace when the plugin server handles panic
  changelogs/unreleased/5110-reasonerjt
  pkg/plugin/framework/handle_panic.go
Labels: has-changelog

#5107 Fix resource filtering command issue in Doc
  site/content/docs/v1.4/resource-filtering.md
  site/content/docs/v1.5/resource-filtering.md
  site/content/docs/v1.6/resource-filtering.md
  site/content/docs/v1.7/resource-filtering.md
  site/content/docs/v1.8/resource-filtering.md
  site/content/docs/v1.9/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#5128 Let "make shell xxx" respect GOPROXY
  Makefile
  changelogs/unreleased/5128-reasonerjt
Labels: has-changelog

#5122 Modify BackupStoreGetter to avoid BSL spec changes
  changelogs/unreleased/5122-sseago
  pkg/persistence/object_store.go
Labels: has-changelog

#5129 comment typo initialise -> initialize
  pkg/controller/backup_deletion_controller.go
Labels: kind/changelog-not-required

#5145 Delay CA file deletion in PVB controller
  changelogs/unreleased/5145-jxun
  pkg/controller/pod_volume_backup_controller.go
Labels: has-changelog

#5150 [cherry-pick] Delay CA file deletion in PVB controller
  changelogs/unreleased/5150-jxun
  pkg/controller/pod_volume_backup_controller.go
Labels: has-changelog

#5151 Fix zoom link for new meeting
  site/content/community/_index.md
Labels: Website, kind/changelog-not-required

#5157 Add labeled and unlabeled events for PR changelog check action.
  .github/workflows/pr-changelog-check.yml
  changelogs/unreleased/5157-jxun
Labels: has-changelog

#5142 Kopia Integration Change - Storage Configuration
  changelogs/unreleased/5142-lyndon
  pkg/controller/restic_repository_controller.go
  pkg/repository/config/aws.go
  pkg/repository/config/aws_test.go
  pkg/repository/config/azure.go
  pkg/repository/config/azure_test.go
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/config/gcp.go
  pkg/repository/config/gcp_test.go
  pkg/repository/provider/provider.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/repo-option-consts.go
  pkg/repository/udmrepo/repo.go
  pkg/restic/aws.go
  pkg/restic/common.go
  pkg/util/ownership/backup_owner.go
Labels: has-unit-tests, has-changelog
