Repository vmware-tanzu/velero, pull requests merged in 2022-10, with the labels that each got.

#5412 Change B/R describe CLI to support kopia
  changelogs/unreleased/5412-allenxu404
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/restore_describer.go
Labels: has-changelog

#5417 Update Maintainers with the new PM pradeepkchaturvedi
  MAINTAINERS.md
Labels: kind/changelog-not-required

#5406 [1.9.x] - Skip the exclusion check for additional resources returned by BIA
  changelogs/unreleased/5406-reasonerjt
  pkg/backup/backup.go
  pkg/backup/item_backupper.go
Labels: has-changelog

#5429 Skip the exclusion check for additional resources returned by BIA
  changelogs/unreleased/5429-reasonerjt
  pkg/backup/backup.go
  pkg/backup/item_backupper.go
Labels: has-changelog

#5441 moved RIA execute input/output structs back to velero package
  changelogs/unreleased/5441-sseago
  pkg/plugin/clientmgmt/restoreitemaction/v1/restartable_restore_item_action.go
  pkg/plugin/clientmgmt/restoreitemaction/v1/restartable_restore_item_action_test.go
  pkg/plugin/framework/restore_item_action_client.go
  pkg/plugin/framework/restore_item_action_server.go
  pkg/plugin/velero/mocks/restoreitemaction/v1/RestoreItemAction.go
  pkg/plugin/velero/restore_item_action_shared.go
  pkg/plugin/velero/restoreitemaction/v1/restore_item_action.go
  pkg/restore/add_pv_from_pvc_action.go
  pkg/restore/add_pv_from_pvc_action_test.go
  pkg/restore/add_pvc_from_pod_action.go
  pkg/restore/add_pvc_from_pod_action_test.go
  pkg/restore/admissionwebhook_config_action.go
  pkg/restore/admissionwebhook_config_action_test.go
  pkg/restore/apiservice_action.go
  pkg/restore/apiservice_action_test.go
  pkg/restore/change_pvc_node_selector.go
  pkg/restore/change_pvc_node_selector_test.go
  pkg/restore/change_storageclass_action.go
  pkg/restore/change_storageclass_action_test.go
  pkg/restore/clusterrolebinding_action.go
  pkg/restore/clusterrolebinding_action_test.go
  pkg/restore/crd_v1_preserve_unknown_fields_action.go
  pkg/restore/crd_v1_preserve_unknown_fields_action_test.go
  pkg/restore/init_restorehook_pod_action.go
  pkg/restore/init_restorehook_pod_action_test.go
  pkg/restore/job_action.go
  pkg/restore/job_action_test.go
  pkg/restore/pod_action.go
  pkg/restore/pod_action_test.go
  pkg/restore/restic_restore_action.go
  pkg/restore/restic_restore_action_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/restore/rolebinding_action.go
  pkg/restore/rolebinding_action_test.go
  pkg/restore/service_account_action.go
  pkg/restore/service_account_action_test.go
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
Labels: has-unit-tests, has-changelog

#5448 [cherry-pick][release-1.9] Exclude "csinodes.storage.k8s.io" and "volumeattachments.storage.k8s.…
  changelogs/unreleased/5448-jxun
  pkg/controller/restore_controller.go
Labels: has-changelog

#5425 Fix E2E test and Git action CI issues
  .github/workflows/e2e-test-kind.yaml
  pkg/cmd/cli/install/install.go
  test/e2e/Makefile
  test/e2e/backups/schedule.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/test/test.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/providers/azure_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5432 Pod Volume Backup/Restore Refactor: Rename Init Helper
  .github/workflows/pr-codespell.yml
  Makefile
  changelogs/unreleased/5432-lyndon
  cmd/velero-restore-helper/velero-restore-helper.go
  design/Implemented/backup-resources-order.md
  design/Implemented/generating-velero-crds-with-structural-schema.md
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/velero/images.go
  internal/velero/images_test.go
  pkg/cmd/server/plugin/plugin.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/podvolume/util.go
  pkg/restore/pod_volume_restore_action.go
  pkg/restore/pod_volume_restore_action_test.go
  pkg/restorehelper/util.go
  pkg/uploader/provider/provider.go
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/install.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#5444 Pod Volume Backup/Restore Refactor: Remove Restic in code
  changelogs/unreleased/5444-lyndon
  pkg/apis/velero/v1/pod_volume_operation_progress.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/pvc_snapshot_tracker.go
  pkg/buildinfo/buildinfo.go
  pkg/cmd/cli/backuplocation/delete.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/util/output/backup_repo_printer.go
  pkg/cmd/util/output/output.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/controller/constants.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/metrics/metrics.go
  pkg/podvolume/backupper.go
  pkg/podvolume/restorer.go
  pkg/podvolume/util_test.go
  pkg/repository/keys/keys.go
  pkg/repository/locker.go
  pkg/repository/manager.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  tilt-resources/examples/tilt-settings.json
Labels: has-unit-tests, has-changelog

#5446 Change subcommand `velero restic` to `velero repo`
  changelogs/unreleased/5446-allenxu404
  pkg/cmd/cli/repo/get.go
  pkg/cmd/cli/repo/repo.go
  pkg/cmd/cli/restic/restic.go
  pkg/cmd/velero/velero.go
Labels: has-changelog

#5313 Bump Go to 1.18
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  go.mod
  go.sum
  test/e2e/Makefile
Labels: kind/changelog-not-required, Dependencies, has-e2e-2tests

#5449 Add CSI VolumeSnapshot client back.
  changelogs/unreleased/5449-blackpiglet
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/util/csi/reset.go
Labels: has-changelog, target/FC

#5401 Add nil check before execution of csi snapshot delete
  changelogs/unreleased/5401-shubham-pampattiwar
  pkg/controller/backup_controller.go
Labels: has-changelog

#5459 Upgrade velero docker image to use go 1.18
  changelogs/unreleased/5459-lyndon
  golangci.yaml
  hack/build-image/Dockerfile
  pkg/archive/extractor.go
  pkg/backup/item_collector.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/delete.go
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/schedule/describe.go
  pkg/cmd/server/server.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/output.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restore_controller.go
  pkg/nodeagent/node_agent.go
  pkg/plugin/clientmgmt/process/client_builder.go
  pkg/repository/config/aws.go
  pkg/repository/config/azure.go
  pkg/repository/config/gcp.go
  pkg/repository/keys/keys.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/restic/command.go
  pkg/restore/admissionwebhook_config_action.go
  pkg/restore/restore.go
  pkg/util/kube/utils.go
Labels: has-unit-tests, has-changelog

#5294 change CSISnapshotTimeout from pointer to normal variable
  changelogs/unreleased/5294-cleverhu
  pkg/cmd/util/output/backup_describer.go
Labels: has-changelog

#5428 Fix CVE-2022-27191
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#5344 Upgrade gopkg.in/yaml.v3 to v3.0.1
  changelogs/unreleased/5344-kaovilai
  go.mod
  go.sum
Labels: Dependencies, has-changelog

#5335 Increase ensure restic repository timeout
  changelogs/unreleased/5335-shubham-pampattiwar
  pkg/repository/ensurer.go
Labels: has-changelog, target/FC

#5469 Fix label naming issue for restore helper
  go.sum
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5388 Add more nil pointer check for CSI related code in backup controller
  changelogs/unreleased/5388-blackpiglet
  pkg/builder/volume_snapshot_builder.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/test/fake_controller_runtime_client.go
Labels: has-unit-tests, has-changelog, target/FC, target/v1.9.3

#5472 [cherry-pick]update k8s.io dependencies to 0.24.0
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/pr-codespell.yml
  changelogs/unreleased/5472-kcboyle
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  design/Implemented/backup-resources-order.md
  design/Implemented/generating-velero-crds-with-structural-schema.md
  go.mod
  go.sum
  pkg/builder/object_meta.go
  pkg/cmd/server/server.go
  pkg/restore/restore_test.go
Labels: Dependencies, has-unit-tests, has-changelog, target/v1.9.3

#5471 update k8s.io dependencies to 0.24.0
  changelogs/unreleased/5471-kcboyle
  design/Implemented/backup-resources-order.md
  go.mod
  go.sum
  pkg/builder/object_meta.go
  pkg/cmd/server/server.go
  pkg/restore/restore_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#5473 Trivial correction to 1.7 upgrade instructions
  site/content/docs/v1.7/upgrade-to-1.7.md
Labels: kind/changelog-not-required, Documentation

#5479 Fix CVE-2022-27191
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#5482 Cherry pick 5388 to v1.9.3
  changelogs/unreleased/5482-blackpiglet
  pkg/controller/backup_controller.go
Labels: has-changelog

#5500 Bump up the distroless image to the latest version
  Dockerfile
  changelogs/unreleased/5500-ywk253100
Labels: has-changelog, target/v1.9.3

#5483 Remove redundancy code block left by #5388.
  changelogs/unreleased/5483-blackpiglet
  pkg/controller/backup_controller.go
Labels: has-changelog

#5518 Fix v1.9.3 CSI VolumeSnapshot status duplicate issue.
  changelogs/unreleased/5518-blackpiglet
  pkg/backup/request.go
  pkg/builder/volume_snapshot_builder.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/test/fake_controller_runtime_client.go
Labels: has-unit-tests, has-changelog

#5484 Pod Volume Backup/Restore Refactor: refactor PVBR doc
  changelogs/unreleased/5484-lyndon
  site/content/docs/main/file-system-backup.md
  site/content/docs/main/restic.md
  site/data/docs/main-toc.yml
  site/layouts/index.redirects
Labels: Website, Documentation, has-changelog
