Repository vmware-tanzu/velero, pull requests merged in 2022-06, with the labels that each got.

#4965 Fix nightly running failure
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/orderedresources/ordered_resources.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4968 Fix E2E test [Backups][Deletion][Restic] on GCP
  changelogs/unreleased/4968-jxun
  test/e2e/util/providers/gcloud_utils.go
Labels: has-changelog, has-e2e-2tests

#4966 Mark in-progress CRs as failed when starting the server
  pkg/cmd/cli/restic/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#4975 Fix ordered resources cmd Stdout already set error
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4972 Disable status as sub resource in CRDs
  changelogs/unreleased/4972-ywk253100
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_resticrepositories.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/crds/crds.go
  go.mod
  go.sum
  pkg/apis/velero/v1/backupstoragelocation_types.go
  pkg/apis/velero/v1/delete_backup_request_types.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/apis/velero/v1/pod_volume_backup_types.go
  pkg/apis/velero/v1/pod_volume_restore_type.go
  pkg/apis/velero/v1/restic_repository_types.go
  pkg/apis/velero/v1/schedule_types.go
  pkg/apis/velero/v1/server_status_request_types.go
  pkg/cmd/cli/restic/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restic_repository_controller.go
  pkg/controller/restic_repository_controller_test.go
  pkg/controller/schedule_controller.go
  pkg/controller/server_status_request_controller.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#4976 Undo setting the VSC's deletion policy during backup
  pkg/controller/backup_controller.go
Labels: kind/changelog-not-required

#4981 Bugs fixing: use patch to update status and set default GC period
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
Labels: kind/changelog-not-required

#4986 Update release instruction
  site/content/docs/main/release-instructions.md
Labels: kind/changelog-not-required, Documentation

#4988 Add more information for failing to get path or snapshot in restic ba…
  changelogs/unreleased/4988-jxun
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/restic/exec_commands.go
Labels: has-changelog

#4989 Enhance checkpoint of bsl deletion
  test/e2e/backups/sync_backups.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4991 Amend doc 1.9 version
  CHANGELOG.md
  site/content/docs/v1.9/_index.md
  site/content/docs/v1.9/backup-hooks.md
  site/content/docs/v1.9/code-standards.md
  site/content/docs/v1.9/custom-plugins.md
  site/content/docs/v1.9/customize-installation.md
  site/content/docs/v1.9/maintainers.md
  site/content/docs/v1.9/release-instructions.md
  site/content/docs/v1.9/start-contributing.md
  site/content/docs/v1.9/support-process.md
Labels: kind/changelog-not-required, Documentation

#4994 Add more explanation for gen-docs parameters
  site/content/docs/main/release-instructions.md
Labels: kind/changelog-not-required

#4996 Fix wrong bucket issue in BSL deletion E2E test
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/util/providers/common.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4997 Fix wrong bucket issue in BSL deletion E2E test
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/util/providers/common.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4998 Bumpup plugin version for Velero 1.9 E2E test
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#4999 Fix tag release script error
  .goreleaser.yml
Labels: kind/changelog-not-required

#5000 Fix tag release error
  .goreleaser.yml
Labels: kind/changelog-not-required

#5008 When spec.RestoreStatus is empty, don't restore status
  changelogs/unreleased/5008-sseago
  pkg/restore/restore.go
Labels: has-changelog

#5015 When spec.RestoreStatus is empty, don't restore status (1.9 cherry-pick)
  changelogs/unreleased/5015-sseago
  pkg/restore/restore.go
Labels: kind/release-blocker, has-changelog

#4980 Add support to download CSI json from object store
  changelogs/unreleased/4980-anshulahuja98
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  design/CLI/PoC/base/CRDs.yaml
  pkg/apis/velero/v1/download_request_types.go
  pkg/persistence/object_store.go
Labels: has-changelog

#5034 Update changelog for rc2
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5015-sseago
Labels: kind/changelog-not-required, has-changelog

#5038 Fix wait for pod func in e2e test
  test/e2e/util/k8s/common.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#5041 Delete opened issues triage action.
  .github/workflows/opened-issues-triage.yml
  changelogs/unreleased/5041-jxun
Labels: has-changelog

#5052 Modify Github actions.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/pr-codespell.yml
  changelogs/unreleased/5052-jxun
Labels: has-changelog
