Repository vmware-tanzu/velero, pull requests merged in 2022-11, with the labels that each got.

#5521 Add credential file store in the backup deletion controller.
  changelogs/unreleased/5521-blackpiglet
  go.mod
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#5526 fix restic backup failure with self-signed certification backend storage
  changelogs/unreleased/5526-qiuming-best
  pkg/uploader/provider/restic.go
Labels: has-changelog

#5499 Pod Volume Backup/Restore Refactor: remove restic in doc
  changelogs/unreleased/5499-lyndon
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/basic-install.md
  site/content/docs/main/build-from-source.md
  site/content/docs/main/code-standards.md
  site/content/docs/main/contributions/ibm-config.md
  site/content/docs/main/contributions/minio.md
  site/content/docs/main/contributions/tencent-config.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/locations.md
  site/content/docs/main/manual-testing.md
  site/content/docs/main/migration-case.md
  site/content/docs/main/on-premises.md
  site/content/docs/main/restore-hooks.md
  site/content/docs/main/restore-reference.md
  site/content/docs/main/self-signed-certificates.md
  site/content/docs/main/supported-providers.md
  site/content/docs/main/tilt.md
  site/content/docs/main/troubleshooting.md
  site/content/docs/main/velero-install.md
  site/content/resources/_index.md
Labels: Website, Documentation, has-changelog

#5478 Issue fix 5477
  changelogs/unreleased/5478-lyndon
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/provider/unified_repo.go
  pkg/restic/common.go
Labels: has-unit-tests, has-changelog

#5512 Issue fix 5505
  changelogs/unreleased/5512-lyndon
  pkg/repository/config/azure.go
  pkg/repository/config/azure_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog

#5534 fix restic backup progress error
  changelogs/unreleased/5534-qiuming-best
  pkg/restic/exec_commands.go
Labels: has-changelog

#5529 Enhance the restore priorities list to support specifying the low prioritized resources that need to be restored in the last
  changelogs/unreleased/5529-ywk253100
  pkg/cmd/server/server.go
  pkg/restore/priority.go
  pkg/restore/priority_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog, target/v1.9.3

#5536 Fix GCP StorageClass used for E2E testing's YAML syntax error.
  test/e2e/testdata/storage-class/gcp.yaml
Labels: kind/changelog-not-required, has-e2e-2tests

#5538 Generate v1.9.3 changelog
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5406-reasonerjt
  changelogs/unreleased/5448-jxun
  changelogs/unreleased/5472-kcboyle
  changelogs/unreleased/5482-blackpiglet
  changelogs/unreleased/5500-ywk253100
  changelogs/unreleased/5518-blackpiglet
  changelogs/unreleased/5529-ywk253100
Labels: kind/changelog-not-required, has-changelog

#5535 [cherry-pick]Enhance the restore priorities list to support specifying the low prioritized resources that need to be restored in the last
  changelogs/unreleased/5535-ywk253100
  pkg/cmd/server/server.go
  pkg/restore/priority.go
  pkg/restore/priority_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#5513 Update Community meetings times
  site/content/community/_index.md
Labels: Website, kind/changelog-not-required

#5517 feat: dependabot workflow automation for updating dependency
  .github/dependabot.yml
Labels: kind/changelog-not-required

#5485 Fix pointer deference to string in error message
  pkg/controller/backup_controller.go
Labels: kind/changelog-not-required

#5543 add VSL credentials documentation.
  site/content/docs/main/locations.md
Labels: kind/changelog-not-required, Documentation

#5468 Add v1.10 velero upgrade doc
  changelogs/unreleased/5468-qiuming-best
  site/content/docs/main/upgrade-to-1.10.md
  site/content/docs/main/upgrade-to-1.9.md
  site/data/docs/main-toc.yml
Labels: Website, Documentation, has-changelog

#5554 Modify dependabot rules by only fix security issues
  .github/dependabot.yml
Labels: kind/changelog-not-required

#5559 Remove dependency on gofrs/uuid
  go.mod
  go.sum
  internal/hook/item_hook_handler.go
  pkg/restore/restore.go
Labels: kind/changelog-not-required, Dependencies

#5558 Bump up golang version to 1.18.8
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/CHANGELOG-1.9.md
  go.mod
  go.sum
  golangci.yaml
  hack/build-image/Dockerfile
  pkg/archive/extractor.go
  pkg/backup/item_collector.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/delete.go
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/cli/restic/server.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/schedule/describe.go
  pkg/cmd/server/server.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/output.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restore_controller.go
  pkg/plugin/clientmgmt/client_builder.go
  pkg/plugin/framework/server_errors.go
  pkg/restic/aws.go
  pkg/restic/azure.go
  pkg/restic/command.go
  pkg/restic/gcp.go
  pkg/restic/mocks/fake_restic_executer.go
  pkg/restic/repository_keys.go
  pkg/restore/admissionwebhook_config_action.go
  pkg/restore/restore.go
  pkg/util/kube/utils.go
  test/e2e/Makefile
Labels: kind/changelog-not-required, Dependencies, has-changelog, has-e2e-2tests

#5565 Upload Velero build package saved from build image to Google cloud st…
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Makefile
  hack/ci/build_util.sh
Labels: kind/changelog-not-required

#5570 Fix controller problematic log output
  changelogs/CHANGELOG-1.9.md
  go.mod
  go.sum
  pkg/util/kube/periodical_enqueue_source.go
Labels: kind/changelog-not-required, Dependencies, has-changelog

#5572 Fix controller problematic log output
  changelogs/unreleased/5572-qiuming-best
  go.mod
  go.sum
  pkg/util/kube/periodical_enqueue_source.go
Labels: Dependencies, has-changelog

#5574 [cherry-pick]Add compile restic binary for CVE fix
  Dockerfile
  changelogs/unreleased/5574-qiuming-best
  hack/build-restic.sh
Labels: has-changelog

#5573 Rename secret for Google cloud storage
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Makefile
Labels: kind/changelog-not-required

#5564 Add compile restic binary for CVE fix
  Dockerfile
  changelogs/CHANGELOG-1.9.md
  hack/build-restic.sh
Labels: kind/changelog-not-required, has-changelog

#5577 Fix restic cross platform compile problem
  Dockerfile
  hack/build-restic.sh
Labels: kind/changelog-not-required

#5579 [cherry-pick]Fix restic cross platform compile
  Dockerfile
  hack/build-restic.sh
Labels: kind/changelog-not-required

#5524 Update upgrade test
  Makefile
  test/e2e/Makefile
  test/e2e/backups/deletion.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/common/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5581 Save velero image tarball only for velero namespace in docker registry
  Makefile
Labels: kind/changelog-not-required

#5584 Update 1.10 compatibility matrix
  README.md
Labels: kind/changelog-not-required

#5585 Pin velero version
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#5590 [main] Add Velero behind proxy document.
  site/content/docs/main/proxy.md
  site/content/docs/v1.10.0-rc.1/proxy.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-10-0-rc-1-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#5589 [release-1.10] Add Velero behind proxy document.
  site/content/docs/main/proxy.md
  site/content/docs/v1.10.0-rc.1/proxy.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-10-0-rc-1-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#5593 Add Velero File System Backup Performance Guide
  site/content/docs/main/file-system-backup.md
  site/content/docs/main/performance-guidance.md
  site/content/docs/v1.10.0-rc.1/file-system-backup.md
  site/content/docs/v1.10.0-rc.1/performance-guidance.md
Labels: kind/changelog-not-required, Documentation

#5601 [release-1.10] Add Velero File System Backup Performance Guide
  site/content/docs/main/file-system-backup.md
  site/content/docs/main/performance-guidance.md
  site/content/docs/v1.10.0-rc.1/file-system-backup.md
  site/content/docs/v1.10.0-rc.1/performance-guidance.md
Labels: kind/changelog-not-required, Documentation

#5602 update 1.10 release notes
  changelogs/CHANGELOG-1.10.md
Labels: kind/changelog-not-required

#5608 Update the Valero channel hash-name for Kubernetes Slack.
  site/content/community/_index.md
  site/content/docs/main/_index.md
Labels: Website, Documentation

#5603 update 1.10 release notes
  changelogs/CHANGELOG-1.10.md
Labels: kind/changelog-not-required

#5611 [Main Cherry-Pick]Enhance upgrade velero bash script
  site/content/docs/main/upgrade-to-1.10.md
  site/content/docs/v1.10.0-rc.1/upgrade-to-1.10.md
Labels: kind/changelog-not-required, Documentation

#5610 Enhance upgrade velero bash script
  site/content/docs/main/upgrade-to-1.10.md
  site/content/docs/v1.10.0-rc.1/upgrade-to-1.10.md
Labels: kind/changelog-not-required

#5609 Add pause/unpause schedule e2e test
  test/e2e/e2e_suite_test.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5614 Add pause/unpause schedule e2e test
  test/e2e/e2e_suite_test.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5616 Restore ClusterBootstrap before Cluster
  changelogs/unreleased/5616-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog

#5618 [1.10.x]: Update the api-types doc
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  hack/build-image/Dockerfile
  pkg/apis/velero/v1/backup.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.10.0-rc.1/api-types/backup.md
  site/content/docs/v1.10.0-rc.1/api-types/restore.md
  site/content/docs/v1.10.0-rc.1/api-types/schedule.md
Labels: Documentation

#5615 Restore ClusterBootstrap before Cluster
  changelogs/unreleased/5615-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog

#5628 [main] Remove old kubernetes versions from kind CI
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#5606 Bump goreleaser to v1.12.3
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#5627 [1.9] Remove old kubernetes versions from kind CI
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#5630 Fix git action issue for setup-gcloud
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#5629 Add verification for CRD installation
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/migration/migration.go
  test/e2e/util/k8s/common.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5632 Cherry pick to 1.10 Add verification for CRD installation
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/migration/migration.go
  test/e2e/util/k8s/common.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5633 Cherry pick to 1.10 for Fix git action issue for setup-gcloud
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#5634 [main]: Update the api-types doc
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  hack/build-image/Dockerfile
  pkg/apis/velero/v1/backup.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.10.0-rc.1/api-types/backup.md
  site/content/docs/v1.10.0-rc.1/api-types/restore.md
  site/content/docs/v1.10.0-rc.1/api-types/schedule.md
Labels: kind/changelog-not-required, Documentation

#5642 Fix CVE for trivy scan
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/download-restic.sh
Labels: Dependencies

#5643 Rollback compile restic
  Dockerfile
  hack/build-restic.sh
Labels: kind/changelog-not-required

#5644 Rollback goreleaser upgrade
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#5647 Add sleep before backing up new born CRD
  1
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/debug-bundle-1669709736054564976.tar.gz
Labels: kind/changelog-not-required, has-e2e-2tests
