Repository vmware-tanzu/velero, pull requests merged in 2022-09, with the labels that each got.

#5214 Uploader Implementation: Restic backup and restore
  changelogs/unreleased/5214-qiuming-best
  pkg/cmd/cli/restic/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/repository/util/backup_repo_op.go
  pkg/restic/exec_commands.go
  pkg/restic/executer.go
  pkg/restic/mocks/fake_restic_executer.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: has-unit-tests, has-changelog

#5237 Add enable API group on k8s resources E2E test
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/testdata/enable_api_group_versions/case-a-source-v1beta1.yaml
  test/e2e/util/k8s/common.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5236 Check for empty ns list before checking nslist[0]
  changelogs/unreleased/5236-sseago
  pkg/backup/item_collector.go
Labels: has-changelog

#5259 Kopia Pod Volume Backup/Restore
  changelogs/unreleased/5259-lyndon
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/apis/velero/v1/labels_annotations.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/restic_repository_controller.go
  pkg/controller/restic_repository_controller_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_test.go
  pkg/podvolume/util.go
  pkg/repository/ensurer.go
  pkg/repository/manager.go
  pkg/repository/manager_test.go
  pkg/repository/mocks/repository_manager.go
Labels: has-unit-tests, has-changelog

#5261 chore: remove duplicate word in comments
  pkg/install/install.go
  pkg/restore/prioritize_group_version.go
Labels: kind/changelog-not-required

#5252 add CSISnapshotTimeout for describe backup
  changelogs/unreleased/5252-cleverhu
  pkg/cmd/util/output/backup_describer.go
Labels: has-changelog

#5300 Fix code spell check fail
  changelogs/unreleased/5300-qiuming-best
  design/Implemented/plugin-backup-and-restore-progress-design.md
  hack/release-tools/tag-release.sh
  pkg/backup/testdata/v1/alertmanagers.monitoring.coreos.com.json
  pkg/backup/testdata/v1/elasticsearches.elasticsearch.k8s.elastic.co.json
  pkg/backup/testdata/v1/pprometheuses.monitoring.coreos.com.json
  pkg/backup/testdata/v1/prometheuses.monitoring.coreos.com.json
  pkg/backup/testdata/v1beta1/alertmanagers.monitoring.coreos.com.json
  pkg/backup/testdata/v1beta1/elasticsearches.elasticsearch.k8s.elastic.co.json
  pkg/backup/testdata/v1beta1/prometheuses.monitoring.coreos.com.json
  test/e2e/e2e_suite_test.go
Labels: has-changelog, has-e2e-2tests

#5282 Kopia Pod Volume Backup/Restore Smoking Test Changes
  changelogs/unreleased/5282-lyndon
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restic_repository_controller.go
  pkg/controller/restic_repository_controller_test.go
  pkg/persistence/object_store_layout.go
  pkg/podvolume/restorer.go
  pkg/podvolume/util.go
  pkg/repository/backup_repo_op.go
  pkg/repository/manager.go
  pkg/repository/mocks/Manager.go
  pkg/repository/mocks/repository_manager.go
  pkg/repository/provider/restic.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/util/backup_repo_op.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/util/logging/kopia_log.go
Labels: has-unit-tests, has-changelog

#5301 Don't panic when storageClassName is not set in stateful sets
  changelogs/unreleased/5301-divolgin
  pkg/restore/change_storageclass_action.go
Labels: has-changelog

#5303 check vsc null pointer
  changelogs/unreleased/5303-lilongfeng0902
  pkg/controller/backup_controller.go
Labels: has-changelog

#5304 fix edge cases for already exists resources
  changelogs/unreleased/5304-shubham-pampattiwar
  pkg/restore/restore.go
Labels: has-changelog

#5302 Check for empty ns list before checking nslist[0]
  changelogs/unreleased/5302-sseago
  pkg/backup/item_collector.go
Labels: has-changelog

#5293 optimize code for restore exists resources
  changelogs/unreleased/5293-cleverhu
  pkg/restore/restore.go
Labels: has-changelog

#5308 Repo Ensurer Refactor
  changelogs/unreleased/5308-lyndon
  pkg/cmd/server/server.go
  pkg/repository/backup_repo_op.go
  pkg/repository/backup_repo_op_test.go
  pkg/repository/ensurer.go
Labels: has-unit-tests, has-changelog

#4864 Add credentials to volume snapshot locations.
  changelogs/unreleased/4864-sseago
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/volume_snapshot_location_type.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/builder/volume_snapshot_location_builder.go
  pkg/cmd/cli/snapshotlocation/create.go
  pkg/cmd/cli/snapshotlocation/set.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/restore/pv_restorer.go
  pkg/restore/restore.go
  pkg/volume/snapshotlocation.go
  site/content/docs/main/api-types/volumesnapshotlocation.md
  site/content/docs/main/locations.md
  site/content/docs/main/troubleshooting.md
Labels: has-unit-tests, Documentation, has-changelog

#5286 Fix CVE-2022-1962 by bumping up golang version to 1.17.13
  Dockerfile
  changelogs/unreleased/5286-qiuming-best
  hack/build-image/Dockerfile
Labels: has-changelog

#5336 [Cherry pick to v1.9.x] Increase restic ensure repo timeout
  changelogs/unreleased/5336-shubham-pampattiwar
  pkg/restic/repository_ensurer.go
Labels: has-changelog

#5319 Issue fix 4874 and 4752
  changelogs/unreleased/5319-lyndon
  pkg/cmd/server/server.go
  pkg/nodeagent/node_agent.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/util/kube/pod.go
Labels: has-changelog

#5338 Generate changelog for v1.9.2
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5286-qiuming-best
  changelogs/unreleased/5300-qiuming-best
  changelogs/unreleased/5301-divolgin
  changelogs/unreleased/5302-sseago
  changelogs/unreleased/5303-lilongfeng0902
  changelogs/unreleased/5304-shubham-pampattiwar
  changelogs/unreleased/5336-shubham-pampattiwar
Labels: kind/changelog-not-required

#5305 Add support to download CSI json from object store
  changelogs/unreleased/5305-anshulahuja98
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  design/CLI/PoC/base/CRDs.yaml
  pkg/apis/velero/v1/download_request_types.go
  pkg/persistence/object_store.go
Labels: has-changelog

#5341 Amend changelog for v1.9.2
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5305-anshulahuja98
Labels: kind/changelog-not-required

#5291 Add shorthand for labels columns
  changelogs/unreleased/5291-cleverhu
  pkg/cmd/util/output/output.go
Labels: has-changelog

#5322 Fix PVB finds wrong parent snapshot
  changelogs/unreleased/5322-qiuming-best
  pkg/controller/pod_volume_backup_controller.go
Labels: has-changelog

#5347 Fix restore cmd extraflag overwrite bug
  changelogs/unreleased/5347-qiuming-best
  pkg/uploader/provider/restic.go
Labels: has-changelog

#5263 Don't move velero v1 plugins to new proto dir
  changelogs/unreleased/5263-sseago
  design/plugin-versioning.md
  hack/update-2proto.sh
  pkg/plugin/framework/backup_item_action.go
  pkg/plugin/framework/backup_item_action_client.go
  pkg/plugin/framework/backup_item_action_server.go
  pkg/plugin/framework/backup_item_action_test.go
  pkg/plugin/generated/BackupItemAction.pb.go
  pkg/plugin/proto/BackupItemAction.proto
Labels: Area/Design, has-unit-tests, has-changelog

#5314 Change the status of restore to completed from partiallyFailed when restore empty backup
  changelogs/unreleased/5314-allenxu404
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#5329 Cancel downloadRequest when timeout without downloadURL
  changelogs/unreleased/5329-kaovilai
  pkg/cmd/util/downloadrequest/downloadrequest.go
Labels: has-changelog

#5356 Fix issue 5352
  pkg/podvolume/restorer_test.go
Labels: kind/changelog-not-required, has-unit-tests

#5359 Issue fix 5358
  changelogs/unreleased/5359-lyndon
  pkg/repository/backup_repo_op.go
  pkg/repository/backup_repo_op_test.go
Labels: has-unit-tests, has-changelog

#5350 Modify help message of parameter --snapshot-volumes
  changelogs/unreleased/5350-blackpiglet
  pkg/cmd/cli/backup/create.go
Labels: has-changelog

#5279 Support pause/unpause schedules
  changelogs/unreleased/5279-ywk253100
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/schedule_types.go
  pkg/cmd/cli/delete_options.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/cli/schedule/pause.go
  pkg/cmd/cli/schedule/schedule.go
  pkg/cmd/cli/schedule/unpause.go
  pkg/cmd/cli/select_option.go
  pkg/cmd/cli/select_option_test.go
  pkg/cmd/util/output/schedule_describer.go
  pkg/cmd/util/output/schedule_printer.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/schedule_controller.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
  pkg/util/kube/predicate.go
  pkg/util/kube/predicate_test.go
Labels: has-unit-tests, has-changelog

#5353 add useOwnerReferencesInBackup field doc
  changelogs/unreleased/5353-cleverhu
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.6/api-types/schedule.md
  site/content/docs/v1.7/api-types/schedule.md
  site/content/docs/v1.8/api-types/schedule.md
  site/content/docs/v1.9/api-types/schedule.md
Labels: Documentation, has-changelog

#5367 Fix issue of fail to get command output for test verification
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5370 Pod Volume Backup/Restore Refactor: Rename Command Parameters
  changelogs/unreleased/5370-lyndon
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/podvolume/util.go
  pkg/podvolume/util_test.go
  pkg/restic/common.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/orderedresources/ordered_resources.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/util/velero/velero_utils.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#5299 Remove snapshot client from backup controller
  changelogs/unreleased/5299-jxun
  pkg/backup/request.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/util/csi/reset.go
Labels: has-changelog

#5355 Add schedule backup timing E2E test
  changelogs/unreleased/5355-danfengliu
  test/e2e/backups/schedule.go
  test/e2e/e2e_suite_test.go
  test/e2e/util/common/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/velero/velero_utils.go
Labels: has-changelog, has-e2e-2tests

#5387 fix issue 5386
  changelogs/unreleased/5387-lyndon
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/utils.go
Labels: has-unit-tests, has-changelog

#5362 Added backupController's UT to test the prepareBackupRequest() method BackupStorageLocation processing logic
  changelogs/unreleased/5362-niulechuan
  pkg/controller/backup_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#5372 Add Kopia support for Velero installation in E2E test
  test/e2e/Makefile
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5394 Fix Test_prepareBackupRequest_BackupStorageLocation UT failure.
  changelogs/unreleased/5394-blackpiglet
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog

#5377 Fix restore error with flag namespace-mappings
  changelogs/unreleased/5377-qiuming-best
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/pod_volume_restore_type.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/podvolume/restorer.go
  pkg/uploader/provider/provider.go
Labels: has-changelog

#5315 A little note about TTL expiration
  site/content/docs/v1.9/how-velero-works.md
Labels: kind/changelog-not-required, Documentation

#5283 Add backup status checking in schedule controller.
  changelogs/unreleased/5283-blackpiglet
  pkg/controller/schedule_controller.go
  pkg/controller/schedule_controller_test.go
Labels: has-unit-tests, has-changelog

#5064 Exclude "csinodes.storage.k8s.io" and "volumeattachments.storage.k8s.…
  changelogs/unreleased/5064-jxun
  pkg/controller/restore_controller.go
Labels: has-changelog

#5410 Fix issues of E2E test for API group, migration and pv opt-out backup
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/util/common/common.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests
