Repository vmware-tanzu/velero, pull requests merged in 2022-12, with the labels that each got.

#5648 Fix links to compatibility matrix
  site/content/docs/main/basic-install.md
  site/content/docs/main/upgrade-to-1.10.md
  site/content/docs/v1.10/basic-install.md
  site/content/docs/v1.10/upgrade-to-1.10.md
  site/content/docs/v1.4/basic-install.md
  site/content/docs/v1.4/upgrade-to-1.4.md
  site/content/docs/v1.7/basic-install.md
  site/content/docs/v1.7/upgrade-to-1.7.md
  site/content/docs/v1.9/basic-install.md
  site/content/docs/v1.9/upgrade-to-1.9.md
Labels: Documentation

#5659 Update Velero and k8s version compatibility matrix.
  1
  README.md
Labels: kind/changelog-not-required

#5655 [Cherry-Pick]Fix CVEs scanned by trivy
  Makefile
  changelogs/unreleased/5655-qiuming-best
  go.mod
  go.sum
Labels: Dependencies, has-changelog

#5108 Item action progress monitoring design
  design/AsyncActionFSM.graffle
  design/AsyncActionFSM.png
  design/general-progress-monitoring.md
Labels: Area/Design, kind/changelog-not-required

#5382 BackupItemAction v2 design
  design/biav2-design.md
Labels: Area/Design, kind/changelog-not-required, area/progress-monitoring

#5408 RestoreItemAction v2 design
  design/riav2-design.md
Labels: Area/Design, kind/changelog-not-required, area/progress-monitoring

#5421 VolumeSnapshotter v2 API design
  design/vsv2-design.md
Labels: Area/Design, kind/changelog-not-required, area/progress-monitoring

#5685 Add Restic builder in Dockerfile.
  Dockerfile
  changelogs/unreleased/5685-blackpiglet
  hack/build-restic.sh
  hack/modify_acces_denied_code.txt
Labels: has-changelog

#5706 Add changelogs for v1.9.5
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5615-ywk253100
  changelogs/unreleased/5685-blackpiglet
Labels: kind/changelog-not-required, has-changelog

#5707 Add GOARM for restic compile failure
  Dockerfile
Labels: kind/changelog-not-required

#5711 Fix error with Restic backup empty volumes
  changelogs/unreleased/5711-qiuming-best
  pkg/uploader/provider/restic.go
Labels: has-changelog

#5713 [Cherry-Pick]Fix error with Restic backup empty volumes
  changelogs/unreleased/5713-qiuming-best
  pkg/uploader/provider/restic.go
Labels: has-changelog

#5714 [1.10] Fix issue 5696
  changelogs/unreleased/5714-Lyndon-Li
  pkg/repository/manager.go
  pkg/repository/provider/provider.go
  pkg/repository/provider/restic.go
  pkg/repository/provider/unified_repo.go
Labels: has-changelog

#5715 [Main] Fix issue 5696
  changelogs/unreleased/5715-Lyndon-Li
  pkg/repository/manager.go
  pkg/repository/provider/provider.go
  pkg/repository/provider/restic.go
  pkg/repository/provider/unified_repo.go
Labels: has-changelog

#5700 Minor updates to async action monitoring design
  design/general-progress-monitoring.md
Labels: Area/Design, kind/changelog-not-required
