Repository vmware-tanzu/velero, pull requests merged in 2022-02, with the labels that each got.

#4593 Remove Bridget McErlean from maintainers
  MAINTAINERS.md
  site/content/contributors/02-bridget-mcerlean.md
  site/static/img/contributors/bridget-mcerlean.png
Labels: Website, kind/changelog-not-required

#4605 Undeprecate the volumesnapshot plugin in the doc
  site/content/docs/main/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#4622 Make sure the tag-release script fail on any error
  hack/release-tools/tag-release.sh
Labels: kind/changelog-not-required

#4634 Fix E2E backup namespaces test
  changelogs/unreleased/4634-qiuming-best
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/test/test.go
Labels: has-changelog, has-e2e-2tests

#4618 Check for nil before logging DefaultVolumesToRestic value
  pkg/backup/backup.go
Labels: kind/changelog-not-required

#4639 Update e2e test image to gcr.io
  changelogs/unreleased/4639-jxun
  test/e2e/util/k8s/deployment.go
Labels: has-changelog, has-e2e-2tests

#4584 restic backupper: ignore volumes of non-running pods
  changelogs/unreleased/4584-bynare
  pkg/restic/backupper.go
Labels: has-changelog

#4641 Add more exempt labels for stalebot
  .github/stale.yml
Labels: kind/changelog-not-required

#4653 Add delete BSL cleanup highlight and fixed grammar in heading
  changelogs/CHANGELOG-1.8.md
Labels: has-changelog

#4654 Update release note to reflect the fix for #1980
  changelogs/CHANGELOG-1.8.md
Labels: kind/changelog-not-required, has-changelog

#4620 Add Xun Jiang's profile information into Velero Website's contributor list.
  site/content/contributors/02-xun-jiang.md
  site/static/img/contributors/xun-jiang.png
Labels: Website, kind/changelog-not-required

#4588 Add CloudCasa to "Adopters of Velero" section on velero.io
  ADOPTERS.md
  site/static/img/adopters/cloudcasa.svg
Labels: Website

#4658 Updates to 1.8 changelog
  .github/stale.yml
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/4584-bynare
  pkg/restic/backupper.go
Labels: kind/changelog-not-required, has-changelog

#4656 Copy edits for 1.8 release notes
  changelogs/CHANGELOG-1.8.md
Labels: kind/changelog-not-required, has-changelog

#4659 1.8 release note
  changelogs/CHANGELOG-1.8.md
Labels: kind/changelog-not-required, has-changelog

#4667 Bump up golang to 1.17.7
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  changelogs/unreleased/4667-ywk253100
  go.mod
  hack/build-image/Dockerfile
  pkg/apis/velero/v1/zz_generated.deepcopy.go
Labels: Dependencies, has-changelog

#4668 Pin the golang version to patch version for the image used by make
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#4666 Remove the office hours from the community page
  site/content/community/_index.md
Labels: Website, kind/changelog-not-required

#4672 Enable building and pushing image for release branches
  .github/workflows/push.yml
  hack/docker-push.sh
Labels: kind/changelog-not-required

#4673 Bug fixing, only check whether the tag is the latest version when tag isn't empty
  hack/docker-push.sh
Labels: kind/changelog-not-required

#4675 [cherry-pick]Check for nil before logging DefaultVolumesToRestic value
  pkg/backup/backup.go
Labels: kind/changelog-not-required

#4679 Append "-dev" suffix for the image tag of release branches
  hack/docker-push.sh
Labels: kind/changelog-not-required

#4439 update migration across different k8s versions section
  site/content/docs/main/migration-case.md
  site/content/docs/v1.6/migration-case.md
  site/content/docs/v1.7/migration-case.md
Labels: Documentation

#4680 [fix] Add regional PV support for GKE
  changelogs/unreleased/4680-jxun
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
Labels: has-unit-tests, has-changelog

#4692 Add skip case support in e2e test
  changelogs/unreleased/4692-jxun
  test/e2e/Makefile
Labels: has-changelog, has-e2e-2tests

#4693 Generate changelog for 1.7.2
  changelogs/CHANGELOG-1.7.md
  changelogs/unreleased/4667-ywk253100
Labels: kind/changelog-not-required, has-changelog

#4518 Fix bug to make the restic prune frequency configurable
  changelogs/unreleased/4518-ywk253100
  pkg/restic/repository_ensurer.go
Labels: has-changelog

#4643 Don't exit when getting no match for grep
  hack/release-tools/tag-release.sh
Labels: kind/changelog-not-required

#4660 Update --use-owner-references-in-backup description in velero command…
  changelogs/unreleased/4660-jxun
  pkg/cmd/cli/schedule/create.go
  site/content/docs/main/backup-reference.md
Labels: Documentation, has-changelog

#4691 [cherry-pick] 4663 add regional disk support to 1.8
  changelogs/unreleased/4691-jxun
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
Labels: has-unit-tests, has-changelog

#4694 Add support for --pod-labels
  changelogs/unreleased/4694-j4m3s-s
  pkg/cmd/cli/install/install.go
  pkg/install/daemonset.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: has-changelog

#4084 Add full support for setting securityContext for restic restore
  changelogs/unreleased/4084-MatthieuFin
  go.mod
  pkg/restore/restic_restore_action.go
  pkg/restore/restic_restore_action_test.go
  pkg/util/kube/security_context.go
  pkg/util/kube/security_context_test.go
  site/content/docs/main/restic.md
Labels: Dependencies, has-unit-tests, Documentation, has-changelog

#4633 Add Ming Qiu's profile information into Velero Website's contributor list
  site/content/contributors/02-ming-qiu.md
  site/static/img/contributors/ming-qiu.png
Labels: Website, kind/changelog-not-required

#4686 Bypass the remap CRD version plugin when v1beta1 CRD is not supported
  changelogs/unreleased/4686-reasonerjt
  pkg/backup/remap_crd_version_action.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/cmd/server/plugin/plugin.go
Labels: has-unit-tests, has-changelog

#4704 Enable coverage in test.sh and upload to codecov
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  changelogs/unreleased/4704-reasonerjt
  hack/test.sh
Labels: has-changelog

#4677 [cherry-pick]Enable building and pushing image for release branches
  .github/workflows/push.yml
  hack/docker-push.sh
Labels: kind/changelog-not-required

#4676 [cherry-pick]Enable building and pushing image for release branches
  .github/workflows/push.yml
  hack/docker-push.sh
Labels: kind/changelog-not-required

#4706 [Cherry-pick] Bypass the remap CRD version plugin when v1beta1 CRD is not supported
  changelogs/unreleased/4706-reasonerjt
  pkg/backup/remap_crd_version_action.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/cmd/server/plugin/plugin.go
Labels: has-unit-tests, has-changelog
