Repository vmware-tanzu/velero, pull requests merged in 2023-02, with the labels that each got.

#5811 bump up golang net
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#5813 add change log
  changelogs/CHANGELOG-1.10.md
Labels: kind/changelog-not-required, has-changelog

#5802 Add option "--service-account-name" to install cmd
  changelogs/unreleased/5802-reasonerjt
  pkg/cmd/cli/install/install.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
Labels: has-unit-tests, has-changelog

#5817 Fix Restic v0.14.0 HIGH grade CVEs.
  changelogs/CHANGELOG-1.10.md
  hack/build-restic.sh
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required, has-changelog

#5812 [Main] bump up golang net
  changelogs/unreleased/5812-Lyndon-Li
  go.mod
  go.sum
Labels: Dependencies, has-changelog

#5759 Remove redundant client from restore controller.
  changelogs/unreleased/5759-blackpiglet
  pkg/cmd/server/server.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/client.go
Labels: has-unit-tests, has-changelog

#5808 Restore finalizer and managedFields
  changelogs/unreleased/5808-ywk253100
  pkg/builder/object_meta.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#5819 Clean up unnecessary convert
  internal/hook/item_hook_handler.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/cmd/cli/bug/bug.go
  pkg/controller/backup_repository_controller_test.go
  pkg/plugin/clientmgmt/restartable_item_snapshotter_test.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/restic/exec_commands_test.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/util/k8s/persistentvolumes.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#5821 Optimize string contrast judgment
  pkg/repository/config/azure.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5806 Add mapped selected-node existence check.
  changelogs/unreleased/5806-blackpiglet
  pkg/restore/change_pvc_node_selector.go
  pkg/restore/change_pvc_node_selector_test.go
Labels: has-unit-tests, has-changelog

#5807 Update CRD descriptions for SnapshotVolumes and restorePVs
  changelogs/unreleased/5807-shubham-pampattiwar
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/restore.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/api-types/schedule.md
Labels: Documentation, has-changelog

#5828 Use updated PVB/PVR for patching Failed Phase during startup
  changelogs/unreleased/5828-kaovilai
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/podvolumebackup/util.go
  pkg/podvolumerestore/util.go
Labels: has-changelog

#5540 change image repository by configmap
  changelogs/unreleased/5540-wenterjoy
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/change_image_name_action.go
  pkg/restore/change_image_name_action_test.go
  site/content/docs/main/restore-reference.md
Labels: has-unit-tests, Documentation, has-changelog

#5736 Add info about using shell and using environment variables in restore…
  site/content/docs/main/restore-hooks.md
Labels: kind/changelog-not-required, Documentation

#5768 Issue fix 5226
  changelogs/unreleased/5768-Lyndon-Li
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/util/kube/event_handler.go
  pkg/util/kube/pod.go
  pkg/util/kube/predicate.go
Labels: has-unit-tests, has-changelog

#5333 Proposal to separate resource filter into cluster scope and namespace…
  changelogs/unreleased/5333-blackpiglet
  design/cluster-scope-resource-filter.md
Labels: Area/Design, has-changelog

#5769 Issue fix 5458
  changelogs/unreleased/5769-Lyndon-Li
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
Labels: has-unit-tests, has-changelog

#5830 release-1.10: Use updated PVB/PVR for patching Failed Phase during startup
  changelogs/unreleased/5830-kaovilai
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

#5829 release-1.9: Use updated PVB/PVR for patching Failed Phase during startup
  changelogs/unreleased/5829-kaovilai
  pkg/cmd/cli/restic/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

#5788 Enable staticcheck linter. Disable check for folder /pkg and /test by…
  .github/workflows/pr-ci-check.yml
  changelogs/unreleased/5788-blackpiglet
  cmd/velero-restore-helper/velero-restore-helper.go
  config/crd/v1/crds/crds.go
  hack/crd-gen/v1/main.go
  hack/release-tools/chk_version.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  internal/storage/storagelocation.go
  internal/storage/storagelocation_test.go
  pkg/staticcheck.conf
  test/staticcheck.conf
Labels: has-changelog

#5846 Revert "Restore finalizer and managedFields (#5808)"
  changelogs/unreleased/5808-ywk253100
  pkg/builder/object_meta.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#5843 Add secret restore item action to handle service account token secret
  changelogs/unreleased/5843-ywk253100
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/restore/secret_action.go
  pkg/restore/secret_action_test.go
Labels: has-unit-tests, has-changelog

#5840 move UpdatePVXStatusToFailed to controller pkg
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/podvolumebackup/util.go
  pkg/podvolumerestore/util.go
Labels: kind/changelog-not-required

#5786 Set Kopia IgnoreUnknownTypes in ErrorHandlingPolicy to True
  changelogs/unreleased/5786-qiuming-best
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
Labels: has-changelog

#5837 Fix E2E CI cass filter regular expression issue
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#5869 [cherry-pick]Add secret restore item action to handle service account token secret
  changelogs/unreleased/5869-ywk253100
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/restore/secret_action.go
  pkg/restore/secret_action_test.go
Labels: has-unit-tests, has-changelog, target/1.10.2

#5576 Publish backup results to enhance error info
  changelogs/unreleased/5576-anshulahuja98
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/logging/log_counter_hook.go
  pkg/util/results/result.go
  pkg/util/results/result_test.go
Labels: has-unit-tests, has-changelog

#5853 Restore finalizer and managedFields
  changelogs/unreleased/5853-ywk253100
  pkg/builder/object_meta.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
Labels: has-unit-tests, has-changelog

#5831 Add snapshotvolumes default behavior E2E test
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/resources-check/resources_check.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/csi/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/deployment.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/k8s/service.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5877 [cherry-pick]Restore finalizer and managedFields
  changelogs/unreleased/5877-ywk253100
  pkg/builder/object_meta.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
Labels: has-unit-tests, has-changelog, target/1.10.2

#5224 gh-issue-template: Comment out the subheading description
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-enhancement-request.md
  pkg/cmd/cli/bug/bug.go
Labels: kind/changelog-not-required

#5884 Bump up Golang version and fix CVEs.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/unreleased/5884-blackpiglet
  go.mod
  go.sum
  hack/build-image/Dockerfile
  hack/build-restic.sh
  hack/fix_restic_cve.txt
Labels: Dependencies, has-changelog

#5888 [cherry-pick][release-1.10]Add labels for velero installed namespace to support PSA
  changelogs/unreleased/5888-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#5887 [cherry-pick][release-1.9] Add labels for velero installed namespace to support PSA
  changelogs/unreleased/5887-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#5879 [Cherrypick-1.10]Publish backup results extracted from backup logs
  changelogs/unreleased/5879-anshulahuja98
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/logging/log_counter_hook.go
  pkg/util/results/result.go
  pkg/util/results/result_test.go
Labels: has-unit-tests, has-changelog

#5890 [cherry-pick]Set Kopia IgnoreUnknownTypes in ErrorHandlingPolicy to True for ignoring backup unknown file type
  changelogs/unreleased/5890-qiuiming-best
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
Labels: has-changelog

#5891 Update distroless image and fix CVE-2022-41717 for release-1.10
  Dockerfile
  changelogs/unreleased/5891-blackpiglet
  go.mod
  go.sum
  hack/fix_restic_cve.txt
Labels: Dependencies, has-changelog

#5865 Add a json output to velero backup describe
  changelogs/unreleased/5865-allenxu404
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/describe.go
Labels: has-changelog

#5892 Generate changelogs for v1.9.6
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/5761-blackpiglet
  changelogs/unreleased/5777-blackpiglet
  changelogs/unreleased/5829-kaovilai
  changelogs/unreleased/5884-blackpiglet
  changelogs/unreleased/5887-blackpiglet
Labels: kind/changelog-not-required, has-changelog

#5897 1.10.2 change log
  changelogs/CHANGELOG-1.10.md
  changelogs/unreleased/5830-kaovilai
  changelogs/unreleased/5869-ywk253100
  changelogs/unreleased/5877-ywk253100
  changelogs/unreleased/5879-anshulahuja98
  changelogs/unreleased/5888-blackpiglet
  changelogs/unreleased/5890-qiuiming-best
  changelogs/unreleased/5891-blackpiglet
Labels: kind/changelog-not-required

#5893 Do not create the rolebinding if user customize the service account
  pkg/cmd/cli/install/install.go
  pkg/install/resources.go
Labels: kind/changelog-not-required

#5908 Fix main CI disk space error
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#5909 Fix main CI problem 02
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#5911 Fix Dependabot alerts. Update Dockerfile. Modify Trivy daily scan.
  .github/workflows/nightly-trivy-scan.yml
  Dockerfile
  changelogs/unreleased/5911-blackpiglet
  go.mod
  go.sum
Labels: Dependencies, has-changelog

#5859 Replace k8s.io/apimachinery/pkg/util/clock with k8s.io/utils/clock
  changelogs/unreleased/5859-hezhizhen
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
  pkg/controller/gc_controller.go
  pkg/controller/gc_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/schedule_controller.go
  pkg/controller/schedule_controller_test.go
  pkg/controller/server_status_request_controller.go
  pkg/controller/server_status_request_controller_test.go
Labels: has-unit-tests, has-changelog

#5894 Fix issue 5881
  changelogs/unreleased/5894-Lyndon-Li
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/pvc_snapshot_tracker.go
Labels: has-unit-tests, has-changelog

#5864 Make restore controller adopting the controller-runtime framework.
  changelogs/unreleased/5864-blackpiglet
  pkg/cmd/server/server.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/util/kube/predicate.go
Labels: has-unit-tests, has-changelog

#5867 Add restored resource list in the output of restore describe command
  changelogs/unreleased/5867-ywk253100
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/cmd/util/output/restore_describer.go
  pkg/controller/download_request_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/mocks/backup_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
  pkg/persistence/object_store_test.go
  pkg/restore/request.go
  pkg/restore/request_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/results/result.go
  pkg/util/results/result_test.go
Labels: has-unit-tests, has-changelog

#5899 upgrade and fix goreleaser issue
  changelogs/unreleased/5899-anshulahuja98
  hack/release-tools/goreleaser.sh
  hack/release-tools/goreleaser.yaml
Labels: has-changelog

#5927 [Main]fix main CI no space problem
  .github/workflows/push.yml
Labels: kind/changelog-not-required
