Repository vmware-tanzu/velero, pull requests merged in 2023-08, with the labels that each got.

#6501 Add Resource modifiers docs / site
  site/content/docs/main/restore-resource-modifiers.md
  site/data/docs/main-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#6564 Fix issue 6561
  Dockerfile
  cmd/velero-helper/velero-helper.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/image.go
  pkg/nodeagent/node_agent.go
Labels: kind/changelog-not-required, has-unit-tests

#6592 [1.10] Fix issue 6575
  changelogs/unreleased/6592-Lyndon-Li
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog

#6593 [1.11] Fix issue 6575
  changelogs/unreleased/6593-Lyndon-Li
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog

#6578 Fix issue 6560
  pkg/apis/velero/v1/register.go
  pkg/apis/velero/v2alpha1/register.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6594 Fix issue 6571
  changelogs/unreleased/6594-Lyndon-Li
  pkg/controller/restore_controller.go
Labels: has-changelog

#6597 [1.11] Fix issue 6571
  changelogs/unreleased/6597-Lyndon-Li
  pkg/controller/restore_controller.go
Labels: has-changelog

#6591 Enhance uninstall and backup deletion for restore finalizer
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6602 Add Volume's snapshot data mover result check.
  pkg/backup/item_backupper.go
  pkg/uploader/kopia/progress_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6584 Fix indent in resource modifier docs
  site/content/docs/main/restore-resource-modifiers.md
Labels: kind/changelog-not-required, Documentation

#6565 GetS3Credentials pass profile from config to NewSharedCredentials
  changelogs/unreleased/6565-kaovilai
  pkg/repository/config/aws.go
Labels: has-changelog

#6566 GetS3Credentials pass profile from config to NewSharedCredentials
  changelogs/unreleased/6566-kaovilai
  pkg/repository/config/aws.go
Labels: has-changelog

#6558 GetS3Credentials pass profile from config to NewSharedCredentials
  changelogs/unreleased/6558-kaovilai
  pkg/repository/config/aws.go
Labels: has-changelog

#6619 Fix issue 6614
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/host_path.go
  pkg/exposer/host_path_test.go
  pkg/exposer/types.go
Labels: kind/changelog-not-required, has-unit-tests

#6621 Data mover fail earlier for snapshot creation error
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/stringptr/stringptr.go
Labels: kind/changelog-not-required, has-unit-tests

#6604 Add "Deleting" phase for restore display
  pkg/cmd/cli/restore/get.go
  pkg/cmd/util/output/restore_describer.go
Labels: kind/changelog-not-required

#6622 Upgrade to v3 for the codecov action
  .github/workflows/pr-ci-check.yml
Labels: kind/changelog-not-required

#6626 Modify output for command of `restore delete`
  pkg/cmd/cli/restore/delete.go
Labels: kind/changelog-not-required

#6499 Allow updated resource version
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#6598 fix: load AWS config and assume role
  Dockerfile
  changelogs/unreleased/6598-aws_creds
  pkg/repository/config/aws.go
  pkg/restic/common.go
Labels: has-changelog, target/1.12-rc.1

#6625 Add upgrade doc to v1.12
  site/content/docs/main/upgrade-to-1.12.md
  site/data/docs/main-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#6627 Continue wait on csi snapshot error
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: kind/changelog-not-required, has-unit-tests, target/1.12-rc.1

#6632 [E2E Test] The minimum worker node count of workload cluster should be 2
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6634 Get resource client again after restore actions in case resource's gv is changed
  changelogs/unreleased/6634-27149chen
  pkg/restore/restore.go
Labels: has-changelog

#6616 Fix data mover controller bugs
  pkg/builder/data_upload_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6608 Feature/add provider interface for block mode
  changelogs/unreleased/6608-shawn-hurley
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/types.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
  pkg/uploader/types.go
Labels: has-unit-tests, has-changelog, target/1.12-rc.1

#6483 E2E test for Resource Modifier & Bug fixes
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/cmd/cli/restore/create.go
  test/e2e/README.md
  test/e2e/e2e_suite_test.go
  test/e2e/resourcemodifiers/resource_modifiers.go
Labels: kind/changelog-not-required, has-e2e-2tests, target/1.12-rc.1

#6659 Fix resource modifiers e2e case
  test/e2e/resourcemodifiers/resource_modifiers.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6667 Fix issue 6662
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/output.go
  pkg/cmd/util/output/schedule_describe_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6590 Adding design updates to handle block device with kopia
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: kind/changelog-not-required

#6644 Replace pod with deployment in E2E test
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/util/csi/common.go
  test/util/k8s/common.go
  test/util/k8s/deployment.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6672 Update readme and move implemented designs
  README.md
  design/Implemented/json-substitution-action-design.md
  design/Implemented/multiple-csi-volumesnapshotclass-support.md
  design/Implemented/unified-repo-and-kopia-integration/br-workflow.png
  design/Implemented/unified-repo-and-kopia-integration/debug-log-repository.png
  design/Implemented/unified-repo-and-kopia-integration/debug-log-uploader.png
  design/Implemented/unified-repo-and-kopia-integration/maintenance-workflow.png
  design/Implemented/unified-repo-and-kopia-integration/progress-update.png
  design/Implemented/unified-repo-and-kopia-integration/scope.png
  design/Implemented/unified-repo-and-kopia-integration/snapshot-deletion-workflow.png
  design/Implemented/unified-repo-and-kopia-integration/unified-repo-and-kopia-integration.md
  design/Implemented/unified-repo-and-kopia-integration/unified-repo.png
Labels: kind/changelog-not-required

#6677 Add default plugin setting for Velero v1.12 in E2E test
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#6679 Ping golang/distroless image to latest version
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#6653 fix backup_controller when credentials to volume snapshot location sh…
  pkg/controller/backup_controller.go
Labels: kind/changelog-not-required

#6635 skip subresource in resource discovery
  changelogs/unreleased/6635-27149chen
  pkg/discovery/helper.go
Labels: has-changelog

#6688 [CP -1.12] skip subresource in resource discovery
  changelogs/unreleased/6688-27149chen
  pkg/discovery/helper.go
Labels: has-changelog

#6618 Add note for backup repository password configuration
  site/content/docs/main/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6689 Fix delete dataupload datadownload failure when Velero uninstall
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6701 [CherryPick v1.12] Fix delete dataupload datadownload CR failure
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6702 Fix issue 6391
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#6703 [1.12] Fix issue 6391
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#6684 Replace pod with deployment for E2E test
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/csi/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/configmap.go
  test/e2e/util/k8s/deployment.go
  test/e2e/util/k8s/sc.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6707 make Velero uninstall backward compatible
  pkg/cmd/cli/uninstall/uninstall.go
Labels: kind/changelog-not-required

#6717 [Cherry-Pick main] make velero uninstall backward compatible
  pkg/cmd/cli/uninstall/uninstall.go
Labels: kind/changelog-not-required

#6708 [cherry-pick to v1.12] monitor velero logs and fix E2E issues
  test/e2e/Makefile
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/common/common.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/aws_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6720 Fix velero uninstall bug
  pkg/cmd/cli/uninstall/uninstall.go
Labels: kind/changelog-not-required

#6722 Fix missing default storageclass issue
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/test/test.go
  test/e2e/util/common/common.go
  test/e2e/util/k8s/common.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6704 add label selector in Resource Modifiers
  changelogs/unreleased/6704-27149chen
  design/Implemented/json-substitution-action-design.md
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  pkg/controller/restore_controller_test.go
  site/content/docs/main/restore-resource-modifiers.md
  site/content/docs/v1.12/restore-resource-modifiers.md
  test/e2e/resourcemodifiers/resource_modifiers.go
Labels: has-unit-tests, Documentation, has-changelog, has-e2e-2tests, target/1.12-rc.1

#6725 [1.12] Cherry Pick - add label selector in Resource Modifiers (#6704)
  changelogs/unreleased/6704-27149chen
  design/Implemented/json-substitution-action-design.md
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  pkg/controller/restore_controller_test.go
  site/content/docs/main/restore-resource-modifiers.md
  site/content/docs/v1.12/restore-resource-modifiers.md
  test/e2e/resourcemodifiers/resource_modifiers.go
Labels: has-unit-tests, Documentation, has-changelog, has-e2e-2tests

#6729 [Cherry-pick Main] Fix Velero uninstall bug
  pkg/cmd/cli/uninstall/uninstall.go
Labels: kind/changelog-not-required
