Repository vmware-tanzu/velero, pull requests merged in 2023-11, with the labels that each got.

#7038 Issue 7027: backup exposer -- don't assume first volume as the backup volume
  changelogs/unreleased/7038-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog

#7034 Read information from the credential specified by BSL
  changelogs/unreleased/7034-ywk253100
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog

#7043 Fix typo in documentation
  site/content/docs/main/file-system-backup.md
Labels: kind/changelog-not-required

#6917 support JSON Merge Patch and Strategic Merge Patch in Resource Modifiers
  changelogs/unreleased/6917-27149chen
  design/merge-patch-and-strategic-in-resource-modifier.md
  go.mod
  go.sum
  internal/resourcemodifiers/json_merge_patch.go
  internal/resourcemodifiers/json_merge_patch_test.go
  internal/resourcemodifiers/json_patch.go
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  internal/resourcemodifiers/strategic_merge_patch.go
  internal/resourcemodifiers/strategic_merge_patch_test.go
  pkg/restore/restore.go
  site/content/docs/main/restore-resource-modifiers.md
Labels: Area/Design, Dependencies, Documentation, has-changelog

#6962 Add the PV backup information design document.
  changelogs/unreleased/6962-blackpiglet
  design/pv_backup_info.md
Labels: Area/Design, has-changelog

#7004 restore: Use warning when Create IsAlreadyExist and Get error
  changelogs/unreleased/7004-kaovilai
  pkg/restore/restore.go
Labels: has-changelog

#7055 release-1.11: restore: Use warning when Create IsAlreadyExist and Get error (#7004)
  changelogs/unreleased/7055-kaovilai
  pkg/restore/restore.go
Labels: has-changelog

#7041 Remove dependency of generated client part 2
  changelogs/unreleased/7041-blackpiglet
  internal/storage/storagelocation_test.go
  pkg/client/retry.go
  pkg/cmd/cli/snapshotlocation/create.go
  pkg/cmd/cli/snapshotlocation/get.go
  pkg/cmd/server/server.go
  pkg/nodeagent/node_agent.go
  pkg/persistence/object_store.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_factory.go
  pkg/podvolume/restorer_test.go
  pkg/restore/pv_restorer_test.go
  pkg/test/fake_controller_runtime_client.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider_test.go
  pkg/uploader/provider/restic_test.go
  pkg/util/encode/encode.go
  pkg/util/scheme.go
Labels: has-unit-tests, has-changelog

#7054 release-1.12: restore: Use warning when Create IsAlreadyExist and Get error (#7004)
  changelogs/unreleased/7054-kaovilai
  pkg/restore/restore.go
Labels: has-changelog

#7051 Remove dependency of generated client part 3
  changelogs/unreleased/7051-blackpiglet
  pkg/client/factory.go
  pkg/client/factory_test.go
  pkg/client/mocks/Factory.go
  pkg/cmd/cli/debug/debug.go
  pkg/cmd/cli/repo/get.go
  pkg/cmd/cli/restore/logs.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/cli/schedule/describe.go
  pkg/cmd/cli/schedule/get.go
  pkg/cmd/cli/schedule/pause.go
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/discovery/helper_test.go
  pkg/discovery/mocks/Helper.go
  pkg/restore/pod_volume_restore_action.go
  pkg/restore/pod_volume_restore_action_test.go
  pkg/test/api_server.go
  test/pkg/client/factory.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#7022 Fix inconsistent behavior of Backup and Restore hook execution
  changelogs/unreleased/7022-allenxu404
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/apis/velero/v1/backup_types.go
  pkg/restore/restore.go
Labels: has-changelog

#7060 [1.12] Issue 7027: backup exposer -- don't assume first volume as the backup volume
  changelogs/unreleased/7060-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog

#6950 Design for node-agent concurrency
  changelogs/unreleased/6950-Lyndon-Li
  design/node-agent-concurrency.md
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: Area/Design, has-changelog

#7058 Truncate the credential file to avoid the change of secret content messing it up
  changelogs/unreleased/7058-ywk253100
  internal/credentials/file_store.go
Labels: has-changelog, target/1.12.2

#7072 [cherry-pick]Truncate the credential file to avoid the change of secret content messing it up
  changelogs/unreleased/7072-ywk253100
  internal/credentials/file_store.go
Labels: has-changelog

#7059 Issue 6663: changes for configurable data path concurrency
  changelogs/unreleased/7059-Lyndon-Li
  design/node-agent-concurrency.md
  pkg/builder/node_builder.go
  pkg/builder/pod_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/test/test_logger.go
Labels: Area/Design, has-unit-tests, has-changelog

#7079 doc: add resourcePolicy for schedule
  site/content/docs/main/api-types/schedule.md
  site/content/docs/v1.12/api-types/schedule.md
Labels: kind/changelog-not-required, Documentation

#7061 Add DataUpload Result and CSI VolumeSnapshot check for restore PV.
  changelogs/unreleased/7061-blackpiglet
  pkg/builder/volume_snapshot_builder.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/resources.go
Labels: has-unit-tests, has-changelog, target/1.12.2

#7077 Issue 6693: partially fail restore if CSI snapshot is involved but CSI feature is not ready
  changelogs/unreleased/7077-Lyndon-Li
  pkg/cmd/server/server.go
  pkg/features/mocks/PluginFinder.go
  pkg/features/mocks/Verifier.go
  pkg/features/verify.go
  pkg/features/verify_test.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/plugin/clientmgmt/process/registry.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#7087 [Cherry-pick][release-1.12]Add DataUpload Result and CSI VolumeSnapshot check for restore PV.
  changelogs/unreleased/7087-blackpiglet
  pkg/builder/volume_snapshot_builder.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/resources.go
Labels: has-unit-tests, has-changelog

#7086 Fix wrong reference link in design docs.
  design/node-agent-concurrency.md
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: Area/Design, kind/changelog-not-required

#7095 Issue 7068: add a finalizer to protect retained VSC
  changelogs/unreleased/7095-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests, has-changelog

#7096 Issue 7094: fallback to full backup if previous snapshot is not found
  changelogs/unreleased/7096-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
Labels: has-unit-tests, has-changelog

#7097 [1.12] Issue 7094: fallback to full backup if previous snapshot is not found
  changelogs/unreleased/7097-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
Labels: has-unit-tests, has-changelog

#7098 [Cherry-pick][release-1.12]Fix node-agent metrics missing
  changelogs/unreleased/7098-yanggangtony
  pkg/cmd/cli/nodeagent/server.go
  pkg/install/daemonset.go
Labels: has-changelog

#7046 Update Backup.Status.CSIVolumeSnapshotsCompleted during finalize
  changelogs/unreleased/7046-kaovilai
  pkg/backup/request.go
  pkg/backup/snapshots.go
  pkg/builder/backup_builder.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_operations_controller.go
  pkg/test/mocks.go
  pkg/test/mocks/VolumeSnapshotLister.go
Labels: has-unit-tests, has-changelog

#7081 Skip syncing the backup which doesn't contain backup metadata
  changelogs/unreleased/7081-ywk253100
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests, has-changelog

#7102 Issue 7068: add a finalizer to protect retained VSC
  changelogs/unreleased/7102-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests, has-changelog

#7110 Bump up Velero base image to latest patch release
  Dockerfile
  changelogs/unreleased/7110-allenxu404
Labels: has-changelog

#7114 Issue 7068: add a finalizer to protect retained VSC
  changelogs/unreleased/7114-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests, has-changelog

#7032 Add check for owner references in backup sync, removing if missing
  changelogs/unreleased/7032-deefdragon
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests, has-changelog

#7049 Cherry-pick #6917 to release 1.12
  changelogs/unreleased/7049-27149chen
  design/merge-patch-and-strategic-in-resource-modifier.md
  go.mod
  go.sum
  internal/resourcemodifiers/json_merge_patch.go
  internal/resourcemodifiers/json_merge_patch_test.go
  internal/resourcemodifiers/json_patch.go
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  internal/resourcemodifiers/strategic_merge_patch.go
  internal/resourcemodifiers/strategic_merge_patch_test.go
  pkg/restore/restore.go
  site/content/docs/main/restore-resource-modifiers.md
Labels: Area/Design, Dependencies, Documentation, has-changelog

#7111 release-1.12: Update Backup.Status.CSIVolumeSnapshotsCompleted during finalize
  changelogs/unreleased/7111-kaovilai
  pkg/backup/request.go
  pkg/backup/snapshots.go
  pkg/builder/backup_builder.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_operations_controller.go
  pkg/test/mocks.go
  pkg/test/mocks/VolumeSnapshotLister.go
Labels: has-unit-tests, has-changelog

#7070 Add VolumeInfo metadata structures.
  changelogs/unreleased/7070-blackpiglet
  design/pv_backup_info.md
  pkg/controller/backup_controller.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_layout.go
  pkg/persistence/object_store_test.go
  pkg/volume/volume_info_common.go
Labels: Area/Design, has-unit-tests, has-changelog

#7115 Include plugin name in the error message by operations
  changelogs/unreleased/7115-reasonerjt
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_operations_controller_test.go
Labels: has-unit-tests, has-changelog

#7107 Fix docs: Use camel case for API objects: configmaps and secrets
  design/Implemented/restore-with-EnableAPIGroupVersions-feature.md
  pkg/cmd/server/server.go
  pkg/util/podvolume/pod_volume.go
  pkg/util/podvolume/pod_volume_test.go
  site/content/docs/main/file-system-backup.md
  site/content/docs/v1.10/file-system-backup.md
  site/content/docs/v1.11/file-system-backup.md
  site/content/docs/v1.12/file-system-backup.md
  site/content/docs/v1.7/restic.md
  site/content/docs/v1.9/restic.md
  site/content/posts/2020-09-16-Velero-1.5-For-And-By-Community.md
Labels: Website, kind/changelog-not-required, has-unit-tests, Documentation

#7091 Don't fail backup/restore on velero server restart in PhaseWaitingFor…
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required

#7126 Add v1.12.2 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6997-kaovilai
  changelogs/unreleased/7025-shubham-pampattiwar
  changelogs/unreleased/7033-ywk253100
  changelogs/unreleased/7049-27149chen
  changelogs/unreleased/7054-kaovilai
  changelogs/unreleased/7058-ywk253100
  changelogs/unreleased/7060-Lyndon-Li
  changelogs/unreleased/7087-blackpiglet
  changelogs/unreleased/7097-Lyndon-Li
  changelogs/unreleased/7098-yanggangtony
  changelogs/unreleased/7110-allenxu404
  changelogs/unreleased/7111-kaovilai
  changelogs/unreleased/7114-Lyndon-Li
Labels: kind/changelog-not-required, has-changelog

#7116 Fix typo in documentation
  site/content/docs/v1.12/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#7118 RM support for Escaped bool, float, null
  internal/resourcemodifiers/json_patch.go
  internal/resourcemodifiers/resource_modifiers_test.go
Labels: kind/changelog-not-required, target/1.12.2

#7128 Close stale issue with not-planned status
  .github/workflows/stale-issues.yml
Labels: kind/changelog-not-required

#7100 6595 volumeinfo generate
  changelogs/unreleased/7100-blackpiglet
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  design/pv_backup_info.md
  pkg/apis/velero/v1/download_request_types.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
  pkg/backup/pv_skip_tracker.go
  pkg/backup/pv_skip_tracker_test.go
  pkg/backup/request.go
  pkg/backup/snapshots.go
  pkg/builder/volume_snapshot_builder.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/client/factory.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/volume/volume_info_common.go
Labels: Area/Design, has-unit-tests, has-changelog

#7000 Make Kopia file parallelism configurable
  changelogs/unreleased/7000-qiuming-best
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  pkg/apis/velero/shared/uploader_config.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/pod_volume_backup_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/schedule_describe_test.go
  pkg/cmd/util/output/schedule_describer.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/mocks/types.go
  pkg/datapath/types.go
  pkg/podvolume/backupper.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: has-unit-tests, has-changelog

#7122 Add E2E test for taking CSI snapshot to PV with retain reclaim policy
  test/e2e/backup/backup.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/upgrade/upgrade.go
  test/util/csi/common.go
  test/util/k8s/common.go
  test/util/k8s/persistentvolumes.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7131 [Cherry-pick][1.12] RM support for Escaped bool, float, null (#7118)
  internal/resourcemodifiers/json_patch.go
  internal/resourcemodifiers/resource_modifiers_test.go
Labels: kind/changelog-not-required

#7090 Enhance perf test
  pkg/cmd/cli/install/install.go
  pkg/install/deployment.go
  pkg/install/resources.go
  test/e2e/e2e_suite_test.go
  test/perf/Makefile
  test/perf/backup/backup.go
  test/perf/basic/basic.go
  test/perf/e2e_suite_test.go
  test/perf/metrics/pod.go
  test/perf/metrics/time.go
  test/perf/restore/restore.go
  test/perf/test/test.go
  test/types.go
  test/util/k8s/namespace.go
  test/util/metrics/pod.go
  test/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6958 Change controller-runtime List option from MatchingFields to ListOpti…
  changelogs/unreleased/6958-blackpiglet
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
Labels: has-changelog

#7129 [docs] Fix all typos in plugins typo.
  site/content/docs/main/custom-plugins.md
  site/content/docs/v1.0.0/plugins.md
  site/content/docs/v1.1.0/plugins.md
  site/content/docs/v1.10/custom-plugins.md
  site/content/docs/v1.11/custom-plugins.md
  site/content/docs/v1.2.0/custom-plugins.md
  site/content/docs/v1.3.0/custom-plugins.md
  site/content/docs/v1.3.1/custom-plugins.md
  site/content/docs/v1.3.2/custom-plugins.md
  site/content/docs/v1.4/custom-plugins.md
  site/content/docs/v1.5/custom-plugins.md
  site/content/docs/v1.6/custom-plugins.md
  site/content/docs/v1.7/custom-plugins.md
  site/content/docs/v1.8/custom-plugins.md
  site/content/docs/v1.9/custom-plugins.md
Labels: kind/changelog-not-required, Documentation

#7149 Fix test code wrong code for VeleroInstall
  test/util/velero/install.go
Labels: kind/changelog-not-required

#7130 Node agent restart enhancement
  changelogs/unreleased/7130-qiuming-best
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-unit-tests, has-changelog

#7117 Add hook status to backup/restore CR
  changelogs/unreleased/7117-allenxu404
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  internal/hook/hook_tracker.go
  internal/hook/hook_tracker_test.go
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/restore_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup.go
  pkg/backup/item_backupper.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/restore/restore.go
Labels: has-changelog

#7143 Treat namespace as a regular restorable item
  changelogs/unreleased/7143-reasonerjt
  pkg/restore/restore.go
Labels: has-changelog

#7151 Linter part2
  changelogs/unreleased/7151-blackpiglet
  golangci.yaml
  hack/build-image/Dockerfile
  pkg/apis/velero/v1/labels_annotations.go
  pkg/archive/extractor.go
  pkg/backup/backup.go
  pkg/builder/server_status_request_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/output/describe.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/data_download_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datamover/dataupload_delete_action.go
  pkg/metrics/metrics.go
  pkg/plugin/clientmgmt/process/client_builder.go
  pkg/podvolume/restorer.go
  pkg/repository/config/aws.go
  pkg/repository/config/gcp.go
  pkg/repository/keys/keys.go
  pkg/restic/command.go
  pkg/restore/restore.go
  pkg/uploader/kopia/progress.go
Labels: has-changelog

#7150 Issue 7135: check pod status before checking node-agent pod status
  changelogs/unreleased/7150-Lyndon-Li
  pkg/podvolume/backupper.go
Labels: has-changelog
