Repository vmware-tanzu/velero, pull requests merged in 2023-05, with the labels that each got.

#6216 Update footer with language around website cookes and tracking
  site/layouts/_default/footer.html
Labels: Website, kind/changelog-not-required

#6198 Fix context issues for several E2E tests
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/types.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6208 Enable errcheck linter and resolve found issues.
  changelogs/unreleased/6208-blackpiglet
  golangci.yaml
  internal/delete/delete_item_action_handler.go
  pkg/backup/backup.go
  pkg/client/factory.go
  pkg/cmd/cli/bug/bug.go
  pkg/cmd/cli/completion/completion.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/output.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/restore_controller.go
  pkg/install/resources.go
  pkg/plugin/framework/object_store_client.go
  pkg/plugin/framework/server.go
  pkg/restore/restore.go
  pkg/test/fake_file_system.go
Labels: has-changelog

#6218 Add blog for 1.11
  site/content/posts/2023-04-26-Velero-1.11.md
  site/static/img/posts/post-1.11.jpg
Labels: Website, kind/changelog-not-required

#6223 Fix go get to go install in tiltfile
  Tiltfile
Labels: kind/changelog-not-required

#6234 run gofmt goimports for every files in parallel
  hack/update-1fmt.sh
Labels: kind/changelog-not-required

#6232 log volumes to backup to help debug why `IsPodRunning` is called.
  changelogs/unreleased/6232-kaovilai
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
Labels: has-unit-tests, has-changelog

#6238 Modify Docker's maintainer label.
  Dockerfile
Labels: kind/changelog-not-required

#6248 Bump up kopia v0.13
  changelogs/unreleased/6248-Lyndon-Li
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/build-image/Dockerfile
  pkg/repository/mocks/repository_writer.go
  pkg/repository/udmrepo/kopialib/backend/azure.go
  pkg/repository/udmrepo/kopialib/backend/common.go
  pkg/repository/udmrepo/kopialib/backend/gcs.go
  pkg/repository/udmrepo/kopialib/backend/mocks/DirectRepository.go
  pkg/repository/udmrepo/kopialib/backend/mocks/DirectRepositoryWriter.go
  pkg/repository/udmrepo/kopialib/backend/mocks/Logger.go
  pkg/repository/udmrepo/kopialib/backend/s3.go
  pkg/repository/udmrepo/kopialib/backend/utils_test.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
  pkg/repository/udmrepo/repo.go
  pkg/test/test_logger.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/shim.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/util/logging/kopia_log.go
  pkg/util/logging/kopia_log_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#6247 Change rbac.authorization.k8s.io/v1beta1 to rbac.authorization.k8s.io/v1 in deployment.yml
  design/CLI/PoC/base/deployment.yaml
  tilt-resources/examples/deployment.yaml
Labels: kind/changelog-not-required

#6268 Issue fix 5123
  changelogs/unreleased/6268-Lyndon-Li
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/s3.go
  pkg/repository/udmrepo/kopialib/backend/utils.go
  pkg/repository/udmrepo/repo_options.go
Labels: has-unit-tests, has-changelog

#6260 Add "orLabelSelectors" to schedule API doc
  site/content/docs/main/api-types/schedule.md
Labels: kind/changelog-not-required, Documentation

#6264 Adjust E2E test codes
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/resources-check/resources_check.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/k8s/rbac.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6176 Add data mover CRD under v2alpha1
  .github/workflows/pr-codespell.yml
  Makefile
  Tiltfile
  changelogs/unreleased/6176-Lyndon-Li
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  config/crd/v2alpha1/crds/doc.go
  config/rbac/role.yaml
  hack/crd-gen/v1/main.go
  hack/update-3generated-crd-code.sh
  hack/verify-generated-crd-code.sh
  pkg/apis/velero/shared/data_move_operation_progress.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/pod_volume_backup_types.go
  pkg/apis/velero/v1/pod_volume_restore_type.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/apis/velero/v2alpha1/doc.go
  pkg/apis/velero/v2alpha1/groupversion_info.go
  pkg/apis/velero/v2alpha1/register.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/client/factory.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/backup_describer.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/suite_test.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/datadownload.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/dataupload.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/doc.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/fake/fake_datadownload.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/fake/fake_dataupload.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/fake/fake_velero_client.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/velero/v2alpha1/velero_client.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/velero/interface.go
  pkg/generated/informers/externalversions/velero/v2alpha1/datadownload.go
  pkg/generated/informers/externalversions/velero/v2alpha1/dataupload.go
  pkg/generated/informers/externalversions/velero/v2alpha1/interface.go
  pkg/generated/listers/velero/v2alpha1/datadownload.go
  pkg/generated/listers/velero/v2alpha1/dataupload.go
  pkg/generated/listers/velero/v2alpha1/expansion_generated.go
  pkg/install/resources.go
  pkg/test/fake_controller_runtime_client.go
  test/e2e/pkg/client/factory.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#6274 Adjust Sleep time in E2E
  test/e2e/backups/ttl.go
  test/e2e/migration/migration.go
  test/e2e/test/test.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required

#6279 Make the E2E testing pods obey the restricted pod security standard.
  test/e2e/util/k8s/deployment.go
  test/e2e/util/k8s/pod.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#6278 Adjust E2E context
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6111 Remove dataSource from PVC on backup for prior CSI restore case
  changelogs/unreleased/6111-eemcmullan
  pkg/backup/backup_pv_action.go
Labels: has-changelog

#6288 Hardcode the restore order for IPAM resources
  changelogs/unreleased/6288-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog, target/1.10.4

#6289 Improve the UT coverage for pkg/label
  pkg/backup/backup_pv_action.go
  pkg/label/label_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6226 Add code change for async generic data path
  changelogs/unreleased/6226-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/manager.go
  pkg/datapath/manager_test.go
  pkg/datapath/types.go
  pkg/exposer/host_path.go
  pkg/exposer/host_path_test.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
  pkg/uploader/types.go
  pkg/util/kube/utils.go
Labels: has-unit-tests, has-changelog

#6276 Fix status.progress not getting updated for backup
  changelogs/unreleased/6276-kkothule
  pkg/backup/backup.go
Labels: has-changelog

#6303 Fix PVR issue for generic data path
  changelogs/unreleased/6303-Lyndon-Li
  pkg/controller/pod_volume_restore_controller.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/types.go
Labels: has-changelog

#5968 Volume Snapshot Data Movement Design
  changelogs/unreleased/5968-Lyndon-Li
  design/volume-snapshot-data-movement/backup-sequence.png
  design/volume-snapshot-data-movement/backup-workflow.png
  design/volume-snapshot-data-movement/cancel-sequence.png
  design/volume-snapshot-data-movement/expose-objects.png
  design/volume-snapshot-data-movement/restore-sequence.png
  design/volume-snapshot-data-movement/restore-workflow.png
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: has-changelog

#6311 Fix nightly upgrade test issue and checkpoint issue in restic test
  test/e2e/util/csi/common.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6307 Add PITS Global Data Recovery Services to the adopters list
  ADOPTERS.md
  site/static/img/adopters/PITSGlobalDataRecoveryServices.svg
Labels: Website, kind/changelog-not-required

#6312 Revert "Hardcode the restore order for IPAM resources"
  changelogs/unreleased/6288-ywk253100
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required, has-changelog

#6324 [cherry-pick][release-1.11]Fix status.progress not getting updated for backup
  changelogs/unreleased/6324-blackpiglet
  pkg/backup/backup.go
Labels: has-changelog

#6325 Skip updating status when CRDs are restored
  changelogs/unreleased/6325-reasonerjt
  pkg/restore/restore.go
Labels: has-changelog

#6314 Skip running unit test for pkg/builder package
  hack/test.sh
Labels: kind/changelog-not-required

#6322 [cherry-pick][release-1.11]Make the E2E testing pods obey the restricted pod security standard.
  test/e2e/util/k8s/namespace.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6326 Enhance code for issue 6297
  changelogs/unreleased/6326-Lyndon-Li
  pkg/repository/config/aws.go
Labels: has-changelog

#6299 [cherry-pick][release-1.10]Make the E2E testing pods obey the restricted pod security standard.
  test/e2e/util/k8s/namespace.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests
