Repository vmware-tanzu/velero, pull requests merged in 2023-10, with the labels that each got.

#6902 Document pod volume host path setting for Nutanix.
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/file-system-backup.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
  site/content/docs/v1.12/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6901 Fix code-standards url rendering for `https://developercertificate.org/)`
  site/content/docs/main/code-standards.md
  site/content/docs/v1.10/code-standards.md
  site/content/docs/v1.11/code-standards.md
  site/content/docs/v1.12/code-standards.md
  site/content/docs/v1.2.0/code-standards.md
  site/content/docs/v1.3.0/code-standards.md
  site/content/docs/v1.3.1/code-standards.md
  site/content/docs/v1.3.2/code-standards.md
  site/content/docs/v1.4/code-standards.md
  site/content/docs/v1.7/code-standards.md
  site/content/docs/v1.9/code-standards.md
Labels: kind/changelog-not-required, Documentation

#6843 Add missing file licences and do some clean works.
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/controller/download_request_controller.go
Labels: kind/changelog-not-required

#6797 Proposal to support JSON Merge Patch and Strategic Merge Patch in Resource Modifiers
  changelogs/unreleased/6797-27149chen
  design/merge-patch-and-strategic-in-resource-modifier.md
Labels: Area/Design, has-changelog

#6649 Delete PartiallyFailed orphaned backups as well as Completed ones
  changelogs/unreleased/6649-sseago
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests, has-changelog

#6719 Document about item action plugin ordering.
  site/content/docs/main/custom-plugins.md
Labels: Documentation

#6912 [cherry-pick][release-1.12]Code clean for backup cmd client. (#6750)
  changelogs/CHANGELOG-1.11.md
  changelogs/CHANGELOG-1.8.md
  design/Implemented/delete-item-action.md
  pkg/cmd/cli/backup/create.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/v0.5.0/faq.md
  site/content/docs/v0.6.0/faq.md
  site/content/docs/v0.7.0/faq.md
  site/content/docs/v0.7.1/faq.md
  site/content/docs/v0.8.0/faq.md
  site/content/docs/v0.8.1/faq.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
  site/content/docs/v1.5/restic.md
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
Labels: kind/changelog-not-required, Documentation, has-changelog, has-e2e-2tests

#6925 [Cherry-pick v1.12]Keep the logs info ns/name same with other modules
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcepolicies/resource_policies.go
  internal/util/managercontroller/managercontroller.go
  pkg/cmd/cli/backuplocation/delete.go
Labels: kind/changelog-not-required

#6924 Fix dep package describe and ci words spell.
  changelogs/CHANGELOG-1.11.md
  changelogs/CHANGELOG-1.8.md
  design/Implemented/delete-item-action.md
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/development.md
  site/content/docs/main/vendoring-dependencies.md
  site/content/docs/v0.5.0/faq.md
  site/content/docs/v0.6.0/faq.md
  site/content/docs/v0.7.0/faq.md
  site/content/docs/v0.7.1/faq.md
  site/content/docs/v0.8.0/faq.md
  site/content/docs/v0.8.1/faq.md
  site/content/docs/v1.10/development.md
  site/content/docs/v1.10/vendoring-dependencies.md
  site/content/docs/v1.11/development.md
  site/content/docs/v1.11/vendoring-dependencies.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
  site/content/docs/v1.12/development.md
  site/content/docs/v1.12/vendoring-dependencies.md
  site/content/docs/v1.4/development.md
  site/content/docs/v1.4/vendoring-dependencies.md
  site/content/docs/v1.5/development.md
  site/content/docs/v1.5/restic.md
  site/content/docs/v1.5/vendoring-dependencies.md
  site/content/docs/v1.6/development.md
  site/content/docs/v1.6/vendoring-dependencies.md
  site/content/docs/v1.7/development.md
  site/content/docs/v1.7/vendoring-dependencies.md
  site/content/docs/v1.8/development.md
  site/content/docs/v1.8/vendoring-dependencies.md
  site/content/docs/v1.9/development.md
  site/content/docs/v1.9/vendoring-dependencies.md
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
Labels: kind/changelog-not-required, Documentation, has-changelog, has-e2e-2tests

#6844 Expanded PR section of code standards doc
  site/content/docs/main/code-standards.md
Labels: kind/changelog-not-required, Documentation

#6926 Issue 6734: spread backup pod evenly
  changelogs/unreleased/6926-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/types.go
Labels: has-changelog

#6934 [cherry-pick]Replace the base image with paketobuildpacks image
  Dockerfile
  changelogs/unreleased/6934-ywk253100
  hack/docker-push.sh
Labels: has-changelog

#6935 [1.12] Issue 6734: spread backup pod evenly
  changelogs/unreleased/6935-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/types.go
Labels: has-changelog

#6907 Resolve netlify site publish issues due to missing directory `site/site/public`
  netlify.toml
Labels: kind/changelog-not-required

#6887 Add docs link for new features to release note
  changelogs/CHANGELOG-1.12.md
Labels: kind/changelog-not-required, has-changelog

#6940 [1.12] Issue 6647: add default-snapshot-move-data parameter to Velero install
  changelogs/unreleased/6940-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: has-unit-tests, has-changelog

#6946 Issue fix 6668: add a limitation for fs restore parallelism with other types of restore
  changelogs/unreleased/6946-Lyndon-Li
  site/content/docs/main/file-system-backup.md
Labels: Documentation, has-changelog

#6937 Update the Velero chocolatey package release procedure.
  site/content/docs/main/backup-reference.md
  site/content/docs/main/release-instructions.md
Labels: kind/changelog-not-required, Documentation

#6723 Perf improvements for existing resource restore
  changelogs/unreleased/6723-sseago
  pkg/client/dynamic.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/api_server.go
  pkg/test/fake_dynamic.go
Labels: has-unit-tests, has-changelog, target/1.12.1

#6948 [release-1.120: CP Perf improvements for existing resource restore
  changelogs/unreleased/6948-sseago
  pkg/client/dynamic.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/api_server.go
  pkg/test/fake_dynamic.go
Labels: has-unit-tests, has-changelog

#6784 Fix node-agent missing metrics-addr parms to define the server start. #6784
  changelogs/unreleased/6784-yanggangtony
  pkg/cmd/cli/nodeagent/server.go
  pkg/install/daemonset.go
Labels: has-changelog

#6951 Fix CVE-2023-39325.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required, Dependencies

#6953 Bump golang version.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required, Dependencies

#6918 Add WaitForReady flag to check container readiness state before exec a hook
  changelogs/unreleased/6918-Ripolin
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/apis/velero/v1/restore_types.go
  site/content/docs/main/restore-hooks.md
Labels: Documentation, has-changelog

#6943 [release-1.12]: CP issue #6807: Retry failed create when using generateName
  changelogs/unreleased/6943-sseago
  pkg/client/retry.go
  pkg/cmd/cli/backup/delete.go
  pkg/cmd/cli/serverstatus/server_status.go
  pkg/controller/gc_controller.go
  pkg/podvolume/backupper.go
  pkg/podvolume/restorer.go
  pkg/repository/ensurer.go
  pkg/restore/dataupload_retrieve_action.go
Labels: has-changelog

#6938 Add MSI Support for Azure plugin.
  changelogs/unreleased/6938-yanggangtony
  pkg/util/azure/credential.go
  pkg/util/azure/credential_test.go
Labels: has-unit-tests, has-changelog

#6863 Add volume types filter in resource policies
  changelogs/unreleased/6863-qiuming-best
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_types_conditions.go
  internal/resourcepolicies/volume_types_conditions_test.go
  site/content/docs/main/resource-filtering.md
Labels: Documentation, has-changelog

#6970 [cherry-pick]Import auth provider plugins
  changelogs/unreleased/6970-0x113
  pkg/client/auth_providers.go
Labels: has-changelog, target/1.12.1

#6976 Issue 6964: get volume size from source PVC if it is invalid in VS
  changelogs/unreleased/6976-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog

#6984 Add v1.12.1 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6713-kaovilai
  changelogs/unreleased/6873-Lyndon-Li
  changelogs/unreleased/6877-Lyndon-Li
  changelogs/unreleased/6881-nilesh-akhade
  changelogs/unreleased/6886-Lyndon-Li
  changelogs/unreleased/6897-dzaninovic
  changelogs/unreleased/6934-ywk253100
  changelogs/unreleased/6935-Lyndon-Li
  changelogs/unreleased/6940-Lyndon-Li
  changelogs/unreleased/6943-sseago
  changelogs/unreleased/6948-sseago
  changelogs/unreleased/6970-0x113
Labels: kind/changelog-not-required, has-changelog

#6986 Add both non-Windows version and Windows version code for PVC block mode logic
  changelogs/unreleased/6986-blackpiglet
  pkg/uploader/kopia/block_backup.go
  pkg/uploader/kopia/block_backup_windows.go
  pkg/uploader/kopia/block_restore.go
  pkg/uploader/kopia/block_restore_windows.go
Labels: has-changelog

#6990 Issue 6988: udmrepo use region specified in BSL when s3URL is empty
  changelogs/unreleased/6990-Lyndon-Li
  pkg/repository/provider/unified_repo.go
Labels: has-changelog

#6991 [1.12] Issue 6988: udmrepo use region specified in BSL when s3URL is empty
  changelogs/unreleased/6991-Lyndon-Li
  pkg/repository/provider/unified_repo.go
Labels: has-changelog

#6993 Change v1.12.1 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6986-blackpiglet
  changelogs/unreleased/6991-Lyndon-Li
Labels: kind/changelog-not-required, has-changelog

#6992 [1.11] Issue 6988: udmrepo use region specified in BSL when s3URL is empty
  changelogs/CHANGELOG-1.11.md
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/6992-Lyndon-Li
  design/Implemented/delete-item-action.md
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/repository/provider/unified_repo.go
  site/content/docs/v0.5.0/faq.md
  site/content/docs/v0.6.0/faq.md
  site/content/docs/v0.7.0/faq.md
  site/content/docs/v0.7.1/faq.md
  site/content/docs/v0.8.0/faq.md
  site/content/docs/v0.8.1/faq.md
  site/content/docs/v1.5/restic.md
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
Labels: Documentation, has-changelog, has-e2e-2tests

#6994 [1.10] Issue 6988: udmrepo use region specified in BSL when s3URL is empty
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/6994-Lyndon-Li
  design/Implemented/delete-item-action.md
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/repository/provider/unified_repo.go
  site/content/docs/v0.5.0/faq.md
  site/content/docs/v0.6.0/faq.md
  site/content/docs/v0.7.0/faq.md
  site/content/docs/v0.7.1/faq.md
  site/content/docs/v0.8.0/faq.md
  site/content/docs/v0.8.1/faq.md
  site/content/docs/v1.5/restic.md
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
Labels: Documentation, has-changelog, has-e2e-2tests

#6978 Fix wrong logs , add missiong license file.
  pkg/builder/delete_backup_request_builder.go
  pkg/builder/item_operation_builder.go
  pkg/builder/node_selector_builder.go
  pkg/builder/pod_volume_restore_builder.go
  pkg/cmd/server/server.go
  pkg/plugin/framework/common/plugin_kinds.go
Labels: kind/changelog-not-required

#6981 Revert PR #6907 as site is not deploying
  netlify.toml
Labels: kind/changelog-not-required

#7001 Bump kopia to 0.15.0
  changelogs/unreleased/7001-Lyndon-Li
  go.mod
  go.sum
  pkg/uploader/kopia/shim.go
Labels: Dependencies, has-changelog

#6983 Fix fail to get backup repo due to missing api group name issue
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#6989 [cherry-pick][main]Make Windows build skip BlockMode code.
  changelogs/unreleased/6989-blackpiglet
  pkg/uploader/kopia/block_backup.go
  pkg/uploader/kopia/block_backup_windows.go
  pkg/uploader/kopia/block_restore.go
  pkg/uploader/kopia/block_restore_windows.go
Labels: has-changelog

#6923 Bump up aws sdk to aws-sdk-go-v2
  changelogs/unreleased/6923-reasonerjt
  go.mod
  go.sum
  pkg/repository/config/aws.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  test/util/providers/aws_utils.go
Labels: Dependencies, has-unit-tests, has-changelog

#6968 Check whether the action is a CSI action and whether CSI feature is
  changelogs/unreleased/6968-blackpiglet
  internal/delete/delete_item_action_handler.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/cmd/server/server.go
  pkg/restore/restore.go
  pkg/util/csi/util.go
  pkg/util/csi/util_test.go
Labels: has-unit-tests, has-changelog

#7011 Issue 6964: use preparingTimeout for snapshot readiness wait
  changelogs/unreleased/7011-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog

#7013 Record platform limitation of the Kopia block mode uploader in docs.
  changelogs/unreleased/6989-blackpiglet
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
Labels: kind/changelog-not-required, Documentation, has-changelog

#7005 Design for Velero uploader configuration integration and extensibility
  design/velero-uploader-configuration.md
Labels: Area/Design, kind/changelog-not-required

#7019 Update testbed matrix for v1.12.1
  README.md
Labels: kind/changelog-not-required

#7020 release-1.12: CVE-2023-44487 gRPC-Go HTTP/2 Rapid Reset vulnerability
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#6804 Make configmapref check case insensitive
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6914 Fix issue 6913: Velero Built-in Datamover: Backup stucks in phase WaitingForPluginOperations when Node Agent pod gets restarted
  changelogs/unreleased/6914-shubham-pampattiwar
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: has-changelog

#7023 CherryPick 1.12 - Make configmapref check case insensitive (#6804)
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7025 [cherry-pick release-1.12] Fix issue 6913
  changelogs/unreleased/7025-shubham-pampattiwar
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: has-changelog

#7026 Add HealthCheckNodePort deletion logic in Serivce restore
  changelogs/unreleased/7026-blackpiglet
  pkg/restore/service_action.go
  pkg/restore/service_action_test.go
  site/content/docs/main/restore-reference.md
Labels: has-unit-tests, Documentation, has-changelog

#7028 Add description markers for dataupload and datadownload CRDs
  changelogs/unreleased/7028-shubham-pampattiwar
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
Labels: has-changelog

#7029 Fix the wrong url for Tencent COS.
  site/content/docs/main/contributions/tencent-config.md
  site/content/docs/v1.10/contributions/tencent-config.md
  site/content/docs/v1.11/contributions/tencent-config.md
  site/content/docs/v1.12/contributions/tencent-config.md
  site/content/docs/v1.5/contributions/tencent-config.md
  site/content/docs/v1.6/contributions/tencent-config.md
  site/content/docs/v1.7/contributions/tencent-config.md
  site/content/docs/v1.8/contributions/tencent-config.md
  site/content/docs/v1.9/contributions/tencent-config.md
Labels: kind/changelog-not-required, Documentation

#7033 Read information from the credential specified by BSL
  changelogs/unreleased/7033-ywk253100
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog, target/1.12.2
