Repository vmware-tanzu/velero, pull requests merged in 2023-04, with the labels that each got.

#6067 Refine the log message when BIA is skipped
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required

#6031 Add resource policies doc
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#6057 Restore Services before Clusters
  changelogs/unreleased/6057-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog

#6039 Update Golang version to v1.19 for branch main
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/unreleased/6039-blackpiglet
  config/crd/v1/crds/crds.go
  hack/build-image/Dockerfile
  hack/build-restic.sh
  hack/fix_restic_cve.txt
  hack/update-3generated-crd-code.sh
  pkg/builder/container_builder_test.go
  pkg/buildinfo/buildinfo_test.go
  pkg/client/client_test.go
  pkg/client/factory_test.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/cmd/server/server.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/plugin/clientmgmt/process/logrus_adapter_test.go
  pkg/plugin/clientmgmt/process/process_test.go
  pkg/plugin/framework/common/client_dispenser_test.go
  pkg/plugin/framework/common/plugin_base_test.go
  pkg/plugin/framework/logger_test.go
  pkg/restic/command_factory_test.go
  pkg/restore/merge_service_account_test.go
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/pkg/client/client_test.go
  test/e2e/pkg/client/factory_test.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/k8s/secret.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#6055 Fix csi contidion policy matching issue
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
Labels: kind/changelog-not-required

#6062 Make Velero not exits when EnableCSI is on and CSI snapshot not installed
  changelogs/unreleased/6062-blackpiglet
  pkg/cmd/server/server.go
Labels: has-changelog

#6069 Add display of resource policies name in describe backup output
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/schedule_describer.go
Labels: kind/changelog-not-required

#6086 [1.10] Fix issue 5972
  changelogs/unreleased/6086-Lyndon-Li
  pkg/util/logging/log_counter_hook.go
Labels: has-changelog

#6092 Add a section to the doc about known issue regarding admission webhook.
  site/content/docs/main/troubleshooting.md
Labels: kind/changelog-not-required, Documentation

#6089 Modify new scope resource filters name.
  .gitignore
  changelogs/unreleased/6089-blackpiglet
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  design/cluster-scope-resource-filter.md
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/util/output/backup_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/manual-testing.md
  site/content/docs/main/resource-filtering.md
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#6087 Modify README and Move the implemented designs
  README.md
  design/Implemented/AsyncActionFSM.graffle
  design/Implemented/AsyncActionFSM.png
  design/Implemented/biav2-design.md
  design/Implemented/cluster-scope-resource-filter.md
  design/Implemented/existing-resource-policy_design.md
  design/Implemented/general-progress-monitoring.md
  design/Implemented/handle-backup-of-volumes-by-resources-filters.md
  design/Implemented/multiple-label-selectors_design.md
  design/Implemented/plugin-versioning.md
  design/Implemented/riav2-design.md
  design/Implemented/wait-for-additional-items.md
Labels: kind/changelog-not-required

#6079 Bumpup upgrade test path for v1.11
  .github/workflows/pr-codespell.yml
  test/e2e/Makefile
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests, target/1.11-rc

#6095 Modify v1.11 changelog.
  changelogs/CHANGELOG-1.11.md
Labels: kind/changelog-not-required, has-changelog

#6096 Pin Golang and distroless version for v1.11
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#6104 Update goreleaser version in build image.
  .goreleaser.yml
  hack/build-image/Dockerfile
  hack/release-tools/goreleaser.sh
  hack/release-tools/goreleaser.yaml
Labels: kind/changelog-not-required

#6140 Add PR #5865 in release note.
  changelogs/CHANGELOG-1.11.md
Labels: kind/changelog-not-required, has-changelog

#6097 Add E2E test for schedule backup creation principle
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/pod.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6135 Ignore not found error during patching managedFields
  changelogs/unreleased/6135-ywk253100
  pkg/restore/restore.go
Labels: has-changelog

#6138 [Cherry-pick 1.11] Add E2E test for schedule backup creation principle
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/pod.go
  test/e2e/util/k8s/pvc.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6108 Add resource policies E2E test
  test/e2e/debug-bundle-1669709736054564976.tar.gz
  test/e2e/e2e_suite_test.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/configmap.go
  test/e2e/util/k8s/deployment.go
  test/e2e/util/k8s/pod.go
  test/e2e/util/k8s/pvc.go
  test/e2e/util/k8s/sc.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6148 Bump Golang version to v1.19.8.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/unreleased/6148-blackpiglet
  config/crd/v1/crds/crds.go
  go.mod
  go.sum
  hack/build-image/Dockerfile
  hack/fix_restic_cve.txt
  hack/release-tools/chk_version.go
  hack/update-generated-crd-code.sh
  pkg/builder/container_builder_test.go
  pkg/builder/json_schema_props_builder.go
  pkg/buildinfo/buildinfo_test.go
  pkg/client/client_test.go
  pkg/client/factory_test.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/restic/server_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/plugin/clientmgmt/logrus_adapter_test.go
  pkg/plugin/clientmgmt/process_test.go
  pkg/plugin/clientmgmt/registry_test.go
  pkg/plugin/clientmgmt/restartable_delegate_test.go
  pkg/plugin/framework/client_dispenser_test.go
  pkg/plugin/framework/item_snapshotter.go
  pkg/plugin/framework/item_snapshotter_server.go
  pkg/plugin/framework/logger_test.go
  pkg/plugin/framework/plugin_base_test.go
  pkg/plugin/generated/BackupItemAction.pb.go
  pkg/restic/command_factory_test.go
  pkg/restic/repo_locker.go
  pkg/restore/change_pvc_node_selector.go
  pkg/restore/merge_service_account_test.go
  pkg/restore/priority.go
  pkg/test/helpers.go
  pkg/test/mock_pod_command_executor.go
  pkg/util/logging/format_flag.go
  pkg/util/logging/log_level_flag.go
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/velero/install.go
Labels: Dependencies, has-unit-tests, has-changelog, has-e2e-2tests

#6149 Generate changelogs for v1.9.7
  changelogs/CHANGELOG-1.9.md
  changelogs/unreleased/6148-blackpiglet
Labels: kind/changelog-not-required, has-changelog

#6136 Ignore not found error during patching managedFields
  changelogs/unreleased/6136-ywk253100
  pkg/restore/restore.go
Labels: has-changelog

#6158 Update Golang to v1.20 for main branch.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  changelogs/unreleased/6158-blackpiglet
  hack/build-image/Dockerfile
Labels: has-changelog

#6060 [cherry-pick][release-1.10]Make E2E test adopt vSphere CSI version update
  pkg/backup/backup_test.go
  test/e2e/util/k8s/secret.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#6159 Update Golang to v1.20 for release-1.11 branch.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#6162 Fix usestdlibvars and whitespace linters issues.
  changelogs/unreleased/6162-blackpiglet
  golangci.yaml
  hack/release-tools/chk_version.go
  internal/delete/delete_item_action_handler.go
  internal/hook/item_hook_handler.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_validator.go
  pkg/backup/backup.go
  pkg/backup/item_backupper.go
  pkg/backup/item_collector.go
  pkg/backup/remap_crd_version_action.go
  pkg/client/config.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/restore/delete.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/install/daemonset.go
  pkg/install/deployment.go
  pkg/itemoperationmap/backup_operation_map.go
  pkg/itemoperationmap/restore_operation_map.go
  pkg/persistence/object_store.go
  pkg/plugin/framework/object_store.go
  pkg/restore/change_image_name_action.go
  pkg/restore/merge_service_account.go
  pkg/restore/restore.go
  pkg/restore/service_action.go
  pkg/test/tar_writer.go
Labels: has-changelog

#6174 Optimize APIGroup E2E test case
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/enable_api_group_versions.go
  test/e2e/e2e_suite_test.go
  test/e2e/util/k8s/crd.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6154 fix go vet warnings
  golangci.yaml
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_repository_controller_test.go
  pkg/itemoperation/backup_operation.go
  pkg/itemoperation/restore_operation.go
  pkg/repository/manager.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/namespaces_annotation.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/exclude_namespaces.go
  test/e2e/resource-filtering/include_namespaces.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/k8s/namespace.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/providers/common.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#6185 Enable stylecheck linter and resolve found issues.
  changelogs/unreleased/6185-blackpiglet
  golangci.yaml
  hack/release-tools/chk_version.go
  hack/release-tools/chk_version_test.go
  internal/resourcepolicies/resource_policies.go
  pkg/backup/backup_test.go
  pkg/builder/customresourcedefinition_v1beta1_builder.go
  pkg/builder/v1_customresourcedefinition_builder.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/delete_options.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/cmd/cli/serverstatus/server_status.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/output/describe.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/schedule_controller.go
  pkg/itemoperationmap/backup_operation_map.go
  pkg/itemoperationmap/restore_operation_map.go
  pkg/plugin/framework/backup_item_action_server.go
  pkg/plugin/framework/backup_item_action_test.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_server.go
  pkg/plugin/framework/common/plugin_kinds.go
  pkg/plugin/framework/restoreitemaction/v2/restore_item_action_server.go
  pkg/podexec/pod_command_executor_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/udmrepo/kopialib/backend/s3.go
  pkg/repository/udmrepo/kopialib/backend/s3_test.go
  pkg/repository/udmrepo/repo_options.go
  pkg/restic/exec_commands.go
  pkg/restore/change_image_name_action.go
  pkg/restore/change_image_name_action_test.go
  pkg/restore/change_pvc_node_selector_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/fake_discovery_helper.go
  pkg/uploader/provider/restic.go
Labels: has-unit-tests, has-changelog

#6183 Enable staticcheck and resolve found issues.
  .github/workflows/pr-ci-check.yml
  changelogs/unreleased/6183-blackpiglet
  go.mod
  golangci.yaml
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/select_option.go
  pkg/cmd/cli/version/version_test.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/output.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/restore_operations_controller.go
  pkg/persistence/object_store_test.go
  pkg/plugin/framework/common/server_errors.go
  pkg/podvolume/backupper.go
  pkg/staticcheck.conf
  pkg/test/discovery_client.go
  pkg/test/fake_controller_runtime_client.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/restic_test.go
  test/staticcheck.conf
Labels: Dependencies, has-unit-tests, has-changelog

#6188 [1.10] Fix issue 6182
  changelogs/unreleased/6188-Lyndon-Li
  pkg/podvolume/backupper.go
Labels: has-changelog

#6189 [1.11] Fix issue 6182
  changelogs/unreleased/6189-Lyndon-Li
  pkg/podvolume/backupper.go
Labels: has-changelog

#6177 Enable linter revive and resolve found errors: part2
  changelogs/unreleased/6177-blackpiglet
  pkg/plugin/clientmgmt/backupitemaction/v1/restartable_backup_item_action.go
  pkg/plugin/clientmgmt/backupitemaction/v1/restartable_backup_item_action_test.go
  pkg/plugin/clientmgmt/backupitemaction/v2/restartable_backup_item_action.go
  pkg/plugin/clientmgmt/backupitemaction/v2/restartable_backup_item_action_test.go
  pkg/plugin/clientmgmt/process/process.go
  pkg/plugin/clientmgmt/process/registry.go
  pkg/plugin/clientmgmt/restartable_delete_item_action.go
  pkg/plugin/clientmgmt/restartable_delete_item_action_test.go
  pkg/plugin/clientmgmt/restartable_object_store.go
  pkg/plugin/clientmgmt/restartable_object_store_test.go
  pkg/plugin/clientmgmt/restoreitemaction/v1/restartable_restore_item_action.go
  pkg/plugin/clientmgmt/restoreitemaction/v1/restartable_restore_item_action_test.go
  pkg/plugin/clientmgmt/restoreitemaction/v2/restartable_restore_item_action.go
  pkg/plugin/clientmgmt/restoreitemaction/v2/restartable_restore_item_action_test.go
  pkg/plugin/clientmgmt/volumesnapshotter/v1/restartable_volume_snapshotter.go
  pkg/plugin/clientmgmt/volumesnapshotter/v1/restartable_volume_snapshotter_test.go
  pkg/plugin/velero/backupitemaction/v2/backup_item_action.go
  pkg/plugin/velero/restoreitemaction/v2/restore_item_action.go
  pkg/podvolume/util.go
  pkg/repository/backup_repo_op.go
  pkg/repository/config/gcp.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/utils.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/kopialib/repo_init.go
  pkg/restore/pod_volume_restore_action.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/fake_volume_snapshotter.go
  pkg/uploader/kopia/shim.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/provider.go
Labels: has-unit-tests, has-changelog

#6173 Enable linter revive and resolve found errors: part1
  changelogs/unreleased/6173-blackpiglet
  golangci.yaml
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/volume_resources.go
  pkg/archive/filesystem.go
  pkg/backup/item_backupper.go
  pkg/client/auth_providers.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/serverstatus/server_status.go
  pkg/cmd/cli/version/version.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/server_status_request_controller.go
  pkg/controller/server_status_request_controller_test.go
  pkg/install/install.go
  pkg/itemoperationmap/backup_operation_map.go
  pkg/itemoperationmap/restore_operation_map.go
  pkg/nodeagent/node_agent.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_factory.go
  pkg/repository/ensurer.go
  pkg/repository/manager.go
  pkg/restic/exec_commands.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/types.go
  pkg/util/encode/encode.go
  test/e2e/util/providers/gcloud_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: has-unit-tests, has-changelog, has-e2e-2tests

#6194 Enable more linters, and remove mal-functioned milestoned issue action.
  .github/workflows/milestoned-issues.yml
  changelogs/unreleased/6194-blackpiglet
  golangci.yaml
  pkg/backup/item_backupper.go
  pkg/builder/backup_builder.go
  pkg/cmd/server/server.go
  pkg/cmd/util/output/output.go
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/itemoperationmap/backup_operation_map.go
  pkg/itemoperationmap/restore_operation_map.go
  pkg/plugin/clientmgmt/process/logrus_adapter.go
  pkg/plugin/framework/common/server_errors.go
  pkg/restic/exec_commands.go
  pkg/restore/service_action.go
  pkg/test/tar_writer.go
  pkg/uploader/kopia/snapshot.go
  pkg/util/boolptr/boolptr.go
  pkg/util/collections/includes_excludes.go
Labels: has-changelog

#6151 Make GetPluginConfig accessible from other packages.
  changelogs/unreleased/6151-tkaovila
  pkg/plugin/framework/common/plugin_config.go
  pkg/plugin/framework/common/plugin_config_test.go
  pkg/restore/change_pvc_node_selector.go
  pkg/restore/change_storageclass_action.go
  pkg/restore/pod_volume_restore_action.go
Labels: has-unit-tests, has-changelog

#6204 Add 1.10.3 change log
  changelogs/CHANGELOG-1.10.md
  changelogs/unreleased/6058-ywk253100
  changelogs/unreleased/6086-Lyndon-Li
  changelogs/unreleased/6135-ywk253100
  changelogs/unreleased/6143-blackpiglet
  changelogs/unreleased/6188-Lyndon-Li
Labels: kind/changelog-not-required

#6201 Using gcr.io as velero image registry
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6211 Remove RestoreStorageLocation
  config/rbac/role.yaml
  pkg/controller/restore_operations_controller.go
Labels: kind/changelog-not-required
