Repository vmware-tanzu/velero, pull requests merged in 2023-06, with the labels that each got.

#6296 Fix issue 6258
  changelogs/unreleased/6296-Lyndon-Li
  pkg/repository/config/azure_test.go
  pkg/repository/ensurer_test.go
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
Labels: has-unit-tests, has-changelog

#6320 Include namespace resource needed by namespaced-scope resource in backup
  changelogs/unreleased/6320-blackpiglet
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
Labels: has-unit-tests, has-changelog

#6308 Data mover backup expose
  changelogs/unreleased/6308-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/snapshot.go
  pkg/exposer/types.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#6332 Prepare E2E test of data movement feature and other fixes
  test/e2e/Makefile
  test/e2e/backup/backup.go
  test/e2e/test/test.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6331 Add unit test cases for pkg/cmd/util/flag package
  pkg/cmd/util/flag/accessors_test.go
  pkg/cmd/util/flag/array_test.go
  pkg/cmd/util/flag/enum_test.go
  pkg/cmd/util/flag/label_selector_test.go
  pkg/cmd/util/flag/map_test.go
  pkg/cmd/util/flag/optional_bool_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6336 Fix issue 6255
  changelogs/unreleased/6336-Lyndon-Li
  pkg/podvolume/backupper_test.go
  pkg/podvolume/restorer_test.go
  pkg/repository/backup_repo_op.go
  pkg/repository/ensurer.go
  pkg/repository/ensurer_test.go
Labels: has-unit-tests, has-changelog

#6342 Improve the unit test coverage of pkg/cmd/server package
  Makefile
  pkg/client/factory.go
  pkg/client/mocks/Factory.go
  pkg/cmd/server/server_test.go
  pkg/discovery/helper.go
  pkg/discovery/mocks/Helper.go
Labels: kind/changelog-not-required, has-unit-tests

#6356 Fix main CI failure
  pkg/podvolume/restorer_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6351 Improve the unit test coverage for pkg/install
  pkg/install/install_test.go
  pkg/install/resources_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6363 add ut for pkg/client
  pkg/client/client_test.go
  pkg/client/kubeconfig
Labels: kind/changelog-not-required, has-unit-tests

#6337 Data upload controller
  changelogs/unreleased/6337-qiuming-best
  pkg/apis/velero/v1/labels_annotations.go
  pkg/builder/data_upload_builder.go
  pkg/builder/pod_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/snapshot.go
  pkg/exposer/types.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#6327 Remove Wait VolumeSnapshot to ReadyToUse logic.
  changelogs/unreleased/6327-blackpiglet
  go.mod
  pkg/apis/velero/v1/labels_annotations.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/util/csi/reset.go
Labels: Dependencies, has-unit-tests, has-changelog

#6364 Add ut for pkg/client/config
  pkg/client/config_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6365 Add data mover related options in CLI
  changelogs/unreleased/6365-ywk253100
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
Labels: has-changelog

#6370 Change kopia as the default path of PVB
  changelogs/unreleased/6370-Lyndon-Li
  design/unified-repo-and-kopia-integration/unified-repo-and-kopia-integration.md
  pkg/cmd/cli/install/install.go
  site/content/docs/main/file-system-backup.md
Labels: Documentation, has-changelog

#6323 [main]Make the E2E testing pods obey the restricted pod security standard.
  test/e2e/util/k8s/namespace.go
  test/e2e/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6366 Do not persist VolumeSnapshot and VolumeSnapshotContent for snapshot DataMover case
  changelogs/unreleased/6366-blackpiglet
  pkg/builder/persistent_volume_claim_builder.go
  pkg/builder/storage_class_builder.go
  pkg/builder/volume_snapshot_class_builder.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/podvolume/restorer_test.go
Labels: has-unit-tests, has-changelog

#6330 [triviy] Enhanced log output when image replace action
  pkg/restore/change_image_name_action.go
Labels: kind/changelog-not-required

#6371 add ut for pkg client factory
  hack/test.sh
  pkg/client/factory_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6318 Update metrics when backup failed with validation error
  changelogs/unreleased/6318-ywk253100
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog

#6348 examples: Label the deployment to get it backed up
  examples/nginx-app/base.yaml
Labels: kind/changelog-not-required

#6333 Fix typo in TestGetDeleteItemActions
  pkg/plugin/clientmgmt/manager_test.go
  pkg/plugin/framework/delete_item_action.go
  pkg/plugin/framework/delete_item_action_client.go
Labels: kind/changelog-not-required, has-unit-tests

#6367 Improve README.md
  README.md
Labels: kind/changelog-not-required

#6383 Data mover backup smoke testing
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/types.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6374 Add unit test for pkg/uploader
  changelogs/unreleased/6374-qiuming-best
  pkg/uploader/kopia/progress_test.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider_test.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: has-unit-tests, has-changelog

#6298 Add default values for defaultItemOperationTimeout and itemOperationSyncFrequency in velero CLI
  changelogs/unreleased/6298-shubham-pampattiwar
  pkg/cmd/server/server.go
Labels: has-changelog

#6357 Data mover restore expose
  changelogs/unreleased/6357-Lyndon-Li
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
  pkg/util/kube/utils.go
Labels: has-unit-tests, has-changelog

#6394 Add UT for pkg/discovery
  changelogs/unreleased/6394-qiuming-best
  pkg/controller/data_upload_controller.go
  pkg/discovery/helper_test.go
  pkg/discovery/mocks/Helper.go
  pkg/test/fake_mapper.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/provider_test.go
  pkg/uploader/types.go
Labels: has-unit-tests, has-changelog

#6368 Add UT for pkg/util
  changelogs/unreleased/6368-Lyndon-Li
  pkg/test/test_logger.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv_test.go
  pkg/util/logging/kopia_log_test.go
Labels: has-unit-tests, has-changelog

#6396 Add unit test for pkg/archive
  changelogs/unreleased/6396-allenxu404
  pkg/archive/extractor.go
  pkg/archive/extractor_test.go
  pkg/archive/filesystem.go
  pkg/archive/filesystem_test.go
Labels: has-unit-tests, has-changelog

#6317 [1.10]Restore Endpoints before Services
  changelogs/unreleased/6317-ywk253100
  pkg/cmd/server/server.go
  pkg/uploader/provider/provider.go
Labels: has-changelog

#6316 [1.11]Restore Endpoints before Services
  changelogs/unreleased/6316-ywk253100
  pkg/cmd/server/server.go
  pkg/uploader/provider/provider.go
Labels: has-changelog

#6315 Restore Endpoints before Services
  changelogs/unreleased/6315-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog

#6400 Add UT for pkg/cmd/cli/backup
  hack/test.sh
  pkg/client/mocks/Factory.go
  pkg/cmd/cli/backup/backup_test.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/delete_test.go
  pkg/cmd/cli/backup/describe_test.go
  pkg/cmd/cli/backup/download_test.go
  pkg/cmd/cli/backup/get_test.go
  pkg/cmd/cli/backup/logs_test.go
  pkg/cmd/cli/backuplocation/backup_location_test.go
  pkg/cmd/cli/backuplocation/create_test.go
  pkg/cmd/cli/backuplocation/delete_test.go
  pkg/cmd/cli/backuplocation/get_test.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/const.go
  pkg/cmd/test/const.go
  pkg/cmd/util/output/backup_storage_location_printer.go
  pkg/discovery/mocks/Helper.go
  pkg/generated/clientset/versioned/mocks/Interface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/BackupInterface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/BackupsGetter.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/DeleteBackupRequestInterface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/DeleteBackupRequestsGetter.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/PodVolumeBackupInterface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/ScheduleInterface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/SchedulesGetter.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/VeleroV1Interface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/VolumeSnapshotLocationInterface.go
  pkg/generated/clientset/versioned/typed/velero/v1/mocks/VolumeSnapshotLocationsGetter.go
  pkg/generated/clientset/versioned/typed/velero/v1/podvolumebackup.go
  pkg/test/comparisons.go
Labels: kind/changelog-not-required, has-unit-tests

#6399 Clarify "update" policy in restore.
  site/content/docs/main/restore-reference.md
  site/content/docs/v1.11/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#6359 Add Unit test cases for pkg/cmd/util/output
  pkg/builder/pod_volume_backup_builder.go
  pkg/builder/volume_snapshot_content_builder.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  pkg/cmd/util/output/describe_test.go
  pkg/cmd/util/output/output_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6414 Clarify the deletion frequency for gc controller
  changelogs/unreleased/6414-allenxu404
  site/content/docs/main/how-velero-works.md
  site/content/docs/v1.10/how-velero-works.md
  site/content/docs/v1.11/how-velero-works.md
Labels: Documentation, has-changelog

#6409 Fix: Lastest release link in website
  Makefile
  site/Dockerfile
  site/content/_index.md
  site/content/docs/main/release-instructions.md
Labels: Website, kind/changelog-not-required, Documentation

#6411 fix 404 link in KEP
  design/Implemented/csi-snapshots.md
Labels: kind/changelog-not-required

#6424 Add more unit test cases for cmd/util/output
  pkg/builder/delete_backup_request_builder.go
  pkg/builder/item_operation_builder.go
  pkg/builder/object_meta.go
  pkg/builder/pod_volume_backup_builder.go
  pkg/builder/pod_volume_restore_builder.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  pkg/cmd/util/output/describe.go
  pkg/cmd/util/output/describe_test.go
  pkg/cmd/util/output/restore_describer_test.go
  pkg/cmd/util/output/schedule_describe_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6427 Fix main CI out of space problem
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#6432 Add UT for pkg/repository
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/common_test.go
  pkg/repository/udmrepo/kopialib/backend/file_system_test.go
  pkg/repository/udmrepo/kopialib/backend/gcs_test.go
  pkg/repository/udmrepo/kopialib/backend/mocks/Reader.go
  pkg/repository/udmrepo/kopialib/backend/mocks/Writer.go
  pkg/repository/udmrepo/kopialib/backend/s3_test.go
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6395 Fix the snapshot log info
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required

#6436 Add data download controller
  changelogs/unreleased/6436-qiuming-best
  pkg/builder/data_download_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/datapath/mocks/types.go
  pkg/exposer/mocks/generic_restore.go
Labels: has-unit-tests, has-changelog

#6410 Retrieve DataUpload into result ConfigMap during volume snapshot restore.
  changelogs/unreleased/6410-blackpiglet
  pkg/apis/velero/v1/labels_annotations.go
  pkg/builder/data_download_builder.go
  pkg/builder/object_meta.go
  pkg/builder/persistent_volume_claim_builder.go
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/restore/dataupload_retrieve_action.go
  pkg/restore/dataupload_retrieve_action_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/test/resources.go
Labels: has-unit-tests, has-changelog

#6445 Fix concurrent repo ensure problem
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/repository/ensurer.go
  pkg/repository/ensurer_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6416 fix: Remove duplicated stale job
  .github/stale.yml
  .github/workflows/stale-issues.yml
Labels: kind/changelog-not-required
