Repository vmware-tanzu/velero, pull requests merged in 2023-09, with the labels that each got.

#6739 Fix kopia snapshot policy not work
  pkg/uploader/kopia/snapshot.go
Labels: kind/changelog-not-required

#6741 Fix issue 6709
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#6738 Fix issue 6733
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6740 Fix kopia snapshot policy not work
  pkg/uploader/kopia/snapshot.go
Labels: kind/changelog-not-required

#6742 [1.12] Fix issue 6709
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#6743 [1.12] Fix issue 6733
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6716 delete unused shcema package and parms in backup_storage_location_controller.
  pkg/cmd/server/server.go
  pkg/controller/backup_storage_location_controller.go
Labels: kind/changelog-not-required

#6737 Add anshulahuja98 maintainer details
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/content/contributors/06-anshul-ahuja.md
  site/static/img/contributors/anshul-ahuja.jpeg
Labels: Website, kind/changelog-not-required

#6726 Add license notes for velero-helper.
  cmd/velero-helper/velero-helper.go
Labels: kind/changelog-not-required

#6757 Fix issue 6753
  changelogs/unreleased/6757-Lyndon-Li
  pkg/controller/restore_operations_controller.go
Labels: has-changelog

#6758 [1.12] Fix issue 6753
  changelogs/unreleased/6758-Lyndon-Li
  pkg/controller/restore_operations_controller.go
Labels: has-changelog

#6759 [1.11] Fix issue 6753
  changelogs/unreleased/6759-Lyndon-Li
  pkg/controller/restore_operations_controller.go
Labels: has-changelog

#6761 Update restore controller logic for restore deletion
  changelogs/unreleased/6761-ywk253100
  pkg/controller/restore_controller.go
Labels: has-changelog

#6751 Fix issue 6647
  changelogs/unreleased/6751-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: has-unit-tests, has-changelog

#6772 [1.12] Fix issue 6748
  pkg/uploader/kopia/shim.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6770 [cherry-pick]Update restore controller logic for restore deletion
  changelogs/unreleased/6770-ywk253100
  pkg/controller/restore_controller.go
Labels: has-changelog

#6762 [cherry-pick][release-1.12]Fix #6752: add namespace exclude check.
  changelogs/unreleased/6762-blackpiglet
  pkg/backup/item_collector.go
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#6760 Fix #6752: add namespace exclude check.
  changelogs/unreleased/6760-blackpiglet
  pkg/backup/item_collector.go
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#6778 [cherry-pick] add note for backup repository password configuration
  site/content/docs/main/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6783 Show yaml example of repository password: file-system-backup.md
  site/content/docs/main/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6773 [cherry-pick][release-1.11]Add PSA audit and warn labels.
  changelogs/unreleased/6773-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#6787 cherry-pick: r1.12: Show yaml example of repository password: file-system-backup.md #6783
  site/content/docs/main/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6790 Fix issue 6785
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6788 Fix issue 6748 [2]
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
Labels: kind/changelog-not-required

#6789 [1.12] Fix issue 6748 [2]
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/provider/kopia.go
Labels: kind/changelog-not-required

#6637 Add csi snapshot data mover doc
  changelogs/unreleased/6637-Lyndon-Li
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/file-system-backup.md
  site/data/docs/main-toc.yml
Labels: Website, Documentation, has-changelog

#6724 use old namespace in resource modifier
  changelogs/unreleased/6724-27149chen
  design/Implemented/json-substitution-action-design.md
  pkg/restore/restore.go
  site/content/docs/main/restore-resource-modifiers.md
  site/content/docs/v1.12/restore-resource-modifiers.md
Labels: Documentation, has-changelog

#6793 [1.12] Add csi snapshot data mover doc
  changelogs/unreleased/6793-Lyndon-Li
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/file-system-backup.md
  site/data/docs/main-toc.yml
Labels: Website, Documentation, has-changelog

#6774 [cherry-pick][release-1.10]Add PSA audit and warn labels.
  changelogs/unreleased/6774-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#6768 code clean for repository
  pkg/repository/backup_repo_op.go
  pkg/repository/config/aws.go
  pkg/repository/config/gcp.go
Labels: kind/changelog-not-required, target/1.12.1

#6794 [1.12][cherrypick] use old namespace in resource modifier (#6724)
  changelogs/unreleased/6724-27149chen
  design/Implemented/json-substitution-action-design.md
  pkg/restore/restore.go
  site/content/docs/main/restore-resource-modifiers.md
  site/content/docs/v1.12/restore-resource-modifiers.md
Labels: Documentation, has-changelog, target/1.12-rc.2

#6779 Keep the logs info ns/name is the same with other modules.
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcepolicies/resource_policies.go
  internal/util/managercontroller/managercontroller.go
  pkg/cmd/cli/backuplocation/delete.go
Labels: kind/changelog-not-required, target/1.12.1

#6798 Fix issue #6781, and some code clean.
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
Labels: kind/changelog-not-required, target/1.12.1

#6775 [cherry-pick][release-1.9]Add PSA audit and warn labels.
  changelogs/unreleased/6775-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#6803 Optimize of removing dataupload datadownload finalizer
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: kind/changelog-not-required

#6808 [Cherry-Pick] Optimize of removing finalizer dataupload datadownload
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: kind/changelog-not-required

#5211 Check pod status before hook
  changelogs/unreleased/5211-cleverhu
  pkg/podexec/pod_command_executor.go
  pkg/podexec/pod_command_executor_test.go
Labels: has-unit-tests, has-changelog

#6814 [Cherry-pick]Add doc changes after rc1 to v1.12 docs
  site/content/docs/v1.12/api-types/backup.md
  site/content/docs/v1.12/api-types/schedule.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
  site/content/docs/v1.12/file-system-backup.md
  site/data/docs/v1-12-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#6822 Switch the kopia repo to new org
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#6821 [cherrypick-1.12]Switch the kopia repo to new org
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#6823 Set data mover related properties for schedule
  pkg/cmd/cli/schedule/create.go
Labels: kind/changelog-not-required

#6824 Set data mover related properties for schedule
  pkg/cmd/cli/schedule/create.go
Labels: kind/changelog-not-required

#6827 Issue 6786:always delete VSC regardless of the deletion policy
  changelogs/unreleased/6827-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests, has-changelog

#6815 Typo: remove double space
  pkg/cmd/cli/install/install.go
Labels: kind/changelog-not-required

#6816 Fix some typos about the docs.
  site/content/docs/main/csi.md
  site/content/docs/main/velero-install.md
  site/content/docs/v1.10/csi.md
  site/content/docs/v1.10/velero-install.md
  site/content/docs/v1.11/csi.md
  site/content/docs/v1.11/velero-install.md
  site/content/docs/v1.12/csi.md
  site/content/docs/v1.12/velero-install.md
  site/content/docs/v1.2.0/velero-install.md
  site/content/docs/v1.3.0/velero-install.md
  site/content/docs/v1.3.1/velero-install.md
  site/content/docs/v1.3.2/velero-install.md
  site/content/docs/v1.4/velero-install.md
  site/content/docs/v1.7/velero-install.md
  site/content/docs/v1.9/csi.md
  site/content/docs/v1.9/velero-install.md
Labels: kind/changelog-not-required, Documentation

#6712 On restore, delete Kubernetes 1.27 job controller uid label
  changelogs/unreleased/6712-kaovilai
  pkg/restore/job_action.go
Labels: has-changelog

#6833 Bump kopia to v0.14
  changelogs/unreleased/6833-Lyndon-Li
  go.mod
  go.sum
  pkg/repository/udmrepo/kopialib/backend/common.go
  pkg/repository/udmrepo/kopialib/backend/common_test.go
  pkg/repository/udmrepo/kopialib/backend/mocks/Storage.go
Labels: Dependencies, has-unit-tests, has-changelog

#6686 Make Kopia support Azure AD
  changelogs/unreleased/6686-ywk253100
  go.mod
  go.sum
  pkg/repository/config/azure.go
  pkg/repository/config/azure_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/azure.go
  pkg/repository/udmrepo/kopialib/backend/azure/azure_storage_wrapper.go
  pkg/repository/udmrepo/kopialib/backend/azure_test.go
  pkg/repository/udmrepo/kopialib/backend/s3.go
  pkg/repository/udmrepo/kopialib/backend/s3_test.go
  pkg/repository/udmrepo/repo_options.go
  pkg/util/azure/credential.go
  pkg/util/azure/credential_test.go
  pkg/util/azure/storage.go
  pkg/util/azure/storage_test.go
  pkg/util/azure/testdata/certificate.pem
  pkg/util/azure/util.go
  pkg/util/azure/util_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#6839 Doc for multiple snapshot class
  design/Implemented/multiple-csi-volumesnapshotclass-support.md
  site/content/docs/main/csi.md
  site/content/docs/v1.12/csi.md
Labels: kind/changelog-not-required, Documentation

#6841 [1.12] Doc for multiple snapshot class
  design/Implemented/multiple-csi-volumesnapshotclass-support.md
  site/content/docs/main/csi.md
  site/content/docs/v1.12/csi.md
Labels: kind/changelog-not-required, Documentation

#6842 Modify changelogs for v1.12
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/6688-27149chen
  changelogs/unreleased/6704-27149chen
  changelogs/unreleased/6724-27149chen
  changelogs/unreleased/6758-Lyndon-Li
  changelogs/unreleased/6761-ywk253100
  changelogs/unreleased/6762-blackpiglet
  changelogs/unreleased/6793-Lyndon-Li
Labels: kind/changelog-not-required, has-changelog

#6838 Change the default value of the velero_backup_last_status metrics.
  changelogs/unreleased/6838-yanggangtony
  pkg/metrics/metrics.go
Labels: has-changelog

#6856 Add some description of update existing resource policy to state it works in a best-effort way
  site/content/docs/main/restore-reference.md
  site/content/docs/v1.10/restore-reference.md
  site/content/docs/v1.11/restore-reference.md
  site/content/docs/v1.12/restore-reference.md
  site/content/docs/v1.9/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#6715 Remove schedule-related metrics on schedule delete
  changelogs/unreleased/6715-nilesh-akhade
  pkg/controller/schedule_controller.go
  pkg/metrics/metrics.go
Labels: has-changelog

#6873 [1.12] Issue 6786:always delete VSC regardless of the deletion policy
  changelogs/unreleased/6873-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
Labels: has-unit-tests, has-changelog

#6875 Issue 6859: move plugin depdending podvolume functions to util pkg
  changelogs/unreleased/6875-Lyndon-Li
  pkg/apis/velero/v1/labels_annotations.go
  pkg/backup/item_backupper.go
  pkg/podvolume/util.go
  pkg/podvolume/util_test.go
  pkg/util/podvolume/pod_volume.go
  pkg/util/podvolume/pod_volume_test.go
Labels: has-unit-tests, has-changelog

#6877 [1.12] Issue: 6859 move plugin depdending podvolume functions to util pkg
  changelogs/unreleased/6877-Lyndon-Li
  pkg/apis/velero/v1/labels_annotations.go
  pkg/backup/item_backupper.go
  pkg/podvolume/util.go
  pkg/podvolume/util_test.go
  pkg/util/podvolume/pod_volume.go
  pkg/util/podvolume/pod_volume_test.go
Labels: has-unit-tests, has-changelog

#6872 Issue 6861: fill repoIdentifier only for restic repo
  changelogs/unreleased/6872-Lyndon-Li
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/pod_volume_backup_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/podvolume/backupper.go
  pkg/podvolume/restorer.go
Labels: has-changelog

#6881 Add 'orLabelSelector' for backup, restore command
  changelogs/unreleased/6881-nilesh-akhade
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/describe_test.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/util/flag/orlabelselector.go
  pkg/cmd/util/flag/orlabelselector_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/restore_describer.go
  pkg/cmd/util/output/schedule_describe_test.go
  site/content/docs/main/resource-filtering.md
Labels: has-unit-tests, Documentation, has-changelog, target/1.12.1

#6885 Issue 6880: set ParallelUploadAboveSize as MaxInt64
  changelogs/unreleased/6885-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
Labels: has-changelog

#6886 [1.12] Issue 6880: set ParallelUploadAboveSize as MaxInt64
  changelogs/unreleased/6886-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
Labels: has-changelog

#6890 [1.10] Flush repo after policy is set
  changelogs/unreleased/6890-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
Labels: has-changelog

#6889 Flush repo after policy is set
  changelogs/unreleased/6889-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
Labels: has-changelog

#6893 Fix CI out of disk space problem
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#6884 Create the backup repository only when it doesn't exist
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6892 [Cherry-pick v1.12] code clean for repository (#6768)
  pkg/repository/backup_repo_op.go
  pkg/repository/config/aws.go
  pkg/repository/config/gcp.go
Labels: kind/changelog-not-required, target/1.12.1

#6895 Add go clean in Dockerfile and action.
  .github/workflows/push.yml
  Dockerfile
Labels: kind/changelog-not-required

#6680 Add support for block volumes
  changelogs/unreleased/6680-dzaninovic
  design/CLI/PoC/overlays/plugins/node-agent.yaml
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  pkg/builder/persistent_volume_builder.go
  pkg/cmd/cli/install/install.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/datapath/file_system.go
  pkg/datapath/types.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/host_path.go
  pkg/exposer/host_path_test.go
  pkg/exposer/types.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/resources.go
  pkg/podvolume/backupper.go
  pkg/uploader/kopia/block_backup.go
  pkg/uploader/kopia/block_restore.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/restic_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/file-system-backup.md
  tilt-resources/examples/node-agent.yaml
Labels: has-unit-tests, Documentation, has-changelog

#6896 [cherry-pick][release-1.12]Add go clean in Dockerfile and action.
  .github/workflows/push.yml
  Dockerfile
Labels: kind/changelog-not-required

#6883 Replace the base image with paketobuildpacks image
  Dockerfile
  changelogs/unreleased/6883-ywk253100
  hack/docker-push.sh
Labels: has-changelog

#6750 Code clean for backup cmd client.
  pkg/cmd/cli/backup/create.go
Labels: kind/changelog-not-required, target/1.12.1

#6713 release-1.12: On restore, delete Kubernetes 1.27 job controller uid label
  changelogs/unreleased/6713-kaovilai
  pkg/restore/job_action.go
Labels: has-changelog, target/1.12.1

#6897 Add support for block volumes
  changelogs/unreleased/6897-dzaninovic
  design/CLI/PoC/overlays/plugins/node-agent.yaml
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  pkg/builder/persistent_volume_builder.go
  pkg/cmd/cli/install/install.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/datapath/file_system.go
  pkg/datapath/types.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/host_path.go
  pkg/exposer/host_path_test.go
  pkg/exposer/types.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/resources.go
  pkg/podvolume/backupper.go
  pkg/uploader/kopia/block_backup.go
  pkg/uploader/kopia/block_restore.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/restic_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/file-system-backup.md
  tilt-resources/examples/node-agent.yaml
Labels: has-unit-tests, Documentation, has-changelog
