Repository vmware-tanzu/velero, pull requests merged in 2023-07, with the labels that each got.

#6446 Fix data path concurrent
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#5774 Design to add support for Multiple VolumeSnapshotClasses in CSI Plugin
  changelogs/unreleased/5774-anshulahuja98
  design/multiple-csi-volumesnapshotclass-support.md
Labels: Area/Design, has-changelog

#6442 Add more unit test cases for pkg/persistence
  pkg/persistence/object_store_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6434 Fix hook filter display issue for backup describer
  changelogs/unreleased/6434-allenxu404
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
Labels: has-unit-tests, has-changelog

#6456 Limit label "velero.io/pvc-namespace-name" length to 63.
  pkg/apis/velero/v1/labels_annotations.go
  pkg/restore/dataupload_retrieve_action.go
  pkg/restore/dataupload_retrieve_action_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6433 Modify DownloadRequest controller logic
  changelogs/unreleased/6433-blackpiglet
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
Labels: has-unit-tests, has-changelog

#6448 fix doc typo
  site/content/docs/main/file-system-backup.md
  site/content/docs/v1.10/file-system-backup.md
  site/content/docs/v1.11/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6465 typo: s/inokes/invokes
  site/content/docs/main/file-system-backup.md
  site/content/docs/v1.10/file-system-backup.md
  site/content/docs/v1.11/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6464 Add support for OpenStack CSI drivers topology keys
  changelogs/unreleased/6464-openstack-csi-topology-keys
  pkg/backup/item_backupper.go
Labels: has-changelog

#6467 Add node name to data mover CR
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: kind/changelog-not-required

#6459 Add exit code log and possible memory shortage warning log for Restic command failure
  changelogs/unreleased/6459-blackpiglet
  pkg/repository/restic/repository.go
  pkg/restic/exec_commands.go
  pkg/util/exec/exec.go
Labels: has-changelog

#6473 Clarify FSB restore pod status.
  site/content/docs/main/file-system-backup.md
  site/content/docs/v1.11/file-system-backup.md
Labels: kind/changelog-not-required, Documentation

#6447 Support datamover test in E2E script
  go.mod
  test/e2e/Makefile
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/types.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/statefulset.go
  test/e2e/util/kibishii/kibishii_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, Dependencies, has-e2e-2tests

#6472 Add timeout for backup/restore expose
  go.mod
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, Dependencies, has-unit-tests

#6461 Mark dataupload/datadownload in cancel when velero pod restart
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6398 Clarify that snapshot data is not uploaded to the object storage.
  site/content/docs/main/csi.md
  site/content/docs/v1.11/csi.md
Labels: kind/changelog-not-required, Documentation

#6484 Move kopia logging from util/logging to remove indirect dependency in velero plugins
  changelogs/unreleased/6484-kaovilai
  pkg/kopia/kopia_log.go
  pkg/kopia/kopia_log_test.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/uploader/kopia/snapshot.go
Labels: has-unit-tests, has-changelog

#6485 Bump Golang to v1.20.6 for release-1.11.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#5880 Proposal to add support for Resource Modifier (AKA JSON Substitutions) in Restore workflow
  design/json-substitution-action-design.md
Labels: Area/Design, kind/changelog-not-required

#6493 Add data upload/download metrics
  changelogs/unreleased/6493-allenxu404
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/metrics/metrics.go
Labels: has-unit-tests, has-changelog

#6488 Add support for OpenStack CSI drivers topology keys
  changelogs/unreleased/6488-kayrus
  pkg/backup/item_backupper.go
Labels: has-changelog

#6469 Remove dependency of the legacy client code from pkg/cmd directory part 1
  changelogs/unreleased/6469-blackpiglet
  pkg/client/factory.go
  pkg/client/mocks/Factory.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/delete.go
  pkg/cmd/cli/backup/delete_test.go
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backup/describe_test.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/backup/download_test.go
  pkg/cmd/cli/backuplocation/delete_test.go
  pkg/cmd/cli/backuplocation/get_test.go
  pkg/cmd/cli/delete_options.go
  pkg/cmd/cli/restore/delete.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/schedule/delete.go
  pkg/cmd/cli/version/version_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/util/kube/list_watch.go
Labels: has-unit-tests, has-changelog

#6492 Data mover restore abort for existing PVC
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6491 Fix issue 6490
  changelogs/unreleased/6491-Lyndon-Li
  pkg/controller/backup_operations_controller.go
  pkg/controller/restore_operations_controller.go
Labels: has-changelog

#6500 Fix release-1.11 push github action out of space issue.
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#6497 Remove dependency of the legacy client code from pkg/cmd directory part 2
  changelogs/unreleased/6497-blackpiglet
  pkg/client/factory_test.go
  pkg/cmd/cli/backup/download_test.go
  pkg/cmd/cli/backup/get.go
  pkg/cmd/cli/backup/get_test.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/backup/logs_test.go
  pkg/cmd/cli/backuplocation/create_test.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
  pkg/cmd/cli/restore/restore_test.go
  pkg/util/kube/list_watch_test.go
Labels: has-unit-tests, has-changelog

#6199 Integrate pushing to docker hub and gcr.io
  .github/workflows/push.yml
  Makefile
Labels: kind/changelog-not-required

#6516 Integrate pushing to docker hub and gcr.io in one docker build and push command
  .github/workflows/push.yml
  Makefile
Labels: kind/changelog-not-required

#6511 Improve pkg/cmd/cli package UT coverage.
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/logs_test.go
  pkg/cmd/cli/restore/create_test.go
  pkg/cmd/cli/restore/delete_test.go
  pkg/cmd/cli/restore/describe.go
  pkg/cmd/cli/restore/describe_test.go
  pkg/cmd/cli/restore/get.go
  pkg/cmd/cli/restore/get_test.go
  pkg/cmd/cli/restore/logs_test.go
Labels: kind/changelog-not-required, has-unit-tests

#6522 Add v1.11.1 changelog.
  changelogs/CHANGELOG-1.11.md
  changelogs/unreleased/6189-Lyndon-Li
  changelogs/unreleased/6316-ywk253100
  changelogs/unreleased/6324-blackpiglet
  changelogs/unreleased/6477-Lyndon-Li
  changelogs/unreleased/6488-kayrus
Labels: kind/changelog-not-required

#6452 Add support for ResourceModifier (AKA Json Substitutions) in restore flow
  .gitignore
  changelogs/unreleased/6452-anshulahuja98
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
  internal/resourcemodifiers/resource_modifiers_validator.go
  internal/resourcemodifiers/resource_modifiers_validator_test.go
  pkg/apis/velero/v1/restore_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/cmd/cli/restore/create.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/restore/request.go
  pkg/restore/restore.go
Labels: has-unit-tests, has-changelog

#6430 Update tilt ubuntu image to avoid glibc error
  Tiltfile
Labels: kind/changelog-not-required

#6523 Restrict namespace to node-agent cache
  changelogs/unreleased/6523-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
Labels: has-changelog

#6496 Track the skipped PV and print the summary in backup log
  changelogs/unreleased/6496-reasonerjt
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
  pkg/backup/pv_skip_tracker.go
  pkg/backup/pv_skip_tracker_test.go
  pkg/backup/pvc_snaphost_tracker_test.go
  pkg/backup/pvc_snapshot_tracker.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/util.go
  pkg/podvolume/util_test.go
Labels: has-unit-tests, has-changelog

#6509 Support AP IVersion V1 for CR volumesnapshotclass in E2E test and FIx plugin parameter issue
  test/e2e/backup/backup.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/e2e/util/csi/common.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6479 add restore finalizer to clean up external resources
  changelogs/unreleased/6479-allenxu404
  pkg/cmd/cli/uninstall/uninstall.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
Labels: has-unit-tests, has-changelog

#6474 Add immutability supporting limitation in documents.
  site/content/docs/main/backup-reference.md
  site/content/docs/v1.11/backup-reference.md
Labels: kind/changelog-not-required, Documentation

#6527 [Cherry-pick] Restict namespace to node-agent cache
  changelogs/unreleased/6527-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
Labels: has-changelog

#6530 Update the CHANGELOG.md
  CHANGELOG.md
Labels: kind/changelog-not-required

#6397 add missing CompletionTimestamp and metrics when restore moved into terminal phase
  changelogs/unreleased/6397-Nutrymaco
  pkg/controller/restore_operations_controller.go
Labels: has-changelog

#6531 delete io/ioutil package as it is deprecated
  pkg/controller/backup_finalizer_controller_test.go
  pkg/uploader/provider/restic_test.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/resourcepolicies/resource_policies.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#6524 fix scheduleReconciler log info
  pkg/controller/schedule_controller.go
Labels: kind/changelog-not-required

#6532 Fix wrong log for server controller logs.
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required

#6533 Data mover wrong bsl after sync
  changelogs/unreleased/6533-Lyndon-Li
  pkg/cmd/server/plugin/plugin.go
  pkg/controller/backup_sync_controller.go
  pkg/restore/dataupload_retrieve_action.go
  pkg/restore/dataupload_retrieve_action_test.go
Labels: has-unit-tests, has-changelog

#6528 [Cherry-pick] Restict namespace to node-agent cache
  changelogs/unreleased/6528-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
Labels: has-changelog

#6539 [release-1.10] fix issue 6534
  .github/workflows/push.yml
  changelogs/unreleased/6539-Lyndon-Li
  pkg/controller/backup_sync_controller.go
Labels: has-changelog

#6543 [release-1.11] Fix issue 6534
  changelogs/unreleased/6543-Lyndon-Li
  pkg/controller/backup_sync_controller.go
Labels: has-changelog

#6544 Check if restore crd exist before operating restore
  changelogs/unreleased/6544-allenxu404
  pkg/cmd/cli/uninstall/uninstall.go
Labels: has-changelog

#6476 Delete the expired deletebackuprequests that are stuck in "InProgress"
  changelogs/unreleased/6476-reasonerjt
  pkg/controller/backup_deletion_controller.go
Labels: has-changelog

#6551 Combine docker push and gcr push
  .github/workflows/push.yml
  Makefile
Labels: kind/changelog-not-required

#6547 Delete moved snapshots when the backup is deleted
  changelogs/unreleased/6547-reasonerjt
  pkg/apis/velero/v1/labels_annotations.go
  pkg/cmd/server/plugin/plugin.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/datamover/dataupload_delete_action.go
  pkg/datamover/util.go
  pkg/datamover/util_test.go
  pkg/repository/manager.go
Labels: has-unit-tests, has-changelog

#6481 Remove PVC's selector in backup's PVC action.
  changelogs/unreleased/6481-blackpiglet
  pkg/backup/backup_pv_action.go
  pkg/backup/backup_pv_action_test.go
Labels: has-unit-tests, has-changelog

#6541 Fix some typos for DataMovers type.
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  pkg/apis/velero/v2alpha1/data_upload_types.go
Labels: kind/changelog-not-required

#6555 Delete redundance checkNodeAgent code
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required

#6554 Fix the velero crd define locations.
  design/upload-progress.md
  pkg/cmd/server/server.go
Labels: Area/Design, kind/changelog-not-required
