Repository vmware-tanzu/velero, pull requests merged in 2023-12, with the labels that each got.

#7159 Fix floatation of error/message in the backup result.
  pkg/util/logging/log_counter_hook.go
  pkg/util/logging/log_counter_hook_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7167 Discard --pod-volume-backup-uploader in unified-repo design doc.
  design/Implemented/unified-repo-and-kopia-integration/unified-repo-and-kopia-integration.md
Labels: kind/changelog-not-required

#7174 Make sure the PVs skipped by CSI plugin due to settings in backup spec are tracked
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required, target/FC

#7138 Use VolumeInfo to help restore the PV.
  changelogs/unreleased/7138-blackpiglet
  design/pv_backup_info.md
  internal/volume/snapshotlocation.go
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_backupper_test.go
  pkg/backup/request.go
  pkg/backup/request_test.go
  pkg/backup/snapshots.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/mocks/backup_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/restore/pv_restorer.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/list_watch_test.go
  pkg/volume/volume_info_common.go
Labels: Area/Design, has-unit-tests, has-changelog, target/FC

#7153 Enhance hooks tracker by adding an returned error to record function
  changelogs/unreleased/7153-allenxu404
  internal/hook/hook_tracker.go
  internal/hook/hook_tracker_test.go
  internal/hook/item_hook_handler.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
Labels: has-changelog, target/FC

#7052 Make data mover fail early
  changelogs/unreleased/7052-qiuming-best
  pkg/builder/pod_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: has-unit-tests, has-changelog, target/FC

#7161 Add node-agent concurrency doc
  changelogs/unreleased/7161-Lyndon-Li
  design/node-agent-concurrency.md
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  site/content/docs/main/node-agent-concurrency.md
  site/data/docs/main-toc.yml
Labels: Website, Area/Design, has-unit-tests, Documentation, has-changelog, target/FC

#6771 Fix default BSL setting not work
  changelogs/unreleased/6771-qiuming-best
  internal/storage/storagelocation.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_storage_location_controller_test.go
  site/content/docs/main/customize-installation.md
Labels: has-unit-tests, Documentation, has-changelog, target/FC

#7175 Refactor DownloadRequest Stream function
  changelogs/unreleased/7175-blackpiglet
  pkg/cmd/util/downloadrequest/downloadrequest.go
Labels: has-changelog

#7048 Update E2E README file to latest
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/e2e_suite_test.go
  test/perf/Makefile
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#7141 Allow sparse option for Kopia & Restic restore
  changelogs/unreleased/7141-qiuming-best
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/shared/uploader_config.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/pod_volume_backup_types.go
  pkg/apis/velero/v1/pod_volume_restore_type.go
  pkg/apis/velero/v1/restore_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/builder/backup_builder.go
  pkg/builder/data_upload_builder.go
  pkg/builder/restore_builder.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/restore_describer.go
  pkg/cmd/util/output/schedule_describer.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/mocks/types.go
  pkg/datapath/types.go
  pkg/podvolume/backupper.go
  pkg/podvolume/restorer.go
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
  pkg/uploader/util/uploader_config.go
  pkg/uploader/util/uploader_config_test.go
Labels: has-unit-tests, has-changelog, target/FC

#7184 Update CSIVolumeSnapshotsCompleted in backup's status and the metric
  changelogs/unreleased/7184-blackpiglet
  pkg/backup/snapshots.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests, has-changelog

#7169 Add `--skip-immediately` to schedule CLI/API, and related to server, install commands
  changelogs/unreleased/7169-kaovilai
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  design/schedule-skip-immediately-config_design.md
  pkg/apis/velero/v1/schedule_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/builder/schedule_builder.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/cli/schedule/pause.go
  pkg/cmd/cli/schedule/skip_options.go
  pkg/cmd/cli/schedule/unpause.go
  pkg/cmd/server/server.go
  pkg/controller/schedule_controller.go
  pkg/controller/schedule_controller_test.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: Area/Design, has-unit-tests, has-changelog, target/FC

#7195 Use a new variable for resource path
  pkg/restore/restore.go
Labels: kind/changelog-not-required, target/FC

#7171 Add explicit enableCSI to TestProcessBackupCompletions
  pkg/controller/backup_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7201 Issue 7189: generic restore - don't assume the first volume as the restore volume
  changelogs/unreleased/7201-Lyndon-Li
  pkg/exposer/generic_restore.go
Labels: has-changelog

#7203 [1.12] Issue 7189: generic restore - don't assume the first volume as the restore volume
  changelogs/unreleased/7203-Lyndon-Li
  pkg/exposer/generic_restore.go
Labels: has-changelog

#7204 Fix finalizer typo in logs
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
Labels: kind/changelog-not-required

#7218 Issue 7214: data mover backup describe for legacy backups
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7202 Fix csiVolumeSnapshotsAttempted/Completed metrics issue on release-1.12
  changelogs/unreleased/7202-blackpiglet
  pkg/backup/snapshots.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_sync_controller_test.go
Labels: has-unit-tests, has-changelog

#7221 Fix shedule get and describe CLI nil pointer issue
  pkg/cmd/cli/schedule/describe.go
  pkg/cmd/cli/schedule/get.go
Labels: kind/changelog-not-required

#7220 Update k8s metrix and move implemented designs
  README.md
  design/Implemented/merge-patch-and-strategic-in-resource-modifier.md
  design/Implemented/node-agent-concurrency.md
  design/Implemented/pv_backup_info.md
  design/Implemented/schedule-skip-immediately-config_design.md
  design/Implemented/velero-uploader-configuration.md
Labels: kind/changelog-not-required

#7226 Add upgrade doc for v1.13
  site/content/docs/main/upgrade-to-1.13.md
  site/data/docs/main-toc.yml
Labels: Website, kind/changelog-not-required, Documentation

#7228 Update uploader configuration design doc
  design/Implemented/velero-uploader-configuration.md
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/backup-reference.md
  site/content/docs/main/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#7229 Remove the redundant newline in backup describe output
  changelogs/unreleased/7229-allenxu404
  pkg/cmd/util/output/backup_describer.go
Labels: has-changelog

#7222 Adjust velero server side default backup location setting logic
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_storage_location_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7234 Bump Golang library versions for v1.13 Restic to fix CVEs.
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required

#7236 Remove csi feature check from backup describe
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  site/content/docs/main/customize-installation.md
Labels: kind/changelog-not-required, has-unit-tests, Documentation

#7240 Issue 7237: add pvc namespace to backup describe
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7231 Don't generate empty structure.
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  pkg/restore/restore_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7238 Adjust the newline output of resource list in restore describer
  changelogs/unreleased/7238-allenxu404
  pkg/cmd/util/output/restore_describer.go
Labels: has-changelog

#7245 Issue 7244: delete incomplete snapshot automatically for kopia uploader
  changelogs/unreleased/7245-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/mocks/policy.go
Labels: has-unit-tests, has-changelog

#7248 Adopter update for Azure Backup for AKS
  ADOPTERS.md
  site/static/img/adopters/azure.svg
Labels: Website

#7247 [1.12] Issue 7244: delete incomplete snapshot automatically for kopia uploader
  changelogs/unreleased/7247-Lyndon-Li
  pkg/uploader/kopia/snapshot.go
  pkg/uploader/kopia/snapshot_test.go
Labels: has-unit-tests, has-changelog
