Repository vmware-tanzu/velero, pull requests merged in 2023-03, with the labels that each got.

#5939 Switch the base image to distroless/base-nossl-debian11 to reduce the CVE triage efforts
  Dockerfile
  changelogs/unreleased/5939-ywk253100
Labels: has-changelog

#5944 Fix tilt up: missing ${GOARM}" parameter in build-restic.sh
  Tiltfile
Labels: kind/changelog-not-required

#5849 BIAv2 async operations controller work
  changelogs/unreleased/5849-sseago
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  design/biav2-design.md
  design/general-progress-monitoring.md
  internal/hook/item_hook_handler.go
  pkg/apis/velero/v1/backup.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/archive/filesystem.go
  pkg/archive/filesystem_test.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_collector.go
  pkg/backup/request.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/controller/async_backup_operations_controller.go
  pkg/controller/async_backup_operations_controller_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/constants.go
  pkg/controller/download_request_controller.go
  pkg/controller/download_request_controller_test.go
  pkg/itemoperation/backup_operation.go
  pkg/itemoperation/restore_operation.go
  pkg/itemoperation/shared.go
  pkg/persistence/mocks/backup_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/plugin/clientmgmt/backupitemaction/v2/restartable_backup_item_action.go
  pkg/plugin/clientmgmt/backupitemaction/v2/restartable_backup_item_action_test.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_client.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_server.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_test.go
  pkg/plugin/generated/backupitemaction/v2/BackupItemAction.pb.go
  pkg/plugin/proto/backupitemaction/v2/BackupItemAction.proto
  pkg/plugin/velero/backupitemaction/v2/backup_item_action.go
  pkg/plugin/velero/mocks/backupitemaction/v2/BackupItemAction.go
  pkg/plugin/velero/shared.go
  site/content/docs/main/api-types/backup.md
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#5964 Fix client wait problem after async operation change
  changelogs/unreleased/5964-Lyndon-Li
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/restore/create.go
Labels: has-changelog

#5960 Add control on Velero pod log verbosity to E2E test
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/types.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#5873 Add labels for velero installed namespace to support PSA
  changelogs/unreleased/5873-blackpiglet
  pkg/install/resources.go
  pkg/install/resources_test.go
Labels: has-unit-tests, has-changelog

#5956 Fix issue 5935
  changelogs/CHANGELOG-0.9.md
  changelogs/CHANGELOG-1.8.md
  changelogs/unreleased/5956-Lyndon-Li
  design/general-progress-monitoring.md
  pkg/backup/backup_test.go
  pkg/controller/backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/util/logging/dual_mode_logger.go
  pkg/util/logging/dual_mode_logger_test.go
  site/content/docs/main/performance-guidance.md
  site/content/docs/v1.10/performance-guidance.md
  test/e2e/pv-backup/pv-backup-filter.go
Labels: Area/Design, has-unit-tests, Documentation, has-changelog, has-e2e-2tests

#5969 Refactor backup controller with controller-runtime.
  changelogs/unreleased/5969-qiuming-best
  config/rbac/role.yaml
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/restore_types.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/controller/async_backup_operations_controller.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/constants.go
  pkg/controller/download_request_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/generic_controller.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/server_status_request_controller.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/restorer_factory.go
Labels: has-unit-tests, has-changelog

#5967 Update HorizontalPodAutoscaler version in velero.io
  .github/workflows/nightly-trivy-scan.yml
  site/content/docs/main/enable-api-group-versions-feature.md
Labels: kind/changelog-not-required

#5773 Design for Handling backup of volumes by resources filters
  changelogs/unreleased/5773-qiuming-best
  design/handle-backup-of-volumes-by-resources-filters.md
Labels: Area/Design, has-changelog

#5926 Add server setting for resource timeouts
  changelogs/unreleased/5926-eemcmullan
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/repository/ensurer.go
  pkg/restore/restore.go
Labels: has-changelog, 1.11-candidate

#5971 Follow-on fixes for BIAv2 controller work
  changelogs/unreleased/5971-sseago
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/crds/crds.go
  design/general-progress-monitoring.md
  pkg/apis/velero/v1/backup_types.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_collector.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_operations_controller_test.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/constants.go
  pkg/controller/download_request_controller.go
  pkg/itemoperation/backup_operation.go
  pkg/itemoperationmap/backup_operation_map.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_client.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_server.go
  pkg/plugin/framework/backupitemaction/v2/backup_item_action_test.go
  pkg/plugin/generated/backupitemaction/v2/BackupItemAction.pb.go
  pkg/plugin/proto/backupitemaction/v2/BackupItemAction.proto
  pkg/plugin/velero/backupitemaction/v2/backup_item_action.go
  pkg/util/encode/encode.go
  site/content/docs/main/api-types/backup.md
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#5838 Add new resource filters can separate cluster and namespace scope res…
  changelogs/unreleased/5838-blackpiglet
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  design/cluster-scope-resource-filter.md
  internal/hook/item_hook_handler_test.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_collector.go
  pkg/backup/request.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/schedule/create.go
  pkg/cmd/util/output/backup_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/test/api_server.go
  pkg/test/resources.go
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/manual-testing.md
  site/content/docs/main/resource-filtering.md
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#5933 Wait for additional items to be ready before restoring current item
  changelogs/unreleased/5933-sseago
  pkg/restore/request.go
  pkg/restore/request_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#5954 fix redundance parms: delete unused parms for UpdateVolumeSnapshotLocationWithCredentialConfig
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/restore/pv_restorer.go
  pkg/volume/snapshotlocation.go
Labels: kind/changelog-not-required

#5955 fix: delete io/ioutil package.
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  pkg/backup/remap_crd_version_action_test.go
  pkg/cmd/cli/backuplocation/create.go
  pkg/cmd/cli/backuplocation/set.go
  pkg/cmd/cli/debug/debug.go
  pkg/cmd/cli/install/install.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/persistence/in_memory_object_store.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
  pkg/plugin/clientmgmt/process/registry_test.go
  pkg/plugin/clientmgmt/restartable_object_store_test.go
  pkg/plugin/framework/stream_reader_test.go
  pkg/restore/restore.go
  pkg/test/fake_file_system.go
  pkg/test/test_logger.go
  pkg/uploader/kopia/snapshot.go
  pkg/util/exec/exec.go
  pkg/util/filesystem/file_system.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/serviceaccount.go
  test/e2e/util/providers/gcloud_utils.go
  test/e2e/util/velero/install.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#5916 Add warning/error result to cmd `velero backup describe`
  changelogs/unreleased/5916-allenxu404
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/download_request_types.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  pkg/persistence/object_store.go
Labels: has-changelog

#5987 Skip running unit test for test package
  hack/test.sh
Labels: kind/changelog-not-required

#5992 Add latest release badge
  README.md
Labels: kind/changelog-not-required

#5982 Fix take snapshot for PV with empty volume ID
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required

#5996 minor fixes for backup_operations_controller:
  changelogs/unreleased/5996-sseago
  pkg/controller/backup_operations_controller.go
Labels: has-changelog

#5997 Remove Reference of itemsnapshotter
  changelogs/unreleased/5997-reasonerjt
  pkg/backup/backup.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/plugin/clientmgmt/manager.go
  pkg/plugin/clientmgmt/process/client_builder.go
  pkg/plugin/clientmgmt/process/client_builder_test.go
  pkg/plugin/clientmgmt/restartable_item_snapshotter.go
  pkg/plugin/clientmgmt/restartable_item_snapshotter_test.go
  pkg/plugin/framework/action_resolver.go
  pkg/plugin/framework/common/plugin_kinds.go
  pkg/plugin/framework/item_snapshotter.go
  pkg/plugin/framework/item_snapshotter_client.go
  pkg/plugin/framework/item_snapshotter_server.go
  pkg/plugin/framework/plugin_types_test.go
  pkg/plugin/framework/server.go
  pkg/plugin/generated/ItemSnapshotter.pb.go
  pkg/plugin/mocks/manager.go
  pkg/plugin/proto/ItemSnapshotter.proto
  pkg/plugin/velero/item_snapshotter/v1/item_snapshotter.go
  pkg/plugin/velero/item_snapshotter/v1/mocks/item_snapshotter.go
  pkg/restore/restore.go
Labels: has-unit-tests, has-changelog

#6003 Replace != with notin for --selector.
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.10/resource-filtering.md
  site/content/docs/v1.8/resource-filtering.md
  site/content/docs/v1.9/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#6006 Remove merged back deprecate code
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/util/logging/dual_mode_logger.go
Labels: kind/changelog-not-required

#5942 Fix file rename: hack/download-restic.sh -> hack/build-restic.sh
  Tiltfile
Labels: kind/changelog-not-required

#5901 Handle backup of volume by resource policies
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  go.mod
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/schedule/create.go
  pkg/controller/backup_controller.go
  pkg/controller/schedule_controller.go
  pkg/podvolume/backupper.go
Labels: kind/changelog-not-required, Dependencies, has-unit-tests

#6005 Slight improvement of error messages.
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required

#6012 BIA/RIAv2 -- distinguish between New and InProgress operations
  changelogs/unreleased/6012-sseago
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_operations_controller_test.go
  pkg/controller/restore_operations_controller.go
  pkg/itemoperation/shared.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#6014 Update doc
  README.md
  site/content/docs/main/support-process.md
Labels: kind/changelog-not-required, Documentation

#5915 Add E2E test of PV/PVC storage class can be changed during restores
  test/e2e/basic/nodeport.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule.go
  test/e2e/util/k8s/configmap.go
  test/e2e/util/k8s/sc.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6009 Adjust match resource policies
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/backup/item_backupper.go
  pkg/builder/backup_builder.go
  pkg/cmd/cli/schedule/create.go
  pkg/controller/backup_controller.go
  pkg/podvolume/backupper.go
Labels: kind/changelog-not-required

#6008 Modify golangci.yaml file. Resolve found lint issues.
  Makefile
  changelogs/unreleased/6008-blackpiglet
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/crds/crds.go
  golangci.yaml
  hack/lint.sh
  hack/release-tools/chk_version.go
  internal/restartabletest/restartable_delegate.go
  pkg/apis/velero/v1/restore_types.go
  pkg/builder/json_schema_props_builder.go
  pkg/cmd/cli/backuplocation/delete.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/restore/delete.go
  pkg/cmd/cli/schedule/delete.go
  pkg/cmd/cli/schedule/pause.go
  pkg/cmd/cli/schedule/unpause.go
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller.go
  pkg/plugin/framework/util.go
  pkg/restic/exec_commands.go
  pkg/restore/change_pvc_node_selector.go
  pkg/restore/priority.go
  pkg/restore/restore.go
  pkg/test/helpers.go
  pkg/test/mock_pod_command_executor.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/shim.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/types.go
  pkg/util/kube/pod.go
  pkg/util/logging/format_flag.go
  pkg/util/logging/log_level_flag.go
Labels: has-changelog

#6028 Fix issue 5972
  changelogs/unreleased/6028-Lyndon-Li
  pkg/util/logging/log_counter_hook.go
Labels: has-changelog

#6030 Add wait time for migration E2E test on vsphere pipeline
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6034 Make E2E test adopt vSphere CSI version update
  test/e2e/util/k8s/secret.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#6047 Add changing PVC selected node E2E test
  test/e2e/backups/ttl.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/nodeport.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/util/common/common.go
  test/e2e/util/k8s/common.go
  test/e2e/util/k8s/node.go
  test/e2e/util/k8s/pvc.go
  test/e2e/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#6050 Fix resource policies not work for vSphere plugin
  pkg/backup/item_backupper.go
Labels: kind/changelog-not-required

#6041 Fixed backup deletion bug related to async operations
  changelogs/unreleased/6041-sseago
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
Labels: has-unit-tests, has-changelog

#6059 [cherry-pick][release-1.9]Make E2E test adopt vSphere CSI version update
  changelogs/CHANGELOG-0.9.md
  changelogs/CHANGELOG-1.8.md
  pkg/backup/backup_test.go
  test/e2e/util/k8s/secret.go
  test/e2e/util/velero/install.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog, has-e2e-2tests
