Repository vmware-tanzu/velero, pull requests merged in 2024-06, with the labels that each got.

#7852 Use PVC to track the CSI snapshot in restore
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: kind/changelog-not-required, target/1.14-rc.2

#7854 Use PVC to track the CSI snapshot in restore
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: kind/changelog-not-required, target/1.14-rc.2

#7867 Add a notice in migration document.
  site/content/docs/main/api-types/schedule.md
  site/content/docs/main/migration-case.md
  site/content/docs/v1.12/api-types/schedule.md
  site/content/docs/v1.13/api-types/schedule.md
  site/content/docs/v1.14/api-types/schedule.md
Labels: kind/changelog-not-required, Documentation

#7856 [CP-to-main]Use PVC to track the CSI snapshot in restore
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: kind/changelog-not-required

#7875 Add checks for csisnapshot for vol_info population
  internal/volume/volumes_information.go
Labels: kind/changelog-not-required

#7860 Skip parallel files upload and download test for Restic case
  test/e2e/test/test.go
  test/types.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#7878 [CP-to-main] Add checks for csisnapshot for vol_info population
  internal/volume/volumes_information.go
Labels: kind/changelog-not-required

#7879 Skip parallel files upload and download test for Restic case.
  test/e2e/test/test.go
  test/types.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7877 [CP-to-main]Update release note of 1.14
  changelogs/CHANGELOG-1.14.md
Labels: kind/changelog-not-required, has-changelog

#7881 Remove Ming from auto assignee
  .github/auto-assignees.yml
Labels: kind/changelog-not-required

#7914 release-1.13: ignore .git/ when formatting
  hack/update-1fmt.sh
Labels: kind/changelog-not-required

#7899 Don't consider unschedulable pods unrecoverable
  changelogs/unreleased/7899-sseago
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: has-unit-tests, has-changelog

#7926 [release-1.14] Don't consider unschedulable pods unrecoverable
  changelogs/unreleased/7926-sseago
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: has-unit-tests, has-changelog

#7922 Issue 7898: change the node-agent load affinity design
  design/Implemented/node-agent-affinity.md
Labels: kind/changelog-not-required
