Repository vmware-tanzu/velero, pull requests merged in 2024-07, with the labels that each got.

#7949 [1.14] Issue 7903: and limitation clarification for change PVC selected-node feature
  changelogs/unreleased/7949-Lyndon-Li
  site/content/docs/main/restore-reference.md
Labels: Documentation, has-changelog

#7576 Data mover micro service design
  changelogs/unreleased/7576-Lyndon-Li
  design/vgdp-micro-service/vgdp-micro-service.md
  design/vgdp-micro-service/vgdp-ms-1.png
  design/vgdp-micro-service/vgdp-ms-2.png
  design/vgdp-micro-service/vgdp-ms-3.png
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: has-changelog

#7924 In backup sync flow put snapshotHandle as source in CSI VSContent
  pkg/controller/backup_sync_controller.go
Labels: kind/changelog-not-required

#7948 Issue 7904: limitation and deprecation clarification for change PVC selected-node feature
  changelogs/unreleased/7948-Lyndon-Li
  site/content/docs/main/restore-reference.md
Labels: Documentation, has-changelog

#7775 Add volume backup result
  changelogs/unreleased/7775-blackpiglet
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/backup_structured_describer_test.go
Labels: has-unit-tests, has-changelog

#7944 Expose the VolumeHelper to third-party plugins.
  changelogs/unreleased/7944-blackpiglet
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  pkg/backup/actions/csi/pvc_action.go
  pkg/backup/actions/csi/pvc_action_test.go
  pkg/backup/item_backupper.go
  pkg/controller/backup_controller.go
  pkg/plugin/utils/volumehelper/volume_policy_helper.go
Labels: has-unit-tests, has-changelog

#7967 Check whether the volume's source is PVC before fetching its PV.
  changelogs/unreleased/7967-blackpiglet
  internal/volumehelper/volume_policy_helper.go
  internal/volumehelper/volume_policy_helper_test.go
Labels: has-changelog

#7410 Ignore missing path error in conditional match
  changelogs/unreleased/7410-seanblong
  internal/resourcemodifiers/resource_modifiers.go
  internal/resourcemodifiers/resource_modifiers_test.go
Labels: has-changelog

#7976 [cherry-pick][1.14]Check whether the volume's source is PVC before fetching its PV.
  changelogs/unreleased/7976-blackpiglet
  internal/volumehelper/volume_policy_helper.go
  internal/volumehelper/volume_policy_helper_test.go
Labels: has-changelog

#7969 [cherry-pick][main]Expose the VolumeHelper to third-party plugins.
  changelogs/unreleased/7944-blackpiglet
  changelogs/unreleased/7969-blackpiglet
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/resource_policies_test.go
  pkg/backup/actions/csi/pvc_action.go
  pkg/backup/actions/csi/pvc_action_test.go
  pkg/backup/item_backupper.go
  pkg/controller/backup_controller.go
  pkg/plugin/utils/volumehelper/volume_policy_helper.go
Labels: has-unit-tests, has-changelog

#7973 Issue 7972: sync the backupPVC deletion in expose clean up
  changelogs/unreleased/7973-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#7955 New data path for data mover ms
  changelogs/unreleased/7955-Lyndon-Li
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/manager.go
  pkg/datapath/mocks/asyncBR.go
  pkg/datapath/mocks/types.go
  pkg/datapath/types.go
  pkg/repository/manager.go
  pkg/repository/provider/unified_repo.go
Labels: has-unit-tests, has-changelog

#7965 Check whether the namespaces specified in namespace filter exist.
  changelogs/unreleased/7965-blackpiglet
  pkg/backup/item_collector.go
  pkg/backup/item_collector_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog

#7983 Reset VolumeSnapshotRef in Backup Sync Flow
  pkg/controller/backup_sync_controller.go
Labels: kind/changelog-not-required

#5532 Propose a deprecation process for velero
  GOVERNANCE.md
  changelogs/unreleased/5532-shubham-pampattiwar
Labels: has-changelog

#7953 Skip PV patch step in Restore workflow for WaitForFirstConsumer VolumeBindingMode Pending state PVCs
  changelogs/unreleased/7953-shubham-pampattiwar
  pkg/controller/restore_finalizer_controller.go
Labels: has-changelog

#7998 Check whether the namespaces specified in namespace filter exist.
  changelogs/unreleased/7998-blackpiglet
  pkg/backup/item_collector.go
  pkg/backup/item_collector_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog

#8005 [CherryPick][1.13]Merge pull request #7983 from anshulahuja98/snapshotsync
  pkg/controller/backup_sync_controller.go
Labels: kind/changelog-not-required

#8004 [CherryPick][1.14] Merge pull request #7983 from anshulahuja98/snapshotsync
  pkg/controller/backup_sync_controller.go
Labels: kind/changelog-not-required

#8012 Reuse existing plugin manager for get/put volume info
  changelogs/unreleased/8012-sseago
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
Labels: has-unit-tests, has-changelog, target/1.14.1

#8006 Skip PV patch step in Restore workflow for WaitForFirstConsumer VolumeBindingMode Pending state PVCs (#7953)
  changelogs/unreleased/8006-shubham-pampattiwar
  pkg/controller/restore_finalizer_controller.go
Labels: has-changelog, target/1.14.1

#8014 Fix linter check error
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7608 golangci-lint(unconvert): fix test files
  .golangci.yaml
  pkg/uploader/kopia/progress_test.go
  test/e2e/privilegesmgmt/ssr.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#7670 testifylint: enable error-nil rule
  .golangci.yaml
  internal/hook/hook_tracker_test.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler_test.go
  internal/resourcepolicies/resource_policies_test.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/archive/parser_test.go
  pkg/backup/actions/service_account_action_test.go
  pkg/backup/item_backupper_test.go
  pkg/client/client_test.go
  pkg/client/factory_test.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backuplocation/create_test.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/cmd/cli/select_option_test.go
  pkg/cmd/server/server_test.go
  pkg/cmd/util/flag/array_test.go
  pkg/cmd/util/flag/enum_test.go
  pkg/cmd/util/flag/label_selector_test.go
  pkg/cmd/util/flag/map_test.go
  pkg/cmd/util/flag/optional_bool_test.go
  pkg/cmd/util/flag/orlabelselector_test.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/backup_structured_describer_test.go
  pkg/cmd/util/output/restore_describer_test.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_storage_location_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller_test.go
  pkg/controller/schedule_controller_test.go
  pkg/discovery/helper_test.go
  pkg/install/install_test.go
  pkg/persistence/object_store_test.go
  pkg/plugin/framework/stream_reader_test.go
  pkg/podvolume/backupper_test.go
  pkg/repository/config/azure_test.go
  pkg/repository/manager_test.go
  pkg/repository/udmrepo/kopialib/backend/azure_test.go
  pkg/restore/actions/admissionwebhook_config_action_test.go
  pkg/restore/actions/init_restorehook_pod_action_test.go
  pkg/restore/actions/pod_action_test.go
  pkg/restore/priority_test.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore_test.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider_test.go
  pkg/util/azure/credential_test.go
  pkg/util/azure/storage_test.go
  pkg/util/azure/util_test.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/periodical_enqueue_source_test.go
  pkg/util/kube/pvc_pv_test.go
  pkg/util/kube/utils_test.go
  pkg/util/logging/error_location_hook_test.go
  pkg/util/podvolume/pod_volume_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8016 [release-1.14] Reuse existing plugin manager for get/put volume info
  changelogs/unreleased/8016-sseago
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
Labels: has-unit-tests, has-changelog

#7593 Migrate from github.com/golang/protobuf to google.golang.org/protobuf
  .golangci.yaml
  changelogs/unreleased/7593-mmorel-35
  go.mod
  hack/build-image/Dockerfile
  hack/update-2proto.sh
  pkg/plugin/framework/common/server_errors.go
  pkg/plugin/generated/BackupItemAction.pb.go
  pkg/plugin/generated/BackupItemAction_grpc.pb.go
  pkg/plugin/generated/DeleteItemAction.pb.go
  pkg/plugin/generated/DeleteItemAction_grpc.pb.go
  pkg/plugin/generated/ObjectStore.pb.go
  pkg/plugin/generated/ObjectStore_grpc.pb.go
  pkg/plugin/generated/PluginLister.pb.go
  pkg/plugin/generated/PluginLister_grpc.pb.go
  pkg/plugin/generated/RestoreItemAction.pb.go
  pkg/plugin/generated/RestoreItemAction_grpc.pb.go
  pkg/plugin/generated/Shared.pb.go
  pkg/plugin/generated/VolumeSnapshotter.pb.go
  pkg/plugin/generated/VolumeSnapshotter_grpc.pb.go
  pkg/plugin/generated/backupitemaction/v2/BackupItemAction.pb.go
  pkg/plugin/generated/backupitemaction/v2/BackupItemAction_grpc.pb.go
  pkg/plugin/generated/restoreitemaction/v2/RestoreItemAction.pb.go
  pkg/plugin/generated/restoreitemaction/v2/RestoreItemAction_grpc.pb.go
Labels: Dependencies, has-changelog

#8024 testifylint: enable more rules
  .golangci.yaml
  internal/credentials/file_store_test.go
  internal/resourcepolicies/volume_resources_test.go
  internal/volume/volumes_information_test.go
  pkg/backup/actions/csi/pvc_action_test.go
  pkg/backup/item_collector_test.go
  pkg/buildinfo/buildinfo_test.go
  pkg/client/client_test.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backup/logs_test.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/controller/backup_controller_test.go
  pkg/controller/backup_repository_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/discovery/helper_test.go
  pkg/exposer/csi_snapshot_test.go
  pkg/install/resources_test.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/plugin/clientmgmt/process/client_builder_test.go
  pkg/restore/actions/change_image_name_action_test.go
  pkg/restore/actions/change_pvc_node_selector_test.go
  pkg/restore/actions/csi/pvc_action_test.go
  pkg/restore/restore_test.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/kopia/snapshot_test.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/provider_test.go
  pkg/util/kube/utils_test.go
  pkg/util/logging/dual_mode_logger_test.go
  test/pkg/client/client_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7628 Add design for velero backup performance improvements
  design/backup-performance-improvements.md
Labels: Area/Design, kind/changelog-not-required

#7982 Add the design for backup PVC configurations
  changelogs/unreleased/7982-Lyndon-Li
  design/backup-pvc-config.md
Labels: Area/Design, has-changelog

#8021 Make PVPatchMaximumDuration timeout configurable
  changelogs/unreleased/8021-shubham-pampattiwar
  pkg/cmd/server/server.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
Labels: has-unit-tests, has-changelog

#8028 Avoid wrapping failed PVB status with empty message.
  changelogs/unreleased/8028-mrnold
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
Labels: has-changelog

#8033 Replace RunSpecsWithDefaultAndCustomReporters with RunSpecs.
  test/Makefile
  test/e2e/e2e_suite_test.go
  test/perf/e2e_suite_test.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8035 [release-1.14] Expose PVPatchMaximumDuration timeout for custom configuration
  changelogs/unreleased/8035-shubham-pampattiwar
  pkg/cmd/server/server.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
Labels: has-unit-tests, has-changelog

#8009 Add repository maintenance job configuration design.
  design/Implemented/node-agent-affinity.md
  design/repo_maintenance_job_config.md
Labels: Area/Design, kind/changelog-not-required, has-unit-tests

#8037 [release-1.14] Avoid wrapping failed PVB status with empty message.
  changelogs/unreleased/8037-mrnold
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
Labels: has-changelog

#7942 Make pkg/install/Deployment podTemplateOptions bool functions accept bool param
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
Labels: kind/changelog-not-required, has-unit-tests

#8038 Use labels instead of regex to filter E2E test cases.
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-codespell.yml
  test/Makefile
  test/e2e/README.md
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/e2e_suite_test.go
  test/perf/e2e_suite_test.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7999 Data mover micro-service watcher
  changelogs/unreleased/7999-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/datapath/manager.go
  pkg/datapath/manager_test.go
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/datapath/types.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/test/test_logger.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/logging/default_logger.go
  pkg/util/logging/default_logger_test.go
  pkg/util/logging/log_merge_hook.go
  pkg/util/logging/log_merge_hook_test.go
Labels: has-unit-tests, has-changelog

#7963 Add design for backup repository configurations
  changelogs/unreleased/7963-Lyndon-Li
  design/backup-repo-config.md
Labels: Area/Design, has-changelog

#8046 Data mover micro service backup
  changelogs/unreleased/8046-Lyndon-Li
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/backup_test.go
  pkg/cmd/cli/datamover/data_mover.go
  pkg/cmd/cli/datamover/mocks/Cache.go
  pkg/datamover/backup_micro_service.go
  pkg/datamover/backup_micro_service_test.go
  pkg/util/kube/event.go
  pkg/util/kube/event_test.go
Labels: has-unit-tests, has-changelog

#8060 Move design/secrets.md to Implemented
  design/Implemented/secrets.md
Labels: kind/changelog-not-required

#8029 Fail Delete Backup if BSL is not available
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8026 Create new ItemBlockAction (IBA) plugin type
  changelogs/unreleased/8026-sseago
  design/backup-performance-improvements.md
  pkg/plugin/clientmgmt/itemblockaction/v1/restartable_item_block_action.go
  pkg/plugin/clientmgmt/itemblockaction/v1/restartable_item_block_action_test.go
  pkg/plugin/clientmgmt/manager.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/plugin/clientmgmt/process/client_builder.go
  pkg/plugin/clientmgmt/process/client_builder_test.go
  pkg/plugin/framework/action_resolver.go
  pkg/plugin/framework/common/plugin_kinds.go
  pkg/plugin/framework/itemblockaction/v1/item_block_action.go
  pkg/plugin/framework/itemblockaction/v1/item_block_action_client.go
  pkg/plugin/framework/itemblockaction/v1/item_block_action_server.go
  pkg/plugin/framework/itemblockaction/v1/item_block_action_test.go
  pkg/plugin/framework/server.go
  pkg/plugin/generated/itemblockaction/v1/ItemBlockAction.pb.go
  pkg/plugin/generated/itemblockaction/v1/ItemBlockAction_grpc.pb.go
  pkg/plugin/mocks/manager.go
  pkg/plugin/proto/itemblockaction/v1/ItemBlockAction.proto
  pkg/plugin/velero/itemblockaction/v1/item_block_action.go
  pkg/plugin/velero/mocks/itemblockaction/v1/ItemBlockAction.go
Labels: Area/Design, has-unit-tests, has-changelog
