Repository vmware-tanzu/velero, pull requests merged in 2024-10, with the labels that each got.

#8261 Expose VSC SourceVolumeMode
  changelogs/unreleased/8261-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog, target/1.15-rc.1

#8245 Remove multiple single quotes from Velero backup.status.validationErrors field
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8056 Allow `make local` to work without `docker` in path
  Makefile
Labels: kind/changelog-not-required

#8281 Use '"' rather than '`' in the log to avoid unexpected new line
  pkg/backup/item_collector.go
  pkg/util/csi/volume_snapshot.go
Labels: kind/changelog-not-required

#8286 1.15 readme and implemented designs
  README.md
  design/Implemented/backup-pvc-config.md
  design/Implemented/backup-repo-config.md
  design/Implemented/repo_maintenance_job_config.md
  design/Implemented/vgdp-micro-service/vgdp-micro-service.md
  design/Implemented/vgdp-micro-service/vgdp-ms-1.png
  design/Implemented/vgdp-micro-service/vgdp-ms-2.png
  design/Implemented/vgdp-micro-service/vgdp-ms-3.png
  design/Implemented/volume-snapshot-data-movement/backup-sequence.png
  design/Implemented/volume-snapshot-data-movement/backup-workflow.png
  design/Implemented/volume-snapshot-data-movement/cancel-sequence.png
  design/Implemented/volume-snapshot-data-movement/expose-objects.png
  design/Implemented/volume-snapshot-data-movement/restore-sequence.png
  design/Implemented/volume-snapshot-data-movement/restore-workflow.png
  design/Implemented/volume-snapshot-data-movement/volume-snapshot-data-movement.md
Labels: kind/changelog-not-required

#8284 only set spec.volumes readonly if PVC is readonly for datamover
  changelogs/unreleased/8284-sseago
  pkg/exposer/csi_snapshot.go
Labels: has-changelog

#8280 Expose VSC SourceVolumeMode 1.14
  changelogs/unreleased/8280-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: has-unit-tests, has-changelog

#8288 add no-relabeling option to backupPVC configmap
  changelogs/unreleased/8288-sseago
  pkg/exposer/csi_snapshot.go
  pkg/nodeagent/node_agent.go
  site/content/docs/main/data-movement-backup-pvc-configuration.md
Labels: Documentation, has-changelog, target/1.15-rc.1

#8293 Fix the context choosing error after migration case.
  test/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8305 fixed error message typo for item block action
  pkg/plugin/framework/itemblockaction/v1/item_block_action_server.go
Labels: kind/changelog-not-required

#8301 Revert "Expose VSC SourceVolumeMode" 1.15
  changelogs/unreleased/8261-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#8302 Revert "Expose VSC SourceVolumeMode" 1.14
  changelogs/unreleased/8280-msfrucht
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#8313 Bump up kopia for 1.15
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8311 [cherry-pick]Fix the issue in pushing image Github action
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#8314 golangci-lint: enable and fix thelper linter
  .golangci.yaml
  internal/restartabletest/restartable_delegate.go
  internal/velero/images_test.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_repository_controller_test.go
  pkg/plugin/clientmgmt/manager_test.go
  pkg/restore/restore_test.go
  pkg/test/comparisons.go
  pkg/test/fake_controller_runtime_client.go
  pkg/test/tar_writer.go
Labels: kind/changelog-not-required, has-unit-tests

#8304 [cherry-pick Release-1.14] Remove multiple single quotes from Velero backup.status.validationErrors field
  changelogs/unreleased/8304-shubham-pampattiwar
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog

#8322 fix: use Contains or ErrorContains with testify
  pkg/client/factory_test.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/backuplocation/create_test.go
  pkg/cmd/cli/backuplocation/delete_test.go
  pkg/cmd/cli/backuplocation/set_test.go
  pkg/cmd/cli/restore/create_test.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/repository/maintenance_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8329 Bump the E2E migration and upgrade Velero and plugin versions for 1.15
  test/Makefile
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#8331 Update upgrade to 1.15 doc
  site/content/docs/main/upgrade-to-1.15.md
Labels: kind/changelog-not-required, Documentation

#8332 Fix doc index for 1.15
  site/data/docs/main-toc.yml
Labels: Website, kind/changelog-not-required

#8330 Add 1.15 changelog
  CHANGELOG.md
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/5532-shubham-pampattiwar
  changelogs/unreleased/7410-seanblong
  changelogs/unreleased/7424-kaovilai
  changelogs/unreleased/7576-Lyndon-Li
  changelogs/unreleased/7593-mmorel-35
  changelogs/unreleased/7775-blackpiglet
  changelogs/unreleased/7793-kaovilai
  changelogs/unreleased/7899-sseago
  changelogs/unreleased/7944-blackpiglet
  changelogs/unreleased/7948-Lyndon-Li
  changelogs/unreleased/7953-shubham-pampattiwar
  changelogs/unreleased/7955-Lyndon-Li
  changelogs/unreleased/7963-Lyndon-Li
  changelogs/unreleased/7965-blackpiglet
  changelogs/unreleased/7967-blackpiglet
  changelogs/unreleased/7969-blackpiglet
  changelogs/unreleased/7973-Lyndon-Li
  changelogs/unreleased/7974-blackpiglet
  changelogs/unreleased/7982-Lyndon-Li
  changelogs/unreleased/7988-Lyndon-Li
  changelogs/unreleased/7999-Lyndon-Li
  changelogs/unreleased/8012-sseago
  changelogs/unreleased/8021-shubham-pampattiwar
  changelogs/unreleased/8026-sseago
  changelogs/unreleased/8028-mrnold
  changelogs/unreleased/8046-Lyndon-Li
  changelogs/unreleased/8054-sseago
  changelogs/unreleased/8061-Lyndon-Li
  changelogs/unreleased/8068-kaovilai
  changelogs/unreleased/8074-Lyndon-Li
  changelogs/unreleased/8082-gjanders
  changelogs/unreleased/8085-Lyndon-Li
  changelogs/unreleased/8086-reasonerjt
  changelogs/unreleased/8093-Lyndon-Li
  changelogs/unreleased/8096-Lyndon-Li
  changelogs/unreleased/8097-Lyndon-Li
  changelogs/unreleased/8102-sseago
  changelogs/unreleased/8109-shubham-pampattiwar
  changelogs/unreleased/8114-blackpiglet
  changelogs/unreleased/8119-shubham-pampattiwar
  changelogs/unreleased/8129-blackpiglet
  changelogs/unreleased/8131-Lyndon-Li
  changelogs/unreleased/8139-blackpiglet
  changelogs/unreleased/8141-shubham-pampattiwar
  changelogs/unreleased/8143-Lyndon-Li
  changelogs/unreleased/8144-Lyndon-Li
  changelogs/unreleased/8145-blackpiglet
  changelogs/unreleased/8158-Lyndon-Li
  changelogs/unreleased/8166-ywk253100
  changelogs/unreleased/8167-Lyndon-Li
  changelogs/unreleased/8170-shubham-pampattiwar
  changelogs/unreleased/8198-kaovilai
  changelogs/unreleased/8208-kaovilai
  changelogs/unreleased/8228-ywk253100
  changelogs/unreleased/8256-shubham-pampattiwar
  changelogs/unreleased/8284-sseago
  changelogs/unreleased/8288-sseago
Labels: kind/changelog-not-required, has-changelog

#8336 Pin the version of Golang and base image for v1.15.0
  Dockerfile
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
  pkg/uploader/kopia/block_restore_windows.go
Labels: kind/changelog-not-required, Dependencies

#8337 Fix Windows cli compile problem
  pkg/uploader/kopia/block_restore_windows.go
Labels: kind/changelog-not-required

#8349 Fix v1.15.0 migration case error
  test/Makefile
  test/e2e/migration/migration.go
  test/types.go
  test/util/providers/common.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#8271 fix(pkg/repository/maintenance): handle when there's no container status
  changelogs/unreleased/8271-mcluseau
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-unit-tests, has-changelog

#8275 Bump up version of client-go and controller-runtime
  changelogs/unreleased/8275-ywk253100
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  go.mod
  go.sum
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/controller/schedule_controller.go
  pkg/util/kube/periodical_enqueue_source.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: Dependencies, has-unit-tests, has-changelog

#8315 Modifications to support VKS environment
  test/Makefile
  test/e2e/migration/migration.go
  test/testdata/storage-class/vsphere-csi.yaml
  test/testdata/storage-class/vsphere.yaml
  test/types.go
  test/util/providers/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests
