Repository vmware-tanzu/velero, pull requests merged in 2024-11, with the labels that each got.

#8353 Use aggregated discovery API to discovery API groups and resources
  changelogs/unreleased/8353-ywk253100
  pkg/client/factory.go
  pkg/client/mocks/Factory.go
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/discovery/helper.go
  pkg/discovery/helper_test.go
  pkg/test/discovery_client.go
Labels: has-unit-tests, has-changelog

#8354 Include --annotations flag in backup and restore create commands
  changelogs/unreleased/8354-alromeros
  pkg/cmd/cli/backup/create.go
  pkg/cmd/cli/backup/create_test.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
Labels: has-unit-tests, has-changelog

#8370 Fix Restore object's status docs
  site/content/docs/main/restore-reference.md
  site/content/docs/v1.15/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#8378 Skip e2e, crd, go linters on .md checks.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-linter-check.yml
Labels: kind/changelog-not-required

#8377 Add kaovilai maintainer details
  .github/auto-assignees.yml
  MAINTAINERS.md
  site/assets/_scss/site/objects/_thumbnail-grid.scss
  site/content/contributors/07-tiger-kaovilai.md
  site/static/img/contributors/tiger-kaovilai.jpg
Labels: Website

#8381 Typo: ebs.csi.aws.com instead of aws.ebs.csi.driver
  design/Implemented/handle-backup-of-volumes-by-resources-filters.md
  internal/resourcepolicies/resource_policies_test.go
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.11/resource-filtering.md
  site/content/docs/v1.12/resource-filtering.md
  site/content/docs/v1.13/resource-filtering.md
  site/content/docs/v1.14/resource-filtering.md
  site/content/docs/v1.15/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#8396 Issue 8391: check ErrCancelled from suffix
  changelogs/unreleased/8396-Lyndon-Li
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
Labels: has-unit-tests, has-changelog

#8395 Issue 8394: move closeDataPath outside callbacks
  changelogs/unreleased/8395-Lyndon-Li
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

#8402 [1.15] Issue 8394: move closeDataPath outside callbacks
  changelogs/unreleased/8402-Lyndon-Li
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
Labels: has-changelog

#8404 [1.15] Issue 8391: check ErrCancelled from suffix
  changelogs/unreleased/8404-Lyndon-Li
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
Labels: has-unit-tests, has-changelog

#8375 Add v1.31, v1.30 to GHA matrix and use latest Kind k8s patch for each minor versions for e2e
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#8252 Allow multi-arch manifest-list from `make container`
  Makefile
Labels: kind/changelog-not-required

#8371 Make the E2E supporting VKS data mover environment.
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8380 Add --item-block-worker-count flag to velero install and server
  changelogs/unreleased/8380-sseago
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/config/config.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/install/deployment.go
  pkg/install/resources.go
Labels: has-changelog

#8411 Remove Ming Qiu from maintainers
  MAINTAINERS.md
  site/content/contributors/02-ming-qiu.md
  site/static/img/contributors/ming-qiu.png
Labels: Website, kind/changelog-not-required

#8413 Add reference to netlify in the website
  site/layouts/_default/footer.html
Labels: Website, kind/changelog-not-required

#8233 Added tracking for deleted namespace status check in restore flow
  changelogs/unreleased/8233-sangitaray2021
  pkg/controller/restore_controller.go
  pkg/restore/request.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/util/kube/resource_deletionstatus_tracker.go
  pkg/util/kube/utils.go
  pkg/util/kube/utils_test.go
Labels: has-unit-tests, has-changelog, defer-candidate

#8343 Copy "envFrom" from Velero server when creating maintenance jobs
  changelogs/unreleased/8343-evhan
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
  pkg/exposer/image_test.go
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
  pkg/util/velero/velero.go
  pkg/util/velero/velero_test.go
Labels: has-unit-tests, has-changelog

#8169 Fix #8168 - AWS secrets should not be exposed while running tests
  pkg/repository/config/aws.go
  pkg/repository/config/aws_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8431 Revert push image tarball to gcs
  .github/workflows/push.yml
  Makefile
  hack/ci/build_util.sh
Labels: kind/changelog-not-required

#8414 Remove the Emeritus contributors from velero team section
  site/content/contributors/00-dave-smith-uchida.md
  site/content/contributors/05-abigil-mccarthy.md
  site/content/contributors/05-orlin-vasilev.md
  site/static/img/contributors/abigail-mccarthy.png
  site/static/img/contributors/ashish-amarnath.png
  site/static/img/contributors/dave.png
  site/static/img/contributors/eleanor-millman.jpg
  site/static/img/contributors/michael-michael.png
  site/static/img/contributors/nolan-brubaker.png
  site/static/img/contributors/orlin-vasilev.png
  site/static/img/contributors/tim-hinderliter.png
  site/static/img/contributors/tom-spoonemore.png
Labels: Website, kind/changelog-not-required

#8257 Add Backup warning for inclusion of NS managed by ArgoCD
  changelogs/unreleased/8257-shubham-pampattiwar
  pkg/backup/backup.go
Labels: has-changelog

#8407 Fix E2E StorageClass and VolumeSnapshotClass's install and delete logic
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/testdata/storage-class/README.md
  test/testdata/storage-class/aws-legecy.yaml
  test/testdata/storage-class/aws.yaml
  test/testdata/storage-class/azure-legacy.yaml
  test/testdata/storage-class/azure.yaml
  test/testdata/storage-class/gcp-legacy.yaml
  test/testdata/storage-class/gcp.yaml
  test/testdata/storage-class/vanilla-zfs-csi.yaml
  test/testdata/storage-class/vanilla-zfs.yaml
  test/testdata/storage-class/vsphere-legacy.yaml
  test/testdata/storage-class/vsphere.yaml
  test/testdata/volume-snapshot-class/vanilla-zfs.yaml
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#8446 internal/volumes_information.go: reuse constants from pkg/apis/velero/v1
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: kind/changelog-not-required

#8430 Refactor the schedule cases
  test/e2e/e2e_suite_test.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8451 Makefile: new-changelog handles `()` in pr title.
  Makefile
Labels: kind/changelog-not-required

#8455 Make single platform built image locally accessible.
  Makefile
Labels: kind/changelog-not-required

#8438 add a storage supported provider : HuaweiCloud OBS
  site/content/docs/main/supported-providers.md
  site/content/docs/v1.15/supported-providers.md
Labels: kind/changelog-not-required, Documentation

#8465 [release-1.15]Add nil check for updating DataUpload VolumeInfo in finalizing phase.
  changelogs/unreleased/8465-blackpiglet
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-unit-tests, has-changelog

#8383 Adding Support For VolumeAttributes in Resource Policy
  changelogs/unreleased/8383-mayankagg9722
  design/Implemented/supporting-volumeattributes-resource-policy.md
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources.go
  internal/resourcepolicies/volume_resources_test.go
  internal/resourcepolicies/volume_resources_validator.go
  internal/resourcepolicies/volume_resources_validator_test.go
Labels: has-changelog
