Repository vmware-tanzu/velero, pull requests merged in 2024-08, with the labels that each got.

#8069 Documentation Update for OpenShift IBM Cloud for CSI snapshot data movement
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/v1.13/csi-snapshot-data-movement.md
  site/content/docs/v1.14/csi-snapshot-data-movement.md
Labels: kind/changelog-not-required, Documentation

#8070 Update docs for volume policy feature
  site/content/docs/main/resource-filtering.md
  site/content/docs/v1.14/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#8071 static checks
  pkg/controller/backup_repository_controller_test.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/restore_controller_test.go
  pkg/controller/restore_finalizer_controller.go
Labels: kind/changelog-not-required, has-unit-tests

#8082 Updated to the IBM COS documentation
  changelogs/unreleased/8082-gjanders
  site/content/docs/main/contributions/ibm-config.md
Labels: Documentation, has-changelog

#8077 Correcting OpenShift on IBM Documentation Error
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/v1.13/csi-snapshot-data-movement.md
  site/content/docs/v1.14/csi-snapshot-data-movement.md
Labels: kind/changelog-not-required, Documentation

#8086 Patch dbr's status when error happens
  changelogs/unreleased/8086-reasonerjt
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
Labels: has-unit-tests, has-changelog

#8089 Fix v1.14 site header for csi-snapshot-data-movement
  site/content/docs/v1.14/csi-snapshot-data-movement.md
Labels: kind/changelog-not-required, Documentation

#8074 Data mover micro service new controller
  changelogs/unreleased/8074-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/datamover/backup_micro_service.go
  pkg/util/logging/default_logger.go
  pkg/util/logging/default_logger_test.go
Labels: has-unit-tests, has-changelog

#8098 Add information about restore status to the doc
  site/content/docs/main/restore-reference.md
Labels: kind/changelog-not-required, Documentation

#8096 Issue 8072: restic deprecation - warning messages
  changelogs/unreleased/8096-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/uploader/types.go
  pkg/uploader/types_test.go
  site/content/docs/main/file-system-backup.md
Labels: has-unit-tests, Documentation, has-changelog

#8093 Backup repo config
  changelogs/unreleased/8093-Lyndon-Li
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/crds/crds.go
  design/backup-repo-config.md
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
  pkg/repository/udmrepo/kopialib/backend/common.go
  pkg/repository/udmrepo/kopialib/backend/common_test.go
  pkg/repository/udmrepo/kopialib/backend/utils.go
  pkg/repository/udmrepo/kopialib/backend/utils_test.go
  pkg/repository/udmrepo/repo_options.go
Labels: Area/Design, has-unit-tests, has-changelog

#8085 Data mover micro service node agent resume
  changelogs/unreleased/8085-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-unit-tests, has-changelog

#8109 Add support for backup PVC configuration
  changelogs/unreleased/8109-shubham-pampattiwar
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/nodeagent/node_agent.go
Labels: has-unit-tests, has-changelog

#8117 Remove code-generator from hack/update-3generated-crd.code.sh
  hack/update-3generated-crd-code.sh
Labels: kind/changelog-not-required

#8118 Bump base image and golang version to fix CVEs.
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required, Dependencies

#8108 Minor fixes to Dockerfile and docs
  Dockerfile
  site/content/docs/main/build-from-source.md
  site/content/docs/v1.14/build-from-source.md
Labels: kind/changelog-not-required, Documentation

#7768 Use native cache from actions/setup-go
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/pr-linter-check.yml
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#8097 Issue 8032: make node agent configMap name configurable
  changelogs/unreleased/8097-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  site/content/docs/main/data-movement-backup-node-selection.md
  site/content/docs/main/node-agent-concurrency.md
Labels: has-unit-tests, Documentation, has-changelog

#8124 Change log for 1.14.1
  changelogs/CHANGELOG-1.14.md
  changelogs/unreleased/7926-sseago
  changelogs/unreleased/7944-blackpiglet
  changelogs/unreleased/7949-Lyndon-Li
  changelogs/unreleased/7976-blackpiglet
  changelogs/unreleased/7998-blackpiglet
  changelogs/unreleased/8006-shubham-pampattiwar
  changelogs/unreleased/8016-sseago
  changelogs/unreleased/8035-shubham-pampattiwar
  changelogs/unreleased/8037-mrnold
Labels: kind/changelog-not-required, has-changelog

#8119 Add docs for backup pvc config support
  changelogs/unreleased/8119-shubham-pampattiwar
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/data-movement-backup-pvc-configuration.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

#8129 Modify E2E and perf test report generated directory
  changelogs/unreleased/8129-blackpiglet
  test/Makefile
  test/e2e/e2e_suite_test.go
Labels: has-changelog, has-e2e-2tests

#8115 Data mover micro service smoke testing
  pkg/cmd/cli/datamover/backup.go
  pkg/cmd/cli/datamover/restore.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/datamover/backup_micro_service.go
  pkg/datamover/backup_micro_service_test.go
  pkg/datamover/restore_micro_service.go
  pkg/datamover/restore_micro_service_test.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/exposer/csi_snapshot.go
Labels: kind/changelog-not-required, has-unit-tests

#8131 Add doc for backup repo config
  changelogs/unreleased/8131-Lyndon-Li
  site/content/docs/main/backup-repository-configuration.md
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/file-system-backup.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

#8139 Add resource modifier for velero restore describe CLI
  changelogs/unreleased/8139-blackpiglet
  pkg/cmd/util/output/restore_describer.go
  pkg/cmd/util/output/restore_describer_test.go
Labels: has-unit-tests, has-changelog

#7424 Descriptive restore error on timeout due to terminating namespace
  changelogs/unreleased/7424-kaovilai
  pkg/util/kube/utils.go
Labels: has-changelog

#8151 Issues with "backlog" label should never stale
  .github/workflows/stale-issues.yml
Labels: kind/changelog-not-required

#8057 release-1.14: Allow `make local` to work without `docker` in path
  Makefile
Labels: kind/changelog-not-required

#8143 node-agent config for data mover micro service pod resources
  changelogs/unreleased/8143-Lyndon-Li
  design/vgdp-micro-service/vgdp-micro-service.md
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/generic_restore.go
  pkg/nodeagent/node_agent.go
Labels: has-unit-tests, has-changelog

#8158 Bump up kopia
  changelogs/unreleased/8158-Lyndon-Li
  go.mod
  go.sum
  pkg/uploader/kopia/block_restore.go
Labels: Dependencies, has-changelog

#8141 Apply backupPVCConfig to backupPod volume spec
  changelogs/unreleased/8141-shubham-pampattiwar
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog
