Repository vmware-tanzu/velero, pull requests merged in 2024-01, with the labels that each got.

#7253 Fix pvc assignment
  pkg/podvolume/restorer.go
Labels: kind/changelog-not-required

#7176 Add sleep to avoid snapshot limitation issue
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/privilegesmgmt/ssr.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/perf/test/test.go
  test/types.go
  test/util/csi/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/aws_utils.go
  test/util/providers/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7260 Rename volumeinfo metadata file.
  pkg/persistence/object_store_layout.go
  pkg/persistence/object_store_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7266 [Cherry-Pick 1.12] Don't fail backup/restore on velero server restart in PhaseWaitingFor…
  pkg/cmd/server/server.go
Labels: kind/changelog-not-required

#7267 [Cherry-Pick 1.12] Node agent restart enhancement
  changelogs/unreleased/7130-qiuming-best
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#7265 Change node-agent-config name
  design/Implemented/node-agent-concurrency.md
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  site/content/docs/main/node-agent-concurrency.md
Labels: kind/changelog-not-required, has-unit-tests, Documentation

#7262 Fix intermediate PV delete for data mover
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7273 [Cherry-Pick 1.12] Fix intermediate pv delete for data mover
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7274 Do not set "targetNamespace" to namepsace items
  changelogs/unreleased/7274-reasonerjt
  pkg/restore/restore.go
Labels: has-changelog

#7277 Add test for disable informer cache param of velero installation
  test/e2e/Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7282 Issue 6928: remove snapshot deletion timeout for PVB
  changelogs/unreleased/7282-Lyndon-Li
  pkg/controller/backup_deletion_controller.go
Labels: has-changelog

#7283 [1.12] Issue 6928: remove snapshot deletion timeout for PVB
  changelogs/unreleased/7283-Lyndon-Li
  pkg/controller/backup_deletion_controller.go
Labels: has-changelog

#7272 Bumpup E2E test plugins matirx for v1.13
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#7289 Add v1.12.3 changelog
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/7130-qiuming-best
  changelogs/unreleased/7202-blackpiglet
  changelogs/unreleased/7203-Lyndon-Li
  changelogs/unreleased/7247-Lyndon-Li
Labels: kind/changelog-not-required, has-changelog

#7294 Make "disable-informer-cache" option false(enabled) by default to keep it consistent with the help message
  changelogs/unreleased/7294-ywk253100
  pkg/cmd/cli/install/install.go
Labels: has-changelog

#7296 Fix nightly issue of missing param WithoutDisableInformerCacheParam during Velero installation
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7299 Modify changelog for v1.12.3
  changelogs/CHANGELOG-1.12.md
  changelogs/unreleased/7283-Lyndon-Li
Labels: kind/changelog-not-required, has-changelog

#7279 Add detail for parameter s3ForcePathStyle in MinIO page.
  site/content/docs/main/contributions/minio.md
  site/content/docs/v1.13/contributions/minio.md
Labels: kind/changelog-not-required, Documentation

#7295 Add CRD name to error message when it is not ready to use
  changelogs/unreleased/7295-josemarevalo
  pkg/restore/restore.go
Labels: has-changelog

#7311 Increase the k8s client QPS/burst
  changelogs/unreleased/7311-ywk253100
  pkg/cmd/server/server.go
Labels: has-changelog

#7304 Add detail for parameter s3ForcePathStyle in MinIO page.
  site/content/docs/main/contributions/minio.md
  site/content/docs/v1.13/contributions/minio.md
Labels: kind/changelog-not-required, Documentation

#7280 Add sleep to avoid snapshot throttle issue
  test/e2e/backups/deletion.go
  test/util/csi/common.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/aws_utils.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7284 Update itemOperationTimeout Default Timeout Note
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_types.go
  pkg/apis/velero/v1/restore_types.go
  site/content/docs/main/api-types/backup.md
  site/content/docs/main/api-types/restore.md
  site/content/docs/v1.13/api-types/backup.md
  site/content/docs/v1.13/api-types/restore.md
Labels: Documentation

#7042 Add description markers for dataupload and datadownload CRDs (#7028)
  changelogs/unreleased/7042-shubham-pampattiwar
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
Labels: has-changelog

#7254 Returns directly when backup status is BackupPhaseFailedValidation No need for DeepCopy
  pkg/controller/backup_controller.go
Labels: kind/changelog-not-required

#7325 Create informer per resources to avoid huge memory consumption
  pkg/client/dynamic.go
  pkg/restore/restore.go
  pkg/test/fake_dynamic.go
Labels: kind/changelog-not-required

#7327 [cherry-pick]Create informer per resources to avoid huge memory consumption
  pkg/client/dynamic.go
  pkg/restore/restore.go
  pkg/test/fake_dynamic.go
Labels: kind/changelog-not-required, target/1.12.4

#7329 fix typo maintenance of log message
  pkg/controller/backup_repository_controller.go
Labels: kind/changelog-not-required

#7298 [cherry-pick]Make "disable-informer-cache" option false(enabled) by default to keep it consistent with the help message
  changelogs/unreleased/7298-ywk253100
  pkg/cmd/cli/install/install.go
Labels: has-changelog, target/1.12.4

#7328 Add release note for the informer cache memory consumption
  changelogs/CHANGELOG-1.13.md
Labels: kind/changelog-not-required, has-changelog

#7332 Modify S3ForcePathStyle description.
  site/content/docs/main/contributions/minio.md
  site/content/docs/v1.13/contributions/minio.md
  site/layouts/index.redirects
Labels: Website, kind/changelog-not-required, Documentation

#7334 Specify the Kind explicitly in the API resource
  pkg/test/discovery_client.go
  pkg/test/resources.go
Labels: kind/changelog-not-required

#7322 Do not attempt restore resource with no available GVK in cluster
  changelogs/unreleased/7322-kaovilai
  pkg/restore/restore.go
  pkg/test/resources.go
Labels: has-changelog

#7336 [cherry-pick]Do not attempt restore resource with no available GVK in cluster
  changelogs/unreleased/7336-kaovilai
  pkg/restore/restore.go
  pkg/test/discovery_client.go
  pkg/test/resources.go
Labels: has-changelog

#7337 [cherry-pick]Do not attempt restore resource with no available GVK in cluster
  changelogs/unreleased/7337-kaovilai
  pkg/restore/restore.go
  pkg/test/discovery_client.go
  pkg/test/resources.go
Labels: has-changelog

#7339 Log the error got from the discovery helper
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#7341 [cherry-pick]Log the error got from the discovery helper
  pkg/restore/restore.go
Labels: kind/changelog-not-required, target/1.12.4

#7340 [cherry-pick]Log the error got from the discovery helper
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#7338 Move unreleased changelogs to 1.13 changelog
  changelogs/CHANGELOG-1.13.md
  changelogs/unreleased/7336-kaovilai
Labels: kind/changelog-not-required, has-changelog

#6939 A small typo duplicated csi-snapshot-data-movement.md in main and v.1.12
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/v1.12/csi-snapshot-data-movement.md
Labels: Documentation

#7346 Check whether the API resource exists before creating the informer cache
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#7351 Log the error details
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#7349 [cherry-pick]Check whether the API resource exists before creating the informer cache
  pkg/restore/restore.go
Labels: kind/changelog-not-required

#7350 [cherry-pick]Check whether the API resource exists before creating the informer cache
  pkg/restore/restore.go
Labels: kind/changelog-not-required, target/1.12.4

#7368 Fix server start failure when no default BSL
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7369 [Cherry-Pick] Fix server start failure when no default BSL
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
Labels: kind/changelog-not-required

#7370 Add `ParallelFilesUpload` for schedule creation.
  cmd/velero-restore-helper/velero-restore-helper.go
  pkg/cmd/cli/schedule/create.go
Labels: kind/changelog-not-required

#7372 Add `ParallelFilesUpload` for schedule creation.
  cmd/velero-restore-helper/velero-restore-helper.go
  pkg/cmd/cli/schedule/create.go
Labels: kind/changelog-not-required
