Repository vmware-tanzu/velero, pull requests merged in 2024-12, with the labels that each got.

#8467 Added ResourceModifier to Velero Documentation
  site/content/docs/main/api-types/restore.md
  site/content/docs/v1.15/api-types/restore.md
Labels: kind/changelog-not-required, Documentation

#8456 internal/hook/wait_exec_hook_handler_test.go: Remove unused change struct
  internal/hook/wait_exec_hook_handler_test.go
Labels: kind/changelog-not-required

#8459 Design for multi-arch build and windows build
  changelogs/unreleased/8459-Lyndon-Li
  design/multiple-arch-build-with-windows.md
Labels: Area/Design, has-changelog

#8472 Pin kopia to 0.18.2
  changelogs/unreleased/8472-Lyndon-Li
  go.mod
  go.sum
  pkg/repository/mocks/RepositoryWriter.go
  pkg/repository/udmrepo/kopialib/backend/mocks/DirectRepositoryWriter.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/kopialib/lib_repo_test.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/progress_test.go
  pkg/uploader/kopia/shim.go
  pkg/uploader/kopia/shim_test.go
  pkg/uploader/provider/kopia.go
Labels: Dependencies, has-unit-tests, has-changelog

#8399 release-1.15: Reduce minimum go toolchain in go.mod.
  changelogs/unreleased/8399-kaovilai
  go.mod
Labels: Dependencies, has-unit-tests, has-changelog, target/1.15.1

#8366 Make BackedUpItems thread safe
  changelogs/unreleased/8366-sseago
  pkg/backup/backed_up_items_map.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/request.go
  pkg/backup/request_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
Labels: has-unit-tests, has-changelog

#8471 [main] Add nil check for updating DataUpload VolumeInfo in finalizing phase
  changelogs/unreleased/8471-blackpiglet
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: has-unit-tests, has-changelog

#8489 Fix: AWS Go SDK URL
  site/content/docs/main/supported-providers.md
  site/content/docs/v0.10.0/support-matrix.md
  site/content/docs/v0.11.0/support-matrix.md
  site/content/docs/v0.9.0/support-matrix.md
  site/content/docs/v1.0.0/support-matrix.md
  site/content/docs/v1.1.0/support-matrix.md
  site/content/docs/v1.10/supported-providers.md
  site/content/docs/v1.11/supported-providers.md
  site/content/docs/v1.12/supported-providers.md
  site/content/docs/v1.13/supported-providers.md
  site/content/docs/v1.14/supported-providers.md
  site/content/docs/v1.15/supported-providers.md
  site/content/docs/v1.2.0/supported-providers.md
  site/content/docs/v1.3.0/supported-providers.md
  site/content/docs/v1.3.1/supported-providers.md
  site/content/docs/v1.3.2/supported-providers.md
  site/content/docs/v1.4/supported-providers.md
  site/content/docs/v1.7/supported-providers.md
  site/content/docs/v1.9/supported-providers.md
Labels: kind/changelog-not-required, Documentation

#8491 Add SecurityContext to restore-helper
  changelogs/unreleased/8491-reasonerjt
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
Labels: has-unit-tests, has-changelog

#8495 [Cherry-pick-1.15] Add SecurityContext to restore-helper
  changelogs/unreleased/8495-reasonerjt
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
Labels: has-unit-tests, has-changelog

#8496 [1.15] Fix prepare timeout issue
  changelogs/unreleased/8496-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-unit-tests, has-changelog

#8476 Build hybrid image
  .github/workflows/e2e-test-kind.yaml
  Dockerfile-Windows
  Makefile
  changelogs/unreleased/8476-Lyndon-Li
  design/multiple-arch-build-with-windows.md
  hack/docker-push.sh
Labels: Area/Design, has-changelog

#8498 Move the accepted info from annotations to DU/DD CR
  changelogs/unreleased/8498-Lyndon-Li
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-unit-tests, has-changelog

#8297 Set hinting region to use for GetBucketRegion() in pkg/repository/config/aws.go
  changelogs/unreleased/8297-kaovilai
  pkg/repository/config/aws.go
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog, 1.16-candidate

#8505 [Cherry-pick-1.15] Set hinting region to use for GetBucketRegion() in pkg/repository/config/aws.go
  changelogs/unreleased/8505-kaovilai
  pkg/repository/config/aws.go
  pkg/repository/config/config.go
  pkg/repository/config/config_test.go
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog, target/1.15.1

#8441 Refactor migration E2E case
  pkg/cmd/cli/install/install.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/util/csi/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8508 Issue 8267: enhance the error message when expose fails
  changelogs/unreleased/8508-Lyndon-Li
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8482 Data mover exposer diagnostic
  changelogs/unreleased/8482-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/exposer/snapshot.go
  pkg/nodeagent/node_agent.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog, target/1.15.1

#8511 [1.15] Data mover exposer diagnostic
  changelogs/unreleased/8511-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/exposer/snapshot.go
  pkg/nodeagent/node_agent.go
  pkg/util/csi/volume_snapshot.go
  pkg/util/csi/volume_snapshot_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8509 Fix backup post hook issue
  changelogs/unreleased/8509-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/test/mock_pod_command_executor.go
Labels: has-unit-tests, has-changelog

#8517 [cherry-pick]Fix backup post hook issue
  changelogs/unreleased/8517-ywk253100
  internal/hook/hook_tracker.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/test/mock_pod_command_executor.go
Labels: has-unit-tests, has-changelog, target/1.15.1

#8519 Bump golang.org/x/crypto to v0.31.0 to fix CVEs.
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8512 Fix issue: backup schedule pause/unpause doesn't work
  changelogs/unreleased/8512-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

#8525 Fix GCR image missing problem
  hack/docker-push.sh
Labels: kind/changelog-not-required

#8526 Bump the golang.org/x/crypto for Restic in release-1.15.
  go.mod
  go.sum
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required, Dependencies

#8528 [cherry-pick] VKS support release 1.15
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/upgrade/upgrade.go
  test/testdata/storage-class/vsphere-csi.yaml
  test/testdata/storage-class/vsphere.yaml
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8529 1.15.1 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8399-kaovilai
  changelogs/unreleased/8402-Lyndon-Li
  changelogs/unreleased/8404-Lyndon-Li
  changelogs/unreleased/8465-blackpiglet
  changelogs/unreleased/8495-reasonerjt
  changelogs/unreleased/8496-Lyndon-Li
  changelogs/unreleased/8501-Lyndon-Li
  changelogs/unreleased/8505-kaovilai
  changelogs/unreleased/8511-Lyndon-Li
  changelogs/unreleased/8517-ywk253100
Labels: kind/changelog-not-required, has-changelog

#8530 [cherry-pick] Modify the StorageClass install and delete code.
  test/e2e/backup/backup.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/testdata/storage-class/README.md
  test/testdata/storage-class/aws-legecy.yaml
  test/testdata/storage-class/aws.yaml
  test/testdata/storage-class/azure-legacy.yaml
  test/testdata/storage-class/azure.yaml
  test/testdata/storage-class/gcp-legacy.yaml
  test/testdata/storage-class/gcp.yaml
  test/testdata/storage-class/vanilla-zfs-csi.yaml
  test/testdata/storage-class/vanilla-zfs.yaml
  test/testdata/storage-class/vsphere-legacy.yaml
  test/testdata/storage-class/vsphere.yaml
  test/testdata/volume-snapshot-class/vanilla-zfs.yaml
  test/testdata/volume-snapshot-class/vsphere.yaml
  test/types.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8531 Modify the schedule cases.
  test/e2e/e2e_suite_test.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/periodical.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/util/k8s/configmap.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8533 [cherry-pick] Refactor the migration cases.
  pkg/cmd/cli/install/install.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/util/csi/common.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8504 Linux windows hybrid deploy
  changelogs/unreleased/8504-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/server.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/resources.go
  pkg/install/resources_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/plugin/clientmgmt/process/registry.go
  pkg/plugin/clientmgmt/process/registry_test.go
  pkg/podvolume/backupper_test.go
Labels: has-unit-tests, has-changelog

#8538 hide restic deprecation warning for install with crd-only
  changelogs/unreleased/8538-Lyndon-Li
  pkg/cmd/cli/install/install.go
Labels: has-changelog

#8540 [1.15] hide restic deprecation warning for install with crd-only
  changelogs/CHANGELOG-1.15.md
  pkg/cmd/cli/install/install.go
Labels: kind/changelog-not-required, has-changelog

#8544 Modify the Init logic to fix the migration case error.
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8541 CVE-2024-45337 CVE-2024-45338
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8545 Pin the version of Golang and base image for v1.15.1
  Dockerfile
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#8547 Bug fix: increase the WaitGroup counter before start the goroutine
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8546 Skip the deprecation message for the dry-run install CLI JSON output.
  test/util/velero/install.go
Labels: kind/changelog-not-required

#8548 [cherry-pick]Bug fix: increase the WaitGroup counter before start the goroutine
  pkg/backup/backup.go
  pkg/backup/backup_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8532 Add maintenance history for backupRepository CRs
  changelogs/unreleased/8532-Lyndon-Li
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_repository_types.go
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
Labels: Breaking change, has-unit-tests, has-changelog

#8552 [cherry-pick] Skip the deprecation message for the dry-run install CLI JSON output.
  test/util/velero/install.go
Labels: kind/changelog-not-required

#8551 [cherry-pick] Modify the Init logic to fix the migration case error.
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8553 [cherry-pick] Bump Restic go.mod to fix CVEs.
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required

#8518 fs-backup for clusters with windows nodes
  changelogs/unreleased/8518-Lyndon-Li
  pkg/cmd/cli/install/install.go
  pkg/cmd/server/server.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_test.go
  pkg/podvolume/restorer.go
  pkg/podvolume/restorer_test.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
Labels: has-unit-tests, has-changelog
