Repository vmware-tanzu/velero, pull requests merged in 2024-09, with the labels that each got.

#7974 Only get VolumeSnapshotClass when DataUpload exists.
  changelogs/unreleased/7974-blackpiglet
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
Labels: has-changelog

#8063 Add status patching retry configuration design.
  design/retry-patching-configuration_design.md
Labels: Area/Design, kind/changelog-not-required

#8174 Add check for PV claimref nil
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8187 Add profile to node-agent
  pkg/cmd/cli/nodeagent/server.go
Labels: kind/changelog-not-required

#8170 Update Openshift SCC docs link
  changelogs/unreleased/8170-shubham-pampattiwar
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/file-system-backup.md
Labels: Documentation, has-changelog

#8166 Pass Velero server command args to the plugins
  changelogs/unreleased/8166-ywk253100
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/config/config.go
  pkg/cmd/server/config/config_test.go
  pkg/cmd/server/plugin/plugin.go
  pkg/cmd/server/server.go
  pkg/cmd/server/server_test.go
  pkg/constant/constant.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/constants.go
  pkg/controller/server_status_request_controller.go
  pkg/plugin/clientmgmt/process/client_builder.go
  pkg/plugin/clientmgmt/process/client_builder_test.go
  pkg/plugin/clientmgmt/process/process.go
  pkg/plugin/framework/server.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
  pkg/types/priority.go
  pkg/types/priority_test.go
Labels: has-unit-tests, has-changelog

#8167 Add doc for node-agent memory preserve
  changelogs/unreleased/8167-Lyndon-Li
  site/content/docs/main/file-system-backup.md
Labels: Documentation, has-changelog

#8102 ItemBlock model and phase 1 (single-thread) workflow changes
  changelogs/unreleased/8102-sseago
  design/backup-performance-improvements.md
  internal/hook/hook_tracker.go
  internal/hook/item_hook_handler.go
  internal/hook/item_hook_handler_test.go
  internal/hook/wait_exec_hook_handler.go
  internal/hook/wait_exec_hook_handler_test.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/item_collector.go
  pkg/backup/item_collector_test.go
  pkg/backup/itemblock.go
  pkg/backup/request.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/itemblock/itemblock.go
  pkg/test/mock_pod_command_executor.go
Labels: Area/Design, has-unit-tests, has-changelog

#8145 Implement the Repo maintanence Job configuration.
  changelogs/unreleased/8145-blackpiglet
  design/repo_maintenance_job_config.md
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/config/config.go
  pkg/cmd/server/config/config_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/nodeagent/node_agent.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager.go
  pkg/repository/manager_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
  site/content/docs/main/repository-maintenance.md
  site/data/docs/main-toc.yml
  site/data/docs/v1-14-toc.yml
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#8144 Data mover micro service doc
  changelogs/unreleased/8144-Lyndon-Li
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/data-movement-pod-resource-configuration.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

#8068 Retry completion status patch for backup and restore resources
  changelogs/unreleased/8068-kaovilai
  design/retry-patching-configuration_design.md
  pkg/client/retry.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/backup_finalizer_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/util/kube/client.go
  pkg/util/kube/mocks.go
  pkg/util/kube/mocks/Client.go
Labels: Area/Design, has-unit-tests, has-changelog

#8202 Enable --fail-fast by default for E2E and performance tests.
  test/Makefile
Labels: kind/changelog-not-required, E2E Tests

#7793 Upgrade to robfig/cron/v3 to support time zone specification
  changelogs/unreleased/7793-kaovilai
  go.mod
  go.sum
  pkg/controller/schedule_controller.go
  pkg/controller/schedule_controller_test.go
  site/content/docs/main/backup-reference.md
Labels: Dependencies, has-unit-tests, Documentation, has-changelog

#8104 Add new-changelog to Makefile
  .github/pull_request_template.md
  Makefile
  site/content/docs/main/code-standards.md
Labels: kind/changelog-not-required, Documentation

#8198 Add controller name to periodical_enqueue_source
  changelogs/unreleased/8198-kaovilai
  pkg/constant/constant.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_operations_controller.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_storage_location_controller.go
  pkg/controller/backup_sync_controller.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/controller/download_request_controller.go
  pkg/controller/gc_controller.go
  pkg/controller/restore_operations_controller.go
  pkg/controller/schedule_controller.go
  pkg/util/kube/periodical_enqueue_source_test.go
Labels: kind/changelog-not-required, has-unit-tests, has-changelog

#8210 pvc_pv_test.go:32:2: other import of "k8s.io/api/core/v1"
  pkg/util/kube/pvc_pv_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8206 pkg/podvolume/backupper_test.go:597:14: the cancel function returned by context.WithTimeout should be called, not discarded, to avoid a context leak
  pkg/podvolume/backupper_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8201 Add the ConfigMap-specified parameters into velero install CLI
  design/Implemented/node-agent-affinity.md
  design/Implemented/node-agent-concurrency.md
  design/backup-pvc-config.md
  design/backup-repo-config.md
  design/repo_maintenance_job_config.md
  design/vgdp-micro-service/vgdp-micro-service.md
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/server/config/config.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/repository/manager.go
  site/content/docs/main/backup-repository-configuration.md
  site/content/docs/main/data-movement-backup-node-selection.md
  site/content/docs/main/data-movement-backup-pvc-configuration.md
  site/content/docs/main/node-agent-concurrency.md
  site/content/docs/main/repository-maintenance.md
Labels: Area/Design, kind/changelog-not-required, has-unit-tests, Documentation

#8208 Reduces ~140 indirect imports for plugin/framework importers
  changelogs/unreleased/8208-kaovilai
  pkg/cmd/server/config/config.go
  pkg/cmd/server/server.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_deletion_controller_test.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/datamover/dataupload_delete_action.go
  pkg/install/import_test.go
  pkg/plugin/framework/import_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/configs/configs.go
  pkg/podvolume/util.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
  pkg/repository/types/snapshotidentifier.go
  pkg/restore/restore.go
Labels: has-unit-tests, has-changelog

#8225 Update the wait-for-additional-items design doc link
  design/Implemented/plugin-versioning.md
Labels: kind/changelog-not-required

#8218 Update design doc and site docs to reflect ItemBlock implementation
  design/backup-performance-improvements.md
  site/content/docs/main/backup-hooks.md
  site/content/docs/main/custom-plugins.md
Labels: Area/Design, kind/changelog-not-required, Documentation

#8228 Add the Carvel package related resources to the restore priority list
  changelogs/unreleased/8228-ywk253100
  pkg/cmd/server/config/config.go
Labels: has-changelog

#8237 Issue 8232: ensure the ending event sinked before shutdown
  pkg/datamover/backup_micro_service.go
  pkg/datamover/backup_micro_service_test.go
  pkg/datamover/restore_micro_service.go
  pkg/datamover/restore_micro_service_test.go
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/util/kube/event.go
  pkg/util/kube/event_test.go
Labels: kind/changelog-not-required, has-unit-tests, target/1.15-rc.1

#8239 docs(vgdp-micro-service.md): correct typo in VGDP acronym description to match Unified Repository design reference
  design/vgdp-micro-service/vgdp-micro-service.md
Labels: kind/changelog-not-required

#8216 Skip uninstall and resource cleanup when fail-fast is enabled.
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/sync_backups.go
  test/e2e/backups/ttl.go
  test/e2e/basic/api-group/enable_api_group_extentions.go
  test/e2e/basic/api-group/enable_api_group_versions.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/resources-check/rbac.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/schedule/schedule-backup-creation.go
  test/e2e/schedule/schedule.go
  test/e2e/test/test.go
  test/e2e/upgrade/upgrade.go
  test/perf/e2e_suite_test.go
  test/perf/test/test.go
  test/types.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8246 Add labels to maintenance job pods
  changelogs/unreleased/8256-shubham-pampattiwar
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8250 Issue 8249: disable selinux relabel for backupPod
  pkg/exposer/csi_snapshot.go
Labels: kind/changelog-not-required

#8253 Revert "issue 8249: disable selinux relabel for backupPod (#8250)"
  pkg/exposer/csi_snapshot.go
Labels: kind/changelog-not-required
