Repository vmware-tanzu/velero, pull requests merged in 2024-05, with the labels that each got.

#7769 fix `/kind changelog-not-required`
  .github/labels.yaml
  .github/labels.yml
  .github/workflows/auto_label_prs.yml
Labels: kind/changelog-not-required

#7752 Maintenance job should not be launched if the repo already has a runn…
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager.go
Labels: kind/changelog-not-required, has-unit-tests

#7621 Add checkpoint in fs backup deletion
  test/e2e/backups/deletion.go
  test/e2e/privilegesmgmt/ssr.go
  test/util/common/common.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7772 Issue fix 7535: don't skip must have resources for label selector
  pkg/restore/restore.go
Labels: kind/changelog-not-required, target/1.14-rc.1

#7691 Add E2E test for parallel files upload and download
  test/e2e/e2e_suite_test.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/util/k8s/common.go
  test/util/velero/install.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7701 Merge makefile for e2e perf test
  .github/workflows/e2e-test-kind.yaml
  Makefile
  test/Makefile
  test/perf/Makefile
Labels: kind/changelog-not-required

#7776 split labels configurations add more prow commands
  .github/labeler.yml
  .github/labels.yaml
  .github/workflows/auto_label_prs.yml
  .github/workflows/prow-action.yml
Labels: kind/changelog-not-required

#7788 Fix makefile param issue
  test/Makefile
Labels: kind/changelog-not-required

#7591 golangci-lint(noctx): fix test files
  .golangci.yaml
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#7790 Modify the wrong ConfigMap name in v1.13 node-agent-concurrency docum…
  site/content/docs/v1.13/node-agent-concurrency.md
Labels: kind/changelog-not-required, Documentation

#7598 Migrate from github.com/Azure/azure-storage-blob-go to github.com/Azure/azure-sdk-for-go/sdk/storage/azblob
  changelogs/unreleased/7598-mmorel-35
  go.mod
  go.sum
  test/util/providers/azure_utils.go
Labels: Dependencies, has-changelog

#7757 Add existingResourcePolicy restore CR validation to controller.
  changelogs/unreleased/7757-kaovilai
  hack/update-1fmt.sh
  pkg/cmd/cli/restore/create.go
  pkg/cmd/cli/restore/create_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/util/velero/restore/util.go
  pkg/util/velero/restore/util_test.go
Labels: has-unit-tests, has-changelog

#7784 More prow actions
  .github/workflows/prow-action.yml
  OWNERS
Labels: kind/changelog-not-required

#7595 organize golangci workflow
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
Labels: kind/changelog-not-required

#7762 Surface errors when waiting for backupRepository
  changelogs/unreleased/7762-kaovilai
  pkg/repository/ensurer.go
  pkg/repository/ensurer_test.go
Labels: has-unit-tests, has-changelog

#7802 Bump the E2E upgrade and migration test version.
  test/Makefile
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#7789 [cherry-pick][1.13]Check whether the VolumeSnapshot's source PVC is nil before using it
  changelogs/unreleased/7789-blackpiglet
  internal/volume/volumes_information.go
  internal/volume/volumes_information_test.go
  pkg/restore/restore.go
  pkg/restore/restore_test.go
Labels: has-unit-tests, has-changelog

#7807 Update the doc upgrade-to-1.14
  site/content/docs/main/upgrade-to-1.14.md
Labels: kind/changelog-not-required, Documentation

#7805 Fix backup log to show error string, not index
  changelogs/unreleased/7805-piny940
  pkg/controller/backup_controller.go
Labels: has-changelog

#7794 Modify the volume helper logic.
  changelogs/unreleased/7794-blackpiglet
  design/Extend-VolumePolicies-to-support-more-actions.md
  internal/volumehelper/volume_policy_helper.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/actions/csi/pvc_action.go
  pkg/backup/actions/csi/pvc_action_test.go
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/backup/item_backupper.go
  pkg/backup/pv_skip_tracker.go
  pkg/cmd/cli/backup/describe_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/podvolume/snaphost_tracker_test.go
  pkg/podvolume/snapshot_tracker.go
  pkg/restore/pv_restorer.go
  pkg/restore/pv_restorer_test.go
  pkg/restore/restore.go
  pkg/util/podvolume/pod_volume.go
  pkg/util/podvolume/pod_volume_test.go
  site/content/docs/main/resource-filtering.md
Labels: Area/Design, has-unit-tests, Documentation, has-changelog

#7814 Update README and move the implemented Designs for v1.14
  README.md
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  design/Implemented/node-agent-affinity.md
  design/Implemented/pv_restore_info.md
  design/Implemented/repository-maintenance.md
  design/Implemented/restore-finalizing-phase_design.md
  design/Implemented/restore-phases-transition.png
Labels: kind/changelog-not-required

#7819 Fix minor issue in doc for v1.14
  site/config.yaml
  site/data/docs/v1-14-toc.yml
Labels: Website, kind/changelog-not-required

#7824 Fix the problems found by codespell
  .github/workflows/pr-codespell.yml
  CODE_OF_CONDUCT.md
  design/Implemented/move-gh-org.md
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/repository/manager.go
  pkg/util/podvolume/pod_volume_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7821 Pin the version of Golang and base image for v1.14.0
  .github/workflows/crds-verify-kind.yaml
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/push.yml
  Dockerfile
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required, Dependencies

#7825 [CP-to-main] Fix the problems found by codespell
  .github/workflows/pr-codespell.yml
  CODE_OF_CONDUCT.md
  design/Implemented/move-gh-org.md
  design/volume-snapshot-data-movement/volume-snapshot-data-movement.md
  internal/resourcepolicies/resource_policies_test.go
  internal/resourcepolicies/volume_resources_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/repository/manager.go
  pkg/util/podvolume/pod_volume_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7592 golangci-lint(gosimple): fix test files
  .golangci.yaml
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/perf/backup/backup.go
  test/perf/restore/restore.go
Labels: kind/changelog-not-required, has-e2e-2tests

#7671 testifylint: enable compares rule
  .golangci.yaml
  pkg/backup/backup_test.go
  pkg/controller/backup_controller_test.go
  pkg/restore/restore_test.go
Labels: kind/changelog-not-required, has-unit-tests

#7830 Fix issue in "git status" in goreleaser.sh
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#7835 Bump up goreleaser to v1.26.2
  .goreleaser.yml
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#7834 [CP-to-main]: Fix issue in "git status" in goreleaser.sh
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required

#7844 Improve help message for the option "--resource-policies-configmap"
  pkg/cmd/cli/backup/create.go
Labels: kind/changelog-not-required

#7846 Avoid unnecessary repo connect for maintenance
  pkg/repository/manager.go
Labels: kind/changelog-not-required

#7847 Avoid unnecessary repo connect for maintenance
  pkg/repository/manager.go
Labels: kind/changelog-not-required
