Repository vmware-tanzu/velero, pull requests merged in 2025-09, with the labels that each got.

#9214 clarify VolumeSnapshotClass error for mismatched driver/provisioner
  pkg/util/csi/volume_snapshot.go
Labels: kind/changelog-not-required

#8991 Concurrent backup design doc
  design/concurrent-backup-processing.md
Labels: Area/Design, kind/changelog-not-required

#9228 Bump k8s library to v1.33.
  go.mod
  go.sum
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/ensurer_test.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/util/kube/event.go
  test/Makefile
Labels: kind/changelog-not-required, Dependencies, has-unit-tests

#9256 Fix maintenance jobs toleration inheritance from Velero deployment
  changelogs/unreleased/9256-shubham-pampattiwar
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests, has-changelog

#9220 release-1.17: feat: Permit specifying annotations for the BackupPVC #9173
  changelogs/unreleased/9173-clementnuss
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/types/node_agent.go
  site/content/docs/main/data-movement-backup-pvc-configuration.md
Labels: has-unit-tests, Documentation, has-changelog, target/v1.17.1

#9266 [release-1.17] Get pod list once per namespace in pvc IBA
  changelogs/unreleased/9266-sseago
  pkg/itemblock/actions/pvc_action.go
Labels: has-changelog

#9280 Fix E2E tests: Build MinIO from Bitnami Dockerfile to replace deprecated image
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#9283 1.16: Fix E2E tests: Build MinIO from Bitnami Dockerfile to replace deprecated image
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#9261 Update AzureAD Microsoft Authentication Library to v1.5.0 (#9244)
  changelogs/unreleased/9244-priyansh17
  changelogs/unreleased/9261-priyansh17
  go.mod
  go.sum
Labels: Dependencies, has-changelog

#9277 Fix Schedule Backup Queue Accumulation During Extended Blocking Scenarios
  changelogs/unreleased/9277-shubham-pampattiwar
  pkg/controller/schedule_controller.go
  pkg/controller/schedule_controller_test.go
Labels: has-unit-tests, has-changelog

#9250 Use different go version check logic for main and other branches.
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/get-go-version.yaml
  .github/workflows/pr-ci-check.yml
  .github/workflows/pr-linter-check.yml
  .github/workflows/push.yml
Labels: kind/changelog-not-required

#9297 [1.17] backupPVC to different node
  changelogs/unreleased/9297-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_priority_test.go
  pkg/exposer/csi_snapshot_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/third_party.go
Labels: has-unit-tests, has-changelog

#9295 Privileged fs backup pods
  changelogs/unreleased/9295-sseago
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/exposer/pod_volume.go
  pkg/exposer/pod_volume_test.go
  pkg/types/node_agent.go
  site/content/docs/main/customize-installation.md
Labels: has-unit-tests, Documentation, has-changelog, target/v1.17.1
