Repository vmware-tanzu/velero, pull requests merged in 2025-05, with the labels that each got.

#8891 Issue 8878: relief node os deduction error checks
  changelogs/unreleased/8891-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8902 For not found errors on managed fields, add restore warning
  changelogs/unreleased/8902-sseago
  pkg/restore/restore.go
Labels: has-changelog, target/v1.16.1

#8913 Remove pushing images to GCR.
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Makefile
  hack/docker-push.sh
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/types.go
  test/util/k8s/deployment.go
  test/util/k8s/pod.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8920 [1.16][cherry-pick] Remove pushing images to GCR.
  .github/workflows/e2e-test-kind.yaml
  .github/workflows/push.yml
  Makefile
  hack/docker-push.sh
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/types.go
  test/util/k8s/deployment.go
  test/util/k8s/pod.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8916 [1.16] Warn managed fields patch 1.16
  changelogs/unreleased/8916-sseago
  pkg/restore/restore.go
Labels: has-changelog

#8911 [1.16] issue-8878: relief node os deduction error checks
  changelogs/unreleased/8911-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8921 1.16.1 changelog
  changelogs/CHANGELOG-1.16.md
  changelogs/unreleased/8911-Lyndon-Li
  changelogs/unreleased/8916-sseago
Labels: kind/changelog-not-required, has-changelog

#8924 Add VolumeSnapshotContent into the RIA and the mustHave resource list.
  changelogs/unreleased/8924-blackpiglet
  pkg/restore/actions/csi/volumesnapshot_action.go
  pkg/restore/restore.go
Labels: has-changelog

#8926 [cherry-pick][1.16] Add VolumeSnapshotContent into the RIA and the mustHave resource list.
  changelogs/unreleased/8926-blackpiglet
  pkg/restore/actions/csi/volumesnapshot_action.go
  pkg/restore/restore.go
Labels: has-changelog

#8928 1.16.1 changelog update
  changelogs/CHANGELOG-1.16.md
  changelogs/unreleased/8926-blackpiglet
Labels: kind/changelog-not-required, has-changelog

#8927 Support using image registry proxy in more cases.
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/upgrade/upgrade.go
  test/util/k8s/deployment.go
  test/util/k8s/pod.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8876 fix upgrade instruction link
  site/config.yaml
  site/data/docs/v1-16-toc.yml
Labels: Website

#8939 [cherry-pick] [1.16] Modify image usage
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/pvc-selected-node-changing.go
  test/e2e/basic/storage-class-changing.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/parallelfilesdownload/parallel_files_download.go
  test/e2e/parallelfilesupload/parallel_files_upload.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resource-filtering/base.go
  test/e2e/resource-filtering/exclude_label.go
  test/e2e/resource-filtering/label_selector.go
  test/e2e/resourcemodifiers/resource_modifiers.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/schedule/in_progress.go
  test/e2e/schedule/ordered_resources.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/k8s/deployment.go
  test/util/k8s/pod.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8940 Call WaitGroup.Done() once only when PVB changes to fianl status the first time to avoid panic
  changelogs/CHANGELOG-1.16.md
  pkg/podvolume/backupper.go
Labels: kind/changelog-not-required, has-changelog

#8941 [cherry-pick]Call WaitGroup.Done() once only when PVB changes to final status the first time to avoid panic
  pkg/podvolume/backupper.go
Labels: kind/changelog-not-required

#8942 Add velero.io APIs availability check in Velero E2E install function.
  test/util/velero/install.go
Labels: kind/changelog-not-required

#8933 Windows e2e
  hack/build-image/Dockerfile
  test/Makefile
  test/e2e/README.md
  test/e2e/backup/backup.go
  test/e2e/backups/deletion.go
  test/e2e/backups/ttl.go
  test/e2e/basic/backup-volume-info/base.go
  test/e2e/basic/namespace-mapping.go
  test/e2e/basic/resources-check/namespaces.go
  test/e2e/basic/resources-check/resources_check.go
  test/e2e/bsl-mgmt/deletion.go
  test/e2e/e2e_suite_test.go
  test/e2e/migration/migration.go
  test/e2e/pv-backup/pv-backup-filter.go
  test/e2e/resourcepolicies/resource_policies.go
  test/e2e/scale/multiple_namespaces.go
  test/e2e/upgrade/upgrade.go
  test/types.go
  test/util/common/common.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-changelog, has-e2e-2tests

#8954 Replace security@vmware.com with velero-security.pdl@broadcom.com
  SECURITY.md
Labels: kind/changelog-not-required

#8952 DM controller refactor for cancel
  changelogs/unreleased/8952-Lyndon-Li
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
Labels: has-unit-tests, has-changelog

#8982 fix: update mc command in minio-deployment example
  changelogs/unreleased/8982-vishal-chdhry
  examples/minio/00-minio-deployment.yaml
Labels: has-changelog

#8890 Skip namespace in terminating state in backup resource collection.
  changelogs/unreleased/8890-blackpiglet
  pkg/backup/backup_test.go
  pkg/backup/item_collector.go
  pkg/backup/item_collector_test.go
Labels: has-unit-tests, has-changelog

#8946 Remove CSI VS and VSC metadata from backup.
  changelogs/unreleased/8946-blackpiglet
  pkg/controller/backup_controller.go
  pkg/persistence/object_store.go
  pkg/persistence/object_store_test.go
Labels: has-unit-tests, has-changelog

#8975 Mark BackupRepository not ready when BSL changed
  changelogs/unreleased/8975-ywk253100
  pkg/controller/backup_repository_controller.go
  pkg/util/kube/predicate.go
  pkg/util/kube/predicate_test.go
Labels: has-unit-tests, has-changelog

#8938 Add support for configuring VGS label key
  changelogs/unreleased/8938-shubham-pampattiwar
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/crds/crds.go
  pkg/apis/velero/v1/backup_types.go
  pkg/builder/backup_builder.go
  pkg/cmd/server/config/config.go
  pkg/cmd/server/server.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
Labels: has-unit-tests, has-changelog
