Repository vmware-tanzu/velero, pull requests merged in 2025-08, with the labels that each got.

#9135 Add ConfigMap support for keepLatestMaintenanceJobs
  changelogs/unreleased/9135-shubham-pampattiwar
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests, has-changelog

#8557 CLI automatically discovers and uses cacert from BSL
  changelogs/unreleased/8557-kaovilai
  pkg/cmd/cli/backup/describe.go
  pkg/cmd/cli/backup/download.go
  pkg/cmd/cli/backup/logs.go
  pkg/cmd/cli/backup/logs_test.go
  pkg/cmd/cli/restore/logs.go
  pkg/cmd/cli/restore/logs_test.go
  pkg/cmd/util/cacert/bsl_cacert.go
  pkg/cmd/util/cacert/bsl_cacert_test.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/cmd/util/downloadrequest/downloadrequest_test.go
  pkg/cmd/util/output/backup_describer.go
  pkg/cmd/util/output/backup_structured_describer.go
  pkg/cmd/util/output/restore_describer.go
  site/content/docs/main/api-types/backupstoragelocation.md
  site/content/docs/main/self-signed-certificates.md
Labels: Dependencies, has-unit-tests, Documentation, has-changelog, has-e2e-2tests

#9130 Fix the dd and du's node affinity issue.
  changelogs/unreleased/9130-blackpiglet
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/exposer/mocks/PodVolumeExposer.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: has-unit-tests, has-changelog

#9145 Add include/exclude policy to resources policy
  .github/workflows/pr-codespell.yml
  changelogs/unreleased/9145-reasonerjt
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/volume_resources_validator_test.go
  pkg/backup/backup.go
  pkg/cmd/util/output/backup_describer_test.go
  pkg/cmd/util/output/schedule_describe_test.go
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/util/collections/includes_excludes.go
  pkg/util/collections/includes_excludes_test.go
Labels: has-unit-tests, has-changelog

#8883 Implement PriorityClass Support
  changelogs/unreleased/8883-kaovilai
  design/Implemented/priority-class-name-support_design.md
  pkg/cmd/cli/install/install.go
  pkg/cmd/cli/install/install_test.go
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/pod_volume_backup_controller.go
  pkg/controller/pod_volume_backup_controller_test.go
  pkg/controller/pod_volume_restore_controller.go
  pkg/controller/pod_volume_restore_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/csi_snapshot_priority_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_priority_test.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/pod_volume.go
  pkg/install/daemonset.go
  pkg/install/daemonset_test.go
  pkg/install/deployment.go
  pkg/install/deployment_test.go
  pkg/install/resources.go
  pkg/install/resources_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/util/kube/priority_class.go
  pkg/util/kube/priority_class_test.go
  site/content/docs/main/basic-install.md
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/customize-installation.md
  site/content/docs/main/data-movement-pod-resource-configuration.md
  site/content/docs/main/file-system-backup.md
  site/content/docs/main/repository-maintenance.md
  site/content/docs/main/velero-install.md
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: Dependencies, has-unit-tests, Documentation, has-changelog, has-e2e-2tests

#9147 Remove the repository maintenance job parameters from velero server.
  changelogs/unreleased/9147-blackpiglet
  pkg/cmd/server/config/config.go
  pkg/cmd/server/config/config_test.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
Labels: has-unit-tests, has-changelog

#9165 Issue 9140: add NoExecute toleration for Windows
  changelogs/unreleased/9165-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/pod_volume.go
  pkg/install/daemonset.go
Labels: has-changelog

#9167 Fix the repository-maintenance-job-configmap format issue in doc.
  site/content/docs/main/repository-maintenance.md
Labels: kind/changelog-not-required, Documentation

#9161 Fix main e2e [basic][snapshot][skipvanillazfs]
  test/e2e/backup/backup.go
  test/e2e/e2e_suite_test.go
  test/util/common/common.go
  test/util/kibishii/kibishii_utils.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#9163 Add bsl status check in velero install
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#9172 Add doc for include exclude policy
  site/content/docs/main/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#9197 Update the E2E upgrade test's from versions.
  test/Makefile
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#9208 Update 1.17 readme and implemented design
  README.md
  design/Implemented/clean_artifacts_in_csi_flow.md
  design/Implemented/node-agent-load-soothing.md
  design/Implemented/vgdp-affinity-enhancement.md
  design/Implemented/volume-group-snapshot.md
Labels: kind/changelog-not-required

#9209 Move implemented design for 1.17
  design/Implemented/include-exclude-in-resource-policy.md
  design/Implemented/node-agent-load-soothing.md
  design/Implemented/vgdp-micro-service-for-fs-backup/vgdp-micro-service-for-fs-backup.md
  design/Implemented/vgdp-micro-service-for-fs-backup/vgdp-ms-1.png
  design/Implemented/vgdp-micro-service-for-fs-backup/vgdp-ms-2.png
Labels: kind/changelog-not-required
