Repository vmware-tanzu/velero, pull requests merged in 2025-01, with the labels that each got.

#8555 Data mover backup for Windows nodes
  changelogs/unreleased/8555-Lyndon-Li
  pkg/cmd/cli/datamover/backup.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
  pkg/exposer/image_test.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8558 [release-1.15] Use the SC mapping cm in all migration cases.
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8568 [Cherrypick-1.15]fix(pkg/repository/maintenance): don't panic when there's no container statuses
  changelogs/unreleased/8568-mcluseau
  pkg/repository/maintenance.go
  pkg/repository/maintenance_test.go
Labels: has-unit-tests, has-changelog

#8570 Add 1.15.2 changelog
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8568-mcluseau
Labels: kind/changelog-not-required, has-changelog

#8569 Uploaders windows support
  changelogs/unreleased/8569-Lyndon-Li
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/uploader/kopia/progress.go
  pkg/uploader/kopia/snapshot.go
  pkg/util/kube/node.go
  pkg/util/kube/node_test.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8575 Clear validation errors when schedule is valid
  changelogs/unreleased/8575-ywk253100
  pkg/controller/schedule_controller.go
Labels: has-changelog

#8574 Merge restore helper image into Velero server image
  Dockerfile
  Makefile
  changelogs/unreleased/8574-ywk253100
  internal/velero/images.go
  internal/velero/images_test.go
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/actions/pod_volume_restore_action.go
  pkg/restore/actions/pod_volume_restore_action_test.go
  site/content/docs/main/file-system-backup.md
Labels: has-unit-tests, Documentation, has-changelog

#8572 Don't include excluded items in ItemBlocks
  changelogs/unreleased/8572-sseago
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/backup/itemblock.go
Labels: has-changelog, target/1.15.2

#8585 release-1.15: Don't include excluded items in ItemBlocks
  changelogs/unreleased/8585-kaovilai
  pkg/backup/backup.go
  pkg/backup/item_collector.go
  pkg/backup/itemblock.go
Labels: has-changelog

#8586 1.15.2 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8585-kaovilai
Labels: kind/changelog-not-required, has-changelog

#8550 Issue 8044: generic restore - allow to ignore delay binding for WaitForFirstConsumer
  changelogs/unreleased/8550-Lyndon-Li
  pkg/cmd/cli/nodeagent/server.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/mocks/GenericRestoreExposer.go
  pkg/nodeagent/node_agent.go
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8591 Skip patching the PV in finalization for failed operation
  changelogs/unreleased/8591-reasonerjt
  pkg/cmd/server/plugin/plugin.go
  pkg/constant/constant.go
  pkg/controller/restore_finalizer_controller.go
  pkg/controller/restore_finalizer_controller_test.go
  pkg/persistence/mocks/backup_store.go
Labels: has-unit-tests, has-changelog

#8590 Issue 8579 - set event burst
  changelogs/unreleased/8590-Lyndon-Li
  pkg/util/kube/event.go
  pkg/util/kube/event_test.go
Labels: has-unit-tests, has-changelog

#8596 Check the PVB status via podvolume Backupper rather than calling API server to avoid API server issue
  changelogs/unreleased/8596-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/backupper_test.go
Labels: has-unit-tests, has-changelog

#8594 Data mover restore for Windows
  changelogs/unreleased/8594-Lyndon-Li
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  pkg/apis/velero/v2alpha1/data_download_types.go
  pkg/apis/velero/v2alpha1/data_upload_types.go
  pkg/builder/data_download_builder.go
  pkg/builder/data_upload_builder.go
  pkg/cmd/cli/datamover/restore.go
  pkg/controller/data_download_controller.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller.go
  pkg/controller/data_upload_controller_test.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/generic_restore_test.go
  pkg/exposer/types.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-unit-tests, has-changelog

#8601 Update 1.15.2 change-log
  changelogs/CHANGELOG-1.15.md
  changelogs/unreleased/8596-ywk253100
Labels: kind/changelog-not-required, has-changelog

#8598 fix: dupword on tests
  .golangci.yaml
  internal/delete/delete_item_action_handler_test.go
  pkg/restore/restore_test.go
  pkg/util/csi/volume_snapshot_test.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-unit-tests

#8603 [cherry-pick]Check the PVB status via podvolume Backupper rather than calling API server to avoid API server issue
  changelogs/unreleased/8603-ywk253100
  pkg/backup/backup.go
  pkg/backup/backup_test.go
  pkg/podvolume/backupper.go
  pkg/podvolume/backupper_factory.go
  pkg/podvolume/backupper_test.go
Labels: has-unit-tests, has-changelog

#8602 Change udmrepo config file location to tmp
  changelogs/unreleased/8602-Lyndon-Li
  pkg/repository/udmrepo/repo_options.go
Labels: has-changelog

#8606 Add Windows toleration to data mover pods
  changelogs/unreleased/8606-Lyndon-Li
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
Labels: has-changelog

#8609 chore: enable revive default rules
  .golangci.yaml
Labels: kind/changelog-not-required

#8608 Update du/dd progress on completion
  changelogs/unreleased/8608-Lyndon-Li
  pkg/datamover/backup_micro_service_test.go
  pkg/datamover/restore_micro_service_test.go
  pkg/datapath/file_system.go
  pkg/datapath/file_system_test.go
  pkg/datapath/micro_service_watcher.go
  pkg/datapath/micro_service_watcher_test.go
  pkg/datapath/types.go
  pkg/uploader/provider/kopia.go
  pkg/uploader/provider/kopia_test.go
  pkg/uploader/provider/mocks/Provider.go
  pkg/uploader/provider/provider.go
  pkg/uploader/provider/restic.go
  pkg/uploader/provider/restic_test.go
Labels: has-unit-tests, has-changelog

#8611 Distribute dd evenly across nodes
  changelogs/unreleased/8611-Lyndon-Li
  pkg/exposer/generic_restore.go
  pkg/exposer/types.go
Labels: has-changelog

#8615 Avoid to create new repo when BSL is readonly
  changelogs/unreleased/8615-Lyndon-Li
  pkg/repository/provider/unified_repo.go
  pkg/repository/provider/unified_repo_test.go
Labels: has-unit-tests, has-changelog

#8621 Always create DataUpload configmap in restore namespace
  changelogs/unreleased/8621-sseago
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-changelog

#8622 [release-1.15] Datamover new ns 1.15
  changelogs/unreleased/8622-sseago
  pkg/restore/actions/dataupload_retrieve_action.go
Labels: has-changelog

#8580 Recall repo maintenance history on restart
  changelogs/unreleased/8580-Lyndon-Li
  go.mod
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/cmd/server/server.go
  pkg/controller/backup_repository_controller.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/repository/maintenance_test.go
  pkg/repository/manager/manager.go
  pkg/repository/manager/manager_test.go
  pkg/test/test_logger.go
Labels: Dependencies, has-unit-tests, has-changelog

#8626 Repo maintenance for windows
  changelogs/unreleased/8626-Lyndon-Li
  pkg/cmd/cli/repomantenance/maintenance.go
  pkg/controller/backup_repository_controller_test.go
  pkg/repository/maintenance/maintenance.go
  pkg/repository/maintenance/maintenance_test.go
  pkg/util/velero/velero.go
  pkg/util/velero/velero_test.go
Labels: has-unit-tests, has-changelog

#8636 chore: enable var-declaration from revive
  .github/workflows/pr-codespell.yml
  .golangci.yaml
  internal/volume/volumes_information.go
  internal/volumehelper/volume_policy_helper_test.go
  pkg/backup/backup.go
  pkg/cmd/cli/restore/create.go
  pkg/cmd/const.go
  pkg/cmd/test/const.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/data_upload_controller_test.go
  pkg/controller/restore_controller.go
  pkg/datapath/micro_service_watcher.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/restore/pv_restorer.go
  pkg/util/kube/event.go
  pkg/util/kube/pvc_pv.go
  pkg/util/third_party.go
Labels: kind/changelog-not-required, has-unit-tests

#8630 Handle update conflict when restoring the status
  changelogs/unreleased/8630-ywk253100
  pkg/restore/restore.go
Labels: has-changelog

#8643 Windows support smoking test
  pkg/install/daemonset.go
Labels: kind/changelog-not-required

#8642 Bump up Kopia
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8651 e2e: Ignore containerdv2 KinD cluster
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required
