Repository vmware-tanzu/velero, pull requests merged in 2025-04, with the labels that each got.

#8833 Update the nightly trivy scan targets.
  .github/workflows/nightly-trivy-scan.yml
Labels: kind/changelog-not-required

#8721 issue8294: inherit k8s default volumeSnapshotClass
  changelogs/unreleased/8719-hu-keyu
  pkg/apis/velero/v1/labels_annotations.go
  pkg/util/csi/volume_snapshot.go
  site/content/docs/main/csi.md
Labels: Documentation, has-changelog

#8835 issue8785: Development page lists deprecated requirements
  site/content/docs/main/development.md
Labels: Documentation

#8853 Bump base image to 0.2.57 to fix CVEs.
  Dockerfile
Labels: kind/changelog-not-required

#8849 [1.16] Issue 8847: inherit pod info from node-agent-windows
  pkg/exposer/generic_restore.go
Labels: kind/changelog-not-required

#8836 E2E support sets the --item-block-worker-count.
  test/Makefile
  test/e2e/e2e_suite_test.go
  test/util/velero/install.go
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required, has-e2e-2tests

#8848 Issue 8847: inherit pod info from node-agent-windows
  pkg/exposer/generic_restore.go
Labels: kind/changelog-not-required

#8839 chore: bump golangci-lint to v2
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  pkg/controller/backup_controller_test.go
Labels: kind/changelog-not-required, has-unit-tests

#8855 Add default bakcup repository configuration for E2E.
  test/types.go
  test/util/velero/install.go
Labels: kind/changelog-not-required

#8875 issue8827: Pass logger in call chain
  changelogs/unreleased/8875-hu-keyu
  pkg/repository/udmrepo/kopialib/backend/azure.go
  pkg/repository/udmrepo/kopialib/backend/azure/azure_storage_wrapper.go
  pkg/repository/udmrepo/kopialib/backend/azure_test.go
  pkg/repository/udmrepo/kopialib/backend/backend.go
  pkg/repository/udmrepo/kopialib/backend/file_system.go
  pkg/repository/udmrepo/kopialib/backend/file_system_test.go
  pkg/repository/udmrepo/kopialib/backend/gcs.go
  pkg/repository/udmrepo/kopialib/backend/gcs_test.go
  pkg/repository/udmrepo/kopialib/backend/mocks/Store.go
  pkg/repository/udmrepo/kopialib/backend/s3.go
  pkg/repository/udmrepo/kopialib/backend/s3_test.go
  pkg/repository/udmrepo/kopialib/lib_repo.go
  pkg/repository/udmrepo/kopialib/repo_init.go
  pkg/repository/udmrepo/kopialib/repo_init_test.go
Labels: has-unit-tests, has-changelog

#8845 Propagate dns settings to backup pods
  changelogs/unreleased/8845-flx5
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/exposer/image.go
Labels: has-changelog

#8889 Bump Golang and golang.org/x/net to fix CVEs.
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  go.mod
  go.sum
  hack/build-image/Dockerfile
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required, Dependencies

#8887 Fix undefined v1 for corev1api
  pkg/exposer/image.go
Labels: kind/changelog-not-required

#8896 Bump golang.org/x/net to v0.38.0 to fix restic CVE.
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required
