Repository vmware-tanzu/velero, pull requests merged in 2025-03, with the labels that each got.

#8747 Add doc for maintenance history
  changelogs/unreleased/8747-Lyndon-Li
  site/content/docs/main/repository-maintenance.md
Labels: Documentation, has-changelog

#8641 Bump golangci-lint from v1.57.2 to v1.64.5
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  hack/build-image/Dockerfile
  internal/resourcepolicies/resource_policies.go
  internal/resourcepolicies/volume_resources_test.go
  internal/storage/storagelocation.go
  pkg/cmd/util/downloadrequest/downloadrequest.go
  pkg/controller/backup_deletion_controller.go
  pkg/controller/backup_sync_controller_test.go
  pkg/controller/data_download_controller_test.go
  pkg/controller/restore_controller.go
  pkg/restore/actions/csi/volumesnapshot_action_test.go
  pkg/test/fake_discovery_helper.go
  pkg/util/kube/mocks.go
  pkg/util/kube/pvc_pv.go
  test/e2e/basic/backup-volume-info/csi_data_mover.go
  test/e2e/basic/backup-volume-info/csi_snapshot.go
  test/e2e/basic/backup-volume-info/filesystem_upload.go
  test/e2e/basic/backup-volume-info/native_snapshot.go
  test/e2e/basic/backup-volume-info/skipped_volumes.go
  test/e2e/resource-filtering/exclude_resources.go
  test/e2e/resource-filtering/include_resources.go
  test/e2e/resource-filtering/label_selector.go
  test/util/k8s/common.go
  test/util/kibishii/kibishii_utils.go
  test/util/providers/azure_utils.go
  test/util/providers/gcloud_utils.go
Labels: kind/changelog-not-required, has-unit-tests, has-e2e-2tests

#8717 chore: update Go to 1.23 and toolchain to 1.23.6
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  go.mod
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required, Dependencies

#8743 CVE-2025-22869
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8736 Add doc for Windows support
  changelogs/unreleased/8736-Lyndon-Li
  site/content/docs/main/backup-restore-windows.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

#8737 Issue 8733: add doc for restorePVC
  changelogs/unreleased/8737-Lyndon-Li
  site/content/docs/main/csi-snapshot-data-movement.md
  site/content/docs/main/data-movement-restore-pvc-configuration.md
  site/data/docs/main-toc.yml
Labels: Documentation, has-changelog

#8752 CVE-2025-22868 go-mod-upgrade: golang.org/x/oauth2@v0.27.0
  go.mod
  go.sum
Labels: kind/changelog-not-required, Dependencies

#8734 Fix typo "Defaults is"
  site/content/docs/main/backup-hooks.md
Labels: kind/changelog-not-required, Documentation

#8693 Add docs for object level status restore
  changelogs/unreleased/8693-shubham-pampattiwar
  site/content/docs/main/restore-reference.md
Labels: Documentation, has-changelog

#8759 Add docs for volume policy with labels as a criteria
  changelogs/unreleased/8759-shubham-pampattiwar
  site/content/docs/main/resource-filtering.md
Labels: Documentation, has-changelog

#8757 CVE-2025-22869+CVE-2025-22868
  .github/workflows/pr-linter-check.yml
  .golangci.yaml
  Dockerfile
  Tiltfile
  changelogs/unreleased/8757-kaovilai
  go.mod
  go.sum
  hack/build-image/Dockerfile
  test/util/k8s/common.go
Labels: Dependencies, has-unit-tests, has-changelog, has-e2e-2tests

#8775 Fix incorrect indent in doc
  site/content/docs/main/resource-filtering.md
Labels: kind/changelog-not-required, Documentation

#8770 Issue 8754: add third party annotation support
  changelogs/unreleased/8770-Lyndon-Li
  pkg/controller/data_download_controller.go
  pkg/controller/data_upload_controller.go
  pkg/exposer/csi_snapshot.go
  pkg/exposer/generic_restore.go
  pkg/nodeagent/node_agent.go
  pkg/nodeagent/node_agent_test.go
  pkg/util/third_party.go
Labels: has-unit-tests, has-changelog

#8755 Move pvc annotation removal from CSI RIA to regular PVC RIA
  changelogs/unreleased/8755-sseago
  pkg/cmd/server/plugin/plugin.go
  pkg/restore/actions/add_pv_from_pvc_action.go
  pkg/restore/actions/add_pv_from_pvc_action_test.go
  pkg/restore/actions/change_pvc_node_selector.go
  pkg/restore/actions/csi/pvc_action.go
  pkg/restore/actions/csi/pvc_action_test.go
  pkg/restore/actions/pvc_action.go
  pkg/restore/actions/pvc_action_test.go
Labels: has-unit-tests, has-changelog

#8774 issue 8649: host_pods should not be mandatory to node-agent
  changelogs/unreleased/8774-mpryc
  pkg/cmd/cli/nodeagent/server.go
  pkg/cmd/cli/nodeagent/server_test.go
Labels: has-unit-tests, has-changelog

#8784 Fix the JSON format error in the repository-maitenance.md
  site/content/docs/main/repository-maintenance.md
  site/content/docs/v1.15/repository-maintenance.md
Labels: kind/changelog-not-required, Documentation

#8777 Issue #8772 ensure pv removed
  changelogs/unreleased/8777-ix-rzi
  pkg/util/kube/pvc_pv.go
  pkg/util/kube/pvc_pv_test.go
Labels: has-unit-tests, has-changelog

#8771 issue8720: log doesn't show pv name
  changelogs/unreleased/8771-hu-keyu
  design/Implemented/Extend-VolumePolicies-to-support-more-actions.md
  internal/volumehelper/volume_policy_helper.go
Labels: has-changelog

#8699 Bump kind cli to v0.27.0
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required

#8797 Modify how the restore workflow using the resource name
  changelogs/unreleased/8797-blackpiglet
  pkg/restore/restore.go
Labels: has-changelog

#8799 e2e: Enable KinD containerdv2 images
  .github/workflows/e2e-test-kind.yaml
Labels: kind/changelog-not-required, E2E Tests

#8808 Issue 8803: use deterministic name to create backupRepository
  changelogs/unreleased/8808-Lyndon-Li
  pkg/repository/backup_repo_op.go
  pkg/repository/ensurer.go
  pkg/repository/ensurer_test.go
Labels: has-unit-tests, has-changelog

#8812 Add third party annotation support for maintenance job
  changelogs/unreleased/8812-Lyndon-Li
  pkg/repository/maintenance/maintenance.go
  pkg/util/velero/velero.go
Labels: has-changelog, target/1.16-rc.1

#8820 Update readme and implemented design for 1.16
  README.md
  design/Implemented/backup-performance-improvements.md
  design/Implemented/multiple-arch-build-with-windows.md
  design/Implemented/resource-status-restore.md
  design/Implemented/retry-patching-configuration_design.md
  design/Implemented/volume-policy-label-selector-criteria.md
Labels: kind/changelog-not-required

#8819 Bump the golang.org/x/net to v0.36.0 to fix Restic CVE.
  hack/fix_restic_cve.txt
Labels: kind/changelog-not-required

#8821 Add doc for upgrade to 1.16
  site/content/docs/main/upgrade-to-1.16.md
Labels: kind/changelog-not-required, Documentation

#8826 [E2E] Fix the non data mover migration failure.
  test/e2e/migration/migration.go
Labels: kind/changelog-not-required, E2E Tests, has-e2e-2tests

#8828 Bump the migration and upgrade E2E test source version.
  test/Makefile
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#8829 Align the E2E upgrade test's CLI and image version.
  test/util/velero/velero_utils.go
Labels: kind/changelog-not-required

#8834 Pin velero image for 1.16.0
  Dockerfile
  Dockerfile-Windows
  Tiltfile
  hack/build-image/Dockerfile
Labels: kind/changelog-not-required
